[2021-01-27 13:25] purnimavenkatasubbu opened #35 "Batch verb throws invalid syntax error - encoding of newline and tab chars"
Tested scenario

Using the @persona app, I created a key 'about' which has a multiple line value in it. The update is failing with the error as "Invalid syntax"

Tried the same scenario in the terminal adding both app logs and server command.

App Logs

I/flutter (14885): SEVERE|2021-01-27 18:09:22.904166|SyncManager|update/delete for key public:about.persona@purni failed. Error code AT0003 error

[2021-03-18 05:19] ksanty opened #76 "PR1 - Data sharing/sync production issue"

[2021-04-01 02:38] ksanty opened #84 "Socket data transfer improvements. V2"

[2021-04-01 02:43] ksanty opened #85 "Testing at_follows implementation"
On at_settings

[2021-04-01 02:44] ksanty opened #86 "Android apk updation with latest minor fixes and with sdk changes"
On at_settings

[2021-04-07 15:15] #86 closed

[2021-04-07 15:21] #84 closed

[2021-04-07 15:23] kalluriramkumar commented on #84
Replace byte buffer with byte builder to improve sync performance. This task is completed and moved to master branch.

[2021-04-07 15:25] #76 closed

[2021-04-07 15:25] ksanty commented on #76
Backlog issue, has only been triaged (@cconstab)

[2021-04-07 15:44] ksanty opened #89 "Add functional tests for"
- [x] Stream
- [x] pol
- [x] Notification sub system

[2021-04-09 06:03] purnimavenkatasubbu commented on #35
This issue still exists. Assigning it to the developer.

[2021-04-16 01:33] cconstab opened #91 "Error on start up of secondary without config.yaml"
When starting the secondary from the command line without the config/config.yaml file in place I get the error below.. I believe the default value for **notificationQuarantineDuration** should be put in place if the config.yaml is not found like the other values.

 This could I think prevent the secondary starting up in some enviroments..

With no config.yaml in place

[code]

But putting the file

[2021-04-16 04:34] cconstab commented on #91
On further looking the docker container includes the /atsign/config/config.yaml so that saves the day. But without the config file in the container (I have overlaid the /atsign directory) by using a volume the defaults values should still be in place if memory serves.

[2021-04-16 09:39] purnimavenkatasubbu commented on #89
Added for notification. Currently working on the stream verb

[2021-04-16 17:34] ksanty commented on #85
@purnimavenkatasubbu can you please update status here?  thanks!

[2021-04-20 10:55] purnimavenkatasubbu commented on #85
at_follows feature has been tested and pushed to prod.

[2021-04-20 10:55] #85 closed

[2021-04-23 05:01] purnimavenkatasubbu commented on #89
Completed writing functional tests for all of them.

[2021-04-28 14:46] #89 closed

[2021-05-03 10:23] naresh0689 opened #106 "Error while executing verbs after server restart on certs expiry"
Getting hive error while executing verbs after server restart on certs expiry.

[code]

[2021-05-03 19:10] #91 closed

[2021-05-03 19:34] cconstab opened #107 "Secondaries occasionally getting "stuck""
Probably best to show the error message which is below.. The Secondary is found in a Zombie mode where it answers but cannot open its hive box and give an answer.

 Maybe the secondary should check itself once in a while to see if it has hit problems??  Restarting the secondary solves the issue but until it is restarted the issue persists.

Error on talking to secondarie over the network ..

[code

[2021-05-03 20:06] ksanty opened #108 "Index server deploy and go live"
- [x]  Run secondary storage of index server on Redis (at_server)
- [x]  Test (developer) that it works with both Redis and ES (at_server)
- [x]   Expose @index and @Search verbs in SDK (at_sdk)
- [x]   Implement CommitLog in Redis
- [x]  Implement AccessLog in Redis
- [x]  Implement NotificationLog in Redis
- [x] Make Notification Subsystem to work with NotificationLog
- [x] Make Sync work with C

[2021-05-17 03:37] #106 closed

[2021-05-17 04:08] ksanty opened #123 "Stats verb exposing lastLoggedIn date time and disk size"
These verbs have to be public

- [x]  Code changes

- [x]  Dev Testing
- [x] Add last PKAM

- [x] QA

[2021-05-17 15:14] cconstab opened #124 "Force TLS1.2 connections. Only accept and make TLS1.2 connections. DO not accept downgrades to any other version/protocol."
This is required in server and client code

- [x] PoC code @cconstab
- [x] Root server
- [x] Secondary server
- [x] Client  code
- [x] Other places ?

Everything covered as this is now part of the base Dart Language..

[2021-05-17 15:28] murali-shris opened #125 "Server side connection handling"

[2021-05-24 10:01] cpswan opened #131 "Replace `dart2native` with `dart compile`"
**Is your feature request related to a problem? Please describe.**
`dart2native` is scheduled for deprecation in Dart 2.14, and will be discontinued in Dart 2.15 (per [Deprecation and discontinuation of standalone Dart tools](https://github.com/dart-lang/sdk/issues/46100))

**Describe the solution you'd like**
Replace `dart2native` with `dart compile`

**Additional context**
We presently use `dart

[2021-05-24 15:25] cpswan opened #133 "Stop using atsigncompany/runimage in Dockerfiles"
The official dart Docker image has introduced a new idiom for slim builds.

**Describe the solution you'd like**
Replace this:

[code]

with:

[code]

**Describe alternatives you've considered**
We could keep maintaining a runimage, but by doing this we have less to build and manage

**Additional context**
See [at_dockerfiles/dartshowplatform/Dockerfile](https://github.com/atsign-company/at_docker

[2021-05-25 16:23] #131 closed, assigned to sitaram-kalluri

[2021-05-26 12:18] purnimavenkatasubbu opened #138 "Redis : Adding an atsign to blocklist throws internal server error while using redis keystore"
**Describe the bug**
Adding an atsign to the blocklist using the config verb throws the following error

error:AT0010-Internal server error : NoSuchMethodError: Class 'RedisPersistenceManager' has no instance getter 'box'.
Receiver: Instance of 'RedisPersistenceManager'
Tried calling: box

**To Reproduce**
Steps to reproduce the behavior:
1. First I Started the secondary server of both alice and b

[2021-05-26 12:39] bob commented on #138
Hi Alice!

[2021-05-27 13:25] purnimavenkatasubbu opened #141 "lookup,plookup verb throws secondary server not found error while using hive keystore"
Using the hive Keystore,  When I do a lookup to another server. It fails with the error

- lookup verb -- Failed with the error

error:AT0007-Secondary server not found : No secondary url found for atsign: @ bob

**To Reproduce**
Steps to reproduce the behavior:
1. First I started servers of alice and bob
2. Then I shared a key from alice to bob
3. And then Did a lookup from bob's secondary

**Exp

[2021-05-27 13:35] purnimavenkatasubbu opened #142 "Notification isn't being delivered to the other atsign"
**Describe the bug**
A notification sent from atsign A to atsign B remains in queue instead of being delivered

**To Reproduce**
Steps to reproduce the behavior:
1. First I started the servers of @purnima and @ bob
2. Then I Sent a notification from @purnima to @ bob as follows

@purnima@notify:update:messageType:key:notifier:system:ttr:-1:@ bob:code@purnima:1122
data:a759e7fe-f4a1-4e03-813a-5c918

[2021-05-27 13:41] purnimavenkatasubbu opened #143 "Redis : from verb throws internal server error while using redis keystore"
**Describe the bug**
After adding an atsign to the blocklist using the config verb, from verb throws an internal server error

**To Reproduce**
Steps to reproduce the behavior:
1. First I started secondary servers of alice and bob
2. Then In bob's secondary added alice to the blocklist
3. Did a from verb

Error Message

from:@ bob
error:AT0010-Internal server error : type 'String' is not a subtype

[2021-05-28 12:16] purnimavenkatasubbu commented on #142
This is because the root domain was pointed incorrectly. Hence closing the bug

[2021-05-28 12:16] #142 closed, assigned to naresh0689

[2021-05-28 12:34] purnimavenkatasubbu commented on #141
Issue is because the root server was pointed incorrectly. Hence closing the issue

[2021-05-28 12:34] #141 closed, assigned to purnimavenkatasubbu

[2021-05-28 12:40] murali-shris commented on #125
- [x]  design
- [x]  coding

[2021-05-28 12:42] murali-shris commented on #125
changes are in connection_issue branch..since we are waiting for trunk branch to be released, closing this issue.
Changes will be merged once trunk branch is released

[2021-05-28 12:42] #125 closed, assigned to murali-shris, VJag

[2021-05-28 12:50] purnimavenkatasubbu opened #147 "Redis : sync response throws internal server error while using redis keystore"
**Describe the bug**
Sync verb throws the following error

sync response is : error:AT0010-Internal server error : type 'String' is not a subtype of type 'CommitOp' in type cast

**To Reproduce**
Steps to reproduce the behavior:
1. First I started the secondary server
2. Then I executed the following commands

update:public:location@ bob Hyderabad
data:15
command sent: sync:14

sync response is :

[2021-05-28 17:27] cpswan opened #149 "Extraneous files in config directory of secondary image"
**Describe the bug**

The files we're using to generate `config.yaml` are being copied in alongside it:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo docker run atsigncompany\secondary:dev_env` it will fail, but having created a container it's possible to export the filesystem
2. `sudo docker ps --all` to get the $CONTAINER_ID
3. `sudo docker export $CONTAINER_ID > dev_env.ta

[2021-05-29 09:20] cpswan opened #150 "secondary:dev_env not finding root"
**Describe the bug**
[code]

[code]

config.yaml ends up with triple quotes:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd to config directory
2. `echo "root_server.url='root.atsign.wtf'" >> config-environment.properties`
3. `python3 generate_config.py -e environment`
4. `cat config.yaml | grep url`

**Expected behavior**
YAML output should be single quoted for strings like we h

[2021-05-29 17:48] #150 closed, assigned to cpswan

[2021-05-29 23:11] cconstab opened #152 "TLS connections from secondary fail (e.g connecting to root) This is only in the wtf/dess_env environments"
**Describe the bug**
Secondary cannot make TLS connection out to root

**To Reproduce**
Steps to reproduce the behavior:
1. Connected to secondary using openssl
2. Authenticated with PKAM
3. Issued scan verb for another secondary
4. Error message no answers
5. Looked in log files for secondary and included logs

**Expected behavior**
Scan to work along with connections to root and other secondarie

[2021-05-30 03:30] cpswan commented on #152
When were the root.atsign.wtf certs last updated?

[2021-05-30 10:09] cpswan commented on #152
@cconstab can you confirm whether the secondaries on the dev_env swarm are also doing this?

Also how is time synced on your dess system?

I think to get this properly reproduced (and part of ongoing tests) we're going to need to use dess, starting with me following in your footsteps.

[2021-05-30 14:56] cconstab commented on #152
My dess system on ionos.com is time synched by ntp. The wtf environment was still being updated yesterday by shepherd but I will relook today. I strongly suspect the same issue as we are back to the original state and I saw this problem on both dess and wtf.

Root cert I checked on Friday and it has I think 60days or so left so it's fine.

Thin builds are tough to fault find! Certs fail on

Time

[2021-05-30 17:28] cpswan commented on #152
I think we should roll back dev_env again until this is fixed, and remove it from the present automation, so I'll do that on Docker Hub, and PR to follow.

Do we have a dependency on Openssl? That's not what's in the slim build - just system libs and CA certs (which should be enough for Dart apps using Dart's TLS implementation.

I can see ISRG_Root_X1.crt in /usr/share/ca-certificates/ca-certific

[2021-05-31 13:12] purnimavenkatasubbu commented on #147
Tested the bug after the bug fix. Now sync:<commitId> works as expected
![Screenshot from 2021-05-31 18-44-13](https://user-images.githubusercontent.com/43639593/120198896-42d6c900-c240-11eb-917c-5a27d0121ca8.png)

[2021-05-31 13:16] purnimavenkatasubbu commented on #143
Tested the bug after the bug fix. It is working as expected.

@ bob@config:block:add:@ alice
data:success
@ bob@config:block:show
data:["@ alice"]

from:bob
data:_5244fa71-d3d5-4fd4-8423-379c6ddea81b@bob:4a30b7b3-51b9-4982-b3cc-9a7dbd9fa405

[2021-05-31 13:18] purnimavenkatasubbu commented on #138
Tested the scenario after the bug fix. Issue is resolved.

![Screenshot from 2021-05-31 18-47-16](https://user-images.githubusercontent.com/43639593/120199371-ca243c80-c240-11eb-9258-2d391991b99f.png)

[2021-05-31 14:36] #147 closed, assigned to naresh0689

[2021-05-31 14:37] #143 closed, assigned to naresh0689

[2021-05-31 14:37] #138 closed, assigned to naresh0689

[2021-06-01 11:23] cpswan commented on #152
Also the certs we get from ZeroSSL are signed by a chain to USERTrust RSA Certification Authority, but that also is clearly there in the runimage ca-certificates (and the Dart root certs).

[2021-06-01 12:17] purnimavenkatasubbu commented on #108
While testing with @wavi came across an issue
https://github.com/atsign-company/at_settings/issues/342

[2021-06-01 15:20] #108 closed

[2021-06-01 15:21] ksanty opened #156 "Release trunk branch to production"

[2021-06-01 15:33] cconstab opened #157 "Late binding of certificates and @signs for improved experience for new @signs"
Create pool of certificates and DNS records and bind them to an @sign once activated.
Improves onboarding and registrar website

- [x]  Document solution - @cconstab
https://docs.google.com/presentation/d/1LhVKrSXE8grevhW-AiTmt9LEpDAUkXeBdXWT9bDgiOo/edit#slide=id.p
- [ ] 1. Break create(shell script) for SSL generation and Secondaries.
- [ ] 2. Refactor create the script for SSL and secondary base

[2021-06-01 15:56] ksanty opened #158 "Automation of bugs being assigned to the right project"
Without the issue being tagged into the project bugs do not appear in the project board.

- [x] Automate bugs tag to tag the issue to the right project probably based on the repo it is in.
- [x] Done on at_server
- [x] Will roll out across all repos

[2021-06-01 16:28] murali-shris opened #159 "release null safety"

[2021-06-02 13:45] cpswan commented on #158
Started out trying [assign-one-project-github-action](https://github.com/srggrs/assign-one-project-github-action) but hit already reported ["No project was found" error](https://github.com/srggrs/assign-one-project-github-action/issues/65)

Then tried [project-bot](https://github.com/philschatz/project-bot), but it failed to install with a 500 error, and it seems that the [Bot is broken](https://g

[2021-06-03 12:58] cpswan commented on #158
Gave project-bot another try, and at least it installed this time (now that GitHub seems to have recovered). But it doesn't seem to be working.

[2021-06-04 11:06] cpswan opened #164 "Test issue for bug auto assignment to project board"
**Describe the bug**
Not really a bug just a test for #158

[2021-06-04 11:10] cpswan commented on #164
Initial run failed due to missing token. Token added and subsequent run succeeded.

[2021-06-04 11:10] #164 closed, assigned to nobody

[2021-06-04 13:25] murali-shris commented on #159
- [x] changes version to 1.1.0 in pubspec, modify changelog
- [x] run unit tests
- [x] run functional test
- [x] test with apps
- [x] merge to trunk
- [x] Publish null safety package to pubspec
- [x] Release to prod

[2021-06-04 13:29] murali-shris commented on #159
@purnimavenkatasubbu Please run functional tests and app sanity with null_safety branch once again on monday(7-June)

[2021-06-04 14:45] cpswan commented on #152
The TLS issues should be fixed by #165

But... I'm now seeing `HandShakeException` when I `scan:@dess` or `scan:@stage` - @cconstab I'd value your thoughts on what could cause that?

This MAY be happening because of an issue with #160 causing bad images that by now could be running on all the staging secondaries.

Logs:

[code]

Tails end of `openssl s_client` session:

[code]

[2021-06-04 14:49] cpswan opened #166 "Log the root server config during startup"
**Describe the solution you'd like**

Just after we log `Secondary server started on version :` it would be useful to the log `Root server :` so that we can see that the correct root server config has been placed into then retrieved from config.yaml

[2021-06-04 15:58] #133 closed, assigned to sitaram-kalluri

[2021-06-04 15:58] #149 closed, assigned to nobody

[2021-06-04 15:58] #152 closed, assigned to cpswan

[2021-06-04 21:13] cconstab opened #168 "automation of multi architecture build of secondary for arm7"

[2021-06-04 21:15] cconstab opened #169 "full end to end testing of @sign to @sign sharing built into the CI pipeline. i.e can bob share with alice and versa versa. (using dess?)"

[2021-06-04 21:16] cconstab opened #170 "migrate caroot file to the secondary docker image. To prevent caroot issues across every secondary."
Architecture call conversation 1st

- [ ] Architecture
- [ ] Implementation
- [ ] testing
- [ ] Dev_ENV
- [ ] Production
- [ ] dess
- [ ] Completed

[2021-06-05 07:51] cpswan commented on #168
What are our intended devices for this, and who do we think will be using them?

[2021-06-05 16:26] cconstab commented on #168
PI 2/3 users and IoT devices using arm7 hardware

[2021-06-05 17:15] cpswan commented on #168
Pi 3 is Arm64, so we really need to decide if the Pi 2 is worth the bother. Looking at my own collection I'd say no. Lots of 1s and 0s, I think one 2 and one or two 3s, then a couple of 4s.

Also the 2 was only out for a year before the 3 was launched, and later 2s had an A53 (Arm64) SOC.

[2021-06-06 03:01] cconstab commented on #168
Pi3 defaults to 32bit mode I think.. Need to try Ubuntu 64 on it, unless you have in the past?

[2021-06-06 03:08] cconstab commented on #168
Seems Ubuntu support it so.. My guess is we leave it as is with just 64bit/v8 and autobuild. But if someone wants it we can show them how..
I certainly can do a build once in a while if there is demand.

[2021-06-06 05:01] cpswan commented on #168
Raspbian is 32bit, and so Docker on Raspbian uses Armv7 images (even on the later SOCs).

Perhaps the compromise here is that we do manual (but heavily scripted) builds for Armv7 each time we cut a release. That's what I've been doing for the buildimage (which is a dependency).

[2021-06-07 08:52] cpswan opened #172 "Remove stale Dockerfile"
**Describe the bug**
[at_server/at_secondary/at_secondary_server/Dockerfile](https://github.com/atsign-foundation/at_server/blob/trunk/at_secondary/at_secondary_server/Dockerfile) isn't used by present automation. When we recently reverted to using it the resulting image wouldn't run due to permissions problems.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an image from this Dockerf

[2021-06-07 08:55] cpswan opened #173 "Remove stale build script."
**Describe the solution you'd like**
[at_server/at_secondary/build/build.sh](https://github.com/atsign-foundation/at_server/blob/trunk/at_secondary/build/build.sh) has been incorporated into the Dockerfile for at_secondary, so the script, and the directory holding it are no longer needed.

**Describe alternatives you've considered**
Script contents could be added to README to make it clear how the

[2021-06-07 09:04] cpswan commented on #168
Here are the scripts I use for the buildimage and dartshowplatform:

`build_push.sh` - runs on a Raspbian Pi to generate the Armv7 specific images

[code]

`dart_pull_push.sh` - runs on the Armv8 and X64 machines to generate platform specific tags for those

[code]

`dart_manifests.sh` - pulls together the platform specific tags into `:latest` and a version specific tag.

[code]

NB `DART_VERSION`

[2021-06-07 09:05] chkarthik1729 opened #174 "Client Socket Timeout"
**Describe the bug**
The server timeout client after 10 minutes of inactivity. So, after 10 minutes of inactivity, the server will not accept any command from the client and will close the connection. The server is closing the connection, but the command is being executed.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server
2. Authenticate with the server from CLI using cram or

[2021-06-07 13:25] #166 closed, assigned to sitaram-kalluri

[2021-06-08 09:39] cpswan opened #179 "Create a release versioned tag in Docker hub when we push a prod release"
**Describe the solution you'd like**
When we cut a release (say v1.1.0) there should be a Docker Hub tag corresponding to that, so we'd get atsigncompany/secondary:v1.1.0

**Describe alternatives you've considered**
If we do nothing then people will have to trawl through Actions logs to see which run corresponds to the release.

[2021-06-08 11:45] sitaram-kalluri opened #180 "Dart module that adds dependency overrides to pubspec.yaml to enable dependencies refer the current branch"
**Is your feature request related to a problem? Please describe.**
In pubspec.yaml, the GIT dependencies ref's will be pointing to trunk branch. With this, when tests run in GitHub actions, the dependencies would be picked from the trunk branch causing the failures in GitHub actions.

**Describe the solution you'd like**
In the dependency-overrides section of pubspec.yaml, add the GIT dependencies

[2021-06-08 11:55] sitaram-kalluri commented on #156
at_server trunk code is released to production. Hence closing the issue.

[2021-06-08 11:55] #156 closed, assigned to cpswan, sitaram-kalluri

[2021-06-13 16:07] murali-shris commented on #123
@naresh0689 please update latest status on this

[2021-06-14 14:12] sitaram-kalluri commented on #159
The remaining tasks are moved to the next sprint because of the blocker in testing in a staging environment. Hence closing this story

[2021-06-14 17:14] murali-shris commented on #107
@cconstab can you mention few atsigns which had high CPU usage/too many open files

[2021-06-14 17:20] murali-shris commented on #107
[code]

[2021-06-14 23:23] cconstab commented on #107
Random @signs on the wtf cluster.. they die ramdomly

[2021-06-15 02:50] cconstab opened #181 "Automate root.atsign.org certificate and installation"

[2021-06-15 14:22] cpswan commented on #158
PRs raised in at_tools, at_widgets and at_client_sdk

[2021-06-15 15:10] cpswan commented on #107
@cconstab can you please paste some more logs here so that we can pick through what you've been seeing on the buzz cluster

[2021-06-15 16:38] #172 closed, assigned to nobody

[2021-06-15 16:38] #173 closed, assigned to nobody

[2021-06-15 21:10] cconstab commented on #107
All I have been doing some more digging on the buzz cluster and there was a huge amount of noise and load being put on the worker nodes by NTPd.
NTP was seeing the interfaces that docker creates and attaching to them and notifiying the resolver that there was a new interface. Of course that is not needed and so I have updated the ntp.conf file accordingly so ntp only looks/binds to the external in

[2021-06-16 01:01] cconstab opened #183 "Some secondaries start then fail with filesystem errors on buzz/wtf cluster"
**Describe the bug**
A number of secondaries fail on startup but it is unclear why. Creating a new secondary through the registrar website works just fine so suspect config but cannot see anything obvious with docker service inspect.

**To Reproduce**
Steps to reproduce the behavior:
1. First these are the secondaries that constantly restart they are scaled back for now to help troubleshooting

[c

[2021-06-16 08:31] cpswan commented on #183
`Transport endpoint is not connected` seems to be a characteristic error message for glusterfs

[GlusterFS transport endpoint is not connected – Quick fix!](https://bobcares.com/blog/glusterfs-transport-endpoint-is-not-connected/) concludes:

[2021-06-16 11:21] VJag commented on #169
@purnimavenkatasubbu confirms that she has a functional test for:

"@bob shares something (say location) with @alice and if it s a cached data bob's secondary on sync should get the new data and @alice gets her copy of the data"

[2021-06-16 12:13] cpswan commented on #169
So where's the code for that?

[2021-06-16 12:34] cpswan opened #185 "Policy and process doc for @platform privacy standards"
This came up in an architecture call where we were discussing our use of analytics.

We need to have a clear privacy policy about what data we do collect, how long we keep it, who we might give it to, and under what circumstances.

This questionnaire that [Torrentfreak used for VPN services](https://torrentfreak.com/best-vpn-anonymous-no-logging/) should provide a good place to start, and perhaps

[2021-06-16 14:09] cpswan commented on #183
This is the sort of thing I'm seeing in `buzz-03:/var/log/glusterfs/bricks/gfs-brick.log`:

[code]

Why `[Permission denied]`?

Meanwhile in syslog:

[code]

[2021-06-16 14:12] cconstab commented on #183
The syslog logs are expected as each docker container joins the network interfaces.. We see the same logs on prod..

[2021-06-16 14:48] purnimavenkatasubbu commented on #169
All the tests are in the branch "adding_functional_tests". Currently, Tests are failing as we have an issue while connecting from one atsign to another using github actions.

[2021-06-17 01:22] cconstab commented on #183
Lots of testing today an spotting that the final secondaries that will not start all seem to have inconsitances in the glusterfs

Glusterfs thinks there is nothing wrong, but the files show up differently on buzz-03 as against buzz-01/02

rebooted  02/3 and glusterfs failed to load on 03 on reboot so all secondaries deployed to buzz-02. 900+ on buzz-02 which is pretty impressive, but even with jus

[2021-06-17 02:59] cconstab commented on #183
replicating glusterFS setup @home to make sure removing and adding brick solves this issue..

[2021-06-17 03:02] atsigndenise commented on #185
@cpswan I've captured this on my the Policies and Procedures Doc.  In addition, we do have 6 legal agreements, and much of this is covered in [Privacy Policies](https://docs.google.com/spreadsheets/d/1OtN8-YpdH326XCY-LubIjaUfPHeOcmGbvR0d03FUNrM/edit#gid=0) for the website and apps.  However, I'd like to get clarification in our dev sprint meeting.

[2021-06-17 12:30] cpswan opened #187 "Investigate feasibility of running secondaries on AWS App Runner"
**Describe the solution you'd like**
Determine if [App Runner](https://aws.amazon.com/apprunner/) is a suitable environment to replace Docker Swarm running on VMs, and what modifications would be necessary to make use of it?

**Describe alternatives you've considered**
Google Cloud Run is very similar.

[2021-06-17 12:33] cpswan opened #188 "Move Buzz (and Wasp?) environment(s) from Digital Ocean to GCP"
**Describe the solution you'd like**
- [x] Turn down Digital Ocean droplets and replace with clusters on GCP.
- [x] VM setup with base software setup
- [x] NFS setup and VPC peering
- [x] Docker Swarm setup with Ansible
- [x] Socat Daemon
- [x] Shepherd Service
- [x] Directory Structure
- [x] Directory Structure
- [x] API Script setup
- [x] LB Setup
- [x] Data Migration
- [x] API connectivity form

[2021-06-17 12:58] cpswan opened #189 "Investigate utility of Portainer CE to help us manage our Docker Swarms"
**Describe the solution you'd like**
See if [Portainer CE](https://www.portainer.io/products) might be useful for cluster management.

**Additional context**
Mentioned in a highlighted piece from [Docker Community Forums](https://forums.docker.com/t/saas-based-on-docker-1-container-per-client/111156) 'SAAS based on Docker, 1 container per client'

[2021-06-17 23:10] cconstab commented on #189
Just a note we tried portainer but it was pretty shaky with the scale we have of containers.. Very often it would fail.. Hence we all went back to cli..
But worth trying again for sure

[2021-06-17 23:17] cconstab commented on #183
I went through the process above for all the secondaires that were still failing and they all came back up however with one addition I had to also remove all the lock files once the storage files were copied back.. That resulted in every secondary recovering..

At this point all servers reporting the same bytes used

[code]
[code]
[code]

and all secondaries are up..

[code]

Only outstanding ques

[2021-06-18 02:41] nickelskevin commented on #183
That seems like a reasonable plan to me.

[2021-06-18 08:15] cpswan commented on #183
Given that we already have the scripts, it might be easier to just run them rather than responding to onesies and twosies.

I'll have a quick look to see how bad things are.

[2021-06-18 08:33] cpswan commented on #183
[code]

[2021-06-18 10:25] cpswan commented on #189
No need to go over old ground. It's rare for these things to suddenly get better.

[2021-06-18 10:25] #189 closed, assigned to kumarnarendra701

[2021-06-18 21:31] cconstab commented on #183
Alright thanks for everyone's help I think we can close this issue... But I will leave open for a few days just in case someone has anything to add..

[2021-06-21 08:35] cpswan opened #190 "Use ZeroSSL API for secondary certificate creation instead of Certbot"
**Is your feature request related to a problem? Please describe.**
Creation of certificates with Certbot takes ~1m and we can only create one at a time

**Describe the solution you'd like**
Replace Certbot with our Python script that uses the ZeroSSL API. We can then create certificates in parallel, and each cert only takes ~20s

**Describe alternatives you've considered**
We could potentially use

[2021-06-21 14:30] ksanty opened #191 "Check master list of Bug of issues to ensure we have covered."
Check [Tinashe's list](https://docs.google.com/spreadsheets/d/1izV7R9aiCnBMAbCNaHWKHlnL-XPsxXvHH3qXA6DQLXU/edit#gid=0)

All fixed, but have not been pushed yet.

[2021-06-23 01:34] cconstab opened #194 "improve pkam verb security"
add clinet selected nonce to the pkam verb

pkam:<challenge responce>:<client side nonce>

[2021-06-25 04:20] #180 closed, assigned to sitaram-kalluri

[2021-06-28 08:43] #158 closed, assigned to cpswan, sitaram-kalluri

[2021-06-28 12:59] #159 closed, assigned to sitaram-kalluri, murali-shris

[2021-06-28 14:50] cconstab opened #199 "Develop replacement for "shepherd" that calls to dockerhub far less frequently. @cconstab"

[2021-06-28 15:08] #107 closed

[2021-06-28 15:25] ksanty opened #200 "Shut down Buddy"
Registrar website dependency
Find API dependency

[2021-06-28 16:01] ksanty opened #201 "Upgrade test apps to the latest SDK from pub.dev"
Scope the following by each app

1. Demo (test) apps upgraded
2. Sample apps upgraded

[2021-06-30 10:03] #179 closed, assigned to sitaram-kalluri

[2021-07-06 09:33] cpswan commented on #183
Closing, as it's been more than a few days, and we've not seen further issues.

[2021-07-06 09:33] #183 closed, assigned to cpswan, cconstab, naresh0689, kumarnarendra701

[2021-07-08 01:44] cconstab commented on #199
Rather than replace shepherd I added a cache registry.

[2021-07-08 01:45] #199 closed, assigned to cconstab

[2021-07-08 09:50] cpswan commented on #169
@purnimavenkatasubbu I now have some atsigns deployed to dess instances running on cloud VMs, so outside of GitHub Actions. Which test (or tests) should I be modifying with the parameters of those instances:

`@cicd1` runs on cicd1.atsign.wtf:6464 - this can be our Alice
`@cicd2` runs on cicd2.atsign.wtf:6464 - this can be our Bob

I've also been testing scripts that let us run commands on the VMs

[2021-07-08 15:44] purnimavenkatasubbu commented on #169
There's a config.yaml file that has the details of the atsign's domain and port.
https://github.com/atsign-foundation/at_server/blob/prod_functional_tests/at_functional_test/config/config.yaml

I can change and point it to the DESS instances.

[2021-07-08 16:07] cpswan commented on #169
Thanks @purnimavenkatasubbu what do we need to do about the keys? I can put them into GitHub secrets, and pass them from there into env variables or files.

[2021-07-08 16:12] purnimavenkatasubbu commented on #169
The details about the keys are in the at_demo_data.dart file

https://github.com/atsign-foundation/at_server/blob/prod_functional_tests/at_functional_test/test/at_demo_data.dart

[2021-07-08 16:14] cpswan commented on #169
Yes, but we're not using demo data, these are real @ signs, with real secrets that we can't have open in a public repo. So we need to pass the keys into the tests. One way of doing that might be to drop the secrets into that file as part of the test cycle.

[2021-07-08 16:17] purnimavenkatasubbu commented on #169
Sure we can do that way

[2021-07-08 16:23] cpswan commented on #169
Do we have an easy way of getting from an `@atsign_key.atKeys` file to the entries that go into at_demo_data.dart ?

[2021-07-08 16:31] purnimavenkatasubbu commented on #169
yes for the pkam private key, We can use the pkam_tool to fetch the key from the .atkeys file.

[2021-07-08 16:40] cpswan commented on #169
Can you please give me an example of how that works?

The .atKeys file seems to be a JSON document that has K:V pairs for the following keys:

- aesPkamPublicKey
- aesPkamPrivateKey
- aesEncryptPublicKey
- aesEncryptPrivateKey
- selfEncryptionKey
- atSignName

I'm familiar with using pkam_tool to generate a response to a `data:` challenge, but not for other purposes.

Also do we have documented an

[2021-07-09 12:58] cpswan commented on #169
e2e-tests branch now has a GitHub Action workflow to run end to end tests. @kalluriramkumar and @purnimavenkatasubbu are debugging, as this didn't work when tried manually

#213 is the most recent PR

[2021-07-09 14:20] cpswan opened #214 "Modify buzz environment to use env variables to set root server rather than using a different config.yaml inside the Docker image."
At present we have a somewhat complex machinery to place the staging environment root server URL into config.yaml and then bundle that file with the secondary server.

We could instead simply `docker service update uuid_secondary --env-add rootServerUrl=root.atsign.wtf` and then subsequently start using more consistent images. (Though we may still choose to apply labels like :prod at different tim

[2021-07-09 14:22] cpswan commented on #190
@athandle can you please get an update from @kumarnarendra701 on where he is with this ahead of the Monday sprint planning.

[2021-07-09 18:37] athandle commented on #190
sure @cpswan , he deployed changes to Buzz today. He is facing some challenge

[2021-07-09 18:49] kumarnarendra701 commented on #190
Below tasks completed for parallel SSL/Stack generation -
1. SSL generation via ZeroSSL API.
2. Tested on Wasp env.
3. Implement secret management(encpass) to store DO and ZeroSSL keys.
4. Create a readme document for secret management.

Partially complete
Implemented on Buzz but getting below errors, so reverting back to old script and shared logs to the dev team to understand the issue.

Logs -

[2021-07-10 00:18] athandle commented on #190
@kalluriramkumar @murali-shris @cconstab please help @kumarnarendra701

[2021-07-12 05:14] purnimavenkatasubbu commented on #169
@kalluriramkumar had debugged the issue. The issue was because of the incorrect private key.

[2021-07-12 07:47] #123 closed, assigned to naresh0689

[2021-07-12 15:44] ksanty opened #215 "Process documentation - Jagan"

[2021-07-14 21:44] cconstab opened #218 "@protocol to secondary : Second update of public record is not seemingly stored ??"
**Describe the bug**
After authenticating to a secondary and using the update verb to create a public record then updating again with new data the new data is not visible using the plookup verb, instead the original value is seen.

**To Reproduce**
Steps to reproduce the behavior:
1. openssl to a secondary
2. authenticate with pkam
3. update a public record
4. plookup the record
5. update the same

[2021-07-15 00:26] cconstab commented on #218
More odd behavior with _keys@atsign... Why would _notlisted@realisticforeign value go into a cached: value ? VERY confusing...

[code]

[2021-07-15 00:41] cconstab commented on #218
What does work is llookup: so the question is why is plookup: giving odd information ?? My guess is that it should work at all if the lookup is for the @sign doing the lookup.. See below using llokup which is the corect verb for local lookups..

[code]

[2021-07-15 00:53] cconstab opened #219 "Unable to use update verb to create _ keys"
**Describe the bug**
The scan verb does not show keys that start with the _ character. The update verb does not accept keys that start with the _ so hidden keys cannot be seen.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to secondary with openssl
2. authenticate with pkam:
3. Use the update: verb with a key starting with an _
4. See data -1 error essage

**Expected behavior**
_ke

[2021-07-15 01:42] cconstab opened #220 "Unable to send notification using format stated in error message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information)

[2021-07-15 01:42] #220 closed, assigned to murali-shris, VJag

[2021-07-15 01:44] cconstab opened #221 "Unable to send a notification using the syntax in error message"
**Describe the bug**
Unable to send a notification using the syntax in error message

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to secondary
2. authenticate pkam
3. Use the notify verb as per errror

**Expected behavior**
should send notification but errors..

**Screenshots**
[code]

[2021-07-15 02:25] cconstab opened #222 "Document the protocol verbs in the server code base"
**Is your feature request related to a problem? Please describe.**
Only some of the network protocol verbs are documented clearly in the codebase others have no or in accurate information

**Describe the solution you'd like**
Each verb to have a full description in the codebase on how to use the wire protocol.
All of these
https://atsign.dev/at_docs_foundation_master/at_server_spec/verbs/Verb-clas

[2021-07-15 10:17] sitaram-kalluri commented on #218
Dev Testing Notes:
Fixed the issue and test the below scenario.
1.  Update a key and do a plookup.
2.  Update the key again and do a plookup.
3. Updated value is returned on running  plookup second time

---
read R BLOCK
@from:@sitaram
data:_ad996ad6-5e18-49ba-946f-d9c5af47f69f@sitaram:2ac64258-a243-4b82-b400-372a45baf200
@cram:4be539b84dd27fdddd8e79666a8d8bae700bc9bbfe4d3dcd95afee669ed688e1f2581b

[2021-07-15 10:31] sitaram-kalluri commented on #219
Update of keys starting with an "_" will not have a commitID by design and they will not be part of the scan. We have to know the exact key name to look up a key starting with "_".

Listing this cached "_" key is a problem "cached:public:_notlisted@realisticforeign". This issue is fixed in the following PR: https://github.com/atsign-foundation/at_server/issues/218

Dev testing notes:
-------------

[2021-07-15 10:45] sitaram-kalluri commented on #221
Fixed the issue and tested.

Dev testing notes:
------------------------

CurrentAtSign = @sitaram
read R BLOCK
@from:@sitaram
data:_7675037a-8b98-475d-ba3c-b07ec5fbac96@sitaram:e0ec0180-020b-49e3-86d8-2120967a18f4
@cram:4abdfd0d91f7344cbcba2911264646edfe96606978aff3f7b758618908dcefbb6f0d747bee30c411578e200d9513ec7600343ee96a697d6c08d4d81f6af6d14f
data:success
@sitaram@notify:all:@murali:phone@sit

[2021-07-15 10:47] #218 closed, assigned to murali-shris, VJag

[2021-07-15 11:22] #221 closed, assigned to murali-shris, VJag

[2021-07-15 13:36] kumarnarendra701 commented on #190
Fixed this issue and implemented the new version of SSL generation on Buzz.

[2021-07-16 03:28] ksanty opened #226 "Review for Missing Documentation - at_persistence_spec (API Reference)"
- [ ] Review for any additional documentation needed on [API Reference](https://pub.dev/documentation/at_persistence_spec/latest/). Right nav bar (samples and examples)
- [ ] Broken [documentation link](https://atsign.dev/at_docs-dev_env/at_persistence_spec/index.html) needs to be fixed

Please review library links as well (current, samples and examples)
LIBRARIES

- [ ] [at_persistence_spec](http

[2021-07-19 08:42] cpswan commented on #190
@kumarnarendra701 has this been stable for long enough for us to plan the rollout to Hornet?

[2021-07-19 11:01] cpswan commented on #169
@kalluriramkumar perhaps I've missed a step in getting from `aesPkamPrivateKey` in the atKeys file to `PKAMPrivateKey`? I just rechecked for typos, and can't see any.

[2021-07-19 17:55] narendraqa commented on #190
@cpswan - I have already rollout to Buzz and informed Sita to perform one round of testing once I ll get the go-ahead then roll out to the hornet.

@kalluriramkumar - please confirm.

[2021-07-20 16:35] cpswan commented on #169
@purnimavenkatasubbu how long would it take to redo update_verb_test.dart to use an atKeys file rather than at_demo_data.dart? I'm asking as I think writing atKeys files for GitHub secrets will be the more sustainable solution going forward. We can extract some (but not all) of the fields used in at_demo_data.dart from an atKeys file, and even make tools to automate that process, but that's not ho

[2021-07-20 17:07] athandle opened #232 "Migrate existing secondaries to new SSL generation script"
- Buzz
- Hornet

Production plan

- [ ] Move code to production
- [ ]

[2021-07-20 17:38] cpswan commented on #169
I updated my at_demo_data.dart with keys dumped out of the atKeys files using the dumper I've been working on, and the end to end tests work :)

I'd still like to get this done with atKeys files rather than having a whole pipeline of tools.

[code]

[2021-07-21 02:26] ksanty opened #233 "Add missing documentation - at_persistence_secondary_server (Scores Tab)"
[Scores tab ](https://pub.dev/packages/at_persistence_secondary_server/score)is missing documentation for:

- [ ] support multiple platforms

[2021-07-21 02:36] ksanty opened #234 "Review for missing documentation - at_persistence_secondary_server (API Reference)"
- [ ] Right nav bar under documentation [API Reference ](https://pub.dev/documentation/at_persistence_secondary_server/latest/)requires content review (samples and examples)
- [ ] Check [documentation link ](https://atsign.dev)pointing to the right locations

Please check library link as well (current, samples and examples)
LIBRARIES

- [ ] [at_persistence_secondary_](https://pub.dev/documentation

[2021-07-21 08:26] cpswan commented on #169
@purnimavenkatasubbu the test is [failing when I run in GitHub Actions](https://github.com/cpswan/at_server/runs/3121932763?check_suite_focus=true):

[code]

[2021-07-21 11:10] cpswan commented on #169
The issue with `clear()` was due to an outdated commons.dart, now fixed, and end-to-end tests are now running in a fork/branch. Next step is to incorporate into trunk.

[2021-07-21 12:46] cpswan commented on #215
@VJag can you please add some details so that I know what you need from me for this?

[2021-07-21 15:08] cpswan commented on #234
This should be worked around by https://github.com/atsign-foundation/atsign.dev/pull/217

We need to fix pubspec.yaml and release to pub.dev for a permanent fix (and then we can remove the workaround)

[2021-07-21 17:32] ksanty commented on #234
Leaving this issue open because the API reference piece still needs to be addressed.

[2021-07-21 18:52] kumarnarendra701 commented on #232
Created migration script for secondaries migration to support new SSL structure and renewal.
Script location - /gluster/@/api/ssl-stack-upgrade.sh

[2021-07-22 13:04] cpswan opened #240 "Refactor end to end tests to use .atKeys file from secret rather than at_demo_data.dart"
**Is your feature request related to a problem? Please describe.**
The end to end tests presently make use of a modified at_demo_data.dart file that's kept in a GitHub secret and copied into place as part of the GitHub Action run. This file is created by dumping the secrets from a set of .atKeys files and copying those into place - a manual and potentially error prone process. The file also contai

[2021-07-22 14:56] #169 closed, assigned to cpswan, VJag, purnimavenkatasubbu

[2021-07-22 19:24] kumarnarendra701 commented on #232
@cpswan - Please review script
https://github.com/atsign-company/secondaries-scripts/pull/3
Migration script - https://github.com/atsign-company/secondaries-scripts/blob/dev/ssl-stack-upgrade.sh

[2021-07-23 02:14] ksanty opened #241 "No readme - at_server_spec"
- [x] [Pub.dev at_server_spec readme](https://pub.dev/packages/at_server_spec) page is missing readme documentation.

[2021-07-23 02:32] ksanty opened #243 "Missing documentation - at_server_spec (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_server_spec/score) is missing documentation for the following sections: (8/4 page now showing error - Awaiting analysis to complete)

- [x] follow dart file conventions
- [x] provide documentation (Update - Not required)
- [x] support multiple platforms (Update - Mentioned the reason below in comments)

[2021-07-23 02:35] ksanty opened #244 "Review for missing documentation - at_server_spec (API Reference)"
- [ ] Right nav bar under documentation [API reference](https://pub.dev/documentation/at_server_spec/latest/) requires documentation review (samples and examples)
- [ ] Please check to ensure [documentation link](https://atsign.dev/docs/) is pointing to the correct location

Please check libraries too (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_server_spec/latest/)

[2021-07-23 08:04] cpswan commented on #232
@kumarnarendra701 I'm seeing a couple of typos in that script:

etc.

I also don't understand the purpose of:

and

[2021-07-23 19:02] kumarnarendra701 commented on #232
Below stacks updated.
ebf8e6fe-843b-5b90-80af-08751bdf706b
ec2d09ed-278c-5ba1-9a16-1fcf36b1a7b7
ec5c8070-995c-5a6a-be24-351367f265e8
ec64e9df-d401-54e5-ac5a-7d166e4ec56d
ed4fc729-013e-570a-a5a1-7623e60d9268
ed7b0437-3b93-5cae-b980-9927355154f3
ed12c4f8-db07-56ca-8c0b-043326f3405e
ed32b5c2-50de-5a7e-b134-312561a35c5b
ed7112f5-5b7b-5f5b-9d13-660349949e17
edee6974-784e-5d55-9c72-2ac199b7b365

@kallur

[2021-07-24 18:19] ksanty opened #247 "Libraries and Widgets Documentation Review"
Multiple repo's (not just at_server)
Individual issues pulled into a separate column on the sprint plan.

- [ ] Readme (new descriptions added, that need review)
- [ ] Changelog
- [ ] Example
- [ ] Installing
- [ ] Versions
- [ ] Score
- [ ] Metadata (updates with readme)
- [ ] Homepage
- [ ] Repository (a few reviews for tree structure)
- [ ] View/Issues report
- [ ] Documentation
- [ ] API refer

[2021-07-26 09:05] VJag commented on #215
The idea behind this task is to document is to cover the following:

 1. Process of @ app release
     * Document should be able to answer the following questions.
       - Where will Purnima verify a bug on an app (branch, test flight, or after release?)
       - After verification what status does she move it to
      - When will the filer close a bug
      - Where does the product owner verify

[2021-07-26 12:16] #168 closed, assigned to nobody

[2021-07-26 15:28] #219 closed, assigned to sitaram-kalluri

[2021-07-26 15:57] murali-shris commented on #35
new line/tab chars in values has to be encoded and stored

[2021-07-27 08:58] cpswan commented on #215
@VJag I think these should be changes to CONTRIBUTING.md so I'd suggest that you get a first pass into a PR and then we can use the PR comments thread to iterate on it.

[2021-07-27 11:02] #174 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2021-07-28 16:54] cconstab opened #252 "Add Search Service to public and marked as searchable data on the @platform."
- [ ] Complete and Agree Architecture of MVP Search Service
- [ ] Add Searchable to SDK
- [ ] Add features to Secondary code if required
- [ ] Build out Search infrastructure
- [ ] test test test
- [ ] Roll to production
- [ ] Document implementation and production implementation
- [ ] Repeat

[2021-07-29 10:07] sitaram-kalluri commented on #232
@kumarnarendra701 : Verified the logs of above stacks, For the stack 'ebf8e6fe-843b-5b90-80af-08751bdf706b' observed the below error message. Please confirm if the issue is resolved.

ebf8e6fe-843b-5b90-80af-08751bdf706b_secondary.1.jbqspo7k1p9r@buzz-02    | SEVERE|2021-07-28 23:30:00.035244|AtCompactionJob|Instance of 'AtAccessLog' s
tarting
ebf8e6fe-843b-5b90-80af-08751bdf706b_secondary.1.zq9h1j

[2021-07-31 19:19] kumarnarendra701 commented on #232
@kalluriramkumar - As discussed below stacks updated, please verify and confirm so that we can proceed with all buzz upgrades.
1. odd15
2. violetred7ready)

[2021-07-31 20:27] kumarnarendra701 commented on #188
@cpswan @athandle - Below are tasks completed to migrate the Buzz Docker Swarm cluster to GCP.
1. VM setup with base software setup. - Completed
2. NFS setup and VPC peering - Completed
3. Docker Swarm setup with Ansible. - Completed.

[2021-08-02 10:27] cpswan opened #254 "End to end tests sometimes failing (timing issues?)"
**Describe the bug**
Test runs sometimes fail at `update-llookup for ttl`:

[code]

**To Reproduce**
Bug is not consistent, so steps to reproduce can't be listed here. Full logs attached for a failed run.
[logs_818.zip](https://github.com/atsign-foundation/at_server/files/6916203/logs_818.zip)

Bug usually clears when jobs are re-run.

**Expected behavior**
Tests should consistently pass or fail.

[2021-08-02 15:09] athandle commented on #232
@kalluriramkumar  any update on this?

[2021-08-03 11:34] kumarnarendra701 commented on #188
@cpswan @athandle
1. Create Socat Daemon for Port Forwarding
2. Create Shepherd Service
3. Directory Structure.

[2021-08-03 16:23] sitaram-kalluri commented on #232
Shared persona's between the odd15 and violetred7ready atsign's in the buzz environment. and is working successfully.
Attaching the test log below.
![Image-1](https://user-images.githubusercontent.com/16645698/128051202-7865786d-a670-4119-8f4c-96f19d6ae603.png)
![Image-2](https://user-images.githubusercontent.com/16645698/128051723-6ca0d8a5-823a-478d-8e00-ef75bb495f1e.png)

[2021-08-04 11:00] cpswan opened #259 "Do we still need at_server/.github/workflows/at_persistence.yaml ?"
**Describe the bug**
Duplicated GitHub Actions workflow?

**To Reproduce**
Steps to reproduce the behavior:
1. Look at previous [GitHub Actions runs](https://github.com/atsign-foundation/at_server/actions)
2. See that at_persistence workflow runs every time we run at_server workflow

**Expected behavior**
Just run the at_server workflow

**Screenshots**

![image](https://user-images.githubusercont

[2021-08-05 03:31] ksanty opened #264 "Update Readme - at_persistence_spec"
Review [at_persistence_spec ](https://pub.dev/packages/at_persistence_spec) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 03:52] ksanty opened #265 "Update Readme - at_persistence_secondary_server"
Review [at_persistence_secondary_server](https://pub.dev/packages/at_persistence_secondary_server) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 09:35] murali-shris commented on #232
@athandle is there any pending work on this issue.Can it be closed ?

[2021-08-05 09:40] athandle commented on #232
@murali-shris  we are migrating all buzz atsigns to new method, once migrated we will move the changes to prod.
And then we will migrate over there, I think then only we can close this ticket

[2021-08-05 09:44] athandle commented on #232
@cpswan all atsigns are migrated to new APIs. Please confirm when we can go live on hornet

[2021-08-05 09:50] cpswan commented on #232
@athandle please proceed with Hornet

[2021-08-06 06:49] athandle commented on #232
@kalluriramkumar @murali-shris @cpswan @cconstab
Note from Narendra:
I have moved the new SSL bash version script to the prod(/gluster/@/new-api) and modify all changes and was able to create and delete secondary but facing issue with SSL renewal that I had reported during buzz migration, renewal script creating a restart file in SSL directory but not getting restarted.

To reproduce the issue -
1

[2021-08-08 05:32] athandle commented on #232
@cpswan @cconstab
@kalluriramkumar any update on this?

[2021-08-08 07:12] sitaram-kalluri commented on #232
Tried connecting to Hornet-05 server using below command:

sitaram@sitaram-ThinkPad-E14:~$ gcloud beta compute ssh --zone "us-central1-a" "hornet-05" --project "secondaries"
ERROR: (gcloud.beta.compute.ssh) Could not fetch resource:
 - The resource 'projects/secondaries/zones/us-central1-a/instances/hornet-05' was not found

Need help on connecting to hornet-5 server.

[2021-08-09 06:51] murali-shris commented on #35
this requires discussion in architecture call regarding encoding of values with special chars. Moving this to backlog.

[2021-08-09 08:48] cpswan commented on #232
@kalluriramkumar the correct command to connect to Hornet-05 is:

[code]

No need for `beta` and the Hornet instances are spread across the zones within the us-central1 region, so it's worth doing a `gcloud compute instances list` to see where they are.

[2021-08-09 10:15] athandle commented on #190
@ksanty we can close this ticket as https://github.com/atsign-foundation/at_server/issues/232 is open and we can work over there

[2021-08-09 10:16] #190 closed, assigned to kumarnarendra701, athandle

[2021-08-09 12:11] kumarnarendra701 commented on #188
@cpswan @athandle -  Below tasks completed.
 - ENCPASS setup
 - API Script setup
 - Directory setup

[2021-08-09 13:23] cpswan commented on #157
Moved back to backlog as this may not be needed in light of faster cert issue and ability to parallelise cert generation with API based scripts.

[2021-08-09 13:33] cpswan commented on #187
I no longer think App Runner is likely to be suitable. We can revisit if that changes.

[2021-08-09 13:33] #187 closed, assigned to kumarnarendra701, athandle

[2021-08-09 13:37] cpswan commented on #124
Moved out of backlog whilst we wait for https://github.com/dart-lang/sdk/issues/37173 to be resolved (it looks like an outcome is near).

[2021-08-09 15:24] cconstab opened #267 "Certificate update not triggering the restart of the secondary server (possible that this works only on ext4 Filesystems)"

[2021-08-09 15:35] cpswan commented on #267
This is related to the issue we've hit with #232

Once again we're seeing `too many open files`

@kalluriramkumar is going to work with @kumarnarendra701 on getting a filesystem config that fixes this (as we've already done a lot in the code to minimise the number of open files).

[2021-08-09 15:36] #215 closed, assigned to VJag

[2021-08-09 15:40] ksanty commented on #201
@Intiserahmed can you provide an update?  The team believes you have worked on?

[2021-08-09 15:46] Intiserahmed commented on #201
@ksanty Yeap I have upgrade the test app to the latest SDK.

[2021-08-09 21:01] ksanty commented on #201
@Intiserahmed could you please add [label(s)](https://github.com/atsign-company/labels/labels) to this, so we can track better?  TY

[2021-08-09 21:04] ksanty commented on #267
@kumarnarendra701 can you please add a [label(s)](https://github.com/atsign-company/labels/labels) to this so we can better track status?  TY

[2021-08-09 21:08] ksanty commented on #232
@kumarnarendra701 can you please add [label(s)](https://github.com/atsign-company/labels/labels) to this, so we can better track?  TY

[2021-08-10 11:41] purnimavenkatasubbu commented on #254
Fixed this issue as part of the PR https://github.com/atsign-foundation/at_server/pull/257

[2021-08-11 15:05] kumarnarendra701 commented on #267
@cpswan - Performed below debugging on Buzz to fix this issue.
1. Increased Hard/Soft Limit
2. Increased file-max size
3. Increase ulimits from compose file
But still not able to resolve the issue, then finally performed a reboot of the worker node, scheduled a new secondary, and found the restart file working. So it seems that the file open limit is exhausted in the system, but the open file coun

[2021-08-12 01:58] cconstab opened #269 "Hive Log files taking up memory (not lazy boxes and hence looks like memory leak)"
The @sign @kryz_9850 is updating continuously metrics from a radio station. But on the backend infrastructure is is hitting swap very badly.

The updates are only 6 keys in the wavi namespace (all public) but the process size is large and causing the swaping.

![image](https://user-images.githubusercontent.com/6131216/129127060-e070bf57-4a4c-44ac-9273-86396b0af846.png)

The process table on hornet

[2021-08-12 02:06] cconstab commented on #269
If need be restart the secondary (the client will recover), my guess is that it will hide the issue for a while.. But we need to find and fix..
The secondary is still responding just fine at the time of writing.. I just noticed it as I went through the dashboards.. Am I the only one who does that ?

[2021-08-12 23:05] cconstab commented on #269
Moved secondary for kryz_9850 over to sheepdip machine so we can run in JIT mode and run observatory.

The swap hits on the swarm stopped immediately as predicted..

![image](https://user-images.githubusercontent.com/6131216/129281042-ecdde96f-8942-42cf-bee5-a5710b6de304.png)

[2021-08-12 23:11] cconstab commented on #269
To connect to sheepdip

[code]

This will forward the observatory  to your machine locally where you can see what is going on via

[http://localhost:8181/XDJ9scZd4jc=/#/vm](http://localhost:8181/XDJ9scZd4jc=/#/vm)

The actually secondary is running under a new user account 'kryz' and that user has a tmux session running with the secondary in place.

[code]

When get you there... `CTRL B` then `d`

[2021-08-12 23:34] cconstab commented on #269
A picture is worth a 1000 words... We need to take a look at the heapsnapshot in a few hours... But BoxImpl and KeyStore are Hive related.. Need to see how they get bigger over time (likely)

![image](https://user-images.githubusercontent.com/6131216/129282956-d7aaebee-81ab-468d-a3ad-513d49ca381f.png)

[2021-08-13 01:20] cconstab commented on #269
Some time later... (~2hours)  10Mb larger

![image](https://user-images.githubusercontent.com/6131216/129291441-a1234997-af01-418e-823d-898dfc7f003f.png)

[2021-08-13 01:24] cconstab commented on #269
Two hours later up by .5Mb

![image](https://user-images.githubusercontent.com/6131216/129291682-339771e3-6b69-461d-97cd-56de65e1cfae.png)

[2021-08-13 03:01] cconstab commented on #269
Up another .4Mb in ~2hours

![image](https://user-images.githubusercontent.com/6131216/129298944-6bf77c5d-5e93-4858-a23c-4a78e7257ec5.png)

[2021-08-13 06:16] cconstab commented on #269
3 hours and 1Mb additional

![image](https://user-images.githubusercontent.com/6131216/129313255-fd04a78b-d84d-49b1-9716-7869212a3552.png)

[2021-08-13 06:18] cconstab commented on #269
@cpswan @murali-shris @VJag
I think this def an issue with the logging boxes.. What do you think ? Happy to run a modified branch to prove the point

[2021-08-13 06:24] cpswan commented on #269
@cconstab the memory profiling seems to prove your expectation that Hive is doing what an in memory database should be expected to do. So absolutely the next step is to try a Hive config that more aggressively gets old data out of RAM and onto disk. With your particular use case we're using the DB as a message queue, and it seems suffering as a result of that (ab)use.

[2021-08-13 13:58] cpswan opened #270 "Secondary won't start without config/config.yaml"
**Describe the bug**
When running with `dart run --observe` the secondary pauses due to exception:

[code]

In this code block:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Cloned this repo and did `dart pub get && dart pub update` in the at_persistence_secondary_server and at_secondary_server directories
2. Tared up the storage directory and certs for a dess atsign and extracted

[2021-08-13 15:36] cpswan commented on #269
#271 implements an observable secondary

[2021-08-16 06:36] #241 closed, assigned to nickelskevin, murali-shris

[2021-08-16 06:36] #264 closed, assigned to murali-shris

[2021-08-16 06:36] #265 closed, assigned to murali-shris

[2021-08-16 13:08] #254 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-08-16 16:58] cconstab opened #272 "SocketException: OS Error: Connection reset by peer, errno = 104, address = 0.0.0.0, port = 6464"
rather annoying bug that effects secondaries but we could not track down what caused it until now!..

Run a secondary with a value you want to pull and whilst the atLookUmpl is still connnected hit CNTL C.
As you hit control

An uncaught exception happens...

[code]
What we see at the commandline

[code]

The error we see in the console is

[code]

Plus the output from the debugger

[code]

    _A

[2021-08-16 18:58] cconstab commented on #269
Needs architectural review but moving some (if not all) Hive boxes to lazy (just index in memory) seems like the best approach. Having this toggle at runtime also seems a reasonable idea and some people might like to run in memory.

[2021-08-16 19:48] cconstab opened #273 "Locked Secondary. Hive error on scan"
Secondary non responsive and on further investigation looks like a HiveBox error

[code]

Restarted secondary and all is well but we need to be able to detect this and recover seamlessly without admin interaction.
Should be straightforward to detect..

[2021-08-19 21:09] cconstab commented on #273
We have also put in place monitoring that checks every @ sign every 15 minutes and lets us know if odd stuff is happening!

[2021-08-23 08:32] cpswan opened #286 "Upgrade prod servers to Ubuntu 20.4.3"
**Describe the solution you'd like**
Dev (Buzz cluster) servers are presently successfully running 20.4.2, whilst Prod (Hornet cluster) is on 20.4.1, so we should upgrade prod.

[2021-08-23 08:38] cpswan opened #287 "Upgrade Docker on Hornet cluster to 20.10.8"
**Describe the solution you'd like**
Dev (Buzz cluster) is presently running Docker 20.10.8 whilst Prod (Hornet cluster) is on 19.03.13

[2021-08-23 10:01] cpswan commented on #267
@kalluriramkumar do you think this is cleared permanently by the changes made, or temporarily by the worker node reboot?

[2021-08-23 11:13] #170 closed, assigned to cconstab, sitaram-kalluri, murali-shris

[2021-08-23 12:51] murali-shris commented on #273
@cconstab Please close this issue if you no longer see the error in production

[2021-08-23 13:41] #270 closed, assigned to sitaram-kalluri

[2021-08-23 13:45] cpswan opened #289 "Tidy up at_secondary/at_secondary_server/lib/src/server/at_secondary_config.dart"
**Describe the solution you'd like**
@naresh0689 made some excellent progress on this with #92 but that work never got merged, so I'd like to revisit it and get a cleaner piece of code for handling config (so that we don't see something like #270 coming up again).

**Describe alternatives you've considered**
Leave at_secondary_config.dart as it is.

[2021-08-23 15:26] #273 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2021-08-24 01:54] cconstab opened #290 "Dev/WTF secondary environment on GCP very ill"
Many secondaries are down or not coming up

[2021-08-24 01:58] cconstab commented on #290
Bot keeps reporting many secondaries down/not responding.. I have looked at a few and whilst there might be other issues as well lets clean this up as we made the effort to migrate everything.

@kumarnarendra701 could you take the lead please..

Thanks

[code]

[2021-08-24 02:56] sitaram-kalluri commented on #290
@cconstab and @kumarnarendra701 : The above issue is because of missing config.yaml file. The issue is fixed and merged with the following PR: https://github.com/atsign-foundation/at_server/pull/288

@kumarnarendra701 : Please pull the latest docker image and let us know if the issue still persists.

[2021-08-24 05:48] kumarnarendra701 commented on #290
@kalluriramkumar - It seems the docker image update is completed but still seeing the same logs.
**Shepherd logs -**
shepherd.1.adga3g8yr4li@buzz-master    | Mon Aug 23 19:06:55 EDT 2021 Cleaning up old docker images, leaving last 5
shepherd.1.vfl3yvr8j7r8@buzz-master    | Mon Aug 23 11:21:48 EDT 2021 Send registry authentication details to swarm agents
shepherd.1.adga3g8yr4li@buzz-master    | Mon

[2021-08-24 06:27] kalluriramkumar commented on #290
@kumarnarendra701: For some reason, the github action to build and push the secondary image to trunk was skipped. Will debug the cause and let you know when the trunk has latest image.
![image](https://user-images.githubusercontent.com/16645698/130566964-f0fe3946-c092-4dcc-8b4c-882e2aacc6fe.png)

[2021-08-24 07:06] sitaram-kalluri commented on #290
@kumarnarendra701 : Are the above logs from staging environment or production environment. We merged the changes to staging environment and yet to be released into production.

[2021-08-24 07:35] athandle commented on #290
@kalluriramkumar it's of staging(buzz)
You able to find the root cause why latest image was not pushed ?

[2021-08-24 07:39] athandle commented on #290
@kalluriramkumar @kumarnarendra701 as per Colin health script 1038 secondaries are unhealthy. Please check

[2021-08-24 07:53] cpswan commented on #290
I can see that a new secondary:dev_env image was pushed an hour ago, so @kumarnarendra701 can you please make sure that Shepherd is picking it up and rolling it across the fleet.

@kalluriramkumar the :dev_env image carries its own config.yaml, so the `AtSecondaryConfig.notificationQuarantineDuration` comes from a missing element in the template (which is why the code needs to carry the defaults f

[2021-08-24 08:04] sitaram-kalluri commented on #290
@cpswan : The defaults are defined in AtSecondaryConfig.dart. Attaching the snippet below.

[code]

[code]

[2021-08-24 08:19] cpswan commented on #290
@kalluriramkumar those snippets are from #288 which was merged yesterday to cause [at_server run 227](https://github.com/atsign-foundation/at_server/actions/runs/1158876107) resulting in [secondary:dev_env-trunk-gha227](https://hub.docker.com/layers/atsigncompany/secondary/dev_env-trunk-gha227/images/sha256-10330a217eec89c596da0324062e398fe8f26f1495bf6c9ef6a37e89912f545b?context=explore) and its c

[2021-08-24 10:37] kumarnarendra701 commented on #290
@kalluriramkumar - Update failed for 61 secondaries with below msg -

docker service logs -f 3n5wtozukzfb | grep cbe75af5-0f2a-5719-9246-bfaa4b4d3599
shepherd.1.ik6n4vaofhez@buzz-master    | service update paused: update paused due to failure or early termination of task n3trkof83ycc717fyyary9vu0
shepherd.1.xnauc76rg42s@buzz-master    | service update paused: update paused due to failure or early

[2021-08-24 12:24] athandle commented on #290
@cpswan yes Shephard is picking latest image
@kalluriramkumar can you please check logs shared by Narendra

[2021-08-24 15:52] athandle opened #293 "Schedule notification"
Feature request: people can schedule notifications. Ex, I want to wish Colin birthday at 12 AM, I will schedule a message that will notify Colin at 12AM

[2021-08-24 19:34] cconstab opened #294 "Information leakage"
When looking at @k

I see the public keys of other @signs.. Where did these come from? Why is this information leaking out ?

Is this a bug with cached keys ??

[2021-08-25 01:44] cconstab commented on #290
So I have focused on one secondary `e35d6848-fafd-5f04-8e66-dd839d71a182_secondary`
aka
[code]
It complains of no certificates

[code]

But everything looks just fine in the compose file... So I copied the compose file and changed the image to Ubuntu and exec'd into a bash shell.. And.. I see the certs with correct permissions!

[code]

So confirmed the certs should be seen in the compose file but

[2021-08-25 02:18] cconstab commented on #290
Ok secondary up...
The only thing this could be is the cacert.pem file as the rest of the certs are seen. So I created a cacert/ directory and copoed over and permissioned a cacert.pem file

[code]

restarted the secondary and its up

[code]

[2021-08-25 02:25] cconstab commented on #290
This seems to point to the Dockerfile not pulling over the file correctly or permissions of the file being mounted over. Also indicates to me that we could have the same issue in production so we need be careful!

[2021-08-25 03:01] cconstab commented on #290
Built a secondary docker image from trunk then run it from compose file same issue found
[code]
and

[code]

[2021-08-25 03:06] cconstab commented on #290
So the issue is the Dockerfile sets up /atsign/cacert which is just fine BUT the docker-compose.yaml file mounts /atsign NOT containing a cacert directory right on top of it.

**Solution is to move the cacerts directory in the docker image to another location that does not get mounted over for example /etc/cacerts**
Alternative we could just mount the needed subdirectories in /atsign but I think m

[2021-08-25 03:35] cconstab commented on #290
Maybe a better idea not to mount /atsign in the compose files.. That way we only mount /certs and everything works

[2021-08-25 08:01] cpswan commented on #294
@cconstab it might be useful to explain how you were looking at @‎k, and if it's safe to do so providing some examples of what you saw.

[2021-08-25 08:23] cpswan opened #296 "Define correct volume mounts for a secondary"
**Is your feature request related to a problem? Please describe.**
In trying to understand why the issues seen in #290 were passing end to end tests I looked for differences between the environments.

Here's what we do in dess (used for cicd1 & cicd2 instances in end to end tests):

[code]

If I break it down line by line:

1. `/atsign/certs` is mapped to where the certs are held on the host. FWIW

[2021-08-25 09:56] cpswan commented on #290
I applaud your optimism @kalluriramkumar, but let's keep this open until we have (the majority of) the staging secondaries back up.

[2021-08-25 10:12] cpswan commented on #290
I just checked the new image for @survivingtaichi(2181) and it's connecting and scanning fine. So early signs are good.

@kumarnarendra701 can you please prod Shepherd into action to roll out the new image across staging.

I am however seeing our old nemesis `Too many open files`

[code]

Also we need to do better with version info for dev_env builds (maybe GHA run numbers instead of `null`?):

[c

[2021-08-25 10:57] cpswan commented on #290
NB with the staging secondaries binding `\atsign` it overrides having `\atsign\config\config.yaml` in the container, which is why we see staging secondaries connecting to production root `root.atsign.org`:

[code]

This is another good reason for #214 but would also be taken care of by #296

Also `null` version comes from `\atsign\pubspec.yaml` being stomped, it should be showing the last release

[2021-08-25 14:22] cconstab commented on #296
/archive/$FQDN is mapped to the cert archive. WHY?

Because of the joy of certbot... Certbot uses symbolic links in the live/ directory to the ../../archive directory so it also has to be mounted as well. Much simplier to do this with two point mounts than play with certbot

[2021-08-25 14:29] cconstab opened #298 "reg.buzz.do-sf2.atsign.zone 443 should not be open to the Internet"
This should not be possible

[code]

[2021-08-25 14:30] cpswan commented on #296
Thanks @cconstab. So we need to keep `/archive/$FQDN` for dess, but it's not needed for staging/production.

Speaking to @kumarnarendra701 earlier he said that the `/atsign/config` entry is intended to allow config within the container to be reachable, but I'm not sure that's working.

[2021-08-25 22:02] cconstab commented on #290
Just FYI production secondaries also mount /atsign so we ned to be careful when we release..

[code]

In better news

[code]

There are a few (2 so far) that do not startup and they were holding up shepherd.. For the moment I have set then to scale to 0 so they do not get in shepherds way..

[2021-08-26 02:37] cconstab commented on #290
OK down to 12 and Shepherd is still updating stuff.. I have stopped 2 secondaries as they would not start, not investigated further..

How to find them `docker service ls |grep 0/0`

Also have TMUX session running as root on buzz-master1 if you want to watch the updates and spot anything than hangs shepherd..

`root@buzz-master:/tmp/seccheck# tmux attach -t top`

So more work to be done but in a b

[2021-08-26 05:32] cconstab commented on #290
Started looking at secondaries in the last 12 .. Very odd this one.. not looked the others yet.. Seems to run out of memory and exit NO logs in dart land that are usefull, just opening boxes..

[code]

dart logs

[code]

Need to get some sleep so following the 🌞over to you...

[2021-08-26 15:54] kumarnarendra701 commented on #298
Port restriction enabled on buzz-fw group.

Protocols and ports
tcp:1024-65353

[2021-08-26 17:12] kumarnarendra701 commented on #290
It seems 4-5 secondaries are not healthy and the rest are fixed by the new build.

@kalluriramkumar
Logs -
root@buzz-worker1:~# docker logs -f 27bcc40b9f43
INFO|2021-08-24 06:06:06.005750|AtSecondaryServer|currentAtSign : @excitedpuri😎

FINER|2021-08-24 06:06:06.033375|CommitLogKeyStore|last committed sequence: 186

INFO|2021-08-24 06:06:06.033422|CommitLogKeyStore|Keystore initialized successfull

[2021-08-26 17:13] kumarnarendra701 commented on #290
Directory for debugging -
/gluster/@/secondaries/d1/af/40/7d/d1af407dc4bb3aea6c873b785408e0ad/bb48453f-c560-59ac-815f-99703fd53488
Atsign uuid - bb48453f-c560-59ac-815f-99703fd53488

[2021-08-26 17:42] kumarnarendra701 commented on #298
@cconstab - Please review and share feedback.

[2021-08-26 17:45] kumarnarendra701 commented on #290
@cpswan @cconstab - Can I close this ticket?

[2021-08-26 17:48] kumarnarendra701 commented on #232
Dependent on #267

[2021-08-26 17:53] kumarnarendra701 commented on #188
Buzz Swarm migrated on GCP.
Mentioned below are the remaining tasks.
- root.atsign.wtf
- directory (wavi) .wtf
- Node API(Registar, infra)
- Other stuff ? Needs checking

[2021-08-26 19:33] cconstab opened #299 "Exception in secondary when using @mosphere version 1.0.7(50)"

[2021-08-26 19:34] cconstab commented on #299
@mosphere errors when sending files (plus all my contacts are gone in app) but this is the exception seen in the secondary..

[code]

[2021-08-26 19:38] cconstab commented on #299
Set as P1 as at present the @mospher app does not work.. After multiple tests only one file got transferred.. Equally this may also be an app issue.. Tough to tell when testing, but the secondary should not err.

@sarika01 we probably need testing of the app using prod secondaries by the developer before we test the app in our twice a week testing meetings...

@tinashe404  please add  any thoughts

[2021-09-02 08:43] cpswan commented on #290
Closing this now that the rebuilt environment appears stable.

[2021-09-02 08:43] #290 closed, assigned to cpswan, murali-shris, kumarnarendra701, athandle

[2021-09-02 09:11] cpswan commented on #298
I have tested. Closing. Thanks @kumarnarendra701

[2021-09-02 09:11] #298 closed, assigned to kumarnarendra701

[2021-09-03 09:33] cpswan opened #302 "Null certificates"
**Describe the bug**
The certificate refresh process sometimes creates an empty `cert.pem`, which then causes the secondary to fail.

**To Reproduce**

Not reproducable, but happens regularly enough to be a frequent issue detected by seccheck finding secondary failures.

**Expected behavior**
If the certificate refresh script fails to get a correct new cert then it should leave the existing cert i

[2021-09-03 14:51] #259 closed, assigned to sitaram-kalluri

[2021-09-07 14:32] cpswan commented on #286
20.04.3 has since been released, and was used to rebuild Buzz, so we should target that.

[2021-09-07 14:37] murali-shris commented on #201
Once RSDK packages are published, this issue will be taken up

[2021-09-07 14:41] cpswan commented on #302
@kumarnarendra701 has extended the sleep time while waiting for an API response from 10s to 30s, which will result in fewer empty certs, but we still need to have more robust retry logic and checking.

[2021-09-07 15:15] murali-shris opened #306 "efficient solution to store images/binary data in secondary server"

[2021-09-16 14:52] athandle commented on #267
@kalluriramkumar any update?

[2021-09-16 15:56] kumarnarendra701 commented on #188
@cpswan - K8 initial migration from DO to GCP completed for below components.
- Node API
- root/root.wtf
- directory
Note - we need downtime to move data for root and switching DNS pointing.

[2021-09-16 16:02] cpswan commented on #188
Thanks @kumarnarendra701

I think @cconstab suggested a downtime slot this weekend. So will we be done once that piece is completed?

[2021-09-16 17:54] cconstab commented on #188
The important other stuff on ludo is the api to the clusters.. The TF stuff is all legacy

[2021-09-16 17:58] kumarnarendra701 commented on #302
Currently trying to test retry mechanism to fix it and down the line will move it to python script.

[2021-09-16 18:10] kumarnarendra701 commented on #188
@cconstab - Sorry, I didn't get this. can you please explain?

[2021-09-17 06:01] sitaram-kalluri commented on #267
@athandle  and @kumarnarendra701 : This issue is fixed and merged to trunk branch. Earlier we have directory file watcher which fails to recognize the file create events when file is created on NFS file system. Now the code is modified to look for presence of file instead of file events. With the latest docker image the issue should be resolved.

[2021-09-19 15:35] kumarnarendra701 commented on #267
@kalluriramkumar - Is the build deployed on buzz? because I tried to renew various certs but it creates a restart file but secondaries not getting a restart.
![image](https://user-images.githubusercontent.com/29299536/133933453-1d3a781e-5f9d-43a9-8f77-916d1380cae5.png)

[2021-09-19 19:43] kumarnarendra701 commented on #302
@cpswan - Added retry for SSL get, please review and share your feedback.
https://github.com/atsign-company/secondaries-scripts/pull/4

[2021-09-20 06:14] VJag commented on #306
We have discussed various alternative approaches to solve the problem and decided to go with making use of users' personal drive.

[2021-09-20 06:16] VJag commented on #306
![@file_share drawio](https://user-images.githubusercontent.com/20091120/133962803-c282bc98-2460-4b81-9c6a-9ab85ed04133.png)

[2021-09-20 06:16] #306 closed, assigned to murali-shris, VJag

[2021-09-20 06:38] sitaram-kalluri commented on #267
@kumarnarendra701 : The changes are merged to trunk branch 3 ago and staging servers should be refreshed by now. Also, with the new changes, the job runs only twice a day (once in 12 hours from a random hour generated by the server on start-up). So the moment the restart file is created, the server would not immediately restart.

[2021-09-20 14:54] #289 closed, assigned to naresh0689, sitaram-kalluri

[2021-09-21 19:10] kumarnarendra701 commented on #267
@kalluriramkumar - It seems the restart file is not there in the cert directory, I have triegged a few more renewals to see the secondaries status.

[2021-09-22 08:04] sitaram-kalluri commented on #267
@kumarnarendra701: restart file will not be there in certs directory, when ever server has to restart, place restart file into the certs directory and server will restart when cron job finds the restart file. Please let me know if you need a quick demo on this feature.

[2021-09-22 09:50] murali-shris commented on #299
Duplicate of https://github.com/atsign-foundation/apps/issues/228

[2021-09-22 10:43] sitaram-kalluri opened #317 "Send real-time commit-id's from server to client."
**Is your feature request related to a problem? Please describe.**
At the moment, the StatsNotificationServer writes the latest commit id to the client for every 15 seconds. However, in the worst case scenario, the client would get the latest server commit-id 14 to 15 seconds delay.

**Describe the solution you'd like**
Provide a mechanism where when an entry is updated into the commit log keystor

[2021-09-22 10:46] sitaram-kalluri opened #318 "Increase the limit on Progressive Sync,"
**Is your feature request related to a problem? Please describe.**
At the moment, the limit on progressive sync is 10. which would a batch of 10 entries to the client. When there are more commit id's (around 30,000+) it would take a lot of time to complete the process.

**Describe the solution you'd like**
Increase the limit and validate the large commit id's

**Describe alternatives you've consid

[2021-09-22 15:11] kumarnarendra701 commented on #267
@kalluriramkumar - I can see the restart file working now with below logs.

INFO|2021-09-22 00:00:01.192858|StatsNotificationService|StatsNotificationService is enabled. Runs every 15 seconds
ee32a825-6cb2-5d64-ac76-e0358ea1a47c_secondary.1.yusflwv32tc7@buzz-02    |
ee32a825-6cb2-5d64-ac76-e0358ea1a47c_secondary.1.yusflwv32tc7@buzz-02    | INFO|2021-09-22 00:00:01.193074|AtCertificationValidation|

[2021-09-23 10:41] #317 closed, assigned to sitaram-kalluri

[2021-09-23 12:07] cpswan commented on #267
@cconstab I see @kumarnarendra701 confirming that the work by @kalluriramkumar is doing what's needed, so are you OK to close this one?

[2021-09-24 05:28] cconstab commented on #267
For sure

[2021-09-24 11:56] #267 closed, assigned to sitaram-kalluri, kumarnarendra701, athandle

[2021-09-28 06:30] murali-shris commented on #243
@ksanty
We have fixed dart file convention issue
Since it is server spec
* example is not applicable
* dart.io dependency cannot be removed and hence "cannot support multiple platforms" is reported

[2021-09-28 08:03] cpswan commented on #243
The docs should address the fact that this isn't designed to run in a JavaScript environment, so it doesn't support multiple platforms in that respect.

[2021-09-28 11:06] purnimavenkatasubbu opened #323 "Format exception while running the wavi app with scan_with_pagination branch"
**Describe the bug**
I tried to run the wavi app with the servers pointing to the scan_with_pagination branch. I see format exceptions while getting the server status

**To Reproduce**
Steps to reproduce the behavior:
1. First run the servers with the scan_with_pagination branch
2. Then install the wavi app and enter the atsign (servers running with scan_with_pagination) changes

**Expected behavi

[2021-09-30 06:36] murali-shris commented on #233
We cannot eliminate dart.io dependency. So scores tab will show 10/20

[2021-09-30 09:12] purnimavenkatasubbu commented on #323
Tested this scenario with the scan_with_pagination. This issue is fixed now. Adding the screen recording of the tests.

https://user-images.githubusercontent.com/43639593/135423761-1ac7cde5-d6a9-4792-95e7-5e80dc0305cf.mp4

https://user-images.githubusercontent.com/43639593/135423797-fe2b3b43-98b5-4de9-98b3-62c5df265101.mp4

[2021-09-30 09:12] #323 closed, assigned to murali-shris

[2021-09-30 09:52] purnimavenkatasubbu opened #325 "Scan verb doesn't show results when we pass a regex and page id"
**Describe the bug**
Results are not shown in the response whenever I use scan verb with page number and regex.

**To Reproduce**
Steps to reproduce the behavior:
1. First Connect to the secondary and create some keys
2. Then scan the keys with page Id and regex

Example:

![Screenshot from 2021-09-30 15-19-01](https://user-images.githubusercontent.com/43639593/135429871-70ba55f8-d226-4a22-9714-fe

[2021-10-01 16:53] athandle opened #326 "Error handling of cert renewal crons / SSL alerts"
Chris:
Stuff like that we should be just using Certbot, as we don’t need to create many certificates at once

@cconstab @cpswan feel free to update description

[2021-10-01 19:07] cconstab commented on #326
Waht happened this morning was the cron job on Ludo created a secret with no files in it so the root daemon could not start.. All I did was re run the cron job ..

But we should check the files before turning them in to a secret and also make sure the secret is created properly!

[2021-10-03 06:32] #201 closed, assigned to yahu1031

[2021-10-04 08:02] #233 closed, assigned to Intiserahmed

[2021-10-04 12:14] murali-shris opened #327 "server optimisation - pending changes - publish and release (replaces Lazy box issue)"
After an @sign is used for some time and having data work few thouands of commit id's we have observed the following:

1. Server does not respond to sync requests in a timely manner
2. Server crashes intermittently
3. Same commit id's are requested in a sync which puts SDK and Server in an infinite loop

To handle the above scenario's following action items are being proposed.

1. Use new enhanced

[2021-10-04 13:10] cpswan commented on #124
Now we just need to wait for [dart-lang/sdk 8062c4c](https://github.com/dart-lang/sdk/commit/8062c4cc6719f2f3f75b2b8ca4f6bcfb7b3679f0) to find its way into a release. As it's a breaking change I think this might not turn up until 2.15

[2021-10-04 14:07] sitaram-kalluri commented on #318
Enhance the sync verb handler to send data of 5 MB or 100 entries.

[2021-10-04 14:07] sitaram-kalluri commented on #318
- [x] Development
- [x] QA

[2021-10-04 14:23] cpswan commented on #232
@kumarnarendra701 has stated that the new scripts are now deployed to prod.

[2021-10-04 14:23] #232 closed, assigned to kumarnarendra701, athandle

[2021-10-04 14:24] cpswan commented on #302
@kumarnarendra701 modified script to check that a cert is written

[2021-10-04 14:24] #302 closed, assigned to kumarnarendra701

[2021-10-04 15:38] murali-shris opened #328 "additional stats"
- [X] "changes for stats and code review"
- [x] "publish packages"
- [x] "release to canary "
- [x] "release to prod"

[2021-10-04 16:06] ksanty commented on #269
Work will be continued on #327

[2021-10-04 16:06] #269 closed, assigned to sitaram-kalluri, Intiserahmed

[2021-10-05 06:36] purnimavenkatasubbu commented on #318
Tested with the 3 staging atsigns that were updated with the progressive sync changes. Whenever there are many images, Sync remains in the inprogress state for a long time. Adding logs for reference.

**atsign - gorgeouskicking**

INFO|2021-10-04 14:50:38.826192|SyncService|Returning the serverCommitId 1925
I/flutter (25909): FINEST|2021-10-04 14:50:38.834815|SyncService|server commit id: 1925 las

[2021-10-11 05:28] murali-shris commented on #327
![allocation_profile_lazy_box](https://user-images.githubusercontent.com/18326522/136737733-ce989b98-8187-4ba1-8382-0ce033fe908f.png)
Made code changes to remove ref to Hive box from keystores implementation. Now hive classes are GC'ed and no longer appear in the heap.

[2021-10-11 11:24] purnimavenkatasubbu opened #333 "Stats verb issue in the server logs while running the wavi app with the local servers"
**Describe the bug**
Error in the server logs, While running the wavi app with the latest hive implementation changes of the server

**To Reproduce**
Steps to reproduce the behavior:
1. First run the servers locally with the trunk branch code
2. Then Point the wavi app to testing environment and start installing the app
3. And enter the atsign details and provide the backup file .
4.  Check the se

[2021-10-11 11:27] purnimavenkatasubbu opened #334 "No such method error while starting the servers in the local environment"
**Describe the bug**
While starting the servers with the latest branch of trunk locally. The server exits with the no such method error.

**To Reproduce**
Steps to reproduce the behavior:
1. First Pull the latest branch of server
2. Then Change the storage, Domain and certs in the config file
3. And then start the server

**Expected behavior**
Server should start without any error messages.

**Ser

[2021-10-13 07:07] purnimavenkatasubbu opened #339 "Sync issues with the staging atsigns while using wavi and buzz app"
**Describe the bug**
With the staging atsigns, Whenever I add data it is not being synced. instead, I see some exceptions in the logs

**To Reproduce**
Steps to reproduce the behavior:
1. First I Installed the buzz app and authenticated with the staging atsign.
2. Then I added some data and saved it.
3. And Checked the app logs

**Expected behavior**
All the data should be saved

**App Logs **

**

[2021-10-13 10:22] purnimavenkatasubbu commented on #334
Re-tested this issue with the latest bug fixes. The server starts without any issues.

![Screenshot from 2021-10-13 15-51-43](https://user-images.githubusercontent.com/43639593/137115314-c9307ed1-0f9a-4cba-86c3-f6f6ea54321a.png)

[2021-10-13 10:22] #334 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-10-13 10:36] purnimavenkatasubbu commented on #333
Re-tested this issue with the latest bug fixes. It works fine now.
![Screenshot from 2021-10-13 16-03-18](https://user-images.githubusercontent.com/43639593/137117304-4a8c32c0-d43c-49e0-b3ad-c7304f949d29.png)

[2021-10-13 10:36] #333 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-10-14 03:00] cconstab opened #340 "Production Issue with certificates"
**Symptoms**

@signs not being created on the registrar site. After activation no QR codes are received...

**Root Causes**

From looking at the logs of the secondary creation both ZeroSSL and DigitalOcean are having issues with API's.

The cert creation script hits the ZeroSSL API and sometimes fails. Currently 50% failure rate in my testing that is better than earlier in the day it was 100% fail

[2021-10-14 03:14] cconstab commented on #340
Things I see runing the ZEROSSL API script on two machines one in the US (orac) one in DE (ubuntu)... Both work about 50% of the time right now 8:14PM PST

Orac
[code]

and ubuntu

[code]

[2021-10-14 04:22] cconstab commented on #340
Long Term Thoughts

Need to come up with a long term plan and multiple suppliers.

Cannot be reliant on SPOF

Need to Abstract cert file generation

Possibly with new Abstraction or Using ACME ?

[2021-10-14 08:32] cpswan commented on #340
I'm presently testing ACME (against Letsencrypt) with the [Digital Ocean DNS validator](https://www.digitalocean.com/community/tutorials/how-to-acquire-a-let-s-encrypt-certificate-using-dns-validation-with-certbot-dns-digitalocean-on-ubuntu-20-04).

My thinking behind this:
* If ZeroSSL is having upstream problems then it will impact their ACME as well as the REST API
* DNS validation gets us away

[2021-10-14 09:04] cpswan commented on #340
Certbot with Digital Ocean DNS validation takes around 30-40s to create a certificate, of which 10s (by default) is spent waiting for DNS propagation. There's no automatic retry on failure.

I tried creating 10 certs in parallel, but that just resulted in 9 cases of `Another instance of Certbot is already running.`

My immediate take is that we can (and should) use Letsencrypt as a fallback for wh

[2021-10-15 09:53] cpswan opened #341 "Hive errors with staging secondary @forestgreenquerulous1"
**Describe the bug**

Secondary won't start up.

From the container logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Log on to buzz-01
2. `sudo docker service scale c0deb0f2-308e-5915-8551-0cc9e94e9c3b_secondary=1`
3. `sudo docker service logs c0deb0f2-308e-5915-8551-0cc9e94e9c3b_secondary`

**Expected behavior**
Secondary starts and becomes reachable with openssl

[2021-10-18 05:59] murali-shris commented on #327
https://docs.google.com/spreadsheets/d/1816Fmh-JrDUdnV4H_bq6iC_FOxl629JOfP0lSNcCTxU/edit#gid=46369083
Test results from server running in local.

[2021-10-18 05:59] murali-shris commented on #327
Pending tasks:
Benchmarking on DESS server
Release to prod

[2021-10-18 06:11] sitaram-kalluri opened #342 "Sync remains in-progress when there are multiple images."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...' With Sync Progressive changes, when there are multiple images, sync remains in-progress.
2. Attaching the feature : https://github.com/atsign-foundation/at_server/issues/318
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise descr

[2021-10-18 06:12] sitaram-kalluri commented on #318
For the above issue opened following bug: https://github.com/atsign-foundation/at_server/issues/342 and closing this issue.

[2021-10-18 06:12] #318 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-10-18 06:32] yahu1031 commented on #328
May be to the next week(first 2 days for the perfection).

[2021-10-18 08:27] cpswan commented on #340
@athandle @kumarnarendra701 has the number of secondaries that can be spun up at once been increased yet?

I'm planning on closing this ticket, and creating some standalone tickets for enhancements.

[2021-10-18 08:30] cpswan opened #343 "Add fall-back to LetsEncrypt to secondary certificate generation process"
**Is your feature request related to a problem? Please describe.**
Related to #340

**Describe the solution you'd like**
If we can't get a cert from ZeroSSL then use the LetsEncrypt ACME API with DNS authentication as a fall-back mechanism.

**Describe alternatives you've considered**
Tried certbot with DNS authentication (using Digital Ocean plugin) but it only allows one instance at a time, and

[2021-10-18 08:33] cpswan commented on #157
This is back in the frame due to issues experienced with ZeroSSL outage causing #340

[2021-10-18 09:06] kumarnarendra701 commented on #188
@cpswan - Below components migrated to GCP.
1. K8 cluster.
2. root, directory, and Node API.
3. CI/CD pointing completed.

[2021-10-18 09:11] cpswan commented on #188
@kumarnarendra701 is there anything left to migrate, or can this be closed?

[2021-10-18 09:25] cpswan commented on #188
@kumarnarendra701 has confirmed "All components migrated to GCP, now we can close this ticket."

[2021-10-18 09:25] #188 closed, assigned to kumarnarendra701, athandle

[2021-10-18 11:44] murali-shris commented on #243
https://github.com/dart-lang/pub-dev/issues/3995

[2021-10-18 12:56] murali-shris opened #346 "benchmark new sync improvements"
* compare sync performance on atsigns with 10k+ commit ids with server version 3.0.1 vs 3.0.2

[2021-10-18 12:58] murali-shris opened #347 "benchmark lazybox on DESS server"
benchmark these metrics on a DESS server
https://docs.google.com/spreadsheets/d/1816Fmh-JrDUdnV4H_bq6iC_FOxl629JOfP0lSNcCTxU/edit#gid=46369083

[2021-10-18 14:08] yahu1031 commented on #328
Set up everything related to stats (local secondary server, AWS - dess). Now working on CRUD operations and learning(understanding) the stats (diskSize, secondaryStorageSize).

[2021-10-18 14:24] yahu1031 commented on #243
## Support multiple platforms Issue ##

https://github.com/dart-lang/pub-dev/issues/3862#issuecomment-667896811 This could give the reason for the 10 points decrement. All most of all our packages/libraries which doesn't support web/native-js will be reduced by 10 points from their score tab. As `dart:io` is not-at-all a web compatible. For web we have `dart:js` and `dart:html` files. If we want t

[2021-10-18 15:27] #243 closed, assigned to DivyaYadavareddy

[2021-10-19 02:26] cconstab opened #348 "NULL err on New Secondary causing secondary to crash hard"
**Describe the bug**
I think my secondary for @ colin has been update to I ran @ buzz. Everthing was repporting fine until I ran @ buzz.. Then I could not log in..
Look at logs and saw message below..

**To Reproduce**
Steps to reproduce the behavior:
1. Wait for new secondary build
2. Then I ran @ buzz
3. And then checked logs

**Expected behavior**
@ buzz to work and the secondary not to fail...

[2021-10-19 02:26] cconstab commented on #348
[code]

[2021-10-19 02:30] buzz commented on #348
Please don't mention my username. Thank you

[2021-10-19 05:36] murali-shris commented on #327
released server version 3.0.3

[2021-10-19 05:36] #327 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2021-10-19 09:58] sitaram-kalluri commented on #348
Added defensive fix to resolve server crash on null value and moved the code to production. That being said, the CommitId should not be null. Added logs for further debugging.

[2021-10-19 14:35] cconstab commented on #348
The original "Null" is fixed as the server stays up now but now seeing these Nulls in the logs..

[code]

[2021-10-19 14:48] cconstab opened #350 "Certificate Issues on Production in the logs (looks like Secondary to Secondary connections not Confirmed)"
**Describe the bug**
Seeing Certificate Errors in the Logs

**To Reproduce**
Steps to reproduce the behavior:
1.Just tail the logs on a @ sign
2. Run the @ buzz app and watch the logs

**Expected behavior**
No cert errors

**Screenshots**
Log files below

**Were you using an @‎application when the bug was found?**
  - @ buzz,

[2021-10-19 14:49] cconstab commented on #350
[code]

[2021-10-19 14:59] cconstab commented on #350
More Errors

[code]

[2021-10-19 15:09] cconstab commented on #350
Might have been me just being unlucky and catching the logs files at just the right time.. This is the severe issues over the last 12 hours..

[code]

[2021-10-19 15:12] ksanty opened #351 "Data Migration Analysis"
From @VJag

This task is about coming up with a mechanism to move data from one secondary to another secondary.
i.e If secondary for @bob is hosted on a certain HOST and PORT then this is about moving it to a different HOST and PORT.

[2021-10-19 15:24] cpswan commented on #350
This reads like three different (classes of) error, the latter two being unrelated to certs. I'd suggest splitting into separate tickets so that we can keep track of them with some clarity rather than having potential confusion of trying to track down three different root causes.

The wrong version errors are different from what we saw last week with the expired DST X3 root (and also different to

[2021-10-19 15:32] cconstab commented on #350
Agreed...
I will open another ticket for the oddness in the logs files when using @ buzz

[2021-10-19 15:34] cconstab commented on #350
Lets focus this thread on the certs... This could well be a dess server with old cacerts being presented..  I

[2021-10-19 15:42] cpswan commented on #350
Every secondary should by now have the new cacerts with DST X3 cut out.

[2021-10-19 16:10] athandle commented on #340
@cpswan increased to 9 for now

[2021-10-19 22:16] cconstab opened #352 "@ sign not synching using @ buzz but huge amount of activity on secondary (infra very high load averages)"
**Describe the bug**
@ lostblue64 does not sync using @ buzz

**To Reproduce**
Steps to reproduce the behavior:
1. Get the keys for this @ sign (Demo @ sign)
2. Try using @ buzz
3. Watch the logs and the screen

**Expected behavior**
Should just work

**Screenshots**
See next comment for logs

**Smartphone (please complete the following information):**
 - iPhone

**Were you using an @‎application

[2021-10-19 22:16] cconstab commented on #352
Some logs files...

[code]

[2021-10-19 23:23] xavierchanth opened #353 "CommitEntry is Null when syncing with the secondary"
**Describe the bug**
The CommitEntry is null when syncing with the secondary.

**To Reproduce**
Steps to reproduce the behavior:
1. Share keys to another atsign
2. Wait for sync to happen

Alternatively using [my demo app](https://github.com/XavierChanth/runtime_live/tree/main/episode_002):
1. Launch app and onboard
2. Create list items
3. Use share button on a list item to share to another atsign

[2021-10-20 00:08] cconstab opened #354 "100% CPU at Secondary startup"
**Describe the bug**
Secondary startup causes 100% CPU on startup (Constrained to %25 on docker swarm machine)

**To Reproduce**
Steps to reproduce the behavior:
1.  Start secondary
2. Seems to be tied to the opening/scanning of the log files '|CommitLogKeyStore|Keystore initialized successfully'
3. After this message CPU shoots up
4. Once passed this step things calm down

**Expected behavior**
N

[2021-10-20 00:09] cconstab commented on #354
Max CPU

[code]

The startup stalls here

[code]

[2021-10-20 02:11] cconstab commented on #354
You can look at this effect yourself on the sheepdip machine and the @kryz_9850 @sign.. My code uses atlookup not the atclientmobile code hence it is updating..

tmux will show the CPU via to and the running secondary in the other pane

[code]

[2021-10-20 02:11] cconstab commented on #354
![image](https://user-images.githubusercontent.com/6131216/138016489-5a994891-bca1-4f74-8cbf-8a24cbabd7da.png)

[2021-10-20 04:33] sitaram-kalluri commented on #353
Fixed the issue in [PR-355](https://github.com/atsign-foundation/at_server/pull/355). Merged the changes to trunk branch and published to pub.dev. at_persistence_secondary_server - v.3.0.3 contains the changes

[2021-10-20 08:31] sitaram-kalluri commented on #353
Please use at_client 3.0.4 version in the apps to resolve the issue.

[2021-10-20 13:43] cpswan commented on #340
Closing, as the immediate actions are now completed, and longer term actions continue in other tickets.

[2021-10-20 13:43] #340 closed, assigned to cpswan, cconstab, kumarnarendra701, athandle

[2021-10-20 14:00] cconstab commented on #354
From what I am seeing CPU shoots up also on interaction with a client..

[2021-10-20 14:04] murali-shris commented on #346
* setting up DESS environment.

[2021-10-20 14:44] cconstab commented on #354
Production Stats since the upgrade

![image](https://user-images.githubusercontent.com/6131216/138115673-1bda834c-461d-4597-b0ad-a7549735ad82.png)

[2021-10-20 15:05] ksanty opened #357 "New Sync :-1 performance benchmarking"
Duplicate card see #346

[2021-10-20 15:07] #357 closed, assigned to sitaram-kalluri

[2021-10-21 06:01] cconstab commented on #354
Prod is very unhappy with high load average an alarms all day.. Let us know what progress you make!

[2021-10-21 08:57] cpswan opened #358 "Update Dockerfiles to use Dart official image (now that it supports Arm)"
**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
atsigncompany/buildimage itself will be [deprecated](https://github.com/atsign-company/at_dockerfiles/issues/20) and replaced with a simple `FROM dart`

[2021-10-21 11:30] murali-shris commented on #354
![cpu_profile_lazybox](https://user-images.githubusercontent.com/18326522/138268188-26ab3620-8b9b-4a5a-afd9-6f45eb2c7dff.png)
Compaction strategy that we are using in commit log is causing high CPU when there are frequent updates to secondary (file StorageBackendVM in attached pic).
Removing the compaction strategy and allowing hive to use default compaction strategy reduces the CPU .

[2021-10-21 11:50] murali-shris commented on #354
![cpu_lazy_box_with_compaction](https://user-images.githubusercontent.com/18326522/138271297-b0cc1f08-c696-41fd-9601-8a8ec013d0f8.png)
CPU usage with compaction

[2021-10-21 11:51] murali-shris commented on #354
![cpu_lazy_box_no_compaction](https://user-images.githubusercontent.com/18326522/138271364-8372b42a-8adb-413b-9cdc-b4cdab6e036a.png)
CPU usage without compaction

[2021-10-21 11:58] cpswan commented on #354
Thanks @murali-shris

As we're not quite ready for canarying, and as this is affecting the whole prod environment, let's get this released to the whole estate.

[2021-10-21 14:46] ksanty commented on #353
@XavierChanth are you still blocked?

[2021-10-21 15:49] xavierchanth commented on #353
I'm no longer blocked, thanks @kalluriramkumar

[2021-10-21 15:49] #353 closed, assigned to sitaram-kalluri, murali-shris

[2021-10-22 07:00] murali-shris opened #361 "rollback lazybox in prod"
rollback lazybox due to high CPU/memory usage in production

[2021-10-23 00:53] cconstab commented on #354
Things are stable but we need a Canary cage!

Thanks everyone for the new release..

There are still some atsigns that big memory so next step to find out why

[2021-10-23 14:42] kumarnarendra701 commented on #214
@Chris - As per my understanding we need to pass rootServerUrl as env instead of config.yaml. so found a solution to pass env(rootServerUrl=root.atsign.wtf) as runtime in docker-compose on stack deployment but we need some mechanism so that secondaries can use rootServerUrl directly instead of config.yml.

[2021-10-23 15:14] cpswan commented on #214
At first the setting will be in the environment and the config.yaml, but once the environment is in place then we can drop it from config.yaml and have the same build for all places.

The line I gave above would work to update the existing services, but you're right @kumarnarendra701 that we also need to update the template for docker-compose.yaml, and all of the existing service definition files

[2021-10-25 05:35] murali-shris commented on #361
v3.0.6 of server released to prod without lazy box

[2021-10-25 05:35] #361 closed, assigned to sitaram-kalluri, murali-shris

[2021-10-25 09:57] sitaram-kalluri commented on #348
@cconstab: The "Null" in the above logs are expected.

The "Null" beside the regex means the regular expression is not passed to filter the commit log entries while returning the last commit id.

The "Null" in Response bean is place holder that gets populated when an exception/error occurs.

[2021-10-25 14:17] cconstab commented on #348
Thank you..

[2021-10-26 06:21] murali-shris opened #364 "commit log improvements on server to reduce memory usage - prod release"
analysis on improvements
https://docs.google.com/spreadsheets/d/1leQi7MecH_cdxFoKECuJ0lskSTn2gxREc9H8DBtbhYk/edit#gid=0

* support for both lazy and non lazy box in persistence layer
* keep only latest entry in commit log if there are multiple updates/deletes on the same key

[2021-10-26 08:46] cpswan commented on #343
Initial script created at https://github.com/cpswan/acme-dns-tiny/tree/cpswan-do-dns, which takes ~8-13s to fetch certs from LetsEncrypt.

LetsEncrypt have agreed to higher rate limits for atsign.zone, which are scheduled for implementation early next week.

[2021-10-26 08:56] cpswan commented on #287
Hornet is now at `Docker version 20.10.9, build c2ea9bc` following recent rebuilds

[2021-10-26 08:56] #287 closed, assigned to kumarnarendra701

[2021-10-26 09:03] cpswan commented on #286
hornet-01:15 are running Ubuntu 20.04.03 after latest rebuild

[2021-10-26 09:03] #286 closed, assigned to kumarnarendra701

[2021-10-26 12:50] cpswan commented on #343
Script is now also working with ZeroSSL ACME interface (v2 DV90)

@kumarnarendra701 my next step is to refactor the script to have minimal inputs (probably just the FQDN of the certificate we want). What files (and filenames) should it output?

If I look in an existing secondary I see:
* cert.pem
* chain.pem
* fullchain.pem
* privkey.pem
* cacert.pem
* FQDN.csr
* FQDN.name
* FQDN.resp
* FQDN.vald

[2021-10-26 14:16] murali-shris commented on #364
* made code changes to support normal box and lazy box in persistence layer. Addressing review comments

[2021-10-26 19:22] cconstab opened #367 "@ secondaries in DEV/Buzz are broken and not sure why"
**Describe the bug**
These two secondaries will not spin up

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the secondary
2. Watch the logs

**Expected behavior**
Should spin up without errors

[2021-10-27 09:13] sitaram-kalluri commented on #348
@cconstab: The issue is resolved. Can you please verify and close the issue?

[2021-10-27 15:00] sitaram-kalluri opened #368 "Migration script to remove the non owned keys from the atsign."
**Is your feature request related to a problem? Please describe.**
At the moment, In few of the atsign's the keys owned by another atsign's are stored. Ideally keys that are not owned by another atsign should not be stored.

For Example: @ bob cannot store the keys that are owned to @ alice.

**Describe the solution you'd like**
Develop a migration script that deletes the keys that are not owned b

[2021-10-28 08:42] cpswan opened #369 "Production secondary @highvibes failing to start due to Hive errors"
**Describe the bug**

Secondary fails to start, and is in a constant restart loop.

Here's a log snippet:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Log onto hornet-01
2. `sudo docker service logs -f f55be665-adcb-5487-ab50-cfb5c45bf1df_secondary`

**Expected behavior**
Secondary starts up normally

**Additional context**
Monitoring started to report problems at 0601 UTC 28 Oct

[2021-10-28 12:23] murali-shris commented on #369
@cpswan a bunch of users have  reported the same issue
https://github.com/hivedb/hive/issues/263
Some have tried workarounds when hive errors while opening the box.

I tried the below steps in my local to replicate the sequence of changes that we did on prod
1. open normal hive box (in memory) with compaction strategy+encryption. run some updates and deletes
2. open the same box as Lazy with compa

[2021-10-28 12:33] cpswan commented on #369
Thanks @murali-shris I'll grab that zip for you.

[2021-10-28 12:41] cpswan commented on #369
@murali-shris https://drive.google.com/file/d/1FMFLU1yGehUzZ3RkzfSLJCR9yaSwE5f2/view?usp=sharing

[2021-10-28 13:25] cpswan commented on #369
@cconstab just for completeness I tried scaling memory to 300M, but that doesn't help

I've turned it down to 0/0 for now, as it's not serviceable anyway

[2021-10-28 14:23] murali-shris commented on #364
* fixed unit test issues in presistence and server
* made changes to compact commit log. Testing in progress

[2021-10-28 16:33] murali-shris commented on #369
@cpswan link to the fixed hive box
https://drive.google.com/drive/u/1/folders/1ae92X1S-mu01VcHk9LQwjwwWGv2zRe0j

[2021-10-28 17:03] cpswan commented on #369
@murali-shris I'm going to close this issue, but can you please document how you resolved the storage corruption

[2021-10-28 17:03] #369 closed, assigned to sitaram-kalluri, murali-shris

[2021-10-30 22:29] cconstab opened #370 "Secondary not able to start up with Box errors..."
**Describe the bug**
Secondary @determinedkitesurfing (2546) for the moment secondary is set to down and off the air...

**To Reproduce**
Steps to reproduce the behavior:
1 Unknown how this happens but needs investigation

**Expected behavior**
Secondary not to fail in this way.

**Bug logs **

below..

**Additional context**
Add any other context about the problem here.

[2021-10-30 22:29] cconstab commented on #370
[code]

[2021-10-31 17:41] murali-shris commented on #364
* server testing is good
* at client changes pending

[2021-11-01 13:18] murali-shris commented on #364
server changes merged to trunk

[2021-11-01 16:05] cpswan opened #371 "Create canary cluster in production"
**Describe the solution you'd like**
A new Docker Swarm cluster on GCP that can be used for canary testing builds prior to full production release.

**Describe alternatives you've considered**
We could configure a subset of the existing prod cluster to use a canary image

[2021-11-01 17:04] cpswan opened #373 "Automate node expansion for Docker Swarms"
**Describe the solution you'd like**
Script (Terraform?) to stand up additional nodes in GCP

[2021-11-01 17:14] cpswan opened #374 "Investigate use of Melos for dependency overrides"
**Describe the solution you'd like**
See if [Melos](https://github.com/invertase/melos) can help us (and maybe replace our Python scripts)

[2021-11-02 08:01] kumarnarendra701 commented on #214
@cpswan - Performed testing on passing root URL to compose file and container.

**cat docker-compose.yml**

[code]

Stack Deploy command -
**env root_base_url='root.atsign.wtf'** docker stack deploy  --compose-file docker-compose.yml narendra-test-env  --with-registry-auth

**Docker Service Inspect -**
[code]

[2021-11-02 08:10] murali-shris opened #375 "Notification expiry"
- [ ] Compact notification keystore
- [x] Design **PR24**
- [ ] Implementation **PR25**

[2021-11-02 08:12] murali-shris commented on #328
Please include this stats as well
Expose Health of compaction jobs

[2021-11-02 12:59] cpswan commented on #214
Thanks @kumarnarendra701

Can you update your test to use the `:prod` image and confirm that it's still connecting to the staging root.

[2021-11-02 14:55] cconstab commented on #348
Looks good after fix thank you.. Not seeing the problem any more

[2021-11-02 14:55] #348 closed, assigned to cpswan, nickelskevin, sitaram-kalluri, murali-shris, VJag

[2021-11-02 15:03] cconstab opened #376 "Document New Improved PKAM authentication"
PKAM could be made stronger - Colin to document...

For implementation in future sprint.

[2021-11-03 09:51] cpswan opened #377 "HiveError on @daily3bossanova"
**Describe the bug**

[code]

**Additional context**

First reported by monitoring at 0930UTC 3 Nov 2021

[2021-11-03 10:55] murali-shris commented on #377
fixed and uploaded the recovered box in gdrive

[2021-11-03 10:59] cpswan commented on #377
secondary is back up

[2021-11-03 11:04] cpswan commented on #370
Secondary is back online

[2021-11-03 11:04] #370 closed, assigned to sitaram-kalluri, murali-shris

[2021-11-03 13:08] cpswan commented on #377
Reopening this for philosophical75

@murali-shris I've shared the storage directory with you

[2021-11-03 14:44] cpswan commented on #377
philosophical75 secondary is back up

[2021-11-03 14:44] #377 closed, assigned to murali-shris

[2021-11-03 15:48] murali-shris opened #378 "hive corrupt box analysis and root cause"
- [x] analyse hive corrupt box issue happening on production
- [ ] figure out root cause(any data pattern causing the issue or code related to hive openbox/compaction)
- [x] functional tests to cover multi threaded writes

[2021-11-06 00:49] Salakar commented on #374
👋 melos maintainer here, let me know if there's anything I can help with or any questions I can answer. Thanks

[2021-11-06 01:53] cconstab opened #379 "TTB Metadata persists even after updating the key with a TTL"
**Describe the bug**

A key set with a TTB has to be deleted before a TTL can be set.. Sample below the updated key is still only visible after 60seconds

**To Reproduce**
Steps to reproduce the behavior:
1. Create a key with a TTB and then update that key with a TTL
2. The TTB persists and you have to delete the key and then set the TTL
3. Looks like a secondary code problem as the atClient sends

[2021-11-07 07:40] kumarnarendra701 commented on #214
@cpswan -
I have modified the image with prod and setup "root_server.url" variable as env.
**Steps 1**
"
services:
  secondary:
    image: reg.buzz.do-sf2.atsign.zone/atsigncompany/secondary:**prod**
    command: "-a @ATSIGN -p PORT -s ATSECRET"
    environment:
      **- root_server.url=${root_server_url}**

"
**Steps 2**
./create-env narendra-test54-env 34454 176c4fb8-1525-test54-83ac-58569691e1

[2021-11-07 09:34] cpswan commented on #214
@kumarnarendra701 the env variable should be called `rootServerUrl` (per the opening comment on this ticket)

[2021-11-07 18:16] kumarnarendra701 commented on #214
@cpswan
**# docker inspect f84de053a975**
            "Env": [
                "rootServerUrl=root.atsign.wtf",
                "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
            ],

**# docker logs -f  f84de053a975**

INFO|2021-11-07 18:11:59.528748|AtSecondaryServer|signing keypair generated

FINEST|2021-11-07 18:11:59.529205|AtRefreshJob|scheduleKeyRefreshTask runs

[2021-11-08 09:38] murali-shris commented on #378
analysis so far
* went through hive implementation to check how recovery is happening. Hive  marks a byte until which data can be read. Rest of the corrupt data is getting truncated.
* went through the past commits since hive lazy box push to prod(approx 30 days), to see whether any multiple writes (possible cause of corrupted box) happen at the same time to hive box. No anomalies found yet on thi

[2021-11-08 15:58] CynthiaPeter commented on #247
Hello Kim,

If you have the time, let me know what needs to be done here.

[2021-11-08 16:00] ksanty commented on #247
@CynthiaPeter nothing for this ticket.  This is just an overview of all the sections I reviewed and created tickets for.  Make sense?  It's more of a place marker to check off everything we reviewed across all the libraries and repos.

[2021-11-09 10:20] purnimavenkatasubbu opened #381 "lookup fails with the key not found exception"
**Describe the bug**
lookup verb fails with the key not found exception

**To Reproduce**
Steps to reproduce the behavior:
1. First start the server
2. Then connect to the server using openssl
3. And then from atsign A create akey for atsign B
@ alice@update:@ purnima:role@ alice developer
data:14

4. Now from the atsign B, Do a lookup as follows

@ purnima@scan:@ alice
data:["role@ alice"]
@ purn

[2021-11-09 10:31] purnimavenkatasubbu opened #382 "notification fails with the key not found exception"
**Describe the bug**
notification for message type text fails with key not found exception

**To Reproduce**
Steps to reproduce the behavior:
1. First start 2 server. Say @ bob and @ murali
2. Then from @ bob send a notification to murali and check the notification status as follows

@ bob@notify:update:messageType:key:@ murali:pincode@ bob:123901
data:ad84bf64-2466-4dc1-ab1a-8e0e8650e731
@ bob@no

[2021-11-09 11:36] purnimavenkatasubbu commented on #381
Re-tested this issue with the bug fixes. Issue is resolved now.

update:@ alice:location@ bob Hyderabad
data:2

lookup:location@ bob
data:Hyderabad

[2021-11-09 11:36] #381 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-11-09 11:40] purnimavenkatasubbu commented on #382
Re-tested the issue with the bug fixes. Issue is resolved now.

notify:all:update:messageType:key:@ alice,@ sitaram,@ murali:phone@ bob:91212121212
data: {"@ alice":"09cf1705-26da-46de-9656-6895c7ec0abc","@ sitaram":"df410e20-8a01-48af-9053-ca5538c8ca7f","@ murali":"5ab5d279-dd66-4898-939a-0014dd344e1c"}
@ bob@notify:status:09cf1705-26da-46de-9656-6895c7ec0abc
data:delivered
@ bob@notify:status:df

[2021-11-09 11:40] #382 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-11-09 15:16] ksanty commented on #379
Feature or bug @VJag will review

[2021-11-09 15:25] cpswan commented on #214
Thanks @kumarnarendra701

Can you please make this change across the buzz swarm and then we're done with this issue

My plan is to continue using the :dev_env tag for staging, but for those images to no longer have a staging root URL.

[2021-11-09 16:29] tinashe404 opened #383 "@tina_she - missing data after hive corruption"
I was told my @ sign suffered a hive corruption issue and recovered. Upon checking, I noticed that most of my wavi content was missing on the directory and in wavi.ng.

That fields are still in the wavi app but if i try to edit and save them they still don't appear on the directory or in wavi.ng.

Video below

https://user-images.githubusercontent.com/69275762/140964619-8b5aa244-5205-4c8b-af92-470

[2021-11-10 09:39] cpswan opened #385 "New root deployment workflow for GCP"
**Describe the solution you'd like**
We previously had a workflow job that deployed the root server to Digital Ocean, but that infrastructure has been moved to GCP.

So we need a new version of that job that targets the GCP infrastructure, but it should only run when we do a release to production, so maybe use a tag rX.Y.Z where **r** is for Root.

**Describe alternatives you've considered**
We co

[2021-11-10 14:56] cpswan commented on #371
Canary VMs have been stood up in the Secondaries project on GCP, but were delayed being connected to NetApp NFS due to issue with billing account (CloudWerx), which is now resolved.

Canary job has been created in at_server workflow, and c3.0.7 pre-release image created.

We must now select a set of secondaries to include in the canary group.

[2021-11-11 11:51] purnimavenkatasubbu opened #387 "plookup for a non existent key fails with format exception"
**Describe the bug**
Doing a plookup of a non-existent key throws format exception

**To Reproduce**
Steps to reproduce the behavior:
1. First start the server
2. Then from say bob's atsign do a plookup for a non- existen key
bob@plookup:random@ alice

**Expected behavior**
It should throw an error as Key not found exception or show as null

**Screenshots**

![Screenshot from 2021-11-11 17-20-08](

[2021-11-11 12:46] cpswan commented on #371
[63 canaries](https://docs.google.com/spreadsheets/d/1tLWA9T1LeenCrXGGugY0eo8sW9YwyKD8oBRMMCFfWhw/edit?usp=sharing) have been defined on the existing Hornet cluster

NetApp volume still isn't reachable from canary-vpc (route is not propagating).

[2021-11-11 15:44] cpswan opened #389 "Version is not being correctly read from pubspec.yaml"
**Describe the bug**

Version is being shown as `null` rather than the correct version from pubspec.yaml

[code]

Same happens on staging:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Pick a secondary
2. Run `sudo docker service logs $SECONDARY | grep version`

**Expected behavior**
The secondary should read its version number from pubspec.yaml

**Additional context**

For staging

[2021-11-12 09:59] murali-shris commented on #378
* analysed internals of hive in reading, writing and compacting data
* requested for hive storage backup  to check which exact key is causing corruption

[2021-11-12 11:54] cpswan commented on #389
@kalluriramkumar has pointed out that this is caused by mounting /atsign rather than /atsign/storage (as we do in dess) meaning that the pubspec.yaml can't be read from /atsign.

#296 was raised to address this issue, and now becomes more of a priority to get fixed.

[2021-11-15 06:26] murali-shris commented on #378
* mutliple open issues in hive repo with the same exception. Many users have faced this issue, but there are no definite steps to replicate the issue. Issue could happen due to multiple threads writing to box or during compaction

[2021-11-15 06:27] murali-shris commented on #364
* changes deployed to canary servers in prod

[2021-11-15 09:23] kumarnarendra701 commented on #214
@cpswan - Implemented on buzz and raised PR for review. Please let me know if any changes are required,
https://github.com/atsign-company/secondaries-scripts/pull/6

[2021-11-15 10:06] athandle commented on #157
Mentioned below is an approach for SSL late binding

1. Generate X no. of SSL and maintain a pool
2. When new activation requests come start secondary and map the SSL
3. After successful activation generate SSL to maintain the pool
4. SSL renewal process will remain the same as it's now, will keep on renewing SSLs if in case they are not used

**Instead of complete re-write, we will break the curr

[2021-11-15 10:21] murali-shris opened #392 "commit log - enhancements"
- [x] commit log compaction runs every 24 hrs.
- [x] reduce the run frequency or consider compacting the log when an entry is added
- [x] QA testing
- [x] publish to pub.dev and release

[2021-11-15 10:33] murali-shris opened #393 "sync enhancement - app updates on initial sync"
- [x] implement analysis from  https://github.com/atsign-foundation/at_client_sdk/issues/320

[2021-11-15 10:51] #358 closed, assigned to nobody

[2021-11-15 11:15] cpswan commented on #157
Sounds like a good plan.

I'd like to use my new Python script for SSL key generation using the ACME interface at LetsEncrypt or ZeroSSL. We can then have failover logic if one of the CAs isn't working.

[2021-11-15 11:16] cpswan commented on #214
@kumarnarendra701 that change is approved

[2021-11-15 12:31] athandle commented on #157
@cpswan sounds good @kumarnarendra701  can you please check Chris script and use it as base line

[2021-11-15 12:42] cpswan commented on #157
@kumarnarendra701 you'll find the ACME script at https://github.com/atsign-foundation/at_virtual_environment/blob/trunk/automation/acme_certs.py

[2021-11-15 13:33] cpswan opened #394 "Blameless post mortem of at_client_sdk issues caused by at_persistence_spec release"
**Describe the bug**

at_client_sdk and at_persistence_secondary_server both depend on at_persistence_spec causing coupling between the packages and their underlying repos.

We need to form a better understanding of the relationship and determine means by which we can avoid breaking tests/builds etc.

**Expected behavior**
We should be able to release the server and client SDK separately. Failing

[2021-11-15 13:38] cpswan opened #395 "Evaluate Flatcar Linux as a replacement for Ubuntu on Docker Swarm Worker nodes"
**Is your feature request related to a problem? Please describe.**

(Re)starting secondaries in an existing Swarm causes new network connections, which results in CPU intensive cloud-init activity in the Ubuntu VMs running on GCP.

**Describe the solution you'd like**

[Flatcar Linux](https://www.flatcar-linux.org/) is a distribution intended to be used for hosting containers, and it should avoid

[2021-11-15 14:23] yahu1031 commented on #328
Face some issues with the windows machine. So setting up a Linux machine and setting up everything necessary for the stats development.

[2021-11-15 15:46] murali-shris commented on #364
v3.0.7 deployed to production

[2021-11-15 15:46] #364 closed, assigned to murali-shris, purnimavenkatasubbu

[2021-11-15 16:06] gkc commented on #378
Hi Murali - you mention "Issue could happen due to multiple threads writing to box or during compaction" - two questions
(1) As I understand it there is no current possibility of multiple concurrent writes to the box during normal operation - is my understanding correct? Is this verified in functional tests?
(2) Are we guarding against concurrent writes when a normal update operation happens to co

[2021-11-15 16:10] gkc commented on #383
See also https://github.com/atsign-foundation/at_server/issues/378

[2021-11-15 16:12] murali-shris commented on #378
@gkc #1 and #2 are not covered in functional tests. Will take this up.

[2021-11-15 16:15] gkc commented on #378
Thanks @murali-shris ... I'm quite interested in this part of the service ... I would like to tackle adding the tests, will be a good opportunity for me to learn about how all of the persistence works.

[2021-11-15 21:57] ksanty commented on #378
@murali-shris love the lists!  One request, can you please use check boxes, so we can report progress against our tasks?  TY so much!

[2021-11-15 21:58] ksanty commented on #389
Linked dependency to issue #296

[2021-11-15 22:07] ksanty commented on #375
Hi all, loving the lists and appreciate them.  Quick reminder to please use the check box, so we can track progress.  TY!!

[2021-11-15 22:11] ksanty commented on #157
@cpswan and @cconstab is the top checklist still accurate?

[2021-11-16 04:02] athandle commented on #157
@ksanty nope, will update soon

[2021-11-16 14:09] cpswan commented on #296
@kumarnarendra701 (CC @athandle) - this is high priority for PR25, but should be straightforward.

First we need to modify the script that creates the docker-compose.yml files for each secondary so that they're mounting:

[code]

NB there should no longer be a need for a volume mount `- "/atsign/config"` as the config dir inside the container is now safely outside the other mount points.

Then I c

[2021-11-16 14:35] yahu1031 commented on #328
Notification count was done. (16-11-2021)
Working on count of keys

[2021-11-16 15:46] gkc commented on #379
Seems like a bug ... @VJag what are next steps with this?

[2021-11-16 15:49] VJag commented on #379
For now not passing the value is not conisdered a reset.

One way to deal with the problem is:

*. Set the TTL/TTB to Zero so that the value will be reset in the server.

or

*. Delete the key and add it again

[2021-11-16 15:52] cconstab commented on #379
I have tried deleting the key and that worked fine.. I have to try setting to Zero.

I either case a sample/example would help here in the documentation

[2021-11-16 15:53] VJag commented on #379
I will take care of adding a sample code for setting/resetting TTL/TTB

[2021-11-17 07:26] murali-shris opened #399 "reduce compaction interval to 1 hr in staging"
override the below config value in staging servers.

prod value:
compactionFrequencyMins: 720

staging value:
compactionFrequencyMins: 60

Secondaries in staging to deploy the changes:
disastrousspacedisco,gorgeouskicking, violetred7ready, colin

[2021-11-17 09:06] kumarnarendra701 commented on #399
@murali-shris - Added ENV for disastrousspacedisco,gorgeouskicking, violetred7ready, colin

#docker inspect aba8f35b8ce4
"Env": [
    "compactionFrequencyMins=60",

Please verify and confirm.

[2021-11-17 09:21] murali-shris commented on #378
@cpswan I have added additional logging to detect which frame is corrupted.
server branch "hive_corruption_logging"
Please deploy to the secondaries - daily3bossanova and philosophical75

[2021-11-17 10:14] cpswan commented on #378
@murali-shris atsigncompany/secondary:hivelog image created from at_server branch hive_corruption_logging and deployed to daily3bossanova and philosophical75

[2021-11-17 12:33] kumarnarendra701 commented on #296
@cpswan - I have created the script that will look for secondary "docker-compose.yml" and check for "/atsign/config" if exist delete it and update the stack.

**Script -**
[code]
**After upgrade -**

[code]
Please review and share your feedback.

[2021-11-17 12:35] kumarnarendra701 commented on #296
Performed testing on below secondaries.
583wrong
parliamentary1taekwondo
correspondingshaokao5

[2021-11-17 13:36] cpswan commented on #296
@kumarnarendra701 the script is missing the most important piece, which is to mount /atsign/storage rather than /atsign

[2021-11-17 15:28] cpswan opened #401 "Large blocks of unicode characters appearing in secondary server logs"
**Describe the bug**

`8fe461b7-9d18-5ccf-9e3b-9ffe4cd09571_secondary.1.m5nuqcyc1cm4@hornet-10    |
8fe461b7-9d18-5ccf-9e3b-9ffe4cd09571_secondary.1.m5nuqcyc1cm4@hornet-10    | FINER|2021-11-14 22:40:56.959041|Secondary_Util|result : {"key":"public:image.wavi@cpswan","data":"힐瓂㒂㤤朔䲀㚂㒀㔀㓀㒟햴㝂䩡螖㒀孰瓔瓊㒀瓊㲄壊㞀㒀㓀㒠㒈瀒㒐㒀㒁㒀㒉瓊㒀㒀䌀㚀㞀㒀㓀㒠㒊㒐㒐㒀㒁㒀㔯䢀擊哊㒀㚀㒂떤㒀㒟핔㢠㒄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐㲈㢄㚂㖁㔀甊哪䒐

[2021-11-17 19:07] yahu1031 commented on #328
Notification stats were modified and done. Need to discuss notifications expiry with @VJag. And the rest 2 were on hold by Jagan. Have done some modifications in other stats too. Here are sample stats [output](https://cdn.sourceb.in/bins/ZePgEFuXI4/0).

### Modified

**Old :** `{"@minnu": "1"}`

**New :** `{@minnu: 1}`

**Old :** `{"signing_publickey@sunny": "4"}`

**New :** `{signing_publickey@su

[2021-11-18 06:52] murali-shris commented on #399
@kumarnarendra701 we are unable to verify the changes in staging since our latest code is not deployed to staging. There is an issue with incorrect docker image deployed to staging.
Below update from Chris:
But on staging I see sha256:b65fecae2a35459caf88c6c3728cb54349c143470155d43406f7e60dac1263b6 for the latest amd64 dev_env on DockerHub but "Image": "reg.buzz.do-sf2.atsign.zone/atsigncompany/se

[2021-11-18 10:41] cpswan commented on #399
@kumarnarendra701 if we modify some (or all) of the staging secondaries to mount /atsign/storage rather than /atsign (per #296) then we'll be able to see the version numbers in logs and clear up whether we're running what we expect to be running.

@murali-shris I can do this now for disastrousspacedisco, gorgeouskicking, violetred7ready, colin if that helps?

[2021-11-18 11:58] cpswan commented on #399
@murali-shris I've redone the mount points for disastrousspacedisco, gorgeouskicking, violetred7ready & colin so that we can see the version number from pubspec.yaml.

The logs from @ colin confirm that we're running the image built by GitHub Actions run [400](https://github.com/atsign-foundation/at_server/actions/runs/1475227692) (the most recent merge from trunk):

[code]

[2021-11-18 12:26] kumarnarendra701 commented on #296
@cpswan  - Please find updated script.
[code]
**docker-compose.yml**
[code]

[2021-11-18 13:49] cpswan commented on #296
@kumarnarendra701 LGTM, though you might want to s/ecound/econd/ (which is right in all the places it needs to be, but wrong everywhere else).

[2021-11-22 08:18] kumarnarendra701 commented on #296
@cpswan - Updated script

[code]

[2021-11-22 08:23] kumarnarendra701 commented on #157
@athandle @cpswan - Please find below updates -
1. Split of the script(Cert generation and secondaries creation) - Completed
2. K8 secrete creation for the new script - Completed
3. K8 Deployment update - Completed.
4. Docker file update for symlink - Completed.

[2021-11-22 10:14] cpswan commented on #296
Thanks @kumarnarendra701 LGTM

Have you also updated the secondary creation script?

[2021-11-22 11:25] kumarnarendra701 commented on #296
@cpswan - I was waiting for the final review, now I'll make changes to the creation script, and also let me should I run the script for stacks migration.

[2021-11-22 11:30] cpswan commented on #296
The first priority is to get the creation script changed. So that we're not creating new secondaries with mounts to /atsign

Once that's done we can remount the existing atsigns, and change their docker-compose files so that they won't get reverted.

As usual, let's do staging first, and once that's done move on to production.

NB there are some secondaries that have already been moved by hand (bu

[2021-11-24 05:44] murali-shris commented on #375
Implementation sub tasks:
- [x] Server changes - TTL support on notify - server changes
- [x] cron changes to delete expired notifications
- [x] notify status changes
- [x] monitor changes
- [x] at client changes
- [x] dev testing, unit and functional tests
- [x] publish packages and merge to trunk
- [x] testing in staging
- [x] release to prod

[2021-11-24 12:37] kumarnarendra701 commented on #296
@cpswan - I have updated the base docker-compose file and create bash script.

[code]
Also, added the below line in the creation script, because we need a storage directory for the mount.
**mkdir -p ../secondaries/$DIR/$UUID/storage**

[2021-11-24 13:16] cpswan commented on #296
Thanks @kumarnarendra701

Can you now please update all the existing secondaries in staging

[2021-11-24 20:48] gkc commented on #378
Re functional tests to cover multi-threaded writes:

I've implemented some simple parallel load tests (four separate Unix processes each running four Isolates generating a mix of Update requests on several hundred keys with string values varying in length from 10 bytes to 110,000 bytes) and have observed that the requests are always handled entirely in sequence at the server - i.e. one request is

[2021-11-24 20:57] gkc commented on #378
Next step on the concurrency hypothesis: extend the test by adding some key expirations and get some expired key deletions happening while under heavy client load. (Expired key deletions will run within the same Isolate when the run triggers - triggered by the Cron package which internally uses Dart Timers)

[2021-11-25 10:28] gkc commented on #378
@murali-shris I was thinking of maybe first trying the above as a unit test where I can exert direct control on the server and maybe more easily force a key deletion to happen concurrently, what do you think?

[2021-11-25 11:10] cpswan commented on #395
Flatcar is now installed on canary-02 and canary-03 using a gcloud script and ignition file that replicates our runbook actions.

Next step is to put some load onto it.

[2021-11-25 11:27] cpswan commented on #371
New canary cluster created with an Ubuntu Leader and Flatcar Workers. NetApp is reachable. Now we need to migrate secondaries.

[2021-11-25 11:27] #371 closed, assigned to cpswan, cconstab, sitaram-kalluri, kumarnarendra701

[2021-11-25 15:02] gkc commented on #378
Having spoken with Jagan - in addition to what's mentioned in previous comment, will also look to test writes concurrent with the hive internal compaction; also forcing server exit during sync, etc

[2021-11-25 16:45] #247 closed, assigned to nobody

[2021-11-25 17:47] ksanty commented on #244
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:00] ksanty commented on #234
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:01] ksanty commented on #226
Hi @murali-shris we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-26 15:23] cpswan commented on #394
There was some good discussion of this in architecture calls, but nothing documented.

However the lessons learned are being swept into ongoing and planned future work, so I'm not sure we need to expend more time on this, and the incident isn't fresh any more.

[2021-11-26 16:46] cpswan opened #411 "Move (some) canary secondaries from hornet to canary"
**Describe the solution you'd like**
Reconfigure ingress so that canaries can be moved to canary cluster

**Describe alternatives you've considered**
We already went with the alternative of having some secondaries configured to use

[2021-11-26 17:01] athandle commented on #411
@cpswan is this for @kumarnarendra701 ? Not sure what I have to do in this

[2021-11-26 17:02] cpswan commented on #411
@athandle we'll have to update a bunch of entries on the root server to make this work.

[2021-11-29 08:12] murali-shris commented on #375
testing and release pending.

[2021-11-29 09:12] murali-shris commented on #399
reduced the compaction interval to 1hr in config file

[2021-11-29 09:12] #399 closed, assigned to kumarnarendra701

[2021-11-29 11:04] sitaram-kalluri commented on #392
Released code to production where the compaction job to run every one hour on commit log and access log.

Further, we have a version where compaction check triggers after every insert into the commit-log. If the criteria is met, compaction runs. The changes are currently in-development. Completed the implementation for commit-log compaction. and following is the PR: https://github.com/atsign-found

[2021-11-29 14:27] cpswan commented on #296
@kumarnarendra701 reports that this has now been done for staging, and I've confirmed with some spot checks.

Changes haven't been applied to prod yet, so needs to be carried over to PR26

[2021-11-29 14:28] cpswan commented on #395
Moving to PR26 for load testing aspect

[2021-11-29 14:29] cpswan commented on #343
Scripts have been passed to @kumarnarendra701 for incorporation into new workflow, but aren't in prod yet. Moving to PR26

[2021-11-29 14:35] cpswan commented on #214
This has now been done

[2021-11-29 14:35] #214 closed, assigned to kumarnarendra701

[2021-11-29 14:36] cpswan commented on #389
Contingent work in #296 isn't complete, so this needs to continue in PR26

[2021-11-29 14:40] cpswan opened #415 "Stop putting staging config into dev_env builds as it's now set in environment"
**Is your feature request related to a problem? Please describe.**
With #214 complete we should be able to use the same Docker image for staging and prod (though we will continue to use different tags)

**Describe the solution you'd like**
Create images without staging config. Those images can then simply be retagged for canary/production use instead of having to be rebuilt.

[2021-11-29 15:12] murali-shris opened #416 "Notification performance benchmarking"
* Notification subsystem benchmarking
* Notify status benchmarking

[2021-11-29 16:14] ksanty commented on #376
https://docs.google.com/document/d/1hp47VLT2ZzrQXonvEGTidEf8rX45bg02OeqDNFKKVYY/edit

[2021-11-29 16:14] ksanty commented on #376
New ticket for follow up agreement

[2021-11-29 16:14] #376 closed, assigned to cconstab

[2021-11-29 16:16] #394 closed, assigned to gkc, cpswan, nickelskevin, cconstab, sitaram-kalluri, murali-shris, VJag, yahu1031

[2021-11-29 16:18] ksanty commented on #157
Need an architecture call discussion. Quicker feedback from @kumarnarendra701 please.

[2021-11-29 17:06] kumarnarendra701 commented on #157
@ksanty @cpswan  - POC of late binding completed with the current script, now working on a new python script to get SSL with failover.

[2021-11-30 16:15] cpswan commented on #351
@VJag can you please add a description to this so that it can be groomed.

[2021-12-01 07:54] murali-shris commented on #339
@purnimavenkatasubbu please retest this issue

[2021-12-01 09:19] purnimavenkatasubbu commented on #339
Retested the issue with the above-mentioned staging atsigns. Adding logs below.

**Atsign 1 : purnima💙 with buzz**

: FINER|2021-12-01 14:43:25.450016|SyncUtil|localCommitId:null
I/flutter (17967): FINER|2021-12-01 14:43:25.451353|SyncUtil|serverCommitId:579
I/flutter (17967): FINER|2021-12-01 14:43:25.452609|SyncUtil|changed entries: 1
I/flutter (17967): INFO|2021-12-01 14:43:25.740264|SyncServic

[2021-12-01 10:31] murali-shris commented on #352
@purnimavenkatasubbu please get the key file for this atsign and re-test

[2021-12-01 10:40] sitaram-kalluri commented on #374
@salakar, thanks very much for the offer to help. I do have a question:

Does Melos support adding the dependent packages from git repositories under dependency overrides in pubspec.yaml?

Our application has 8 packages which are divided among 4 git repositories. When running automated tests in GitHub Actions the changes in the dependent packages need to be propagated into the top level packages.

[2021-12-01 10:43] murali-shris commented on #342
@kalluriramkumar please validate whether this issue is still valid

[2021-12-01 10:45] murali-shris commented on #354
@cconstab can this issue be closed?

[2021-12-01 10:46] murali-shris commented on #341
@cpswan should we recover hive box for this atsign?

[2021-12-01 10:52] murali-shris commented on #294
@kalluriramkumar should we prevent cached keys from appearing in public scan?

[2021-12-01 11:23] cpswan commented on #341
@murali-shris yes, I just sent it to you.

[2021-12-01 11:36] VJag commented on #351
This task is about coming up with a mechanism to move data from one secondary to another secondary.
i.e If secondary for @bob is hosted on a certain HOST and PORT then this is about moving it to a different HOST and PORT.

[2021-12-01 13:29] kumarnarendra701 commented on #296
@cpswan - Updated creation script on prod and migrated 5 secondaries for monitoring if all good for some time then I'll trigger for all stacks.

[2021-12-01 13:50] cpswan commented on #296
@kumarnarendra701 please go ahead with the rest of the secondaries in prod. We know that this change works, and so if we hit issues it will be because of some peculiarity in a given secondary rather than because the overall approach is wrong.

[2021-12-01 15:58] kumarnarendra701 commented on #296
@cpswan - Migration script started on prod
Tmux Session - "tmux attach -t 5".

[2021-12-02 07:20] murali-shris opened #417 "Notification expiry - compact existing notifications and improve compaction strategy"
* strategy to compact existing notifications
* improve compaction strategy eg. 100 notifications and only 1 notification to compact.Skip compaction in this scenario
* for old notifications, compact based on notification creation date

[2021-12-02 11:02] cpswan commented on #341
@murali-shris ran this through his repair tool and it's now back online

[2021-12-02 11:02] #341 closed, assigned to nobody

[2021-12-02 11:14] #415 closed, assigned to cpswan

[2021-12-03 10:06] cpswan commented on #343
@kumarnarendra701 for an example of using the new ACME script with LetsEncrypt as primary and fallback to ZeroSSL take a look at https://github.com/atsign-foundation/at_virtual_environment/blob/trunk/.github/workflows/getcert.yml

[2021-12-03 12:34] gkc opened #421 "Implement cloud secondary logging enhancements"
Implement whatever is agreed in #433

[2021-12-06 05:07] kumarnarendra701 commented on #157
@cpswan -  Modified code to generate SSL on the respective directory and raised PR for that. Please review and share your feedback and also need to understand the renewal process because earlier we had ".vald" file where the expiry timestamp was there and by using that below script take care of the renewal process.
https://github.com/atsign-company/secondaries-scripts/blob/master/cert_ren.sh

[2021-12-06 15:27] cpswan commented on #343
@kumarnarendra701 you asked about having something with the expiry date (to replace what was previously in the .vald file), and I think this can be created with certinfo (or equivalent openssl commands). We need to validate that the cert is good anyway, and part of that validation process can be extracting the expiry date for renewal.

[2021-12-06 15:46] cpswan commented on #296
@kumarnarendra701 has confirmed that the prod remount script has now completed

[2021-12-06 15:46] #296 closed, assigned to cconstab, sitaram-kalluri, murali-shris, kumarnarendra701

[2021-12-06 15:55] cpswan commented on #389
Now fixed by work for #296

[2021-12-06 15:55] #389 closed, assigned to sitaram-kalluri

[2021-12-07 15:22] gkc commented on #379
Is the correct behaviour here that setting a TTL should always clear any existing TTB? And also should we (or do we already) prevent something trying to set both a TTB/TTL at the same time?

[2021-12-07 15:23] purnimavenkatasubbu opened #428 "Staging atsigns are stuck in the activating mode"
**Describe the bug**
Unable to use the staging atsigns as the atsigns in the dashboard remains in the activating state.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the dashboard
2.  Check the status of the atsign.

**Expected behavior**
Atsign state should either be activated.

**Screenshots*
![Screenshot from 2021-12-06 19-57-24](https://user-images.githubusercontent.com/478926

[2021-12-07 18:54] athandle commented on #428
SSL not generating

[2021-12-08 08:49] purnimavenkatasubbu commented on #428
Restarted the atsigns average74crane and disgustedcontinentaljazz again and tried to run the app by pointing to the latest code of at_client and at_client_mobile. I was able to authenticate to the apps. But the activating issue with the remaining atsigns still exists

[2021-12-09 17:55] kumarnarendra701 commented on #157
@cpswan - Updated code and commented on PR review.
https://github.com/atsign-company/secondaries-scripts/tree/feature/split-ssl/sec-split-ssl

[2021-12-10 11:43] kumarnarendra701 commented on #411
@cpswan - Please confirm what details need to update for which atsign.

[2021-12-10 11:48] cpswan commented on #326
This is being addressed by the work @kumarnarendra701 is doing for #157

[2021-12-10 13:39] cpswan commented on #411
Maybe the best way to explain it is in terms of what stays the same, and what's different:

## Stays the same:

* The /storage and /certs mount points on the hornet NFS - so the existing secondaries will stay where they are in terms of storage, and any new ones can be created on hornet and then moved.

## Different:

* The docker service will run on the canary cluster rather than hornet, so these

[2021-12-13 05:44] sitaram-kalluri commented on #392
[PR-412](https://github.com/atsign-foundation/at_server/pull/412) changes are deployed into canary atsign's

[2021-12-13 05:47] sitaram-kalluri commented on #416
Send 500 and 1,00,000 notifications  from one atsign to another and captures the time take to deliver the notifications. Attaching the link's to CSV:

[notify-500-keys](https://drive.google.com/file/d/1ll-4Awy1gHzOaL9xJPAlrSuBL1f7zBIq/view?usp=sharing)
[notify-1lakh-keys](https://drive.google.com/file/d/1OtMslo4r-k0ZUvFhqGs3l40iK127XFUb/view?usp=sharing)

[2021-12-13 05:58] murali-shris commented on #378
how internal variables of hive move around when frames are read
https://docs.google.com/spreadsheets/d/1uESbDec3v60B6ABLT63yksKA8SEhPzpdi5Hs3au3ayg/edit

[2021-12-13 06:03] murali-shris commented on #378
Proposed hive maintainer for changes in code to handle crash recovery.
https://github.com/hivedb/hive/issues/263
Decision was made to explore hive alternatives for the long run and stop work on this issue.

[2021-12-13 06:03] #378 closed, assigned to gkc, murali-shris

[2021-12-13 09:23] purnimavenkatasubbu commented on #392
Tested the new changes with canary atsigns and came across issues. Attaching the logs and screenshots below.

**jittery5justfriends**

SEVERE|2021-12-13 11:24:22.888746|AtLookup|Error in remote verb execution Exception: unable to connect to secondary
I/flutter (27539): _onSuccessCallback 2021-12-13 11:24:22.903596Sync status: SyncStatus.failure lastSyncedOn: 2021-12-13 05:54:22.903424Z Exception:

[2021-12-13 10:04] murali-shris commented on #375
released to canary servers

[2021-12-13 10:04] #375 closed, assigned to cconstab, sitaram-kalluri, yahu1031

[2021-12-13 10:39] kumarnarendra701 commented on #157
@cpswan - Changes are live on buzz and verified a few SSL/Secondaries creations.

[2021-12-13 11:13] cpswan commented on #157
Almost there with this one. Re-estimating to 2SP for prod changes.

[2021-12-13 11:14] cpswan commented on #343
This is now done in terms of scripting and deployed to staging.

#157 will be used to track work to get it into prod.

[2021-12-13 11:14] #343 closed, assigned to cpswan

[2021-12-13 12:08] sitaram-kalluri commented on #392
The changes are deployed to canary servers, Among the issue mentioned by @purnimavenkatasubbu
1. Decryption failed is because of value being null.
2. The jitter5justfriend atsign crashes during initial sync. Debugged and turned out to be a memory issue. Pulled the hive storage directory to local and sync works fine,.

[2021-12-13 12:08] #392 closed, assigned to sitaram-kalluri, murali-shris, purnimavenkatasubbu

[2021-12-13 12:12] purnimavenkatasubbu opened #431 "Server commit Id being null for @ jittery5justfriends atsign"
**Describe the bug**
After initial authentication, The server commit id being return is null

**To Reproduce**
Steps to reproduce the behavior:
1. First I installed the buzz app
2. Then onboarded using the @ jittery5justfriends atsign
3. And then check the logs for the server commit id

**Expected behavior**
Server commit id should not be null

**Screenshots**

![Screenshot from 2021-12-13 13-13-4

[2021-12-13 12:18] purnimavenkatasubbu opened #432 "Unable to get into the wavi app with the canary atsigns"
**Describe the bug**
After authenticating into the wavi app, Unable to perform any action. An error message as "something went wrong" or the Edit icon being missed.

**To Reproduce**
Steps to reproduce the behavior:
1. First I authenticate to the wavi app
2. Then check the dashboard

**Expected behavior**
Edit icon and the list of authenticated atsigns should be displayed.

**Screenshots**
![16393

[2021-12-13 12:51] gkc commented on #421
@cconstab confirmed that right now the logging is out-of-the-box configured. As a suggestion for improving some operational aspects we could switch to using https://docs.docker.com/config/containers/logging/gcplogs/

[2021-12-13 13:06] gkc opened #433 "Design cloud secondary logging enhancements"
**Is your feature request related to a problem? Please describe.**
* Logging and privacy - we need to ensure we are not logging anything that is privacy-impacting (including keys for example) - unless it is operationally ***essential***
* Logging, metrics and operability - we need to design (1) what metrics we need for operational purposes - for example, we'd like to know in a given window for a g

[2021-12-13 13:21] gkc opened #434 "Have operational awareness of when individual secondaries are frequently restarting"
**Is your feature request related to a problem? Please describe.**
We don't have an easy way of finding out when individual secondaries are frequently restarting which in turn is likely to be masking real problems that need to be investigated.

**Describe the solution you'd like**
A chat message appears saying something like, "Secondary for <atsign> (<port>) has restarted <N> times in the past <M>

[2021-12-13 14:10] cpswan opened #435 "Shepherd for canaries"
**Is your feature request related to a problem? Please describe.**
At the moment canary updates aren't automated via Shepherd

**Describe the solution you'd like**
Configure Shepherd to monitor for new :canary images and update the subset of secondaries using them

[2021-12-13 15:06] cconstab opened #436 "Document existing Registrar/Infra and Next Gen Registrar"
Lead: @cconstab (please update if labeled incorrectly)

Existing registrar has not been looked at for a while but we know it is fragile and will not scale to multiple registrars and 100's of millions of @signs.
 As we move into IOT we need to be able to scale.

- [ ] Document existing system @athandle
- [ ] Document ideas on next gen Registrar @cconstab
- [ ] Create new ticket to implement once do

[2021-12-13 15:35] athandle commented on #436
@cconstab as of now system is not designed to handle multiple registrars. Can we document what is expected from other registrars like what will be pricing for atsigns, @ company will give licenses, how @ company will get money from other registrars

[2021-12-13 15:39] gkc opened #437 "Spike IPFS"
Investigate IPFS

[2021-12-13 15:42] murali-shris commented on #393
Initial sync will be handled in
https://github.com/atsign-foundation/at_widgets/issues/186

[2021-12-13 15:42] #393 closed, assigned to sitaram-kalluri, murali-shris

[2021-12-13 15:45] #194 closed, assigned to nobody

[2021-12-13 16:08] gkc commented on #433
@cconstab confirmed that right now the logging is out-of-the-box configured. As a suggestion for improving some operational aspects we could switch to using https://docs.docker.com/config/containers/logging/gcplogs/

[2021-12-13 16:25] athandle commented on #428
secondaries are working fine now, let me know if you still face any issues

[2021-12-13 22:28] ksanty commented on #434
@gkc I put you on this issue card.  Please update if I got it wrong.  :)

[2021-12-14 06:34] purnimavenkatasubbu commented on #428
Now the staging atsigns are working.

[2021-12-14 06:34] #428 closed, assigned to purnimavenkatasubbu

[2021-12-14 15:22] athandle opened #439 "API new status request"
Problem statement: When the secondary is creating or in unhealthy state registrar always shows Activating
We have mentioned below code with status API (https://wavi.ng/status/atsign)
418 - secondary created
200 - Activated
500 - secondary not created

Solution: Show unhealthy state when secondary is unhealthy and Activating when it's actually activating
503 - unhealthy . It will be great if API ca

[2021-12-14 16:54] kumarnarendra701 commented on #157
@cpswan
Deployed code on buzz and It seems working fine in buzz. We are planning to go live on prod.
Changes for Prod -
1. Script sync.
2. Node API deployment.

[2021-12-14 19:09] ksanty commented on #437
#428

[2021-12-15 14:33] cpswan commented on #433
Something that we should be aware of is that if we do switch to GCP logs then:

[2021-12-15 15:47] gkc commented on #433
Yes we’ll have to use “gcloud logging read <FILTER>”

[2021-12-15 17:01] athandle opened #441 "Move build deployment to into GitHub Actions from buddy"
![image](https://user-images.githubusercontent.com/61007675/146231056-0e977ebd-eea3-4e47-840d-5862bee743c2.png)

- [x] https://github.com/atsign-company/at_find_api
- [x] https://github.com/atsign-company/at_handle_registrar_web
- [x] https://github.com/atsign-company/infrastructure_api
- [x] https://github.com/atsign-company/registrar_node
- [x] https://github.com/atsign-company/infrastructure_ro

[2021-12-17 06:20] murali-shris opened #443 "fix hive corruption for confidentialnerdcore"

[2021-12-17 10:52] murali-shris commented on #443
box recovered and secondary restarted

[2021-12-17 10:52] #443 closed, assigned to murali-shris

[2021-12-18 00:10] Salakar commented on #374
Sorry I missed your reply. It currently does not support defining global dependency overrides and it only overrides for packages that exist within the workspace (there's also a PR in progress that allows symlinks too), e.g. if package `a` exists in the workspace then all other packages in the workspace that depend on `a` will get an override.

It should be a relatively trivial feature to add thoug

[2021-12-19 17:19] kumarnarendra701 commented on #157
@cpswan -
1. Script and Node API deployed on production.
2. Letsencrypt SSL failure alert configured on Buzz and prod.
@athandle - Please let me know once you are done with testing will make it a new script primary.

[2021-12-20 09:34] purnimavenkatasubbu commented on #432
Re-tested the issue with the latest at_client: 3.1.3 & at_client_mobile: 3.0.7, With the 17robust atsign. I was able to get into the app. But with the other atsign, bluegreen129slow and jittery5justfriends the issue still exists.

SEVERE|2021-12-20 14:59:16.727327|AtMeService|Fetching @ bluegreen129slow throws Exception: public:_latestnotificationid.wavi@bluegreen129slow does not exist in keystore

[2021-12-21 01:36] cconstab opened #446 "Something puts load on every secondary at the same time every 10 minutes"
**Describe the bug**
Something puts load on every secondary at the same time every 10 minutes.. Not causing substantial issues as yet but will overtime..

**To Reproduce**
Steps to reproduce the behavior:
1. Look at patterns in the secondary infrastructure
2.

**Expected behavior**
Load should be spread across time and not every x minutes randomness needs to be introduced if possible. Sometimes it

[2021-12-21 01:36] cconstab commented on #446
This is not the testing scripts as they run every 15mins via cron

[2021-12-21 07:34] purnimavenkatasubbu commented on #222
Added dart docs and raised PR #444

[2021-12-21 12:50] yahu1031 commented on #432
For `privatekey:self_encryption_key` Key, The value is being null. Not sure why. Checking on it.

[2021-12-21 13:24] yahu1031 commented on #432
It is an issue with the app get method in [`sdk_service.dart line#86`](https://github.com/atsign-company/at_settings/blob/master/lib/services/sdk_service.dart#L85). That must be handled with try-catch.

[code]
something similar to this.

[2021-12-21 13:45] yahu1031 commented on #432
Looks like we were having issues with getting values from keys for a very long time. As we already know there will be some failures in getting values, wrapping up the logic with try-catch will avoid it.

**Additional Info:**
Tested with `@judicialabseiling` and `@bluegreen129slow` atsigns and it was handled correctly.

[2021-12-21 14:45] purnimavenkatasubbu commented on #432
Tested the issue with the latest fix. Now the issue is resolved and I'm able to get into the wavi app successfully.
![Screenshot_20211221-201339](https://user-images.githubusercontent.com/43639593/146948825-4362ee4c-9f02-48a1-a129-7f471edd0172.jpg)

https://user-images.githubusercontent.com/43639593/147537944-c7b6e333-f8e2-450b-8262-6a1851735dcf.mp4

[2021-12-21 16:40] murali-shris commented on #432
@purnimavenkatasubbu please verify and close this issue after app is released to test flight/playstore

[2021-12-21 22:10] ksanty opened #447 "Unlist Pub.dev Packages"

[2021-12-21 22:18] ksanty opened #448 "Unlist at_persistence_spec on Pub.dev"
Unlist the following packages ~ @nickelskevin to provide further details

- [ ] at_persistence_spec

[2021-12-21 22:19] ksanty opened #449 "Unlist at_persistence_secondary_server on Pub.dev"
Unlist the following packages ~ @nickelskevin to provide further details

- [ ] at_persistence_secondary_server

[2021-12-21 22:20] ksanty opened #450 "Unlist at_server_spec on Pub.dev"
Unlist the following packages ~ @nickelskevin to provide further details

- [ ] at_server_spec

[2021-12-25 08:25] athandle commented on #411
@cpswan do we need API to update the root entry or we need UI also?
uuid.domain:port is the current entry
Mentioned below are 4 parameters that are required
{
               atsign:${atsign},
               uuid:${uuid},
               domain:${domain},
               port:${port}
            }

[2021-12-25 08:51] cpswan commented on #411
At this stage just the API, as I'd expect that we'll be using scripts to make the moves

[2021-12-26 01:46] cconstab opened #451 "Unable to login or setup a new device with @ai6bh"
**Describe the bug**
New device is unable to check @sign and yet it is up and replies to scans. Existing devices cannot connect either

**To Reproduce**
Steps to reproduce the behavior:
1. Connect with CATWEB or any other @ app
2. Then look at log files and screen

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

Log files
[code]

**Smartphone

[2021-12-26 19:13] cconstab commented on #451
So this is the certificate not any keys.. The cert did not renew and is timed out as of the 24th Dec.. Are there anmy more ???

Colin

[code]

[2021-12-27 09:24] murali-shris commented on #417
PR for compacting old notifications
https://github.com/atsign-foundation/at_server/pull/442/files

[2021-12-28 06:59] purnimavenkatasubbu commented on #431
The above issue doesn't occur after upgrading storage to 100M. Now I'm able to log in to the app with jittery5justfriends and can do all the operations successfully without any issues.

https://user-images.githubusercontent.com/43639593/147537830-5e72f1c5-9b9a-4694-8e38-d42632595a68.mp4

https://user-images.githubusercontent.com/43639593/147537809-0d69b96c-2994-438d-a6c3-2feadeb0fcce.mp4

[2021-12-28 06:59] #431 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-12-28 07:06] cconstab commented on #451
This was an error with certificates.. Narendra fixed.. Needs documentation of cert renewal process..

[2021-12-28 07:09] cconstab opened #452 "Of the 1 these are the first few effected @signs, @jetskiracinghistoric1 (3493),"
**Describe the bug**
This atsign is having  an issue with Keys/Hivedb
**To Reproduce**
Steps to reproduce the behavior:
Issue is on production Hornet cluster

**Expected behavior**
run without errors

**Screenshots**
[code]

[2021-12-28 07:11] cconstab commented on #452
The secondary for the moment is turned down so we do not get errors every 15 mins reported..

`docker service scale 099b3387-7c74-5c1a-a0d3-25d834489bac_secondary=0`

[2021-12-28 09:04] sitaram-kalluri commented on #379
@gkc : At the moment, TTL and TTB are not mutual exclusive. For a same key if TTB and TTL are set, the key is available when TTB is met and expires after the time mentioned in TTL.
Also we have a way to reset the TTB in metadata. Setting to 0 would make the key available immediately. However this requires a minor code change (Modify IF condition that checks the TTB value) which are done in local a

[2021-12-28 09:36] athandle commented on #451
SSL renewed
@cconstab  can we close this?

[2021-12-28 10:21] #432 closed, assigned to yahu1031, srieteja

[2022-01-02 17:11] kumarnarendra701 commented on #451
@cconstab - Somehow new cronjob was not there on root user crontab but now I have added cronjob for renewal.
On Prod -
08 07 * * * cd /gluster/@/api/ && /gluster/@/api/cert_ren.sh

[2022-01-02 17:34] athandle opened #454 "Fix root k8 renewal cronjob"
Lead: @athandle

Earlier we have Cronjob on DO and with help of LB routing we had directed 80 port for the renewal of cronjob but we had to restore DO backup to GKE and cronjob not working because 80 port is not redirecting to the renewal pod.

[2022-01-02 17:38] kumarnarendra701 commented on #441
@cpswan - I have created a GitHub action workflow for the infra_api dev branch. Please review and share your feedback.
Repo - https://github.com/atsign-company/infrastructure_api/blob/dev/.github/workflows/infra_api_dev.yml

Need your input for the production k8 cluster. Actually, we have IP's bassed restriction k8 cluster i.e "Control plane authorized networks" and earlier we had whitelisted budd

[2022-01-03 08:47] srieteja opened #455 "Writing stats for compaction jobs"
Measure statistics for each compaction job (e.g. duration of compaction, no. of removed keys, etc)
[Parent task](https://github.com/atsign-foundation/at_server/issues/417)

[2022-01-03 14:40] cpswan commented on #157
@kumarnarendra701 @athandle can this ticket be closed now?

[2022-01-03 14:46] cpswan commented on #441
@kumarnarendra701 please create a pull request and make me a reviewer.

We should be using identity (in secrets) rather than IPs for the connections to k8s.

[2022-01-03 14:50] athandle commented on #157
@cpswan Narendra work is almost done, it's just a matter of updating .env but I was holding this ticket as I was waiting for confirmation on
https://github.com/atsign-company/at_handle_registrar_web/issues/239

[2022-01-04 07:10] murali-shris commented on #452
fix hive issue for philosophical75 as well

[2022-01-04 11:57] kumarnarendra701 commented on #441
@cpswan - Raised PR for your review.
https://github.com/atsign-company/infrastructure_api/pull/9

Can you please guide and point me to any reference doc for identity (in secrets) to connect with K8s?

[2022-01-04 13:57] cpswan commented on #441
@kumarnarendra701 here's the [Deploying to Google Kubernetes Engine](https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine) guide for GitHub Actions.

[2022-01-04 14:00] kumarnarendra701 commented on #441
@cpswan - I have followed the same steps and authenticated Dev K8 cluster via "GKE_SA_KEY" but on prod, we have an additional layer of security i.e "Control plane authorized networks".

[2022-01-04 14:13] cpswan commented on #441
@kumarnarendra701 how about using a self hosted runner for the deploy part of the action (per https://suspendfun.com/2020/Continuous-deployment-to-gke-with-github-actions/)?

[2022-01-04 14:18] kumarnarendra701 commented on #441
@cpswan - Yeah, that's is what I mentioned in the first comments to use self-runner for deployment on the private cluster and asked for your input. We will spin up one runner in the same network and connect with GitHub action for deployment.

[2022-01-04 15:15] murali-shris opened #456 "secondaries failing to start with signing_privatekey does not in keystore error"
Exception: @ doom22male:signing_privatekey@ doom22male does not exist in keystore for 4120
Exception: @ 16shinygreenblue:signing_privatekey@ 16shinygreenblue does not exist in keystore for 4197
Exception: @  silentjay:signing_privatekey@ silentjay does not exist in keystore for 1665
Exception: @ 26juststay:signing_privatekey@ 26juststay does not exist in keystore for 2453
Exception: @ newyorkdollh

[2022-01-04 20:07] cconstab opened #458 "The regex in the scan from AtLookupImpl does not result in the right results."
**Describe the bug**
The regex in the scan from AtLookupImpl does not result in the right results.

**To Reproduce**
Steps to reproduce the behavior:
1. This was found in the at_find_api repo with this line of code ` await atLookupImpl.scan(regex: '.(wavi|persona)@', auth: false);`
2. It resulted in the rights keys returning but in addition a key that had no atsign
3. So to reproduce create an ats

[2022-01-05 01:32] cconstab commented on #350
Closing as fix in place and working well

[2022-01-05 01:32] #350 closed, assigned to cpswan, cconstab, sitaram-kalluri, murali-shris

[2022-01-05 06:16] yahu1031 commented on #458
@cconstab Is that only with wavi and persona namespaces? Can you please check and tell us if it happens with any other namespaces.

[2022-01-05 06:30] yahu1031 commented on #458
`custom_recentlyreadbooks` this data is from regex `.persona@`. `.wavi@` has healthy data
[code]
where
[code]

Image
<img width="1667" alt="Screenshot 2022-01-05 at 11 59 52 AM" src="https://user-images.githubusercontent.com/35523357/148170813-c3235cd2-8c8b-48b2-ab9f-ef035d402d41.png">

[2022-01-05 14:03] yahu1031 commented on #458
@cconstab When I tried scanning with the regex `.(wavi|persona)@` i got the list of these keys :
[code]

Then i tried with `.wavi@`, And I got :
[code]
I didn't find those suspicious keys there. And then I tried with `.persona@`, Then I found these :
[code]
### Explanation ###

The keys that we should get with the `.person@` regex scan is **`data:[custom_recentlyreadbooks,1.persona@barbara]`**.

F

[2022-01-05 14:10] cpswan commented on #456
I've turned doom22male into a canary so that it has the fix from #457 but it doesn't result in a secondary that will pass `seccheck` as the scan returns an empty array:

[code]

We still need to figure out how the keys are being deleted, and what can be done to prevent that.

[2022-01-05 15:09] cconstab commented on #458
So what is the answer here ? Do we need to prevent ',' in keys ?

[2022-01-05 15:13] yahu1031 commented on #458
@cconstab The idea I can tell is to avoid all the special chars except `_` in the keys to come over this kind of issue in the future.

[2022-01-05 15:20] purnimavenkatasubbu commented on #222
@cconstab The PR( https://github.com/atsign-foundation/at_server/pull/444) for the above docs has been merged to trunk. Can we close this issue?

[2022-01-05 16:14] yahu1031 commented on #458
Or the other idea is, iterate through the list of keys and return the matched list instead of converting them to string and splitting up with `,`.

[2022-01-05 16:38] yahu1031 commented on #458
I think I got a fix. Can you please verify @cconstab @murali-shris @kalluriramkumar
![image](https://user-images.githubusercontent.com/35523357/148254485-756c67c0-2abf-4edc-9031-af51911a0af0.png)

[2022-01-06 09:57] cpswan commented on #395
This is dependent on #411 being completed.

[2022-01-06 09:59] cpswan commented on #452
jetskiracinghistoric1 and philosophical75 have been restored

[2022-01-06 09:59] #452 closed, assigned to cpswan, sitaram-kalluri, murali-shris, kumarnarendra701

[2022-01-06 10:21] yahu1031 commented on #458
Well, I have tried with `at_find_api` and got this healthy result
[code]
@cconstab

[2022-01-06 10:23] athandle commented on #411
Curl example
Buzz(dev) RootURL: https://root-manager-b.dev.atsign.cloud
Hornet(prod) RootURL: https://root-api.prod.atsign.cloud
ACCESS_TOKEN_SECRET is in .env file of project
curl --location --request POST 'RootURL/api/atsign-infra/create' \
--header 'authorization: ACCESS_TOKEN_SECRET' \
--header 'Content-Type: application/json' \
--data-raw '{"atsign":"atsigntobeupdated", "uuid":"uuidofatsign",

[2022-01-07 02:04] cconstab commented on #124
2.15 is here needs to be tested next!

[2022-01-07 10:36] cpswan commented on #124
2.15 is already in production, as it's been carried along by `FROM dart` in our Dockerfiles

Some quick tests:

If no TLS version is specified then default behaviour is 1.3:

`$ openssl s_client -connect 8fe461b7-9d18-5ccf-9e3b-9ffe4cd09571.hornet.atsign.zone:1912 -ign_eof -brief`

[code]

If we force TLS 1.2 that works fine:

`$ openssl s_client -connect 8fe461b7-9d18-5ccf-9e3b-9ffe4cd09571.horne

[2022-01-07 11:46] cpswan commented on #411
Thanks @athandle

I now have the first secondary relocated.

[2022-01-07 14:28] cpswan commented on #124
A related issue that's still lurking is 3DES support, which is apparently vulnerable to SWEET32 attack:

`$ nmap --script ssl-enum-ciphers -p 1912 8fe461b7-9d18-5ccf-9e3b-9ffe4cd09571.hornet.atsign.zone`

[code]

[2022-01-09 23:22] yahu1031 opened #462 "Key exists but llookup can't find it."
**Describe the bug**
When a bad key was updated, The key content is being changed due to this issue [at_wavi_app-130](https://github.com/atsign-company/at_wavi_app/issues/130).

**To Reproduce**
Steps to reproduce the behavior:
1. Reproduce the above-mentioned issue
2. Then authenticate to your secondary using dess/OpenSSL.
3. Try scanning the keys and search for the weird key you updated.
4. You

[2022-01-10 06:29] murali-shris commented on #222
published version 3.0.2 of server spec containing the updated dart docs

[2022-01-10 07:17] cconstab opened #464 "Spike Multiple PKAMS"
Lead: @kalluriramkumar

Solution needed to provide access to applications without having to hand over the "master key".. Build on the ideas in the PKAM document ready for development in next sprint

- [x] Initial analysis of the issue
- [x] Brainstorm potential solutions
- [x] Come up with a design that we would like to build on

[2022-01-10 07:19] cconstab commented on #464
Solution needed to provide access to applications without having to hand over the "master key".. Build on the ideas in the PKAM document ready for development in next sprint

[2022-01-10 07:20] murali-shris commented on #456
Workaround fix done.
https://github.com/atsign-foundation/at_server/pull/457
Some of these secondaries were reset. But cannot confirm whether there is a bug on server related to key deletion.Needs further investigation

[2022-01-10 07:23] murali-shris commented on #222
@cconstab I am closing the issue.

[2022-01-10 07:23] #222 closed, assigned to murali-shris, VJag, purnimavenkatasubbu

[2022-01-10 07:24] cconstab opened #465 "Spike Use of ALPN, with TLS"
Application Layer Protocol Name - Potentially allows the secondary to reply in more than just the @protocol. Could be very useful for other services on the secondary.
 This also looks like to allow multiple isolates/ threads connecting to a single port allowing significantly better scaling on secondary.

[2022-01-10 12:00] murali-shris commented on #455
duplicate of https://github.com/atsign-foundation/at_server/issues/417

[2022-01-10 12:00] #455 closed, assigned to srieteja

[2022-01-10 14:41] cpswan opened #466 "Pin Dart version number in secondary dockerfile"
**Describe the solution you'd like**
Rather than `FROM dart`, which is implicitly `FROM dart:latest` we should have explicit control of the Dart version we're using e.g. `FROM dart:2.15.1` so that we can intentionally move versions and ensure that version changes are tested standalone from other changes we're making to Trunk that presently carry any upstream SDK changes with them.

**Describe alte

[2022-01-10 15:52] #416 closed, assigned to sitaram-kalluri

[2022-01-10 15:52] gkc commented on #416
@cconstab did you get a chance to look at the benchmarking results?

[2022-01-10 16:44] ksanty commented on #464
@cconstab please add Google doc. TY

[2022-01-10 18:31] gkc commented on #464
Here's the link to the google doc: https://docs.google.com/document/d/1hp47VLT2ZzrQXonvEGTidEf8rX45bg02OeqDNFKKVYY

[2022-01-11 10:44] cpswan opened #467 "Refactor root dockerfile to be similar to secondary"
**Is your feature request related to a problem? Please describe.**
The root dockerfile is presently using 'FROM ubuntu:latest`, which increases size and attack surface area.

**Describe the solution you'd like**
Move to a two stage Docker build that utilises `FROM dart:version` then `FROM scratch`

**Describe alternatives you've considered**
If the root needs more of an OS underneath it then we co

[2022-01-11 20:32] cconstab commented on #124
@cpswan thanks for the testing!

Everything covered as this is now part of the base Dart Language..

[2022-01-11 20:32] #124 closed, assigned to cconstab

[2022-01-12 15:12] #466 closed, assigned to cpswan

[2022-01-13 00:33] cconstab commented on #435
shepherd in place and running on canary cluster

[2022-01-13 00:33] #435 closed, assigned to cpswan, cconstab

[2022-01-13 00:35] cconstab commented on #465
This ticket/spike will be closed as we have proved using ALPN is possible and pretty easy. It could well be useful for example the STREAM verb and providing HTTPS/Proxy/WebSockets etc etc services on a secondary without opening new ports..

Document here:-

https://docs.google.com/document/d/1HscIrb7noCNFywZsYSgdD1meXILUtxrwVmjlHRejvxk/edit#

[2022-01-13 00:35] #465 closed, assigned to cconstab

[2022-01-13 00:43] cconstab commented on #436
Registrar as is document started by @athandle https://docs.google.com/document/d/13vLq_eZ0KBCsTKG0oa_VpGQFGE6UNNh41Q156JaOhVs/edit

[2022-01-13 00:50] cconstab commented on #437
https://docs.google.com/document/d/1DxKa9Ccj5bgwAM_hgavg8wjaSTiW9x4q6L4ZC0gVYwk/edit

IPFS still proves to be immature for general use and no Dart libraries exist..

Document details some ideas/investigation

[2022-01-13 00:50] #437 closed, assigned to gkc, cconstab

[2022-01-13 14:14] athandle commented on #157
@cpswan  this is done on prod, we can close

[2022-01-13 14:17] athandle commented on #441
infrastructure_api moved to github actions

[2022-01-13 15:12] #157 closed, assigned to cconstab, kumarnarendra701, athandle

[2022-01-13 15:20] athandle commented on #326
done as #157 is complete

[2022-01-13 15:20] #326 closed, assigned to kumarnarendra701

[2022-01-13 15:22] kumarnarendra701 commented on #441
@cpswan - Please review and let me know if you see any refactoring.
https://github.com/atsign-company/infrastructure_api/pull/10

[2022-01-14 06:11] kumarnarendra701 commented on #451
@cconstab @cpswan @athandle  - Please check and confirm if we can close this.

[2022-01-14 06:11] kumarnarendra701 commented on #411
@cpswan - Please check and confirm if we can close this ticket.

[2022-01-14 09:07] murali-shris opened #469 "compaction issue with daily3bossanova"
Lead: @murali-shris (please update if labeled incorrectly)

a969e972-fa7d-5b2d-a1f1-ad7675de5c43_secondary.1.kg0rpsvobgz8@hornet-13    |
a969e972-fa7d-5b2d-a1f1-ad7675de5c43_secondary.1.kg0rpsvobgz8@hornet-13    | FINER|2022-01-14 07:00:00.152231|TimeBasedCompaction|Number of entries in Instance of 'AtAccessLog' before size compaction - 21
a969e972-fa7d-5b2d-a1f1-ad7675de5c43_secondary.1.kg0rpsvob

[2022-01-14 10:54] cpswan opened #470 "Docker filling up disks on hornet nodes"
**Describe the bug**
Docker Swarm was scheduling secondaries to hornet-10, but they were failing to come up due to /root being full.

**Expected behavior**
We should have alerts in place to ensure that disks don't get full
Swarm should have a better understanding of the health of the nodes it's trying to schedule to

**Screenshots**

[code]

[code]

**Additional context**
hornet-10-15 were found t

[2022-01-14 10:56] cpswan commented on #470
Resolved for now, but more tickets to follow for better monitoring, alerts, scheduled grooming etc.

[2022-01-14 10:56] #470 closed, assigned to cpswan

[2022-01-14 11:23] cpswan commented on #411
This ticket wasn't just for registry work. I've kept it open whilst developing the script for secondary migration.

I still need to fix certs for the migrated secondaries, and automate how that gets done going forward.

[2022-01-17 13:54] gkc opened #472 "Change default log level for prod secondaries to INFO"
**Describe the bug**
Logging is very verbose by default, and this verbosity has not proven useful in resolving issues in the past

**Expected behavior**
Logging level should be set to WARN by default in prod secondaries

See also #433 for broader context

[2022-01-17 13:58] gkc commented on #472
@VJag @murali-shris @kalluriramkumar As part of this work I notice that currently, in the secondary config, we have 'debug' and 'trace' options - only one of which is actually used, and neither of which are used as levels by the dart logger package (which uses FINEST, FINER, INFO, WARN etc)

I propose removing both, and adding a LogLevel param to the config instead, setting it to WARN by default,

[2022-01-17 15:06] VJag commented on #472
@gkc I agree.

[2022-01-19 12:37] murali-shris commented on #458
increased estimate to 3SP since @yahu1031 has some review comments to address

[2022-01-20 02:50] cconstab opened #474 "at_onboarding_cli -- An onboarding library for cli/dart code"
Lead: @cconstab

**Is your feature request related to a problem? Please describe.**
Currently we have an onboarding widget for Flutter apps but we do not have the same concept for cli apps. This leaves the developer to code their own that causes all manner of bad results.

**Describe the solution you'd like**
A unified way to

- [x] create/get/use atKeys from the command line.
- [ ] create keys in

[2022-01-20 16:19] cpswan commented on #472
As I just noted in #445 I think INFO should be the default.

[2022-01-21 11:10] gkc commented on #472
Should be able to close when changes in #476 are rolled out

[2022-01-21 14:54] #379 closed, assigned to sitaram-kalluri, VJag, srieteja

[2022-01-21 16:39] cpswan commented on #472
@gkc how about a Canary release?

[2022-01-21 17:53] gkc commented on #472
@cpswan SGTM. Good exercise for me to do it. Can you ping me on chat to let me know the tasks required?

[2022-01-22 16:27] athandle commented on #436
Please use this document and folder for reference
https://drive.google.com/drive/u/1/folders/16CYVtl2P2v2aoGaF8RXQors2ku53zaM7

[2022-01-23 12:00] kumarnarendra701 commented on #441
@cpswan - Raised below PR's for review.
https://github.com/atsign-company/registrar_node/pull/27
https://github.com/atsign-company/infrastructure_root_manager/pull/3

[2022-01-24 07:16] yahu1031 commented on #458
Issue fixed with #461

[2022-01-24 07:46] murali-shris commented on #456
moving this is to backlog..since we don't have a mechanism to check the logs for shutdown secondaries

[2022-01-24 07:47] murali-shris commented on #458
server code released to canary servers

[2022-01-24 07:47] #458 closed, assigned to sitaram-kalluri, murali-shris, yahu1031

[2022-01-24 07:56] murali-shris commented on #472
closing this issue since server code is released to canary

[2022-01-24 07:56] #472 closed, assigned to gkc

[2022-01-24 09:25] cpswan commented on #441
@kumarnarendra701 they're now approved - please merge.

[2022-01-24 10:11] murali-shris commented on #417
server released to canaries

[2022-01-24 10:11] #417 closed, assigned to murali-shris, VJag, srieteja

[2022-01-24 10:13] gkc commented on #458
@murali-shris @yahu1031  Is it possible to verify the fix on a canary @ sign?

[2022-01-24 13:41] gkc opened #482 "Investigate and smooth out load spikes on prod worker nodes"
Lead: @murali-shris

**Describe the bug**
There are periodic large load spikes which correspond with scheduled jobs (compaction, scans, ...) which are straining our worker nodes

**Expected outcome**
* Shared documented understanding of which scheduled jobs are driving load
* Adjusted jobs schedules to spread load ~evenly over time

[2022-01-24 13:53] gkc commented on #346
@kalluriramkumar Old ticket ... can this be closed?

[2022-01-24 14:00] gkc commented on #347
@murali-shris old ticket, can we close it?

[2022-01-24 14:23] gkc commented on #200
@athandle  What is the "shutdown buddy"?

[2022-01-24 14:24] cpswan commented on #200
Overtaken by #441

[2022-01-24 14:24] #200 closed, assigned to nobody

[2022-01-24 14:27] cpswan commented on #411
Scripts now completed for migrating and fixing certs.

@cconstab just waiting on you for https://github.com/atsign-company/secondaries-scripts/pull/11

[2022-01-24 14:27] #411 closed, assigned to cpswan, kumarnarendra701, athandle

[2022-01-24 14:28] cpswan commented on #395
Flatcar nodes are now part of monitoring dashboard.

[2022-01-24 14:28] #395 closed, assigned to cpswan

[2022-01-24 14:29] gkc commented on #368
@kalluriramkumar How serious is this? Do we know how what's causing the issue?

[2022-01-24 14:30] gkc commented on #35
@murali-shris Was there a conclusion reached about way forward for this issue?

[2022-01-24 14:32] gkc commented on #328
@yahu1031 @murali-shris what's latest on this issue?

[2022-01-24 14:34] cpswan opened #483 "Create next production Docker Swarm cluster"
Lead: @cpswan (please update if labeled incorrectly)

**Describe the solution you'd like**
Add a further Docker Swarm cluster. Share knowledge about how it's created.

[2022-01-24 14:36] cpswan opened #484 "Make secondaries scripts work with any domain"
Lead: @cpswan (please update if labeled incorrectly)

**Is your feature request related to a problem? Please describe.**
At present scripts are hard coded to hornet

**Describe the solution you'd like**
Replace hard coding with a /root/.env file that's used by scripts

[2022-01-24 14:38] cpswan opened #485 "Modify registrar to create secondaries on newly added clusters"
Lead: @athandle

**Is your feature request related to a problem? Please describe.**
Secondaries are only created on Hornet at the moment

**Describe the solution you'd like**
As we create new clusters these should be targetable once we determine that existing clusters are full.

[2022-01-24 15:22] gkc commented on #373
Closed following discussion during sprint planning

[2022-01-24 15:22] #373 closed, assigned to gkc, cpswan

[2022-01-24 15:47] cconstab commented on #474
I am very happy to test this for you with live code when you are ready

[2022-01-24 15:52] xavierchanth commented on #474
I'd like to see us using [args](https://pub.dev/packages/args) classes for this cli (and the same for at_cli), so that we can include commands from this cli into at_cli.

[2022-01-24 16:47] athandle commented on #485
@cpswan can I assume we have to shut down old and start using new?
please share domain for buzz and blocked ports

[2022-01-24 17:04] cpswan commented on #485
@athandle For now we won't be adding extra dev/staging clusters, just prod.

I think it is OK to assume that we won't be creating new secondaries in old clusters (and if we need to migrate/rebalance that will happen outside of the provisioning process).

[2022-01-24 17:21] athandle commented on #485
@cpswan  can we test this first on dev as code was written year ago and was never tested. If we don't have that leverage then please confirm.

[2022-01-24 17:27] cpswan commented on #485
@athandle Could we use the Canary cluster to test?

[2022-01-24 17:45] athandle commented on #485
I think yes @kumarnarendra701  can you confirm

[2022-01-24 21:09] cconstab commented on #485
icon for webhook
![canary](https://user-images.githubusercontent.com/6131216/150865271-936f5700-0ee1-4489-b494-f08f0c2342fe.png)

[2022-01-25 03:09] cconstab commented on #124
testing bot connection

[2022-01-25 06:30] srieteja commented on #469
CommitLogKeyStore|**_ CommitID is null for cached:public:firstname.wavi@lentres_**. This is the entry that caused this issue. I have also looked at other cached:public keys and none of them have commitID as null. This is the only occurrence where commitID is null.
![Screenshot from 2022-01-25 11-56-55](https://user-images.githubusercontent.com/50960424/150922818-58339a42-689f-466a-8b9d-ecfbe5de8b6

[2022-01-26 16:28] athandle commented on #485
@cpswan it's not working on dev environment, I will check on prod over weekend

[2022-01-26 16:54] cpswan commented on #485
@athandle I'm not sure what you're saying isn't working. Can you please provide a more detailed description?

[2022-01-27 02:36] cconstab opened #486 "@KRYZ_9850 issues today"
The @KRYZ_9850 secondary that was runs on sheepdip failed today. The machine crashed/became unresponsive and had to be rebooteed.

After the reboot the secondary code was updated and the secondary started again. But after three hours the secondary had not started up. Memory usage was up to 1.6TB and CPU was at 100%.

 On the registrar I deleted the secondary and recreated the secondary on producti

[2022-01-27 02:45] cconstab commented on #486
I have a tmux session still running / starting up the secondary !! Root is not point at iyt at this stage but I would love to know what is going on..

How to get to it below

[code]

[2022-01-27 15:31] athandle commented on #485
@cpswan I tried to check by just updating the domain of canary on dev it didn't work, Once our current hackathons are done and we have some window I will test directly on prod. Hardly 1 minute. Hopefully over the weekend.

Before that, I want to check with Narendra also if he knows any glitches because this code was written a year back and many things changed after that. That's why I was thinking

[2022-01-27 15:49] cpswan commented on #485
@athandle I'd like to understand *why* it's not working? Likely to be naming or permissions, but let's figure it out.

[2022-01-28 03:54] athandle opened #488 "Delete/Notify secondary if people are not using secondary for more than a year"
Request is to Notify people that you are not using secondary and it will be deleted.
NotE: Take a backup of their secondary data so that we can sale them if it's important to them

[2022-01-28 13:15] kumarnarendra701 commented on #441
@cpswan - Please find below PR for at_handle_registrar_web
https://github.com/atsign-company/at_handle_registrar_web/pull/267

[2022-01-28 15:26] gkc opened #491 "Enhance e2e test harnesses for server version interoperability"
Lead: @gkc

**Describe the bug**
https://github.com/atsign-foundation/apps/issues/495 was only detected in canary environment because our e2e tests only test the current server build - i.e. we don't verify interop between latest version and prod version to pick up backwards and forwards compatibility issues

**Expected behavior**
(Simplified summary) In e2e tests (e.g. client 1 connected to server

[2022-01-28 15:35] gkc commented on #491
@ksanty FYI I'm adding this unplanned work into the PR29 sprint as a follow-on from https://github.com/atsign-foundation/apps/issues/495

[2022-01-30 18:08] kumarnarendra701 commented on #485
@athandle - It seems you are trying to generate secondary with "canary.atsign.zone" like UUID.canary.atsign.zone but it will not work because we have Domain variable hardcoded in Shell script and generating SSL and Domain mapping for "buzz.do-sf2.atsign.zone". If our plan is to handle both domains in the script then we need to put conditions for DNS map and SSL creation.
@cpswan - Please share you

[2022-01-31 06:36] murali-shris commented on #482
@cconstab @cpswan Can you please grant me access to the required monitoring dashboards to help me investigate this issue

[2022-01-31 07:11] murali-shris commented on #474
@cconstab
* Should the at_cli widget have the ability to do perform first time onboarding for an atsign ?
i.e do initial cram, generate key pair etc. ?

[2022-01-31 14:55] srieteja commented on #469
Pushed a defensive fix to ignore CommitEntries with commitId equal to null while sorting in https://github.com/atsign-foundation/at_server/pull/493

[2022-02-01 15:15] cpswan commented on #483
swarm0001 has been stood up and shaken down.

new cluster scripts have been enhanced to minimise effort for swarm0002 when we come to that.

[2022-02-01 15:15] #483 closed, assigned to gkc, cpswan

[2022-02-01 15:23] cpswan commented on #485
@kumarnarendra701 I think this has a dependency on #484 I've already started work on that, but I'll make it my priority for the next few days. It will help me out to have a full list of scripts that need to be run.

Part of the work is already in place, namely the `create_cert_md.sh` in `/gluster/@/api`, though I'd like to get that folded back into `create_cert.sh`

[2022-02-01 18:31] athandle opened #495 "at-length not working"
**Describe the bug**
After node upgrade to node:16.13.2-alpine from node:12.2.0
at-length is not working

Linked to https://github.com/atsign-company/at_handle_registrar_web/issues/251

Node 16 is not allowing to execute command, not even on terminal

at-length is binary to check length of atsign generated by mentioned repo
https://github.com/atsign-company/Colin-snippets/blob/master/at-length/bin

[2022-02-02 08:49] murali-shris commented on #482
Two possible causes of CPU spike
* sec check which runs every 15 mins. created inbound connection to secondary and runs scan
* hive expiry check which is a scheduled job on server which runs every 10 mins.This scans every key in hive and checks for expiry

[2022-02-02 15:48] cpswan commented on #495
@athandle how is it not working? Can you please fill out our usual bug report template type stuff so that we have the proper context for what should be happening, what is happening etc.

[2022-02-03 03:25] cconstab opened #501 "A failed lookup hangs the TCP session and this builds up to a DoS on the secondary"
Lead: @cconstab

**Describe the bug**
When using the at_find_api to lookup a value if that value exists everything works. But if that value does not exist sessions to the secondary do not close and eventually the secondary starts rejecting connections (too many sessions)

**To Reproduce**
Steps to reproduce the behavior:
1. make a call to an @sign via the at_find_api to lookup a 'key' that does no

[2022-02-03 11:08] cpswan commented on #484
PR open for multi domain scripts - https://github.com/atsign-company/secondaries-scripts/pull/14

Waiting for @cconstab and @kumarnarendra701 to review

[2022-02-03 11:09] cpswan commented on #485
There are now _md versions of all the key scripts that can be used for testing whilst https://github.com/atsign-company/secondaries-scripts/pull/14 is reviewed.

[2022-02-03 12:06] athandle commented on #495
@cpswan updated

[2022-02-03 13:39] cpswan commented on #495
@athandle what are you doing to start the container and get the shell from the screenshot above?

[2022-02-03 13:56] gkc commented on #495
@athandle also, which version of docker are you running?

[2022-02-03 15:47] kumarnarendra701 commented on #495
@gkc - We are running this container on K8 pods, Actually earlier we were using "FROM node:12.2.0" in Dockerfile and upgraded to "FROM node:16.13.2-alpine" and after this upgrade, this binary is not working. So no changes at the docker daemon version.

Old Dockerfile-
[code]

New Dockerfile -
[code]

[2022-02-03 15:50] athandle commented on #495
@cpswan screenshot is from my local docker

[2022-02-03 16:14] cpswan commented on #495
@athandle I was asking how you got to that screenshot on your local docker. I've tried the obvious stuff, and my container isn't staying up, so even when I get a shell on it the container shuts down before I have a chance to try anything.

[2022-02-03 18:16] athandle commented on #495
@cpswan  I have older version of docker I suppose.
Anyways we were able to resolve the issue, thanks Colin, Gary
I will take help of Narendra to setup Dockerfile
Source: https://github.com/CargoSense/dart_sass/blob/main/README.md#compatibility-with-alpine-linux-mix-sass-default-exited-with-2

Mentioned below are notes from call
uninstall glibc
uninstall glibccompat
//to set env variable, check if

[2022-02-03 18:21] cpswan commented on #495
@athandle or maybe just use node:16-slim if Alpine is problematic

[2022-02-03 18:50] kumarnarendra701 commented on #441
@cconstab @cpswan - Created GitHub action pipeline for "at_find_api" but we need to run a few commands before Docker build. So I tried to find it in Buddy.works variables but it seems variables are encrypted.

Need the below variables -
cp $CONFIG ~/.ssh
cp $PRIVATE_KEY ~/.ssh

Here is the GitHub action file - https://github.com/atsign-company/at_find_api/blob/feature/ci-cd-411/.github/workflows/i

[2022-02-03 21:47] gkc commented on #495
Sage advice from https://medium.com/swlh/alpine-slim-stretch-buster-jessie-bullseye-bookworm-what-are-the-differences-in-docker-62171ed4531d

[2022-02-03 22:33] gkc commented on #501
I'll take this one

[2022-02-04 02:14] cconstab commented on #501
The best way to test this is to follow the instructions on https://atsign.dev/docs/get-started/tryatplatform/

for completeness the code for the JS receiver is here (it polls every two seconds)  https://github.com/cconstab/snackeater/tree/main/lib

the source for the receiver JS is in lib/[receive_your_snack.dart](https://github.com/cconstab/snackeater/blob/main/lib/receive_your_snack.dart)

This

[2022-02-04 08:29] murali-shris commented on #482
merged PR to randomise hive expiry check
https://github.com/atsign-foundation/at_server/pull/497

[2022-02-04 08:35] murali-shris commented on #474
@cconstab @gkc
@srieteja has checked in version 1 of the library
https://github.com/atsign-foundation/at_libraries/tree/at_onboarding_cli
* path of key file is mentioned in config.yaml
* Pkam auth is done and the app can use atlookup from onboarding service to run verbs against secondary

Next steps:
* Read QR code for CRAM auth and perform pkam keypair, encryption keypair etc., Generate and save

[2022-02-04 14:17] gkc commented on #501
The bugs described here have existed for a long time; a combination of load results in going over tipping points re connections which results in cascade of other timeout-related errors

This comment diagnoses the problems resulting from plookup as triggered by launching the Wavi app
(The next comment addresses the problems described in the initial comment above)

Here's the sequence:
* @ colin's W

[2022-02-04 15:17] gkc commented on #501
The other problem (as described in the issue description) is different. In this case, the server is correctly throwing KeyNotFoundException and writing a response; however (by design) it does not close the socket.

So what's different about the key that exists and the key that doesn't?
* server-side : no material difference as best I can tell; a response is written and the socket remains open
* cl

[2022-02-04 15:26] gkc commented on #501
Changing priority to P1 as the issues here are significant and causing problems and will cause more
Adding Blocker label because this will block successful rollout of wavi app
Estimating 5SP as investigations alone this week between Colin, Gary and Jagan have amounted to ~ 1.5 days and the fix will take much the same

[2022-02-04 15:48] gkc commented on #501
@cconstab where will I find the code that lies behind https://wavi.ng/api?atp=snackbarsforever.fourballcorporate9@ai6bh please?

[2022-02-04 21:28] cconstab commented on #501
https://github.com/atsign-company/at_find_api

[2022-02-05 14:19] gkc commented on #501
Moved to this repo as the problems diagnosed to date as part of investigating this issue are in the at_secondary_server codebase. There may be an issue with how at_lookup handles `error:` responses, if so then will create another issue in the at_libraries repo

[2022-02-05 15:25] gkc opened #502 "Improve management of outbound connections from one secondary to others"
**Describe the bug**
* Outbound clients are currently created in two places:
  * OutboundClientManager (in at_secondary_server/lib/src/connection/outbound
  * NotifyConnectionsPool (at_secondary_server/lib/src/notification)

* Both create their own independent OutboundClientPools, and each of those pools is initialized with a 'size' which is configured by at_secondary_config with a default value o

[2022-02-05 15:39] gkc opened #503 "Reduce likelihood of server reaching capacity on inbound connections"
Lead: @gkc

**Describe the bug**
* There is currently some reaping of inbound connections in the at_secondary_server, as follows:
  * When the listener asks InboundConnectionManager to create an inbound connection, the manager checks its 'hasCapacity()' method
  * hasCapacity() will attempt to close all 'inValid' inbound connections - i.e. connections where `_isIdle() || getMetaData().isClosed ||

[2022-02-05 15:40] gkc commented on #502
@cconstab @cpswan @VJag @murali-shris @kalluriramkumar @nickelskevin Interested in any initial comments or thoughts you have on this