[2022-02-05 15:41] gkc commented on #503
@cconstab @cpswan @VJag @murali-shris @kalluriramkumar @nickelskevin Interested in any initial comments or thoughts you have on this

[2022-02-06 02:02] #244 closed, assigned to sitaram-kalluri

[2022-02-06 02:08] #234 closed, assigned to cpswan, sitaram-kalluri, xavierchanth, TylerTrott, anthonyvprakash

[2022-02-06 02:08] #226 closed, assigned to murali-shris

[2022-02-06 20:08] gkc commented on #503
Marked this as P1 since we are seeing issues related to handling of connections in the secondary servers.

[2022-02-07 07:37] VJag commented on #503
- Right now server does not allow connections from a source if it is in the blocked list. However, it does not help us with preventing a DoS attack

* code for this is in InboundConnectionManager

- One way is to have a rate limit for the number of connections a single @sign can take
- Or start with a *(everyone) for the blocked list and allow as we go with the rate limit

[2022-02-07 09:28] sitaram-kalluri commented on #482
Moving the task to next sprint (PR-30) to validate the performance once the changes are deployed.

[2022-02-07 09:33] sitaram-kalluri commented on #469
The changes are pushed to canary servers, Need to verify the fix once the changes are pushed to production servers. Moving to next sprint. 3 SP burned down in PR 29 Core. Adding 2 SP to verify the fix.

[2022-02-07 12:50] sitaram-kalluri commented on #464
Complete task 1 and 2 in PR 29(burn down 8 SP). Re-estimating the task with 5 SP for task-3

[2022-02-07 13:02] gkc commented on #501
Remaining work for PR #504 : Write e2e tests (positive plookip, negative plookup) to verify behaviour. Write unit test to verify timeout behaviour. Estimate 2 SP

Work for other issues uncovered via this ticket will be in #503

[2022-02-07 13:05] gkc commented on #495
@athandle Has the dockerfile been updated, is functionality now working, can this ticket be closed?

[2022-02-07 13:16] gkc commented on #491
No progress in PR29 as some more urgent unplanned work appeared.

[2022-02-07 13:22] gkc commented on #491
What needs to get done in order to allow tests to run in parallel

- Spin up 4 additional secondaries on cicd1 and cicd2
- Add to the e2e setup workflow to have the appropriate dockerfile for each secondary
- Add to the e2e secondaries setup to configure all necessary atSigns on each secondary
- Modify the e2e tests so they can be run with one of three configs
  - against the current two secondari

[2022-02-07 13:56] #495 closed, assigned to cpswan, cconstab, kumarnarendra701

[2022-02-07 15:12] #484 closed, assigned to cpswan, cconstab, kumarnarendra701

[2022-02-07 15:14] athandle commented on #451
@cconstab  can we close this?

[2022-02-07 15:37] cconstab commented on #486
Migrated secondary to Canary.. Not sure what happened...

[2022-02-07 15:41] cconstab commented on #486
Leaving open at priority But the evidence is here for people who would like to look into why..

[2022-02-07 15:46] sitaram-kalluri opened #505 "Enhance the functional tests"
Lead: @gkc

Enhance the functional tests

- [x] Fix the issues and merge the functional tests PR to Trunk https://github.com/atsign-foundation/at_server/pull/245
- [x] pkam between secondaries test
- [x]  Updating same key multiple times #535
- [x]  Multiple keys at the same time #535
- [x] Latency Tests #535
- [x] TTR & Cachebility Tests #535
- [x] Repeated Auth #535
- [x] TTL, TTB tests #535

[2022-02-07 16:33] kumarnarendra701 commented on #441
@cpswan - Can we please help me with an alternative of this and can replace this with another auth like GitHub token. Please share your thoughts.
[code]
GitHub Action file - https://github.com/atsign-company/at_find_api/blob/feature/ci-cd-411/.github/workflows/infra_api_dev.yml

[2022-02-07 19:26] gkc commented on #505
@kalluriramkumar @VJag @murali-shris let's invest some time in scoping this a bit better; we didn't estimate today but I'm going to estimate 5 SP for this for now

[2022-02-08 17:27] kumarnarendra701 commented on #485
@cpswan @cconstab @gkc -Currently, the script makes the connection via SSH to LB and it routes to  Hornet1 to spin up secondaries. So as per my understanding of the below points, I need to work.
1. Integrate new script on Buzz.
2. Change LB backend to new Swarm, so that secondaries can spinup on new swarm (We can make swarm0001-01 as primary and cut new traffic on hornet-01 )
3. Ashish need to set

[2022-02-08 18:04] cpswan commented on #485
s the new multi domain scripts rely on /root/.env to get $DOMAIN you just need to SSH to the $DOMAIN-01 host and run from there. The scripts will pick up $DOMAIN from .env and create certs and config files accordingly.

1. You can certainly try the new scripts on Buzz - just make sure to create the appropriate /root/.env file (there's a template in the repo)
2. I'm not entirely sure what you mean

[2022-02-09 16:45] cpswan commented on #474
For me the MVP of this would be something that takes the atsign and CRAM key (as args) and creates the .atKeys file

[2022-02-10 12:48] kumarnarendra701 commented on #485
@cpswan - Below Updates
1.  New swarm0001 is live and verified by creating/deleting a few test secondaries.
2. Deployed new scripts on buzz and prod.

[2022-02-10 13:08] srieteja commented on #474
As this is a library it might not interact with actual command line args. In the last commit, I have created a class that would store required attributes and which will be passed on to the concerned class. As of now there is functionality to create .atKeysFile but hasn't been tested yet. @cpswan I hope this is equally useful.

[2022-02-10 13:47] cpswan commented on #474
@srieteja perhaps the library needs a minimal CLI wrapper that serves as an example of how to invoke it,

[2022-02-11 09:05] gkc opened #509 "Error code 'forwarding'"
**Describe the bug**
* In the case where a client makes a request to server A, and an exception is thrown in server A because of an error response from server B, we should try to preserve error codes where they make sense in the response to the ultimate client
  * For example: Client calls plookup on Server A; Server A  calls lookup on Server B; server B returns "error:AT0015-Key not found : ..."

[2022-02-11 09:08] gkc commented on #509
@kalluriramkumar As per our discussion. If you want to pick this one up, please assign yourself and go ahead!

[2022-02-11 13:09] purnimavenkatasubbu commented on #387
Verified the bug with the latest branch of trunk.

@ bob@plookup:random@ alice
error:null-null : Request to remote secondary @ alice at vip.ve.atsign.zone:6367 received error response 'error:AT0015-key not found : public:random@ alice does not exist in keystore'

[2022-02-11 13:09] #387 closed, assigned to sitaram-kalluri

[2022-02-13 23:36] gkc opened #514 "Potential bug in outbound_message_listener ?"
**Describe the bug**
At [line 54 in outbound_message_listener.dart](https://github.com/atsign-foundation/at_server/blob/trunk/at_secondary/at_secondary_server/lib/src/connection/outbound/outbound_message_listener.dart#L54) is this code
  `_queue.addFirst(result);`
which adds to the front of the queue instead of the end. This seems wrong, even if normal behaviour is that the queue will only ever ha

[2022-02-13 23:47] gkc commented on #514
PS Same line of code exists in at_lookup's outbound_message_listener

[2022-02-14 00:08] gkc opened #515 "stats verb tests occasionally failing"
**Describe the bug**
From time to time the stats verb tests are failing with mismatched counts. I've included an example below but have seen multiple different tests fail with count mismatches.

**To Reproduce**
* Do a few full test runs immediately after each other

**Additional context**
Here's some relevant output from a test run I just did in which the test `stats verb for id 11 - for messageT

[2022-02-14 09:18] athandle opened #516 "Hornet Delete secondary not working"
**Describe the bug**
After deleting active atsign from registrar, secondary not deleting

**To Reproduce**
Steps to reproduce the behavior:
Use any secondary created before February.
Delete the same
Atsign is deleting from registrar but secondary is still active
**Expected behavior**
Delete secondary

- [x] Handle create secondary with multiple clusters
- [x] Handle delete secondary with multiple

[2022-02-14 09:34] kumarnarendra701 commented on #516
@cpswan @gkc @cconstab @athandle - Earlier I pointed IP of swarm0001 in Node API shell script to create/delete secondaries and when we were trying to delete hornet secondaries it was trying to delete on swarm0001 that's why it was failing. So I modified the shell script to handle both hornet and swarm0001 secondaries creation/deletion.

Below scripts -

**infrastructure-create-sec.sh**

[code]

in

[2022-02-14 10:22] gkc commented on #516
Thanks Narendra

Which GitHub repo are these scripts in?

Cheers

- Gary

Message ID: ***@***.***>

[2022-02-14 11:53] cpswan commented on #516
The `delete` script should be modified to make use of `.env` along similar lines to the other multi domain scripts.

It's then just a question of invoking the script on the correct host, which should probably be done by name rather than `if ... elif ...`. In the `migrate_secondary.sh` script this just does:

[code]

[2022-02-15 15:30] sitaram-kalluri opened #518 "**Blocker**Certificate expiry with latest atsigncompany/virtualenv:dev_env image"
**Describe the bug**
Update the certs in `at_server/at_functional_test/lib/secondary/base/certs` with the latest certs and still seeing the certs expiry issue. This causes the failure of functional tests in at_client_sdk.

[PR](https://github.com/atsign-foundation/at_server/pull/517/files) with which the certs are updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the latest docke

[2022-02-15 16:25] gkc commented on #518
All certs are as they should be for this to work

Most likely a problem with verifying CA not being in the chain that the docker container sees

@cconstab any ideas on how to verify that (& fix it if so)?

[2022-02-15 16:28] gkc commented on #518
The certs in the virtual environment image are the right ones, the image was pushed by https://github.com/atsign-foundation/at_server/actions/runs/1845269611

[2022-02-15 17:41] gkc commented on #518
What I don't understand is why the functional tests are failing in at_client_sdk when they ran successfully in at_server, as the GitHub action builds the virtualenv docker image, and the tests are run against that docker image

[2022-02-15 17:54] gkc commented on #518
OK I've downloaded the LetsEncrypt R3 CA cert
Before adding it to cacert.pem:
[code]

After adding it to cacert.pem:
[code]

Created pull request #519

[2022-02-15 20:47] gkc commented on #518
That PR didn't resolve this problem (although it’s “a” problem and might be a clue)

could it be the problem, except on the client rather than server side maybe? ie client machines not having that cert in their list of CA certs? However ... as I mentioned in a comment earlier, I don’t understand why the at_server functional tests are running ok, but the functional tests in at_client_sdk are not

[2022-02-15 20:56] gkc commented on #518
@cconstab I'm out of ideas & out of steam for today. Maybe you can figure out what's going on here?

@cpswan I'm out Wed morning doing family stuff; if @cconstab hasn't had any luck, can you take a look?

[2022-02-16 05:28] ksanty opened #520 "Update at_persistence_spec"
Update Github documentation for to be unlisted pub.dev package [at_persistence_spec](https://github.com/atsign-foundation/at_libraries/issues/130).

Review [at_persistence_spec](https://github.com/atsign-foundation/at_server/tree/trunk/at_persistence/at_persistence_spec) readme.md, changelog.md and look for standard archetype template updates to make current.  Repo will remain active even though i

[2022-02-16 05:45] ksanty opened #521 "Update at_server_spec"
Update Github documentation for to be [unlisted pub.dev package at_server_spec](https://github.com/atsign-foundation/at_server/issues/450).

Review [at_server_spec](https://github.com/atsign-foundation/at_server/tree/trunk/at_server_spec) readme.md, changelog.md and look for standard archetype template updates to make current.  Repo will remain active even though it will be unlisted on Pub.dev.

-

[2022-02-16 08:05] gkc commented on #518
The problem may be that the GitHub actions runner for at_client_sdk doesn’t have the latest list of root ca certs

* no cert errors for the at_server workflows which are working fine

* works fine on Sitaram's dev machine running 20.0.4

[2022-02-16 10:36] #518 closed, assigned to nobody

[2022-02-16 18:00] gkc commented on #518
Estimated 3SP given combined time spent by Sita, Gary, Colin and Chris

[2022-02-16 19:45] ksanty opened #525 "Update at_persistence_secondary_server"
Update Github documentation for to be [unlisted pub.dev package at_persistence_secondary_server](https://github.com/atsign-foundation/at_server/issues/449).

Review [at_persistence_secondary_server](https://github.com/atsign-foundation/at_server/tree/trunk/at_secondary/at_persistence_secondary_server) readme.md, changelog.md and look for standard archetype template updates to make current.  Repo w

[2022-02-17 09:03] kumarnarendra701 commented on #441
@cpswan @athandle - at_find_api repo migrated to GitHub action. Below are the workflows and updated Dockerfile.
https://github.com/atsign-company/at_find_api/tree/trunk/.github/workflows
https://github.com/atsign-company/at_find_api/blob/trunk/Dockerfile

[2022-02-17 09:21] cpswan commented on #441
Thanks @kumarnarendra701

Please see https://github.com/atsign-company/at_find_api/pull/33 for a final refinement.

And then are we done with this ticket?

[2022-02-18 15:37] cpswan commented on #491
New cicd3,4,5,6 secondaries created (on same VMs as cicd1,2) - just need to create .atKeys for them, and then extract keys for atDemoData.

[2022-02-18 15:45] #515 closed, assigned to VJag, purnimavenkatasubbu

[2022-02-18 15:54] gkc commented on #505
Was a little more than 5SP (across the team) this sprint; expect same again next sprint, maybe more

[2022-02-18 15:55] gkc commented on #485
This has been working for the past week

[2022-02-18 15:55] #485 closed, assigned to kumarnarendra701, athandle

[2022-02-21 04:13] murali-shris commented on #482
@cconstab @cpswan Is this issue still occurring in prod? any work to be done in the upcoming sprint related to load spikes?

[2022-02-21 04:25] VJag commented on #464
We have analyzed various ideas for:

1. How apps can claim ownership of a namespace
2. How an @ app becomes known
3. Potential use of the secondary server for @ company can potentially solve some of the issues related to publishing and exchanging data with the apps.

Conclusions and next steps:

1. An @ app need not prove that it is a genuine @ app
2. @ app's writing to each other namespace is a s

[2022-02-21 04:29] cconstab commented on #482
Will take a look or @cpswan

[2022-02-21 05:47] purnimavenkatasubbu commented on #515
Fixed the failing stats test by verifying whether the notification has been delivered before retrieving the stats verb again.

[2022-02-21 11:58] murali-shris commented on #474
code review, merge and publish pending

[2022-02-21 12:00] #464 closed, assigned to gkc, nickelskevin, cconstab, murali-shris, VJag

[2022-02-21 12:26] kumarnarendra701 commented on #441
@cpswan - Can we close this?

[2022-02-21 12:51] #441 closed, assigned to cpswan, kumarnarendra701

[2022-02-21 12:54] cpswan commented on #482
@murali-shris things are a lot better, but I'm still seeing some hourly spikes, so maybe another scheduled job elsewhere in the secondary?

[2022-02-21 13:44] gkc commented on #503
This still requires me to complete writing the end to end tests. 2SP for the remaining work.

[2022-02-21 13:46] #501 closed, assigned to gkc

[2022-02-21 14:10] gkc opened #530 "Our current sets of end to end and functional tests are not sufficient for our needs"
**Describe the bug**
* At the moment the at_client_sdk functional tests, while increasingly comprehensive, only interact with one secondary server. Meanwhile, the at_server e2e tests (also increasingly comprehensive) do not use the client packages. This leaves two major gaps
  1. We have no true e2e tests i.e. using the client packages against various server builds. (And ideally we would be includ

[2022-02-21 15:19] gkc commented on #530
There is enough work here to fully use all core eng capacity for several sprints. The estimate for any given sprint should reflect how much effort we want to invest rather than trying to estimate how much work there is to do.

[2022-02-21 15:25] cpswan opened #531 "Can't activate dess secondary on staging"
**Describe the bug**
Blocker for #491

Unable to activate a @ cicd3 running on a dess VM:

![image](https://user-images.githubusercontent.com/478926/154982675-9e2c5d85-f0d8-47a5-a488-3b5bddc4050e.png)

In the app logs I see:

[code]

On the server I see:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. First I update `.env` on mwc_demo/flutter/iot_receiver to set `ROOT_DOMAIN=root.ats

[2022-02-21 15:27] gkc commented on #514
The fixes here are trivial but require all tests to be run and possibly some new ones added

[2022-02-21 15:30] murali-shris commented on #514
@gkc we use addFirst and removeFirst..
remove doesn't specifically state whether it removes element from end of the queue. Hence I used addFirst/removeFirst instead of just add/remove.
/// Remove a single instance of [value] from the queue.
  ///
  /// Returns `true` if a value was removed, or `false` if the queue
  /// contained no element equal to [value].
  bool remove(Object? value);

[2022-02-21 15:39] athandle commented on #531
@cpswan I checked entry was done in root, that's what I have control
@murali-shris @kalluriramkumar @sarika01 can you please check this once and let me know if you need my help
@tinashe404  can you please link this with QR code upload not working issue

[2022-02-21 15:45] gkc commented on #514
addFirst adds items to the beginning of the queue
removeFirst removes from the beginning of the queue

So if we add two items, response 1 and response 2, they would actually be
consumed in the order 'response 2' and 'response 1'

Hence I think addFirst is incorrect

addFirst and removeFirst equates to a "Last In, First Out" queue
whereas what we need is a "First in, First Out" queue

[2022-02-21 16:14] gkc commented on #505
There are gaps in functional tests in at_client_sdk and end to end tests in at_server. We need to continue to work to close those gaps. See also [this doc](https://docs.google.com/spreadsheets/d/1cpjRlu81-LBDma6edlHTwvpbI9YQG-berDYaII-0Esw/edit#gid=0) that @purnimavenkatasubbu has created

[2022-02-21 16:21] cconstab commented on #531
I have checked that the QR code contains the right CRAM key and that the secondary (cicd3) also has the right CRAM key..

I set up an app to point to root.atsign.wft and I see the same error in the log as Chris

[code]

To fault find further probably needs a secondary running dart interpreter so we can see more of what is going on..

[2022-02-21 16:34] cconstab commented on #531
Looks to me that CRAM is not working on the atsigncompany/secondary:dess_cicd conatiner..

Using at_tools/at_cram I cannot authenticate even by hand

[code]

Secondary was started correctly using

[code]

[2022-02-21 16:46] cconstab commented on #531
Migrated to prod secondary image and hit same issue..

Next idea to reset HIve boxes and start up secondary

Deleted hive boxes (forces clean CRAM) and success on the command line... Should now work in UI @cpswan to check

[code]

then a openssl and check the cram works

[code]

[2022-02-21 18:16] cpswan commented on #531
Thanks @cconstab clearing down the state worked, though it's worrying that those secondaries were able to get into a state where CRAM wasn't working.

[2022-02-21 18:16] #531 closed, assigned to cpswan, cconstab, murali-shris, athandle

[2022-02-21 18:17] cpswan commented on #491
I now have .atKeys files for cicd3-6, so I'll extract the keys tomorrow for demodata files

[2022-02-22 10:57] murali-shris commented on #514
Got it Gary..Thanks for the clarification

[2022-02-22 22:15] srieteja commented on #474
The latest commit includes code to activate an atsign which is working as expected. @cpswan you can use this to activate your atsigns now.

[2022-02-23 16:36] murali-shris commented on #514
published at_lookup 3.0.10 and at_client 3.0.11 with the fix
server changes merged to trunk

[2022-02-24 10:16] cpswan commented on #474
Thanks @srieteja

Can you please update the README to provide a walk through of how this use case (and others) can be satisfied? Hopefully this is as simple as writing down how you tested the code.

[2022-02-25 11:12] kumarnarendra701 commented on #454
@cpswan @athandle - Need your help on this, Actually, we have one cronjob in K8 to renew SSL for "root.atsign.wtf" but when it migrated to GCP it's not forwarding to port 80.
Service Name - root-ssl-renewal-svc

[2022-02-25 17:47] athandle commented on #454
cc @gkc @cconstab

[2022-02-28 12:59] kumarnarendra701 commented on #516
@cpswan - Made all changes and raised PR for review.
Below changes -
- Created a new svc account and generated JSON file
- Create secret of JSON and mounted in K8 pod
- Activated service account during shell execution
- Trigger gcloud ssh based on Swarm received by the node

PR- https://github.com/atsign-company/secondaries-scripts/pull/18

[2022-03-07 06:01] purnimavenkatasubbu opened #542 "Functional Tests with config change"
**Is your feature request related to a problem? Please describe.**
Add tests for the features that need a server config change.

- [x]  Connection limit test
- [x] Assert behavior of compaction and other scheduled or triggered jobs  - Compaction Stats
- [ ] Timeout tests

This is equivalent to #505

[2022-03-07 06:02] purnimavenkatasubbu commented on #505
Covered the tests which are part of [this doc](https://docs.google.com/spreadsheets/d/1cpjRlu81-LBDma6edlHTwvpbI9YQG-berDYaII-0Esw/edit#gid=0)  in the following [PR](https://github.com/atsign-foundation/at_server/pull/535)

Added a new ticket for tests that need a config change.

[2022-03-07 06:51] murali-shris commented on #514
@gkc can we close this issue?

[2022-03-07 08:32] murali-shris opened #544 "update hive version"
latest version of hive has partly addressed hive crash
https://pub.dev/packages/hive/changelog

Upgrade persistence to latest version of hive

[2022-03-07 12:53] #491 closed, assigned to gkc, cpswan, purnimavenkatasubbu

[2022-03-07 13:58] cpswan opened #545 "Too many cert renewals are failing over to ZeroSSL"
**Describe the bug**
The Production Issues chat channel is littered with messages like:

[code]

Many of these messages actually relate to the Buzz environment and are in the wrong channel, hence https://github.com/atsign-company/secondaries-scripts/issues/20

Looking at logs this seems to happen when LetsEncrypt failes to respond:

[code]

or when LetsEncrypt is unable to verify DNS:

[code]

**E

[2022-03-07 15:15] murali-shris commented on #505
added 1SP for merging PR and closing the issue

[2022-03-07 15:33] murali-shris opened #546 "NSS++ : Notification sub system improvements"
**Is your feature request related to a problem? Please describe.**
Notification Sub System is designed to work in a certain way. But now seems to be the time to look at some of the decisions we made and improve them for the better.

**Describe the solution you'd like**
In the comment below

**Describe alternatives you've considered**
NA

**Additional context**
The focus of this task is to capture

[2022-03-07 15:38] VJag commented on #546
My notes on this task are captured here:
https://docs.google.com/document/d/14sFNMjewgQsQde0qoRU37WctBXSQnfOvgOJLrfphzaA/edit?usp=sharing

[2022-03-08 08:27] purnimavenkatasubbu commented on #505
PR is merged to trunk.

[2022-03-08 08:27] #505 closed, assigned to purnimavenkatasubbu

[2022-03-08 13:37] cpswan commented on #545
https://github.com/atsign-company/secondaries-scripts/pull/23 awaiting review by @cconstab or @kumarnarendra701

[2022-03-08 16:29] #545 closed, assigned to cpswan

[2022-03-09 21:18] cconstab opened #548 "Webhook from NS1 to GChat"
Currently NS1 does allow webhook interfaces to issues it finds but does not directly support GChat. It would be nice to have NS1 Gchat us when it sees a problem..

- [ ] Interface NS1.com errors to the production Gchat room
- [ ] Test
- [ ] release

[2022-03-10 08:11] murali-shris commented on #328
moving this to PR32..since compaction stats will help us to analyse sync issues better

[2022-03-11 11:13] gkc commented on #514
Yep LGTM

[2022-03-11 11:13] #514 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-03-14 07:20] kumarnarendra701 commented on #516
@cpswan - Deployed to prod and now we can close this.

[2022-03-14 10:24] #516 closed, assigned to kumarnarendra701, athandle

[2022-03-15 17:06] #451 closed, assigned to sitaram-kalluri, murali-shris, kumarnarendra701, athandle, tinashe404

[2022-03-17 09:21] #467 closed, assigned to cpswan

[2022-03-17 11:05] murali-shris opened #572 "support for shared key metadata in notify verb"
currently shared key encrypted and public key checksum are added as metadata to put method in at client and update verb in server.
Notify verb should support these new metadata in case an app calls a put followed by a notify

[2022-03-18 14:28] cpswan opened #577 "Custom monitor for GCE to track CPU load average"
**Is your feature request related to a problem? Please describe.**

We can't install the Google Ops Agent onto Flatcar Linux in the newer production swarms

Also the Ops Agent defaults have been causing insane costs for ingress and storage by monitoring every process (== every secondary server)

**Describe the solution you'd like**

A custom monitor implementation that can be containerised to run

[2022-03-18 14:30] #577 closed, assigned to cpswan

[2022-03-18 14:33] cpswan opened #578 "Create swarm0002 cluster"
**Describe the solution you'd like**

Spin up a new production Docker Swarm cluster similar to swarm0001

**Describe alternatives you've considered**

We could repave hornet, but probably better to tear it down

[2022-03-18 14:35] cpswan opened #579 "Migrate hornet load to swarm0001 and decommission hornet"
**Is your feature request related to a problem? Please describe.**

We're using Ubuntu worker nodes on Hornet that are prone to CPU spikes due to cloud-init, which doesn't happen with Flatcar Linux.

**Describe the solution you'd like**

Move secondaries off Hornet into Swarm0001 and shut down the Hornet VMs

**Describe alternatives you've considered**

Repave Hornet with Flatcar (too likely to le

[2022-03-18 14:37] cpswan opened #580 "Add disk space reporting to GCE custom monitor"
**Is your feature request related to a problem? Please describe.**

Google Ops Agent provided metrics for disk free, which we don't get from VM metrics.

**Describe the solution you'd like**

Add disk free metrics to the recently created GCE custom monitor.

[2022-03-18 14:38] cpswan opened #581 "Get the refreshcerts workflow working"
**Is your feature request related to a problem? Please describe.**

The workflow presently attempts to commit directly to trunk, which is blocked.

**Describe the solution you'd like**

Raise a PR automatically.

[2022-03-18 14:44] cpswan commented on #454
Noting the agreed way ahead for this:

Done by @cpswan :

- [x] Move root.atsign.wtf and root.atsign.org DNS to Digital Ocean for API access
- [x] Modify ACME cert script to allow creation of root certs

Todo @kumarnarendra701 :

- [x] Create GitHub action to use cron to create new certs on a schedule
- [x] Connect that action to staging and prod root K8s secrets

[2022-03-18 14:48] cpswan opened #582 "Renew staging environment"
**Is your feature request related to a problem? Please describe.**

Staging is presently out of sync with prod on:

- [x] DNS - still using names that suggest Digital Ocean even after migration to GCP
- [x] Base OS - still using Ubuntu rather than flatcar

**Describe the solution you'd like**

- [x] Create a new staging Docker Swarm (similar to swarm0001)
- [x] Migrate secondaries
- [x] Turn down

[2022-03-20 11:48] kumarnarendra701 commented on #454
@cpswan - I have created a GitHub workflow to generate certs and update them to k8 secrets.

Note - During my multiple retries it blocked my certs generation for "root.atsign.wtf" domain. So temporarily added another buzz domain to complete the workflow without the "-r" flag and will replace it before making it live. Please review and let me know if you see any improvement.

PR - https://github.co

[2022-03-21 05:50] purnimavenkatasubbu commented on #542
Currently, the timeouts in the server are hardcoded in the code for a default value. Hence the functional tests cannot be written around these at the moment.

[2022-03-21 06:01] purnimavenkatasubbu opened #584 "Test and release compaction stats"
- [x]  Test the compaction stats changes
- [x] Release a new version with the changes

[2022-03-21 06:10] srieteja commented on #584
at_persistence_spec v2.0.5, at_persistence_secondary_server v3.0.18 released with changes to collect and store compaction stats.

[2022-03-21 06:10] #584 closed, assigned to purnimavenkatasubbu, srieteja

[2022-03-21 09:55] murali-shris commented on #572
Changes done in at_commons 3.0.8 and at_lookup 3.0.13.
Server changes done and under review
at_client changes yet to be done

[2022-03-21 11:10] cpswan opened #585 "Ripple restart script for Swarm clusters"
**Is your feature request related to a problem? Please describe.**

We have disabled automatic update for our Flatcar nodes to prevent them from suddenly disappearing (all at once), but they should be restarted shortly after new releases.

**Describe the solution you'd like**

We need to have a controlled approach to restarts which:

* drains a node from the Docker swarm
* restarts the node once e

[2022-03-21 12:40] gkc opened #586 "Clean server shutdown"
**Describe the bug**
When server is shut down eg by killing container, it exits immediately; in some cases this can result in there being open .lock files on the hive boxes which prevents server from restarting

**Expected behavior**

While we can’t altogether prevent this type of problem (because of SIGKILL) we can greatly reduce its likelihood by watching for SIGTERM and SIGINT and calling the A

[2022-03-21 13:43] gkc opened #587 "Improve connection handling - Implement protection against denial of service attacks"
**Is your feature request related to a problem? Please describe.**
If many clients are trying to open connections and the server is at capacity, the existing defensive mechanisms (see #503) help but are not sufficient to prevent denial of service from a determined attacker or badly-behaved client

**Describe the solution you'd like**
* 'good' clients should always be able to connect, even if with

[2022-03-21 13:44] gkc commented on #503
Remaining work on this issue: Merge #583

Filed new issue #587 for additional work

[2022-03-21 13:55] gkc commented on #474
@srieteja is https://github.com/atsign-foundation/at_libraries/pull/134 ready to merge?

[2022-03-21 14:07] gkc opened #588 "Dynamically adjust server config to facilitate testing"
We need ability - intended for use in test environments **_only_** - to dynamically adjust server config from an authenticated client. See https://github.com/atsign-foundation/at_server/issues/542 for a specific example of a test that is currently effectively impossible to implement

Implementation could be via a new verb, 'set:param1=val1,param2=val2,param3=val3' where parameter could be server-w

[2022-03-21 14:07] gkc commented on #542
We need ability - in test environments **only** initially - to dynamically adjust server config from an authenticated client. Filed https://github.com/atsign-foundation/at_server/issues/588

[2022-03-21 14:31] murali-shris opened #589 "implement notification lifecycle management in the protocol"
**Is your feature request related to a problem? Please describe.**
Right now managing the life cycle of notification is partly done in the protocol and partly in the apps. Idea is to take care of the complete life cycle in the.

**Describe the solution you'd like**
Manage the life cycle in the protocol

**Describe alternatives you've considered**
Alternative would be to manage the lifecycle in the

[2022-03-21 14:31] murali-shris commented on #589
@VJag please add the details for this enhancement request

[2022-03-21 14:33] srieteja commented on #474
@gkc the functionality is complete, but there are minor complications with the functional tests. It should be good to go very soon.

[2022-03-21 14:58] VJag commented on #546
Following tickets address the improvements we want to perform in NSS: (Will update the tickets)

- [ ] https://github.com/atsign-foundation/at_server/issues/589
- [x] [New encryption and decryption on notify with key](https://github.com/atsign-foundation/at_client_sdk/issues/436)
- [x] Move decryption of notifications from apps to SDK
- [x] [Constructs to delete notifications before expiry and kee

[2022-03-21 16:21] sitaram-kalluri opened #590 "Increase notify response connection timeout"
**Describe the bug**
At the moment, notification response fails due to connection timeout.

**Proposed Work-around**
Increase the outbound connection time out to 30 seconds for the notification response.

[2022-03-21 16:23] sitaram-kalluri commented on #590
The outbound connection timeout is increased to 30 seconds for notification response.

[2022-03-21 16:23] #590 closed, assigned to sitaram-kalluri

[2022-03-22 08:20] kumarnarendra701 opened #591 "Exception on Prod secondary"
**Describe the bug**
Observed "FileSystemException: lock failed" exception on prod secondaries.
Atsign - @starlingelectoral (3775)

Logs -

[code]

[2022-03-22 08:21] kumarnarendra701 commented on #591
As suggested by @kalluriramkumar deleted .lock file and performed scale down and up but still getting the same logs and it's again recreating the .lock file. So to stop noise here, I have scaled down to zero.

[2022-03-22 09:52] sitaram-kalluri opened #592 "Enhance notifications to have same notification ID on sender and receiver side."
**Is your feature request related to a problem? Please describe.**
At the moment, the notification id is not same on the sender side and receiver side when notification is shared. This becomes difficult to correlate the notification status.

**Describe the solution you'd like**
Enhance the notification to use the same id across the notification life cycle.

[2022-03-22 18:38] murali-shris commented on #474
reopening the issue until at_onboarding_cli is published

[2022-03-23 11:36] gkc commented on #591
I scaled service down; removed all of the hive .lock files; scaled service back up; all is well

[2022-03-23 11:36] #591 closed, assigned to sitaram-kalluri

[2022-03-23 14:27] cpswan commented on #580
Add code to https://github.com/atsign-company/at_swarm_load

Created new Docker image

Rolled out to hornet, canary and swarm0001

[2022-03-23 14:27] #580 closed, assigned to cpswan

[2022-03-23 14:35] cpswan commented on #579
Around 600 secondaries a day are being migrated from hornet to swarm0001 and that should conclude at the weekend.

Turning down hornet-10:15 as that capacity is no longer needed

[2022-03-24 10:26] #586 closed, assigned to nobody

[2022-03-24 15:03] gkc commented on #503
Done, after a couple of follow-on PRs

[2022-03-24 15:45] #503 closed, assigned to gkc, VJag

[2022-03-25 03:45] sitaram-kalluri opened #600 "Scan returns expired keys"
**Describe the bug**
The scan verb returns the expired keys in the server and SDK.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a key with TTL.
2. Once the key is expired (TTL met), run scan verb
3. The expired key is also returned.

**Expected behavior**
Scan should not return the expired keys.

**Additional context**
@VJag and myself had a discussion on this and below are the app

[2022-03-25 10:50] kumarnarendra701 commented on #454
@cpswan - Added prod and stage YAML file with cronjob scheduler.

[2022-03-25 17:16] murali-shris commented on #474
published at_onboarding_cli 1.0.0
@srieteja for other enhancements related to TPM etc., please create a new task

[2022-03-25 17:16] #474 closed, assigned to cconstab, sitaram-kalluri, murali-shris, srieteja

[2022-03-25 17:22] murali-shris commented on #572
PR merged to trunk
https://github.com/atsign-foundation/at_server/pull/596

[2022-03-25 17:23] murali-shris commented on #572
at_client changes are in PR
https://github.com/atsign-foundation/at_client_sdk/pull/452

[2022-03-28 08:28] #581 closed, assigned to cpswan

[2022-03-28 10:14] sitaram-kalluri opened #606 "Few of the secondaries failed to upgrade to a latest version"
**Describe the bug**
Shepherd fails to upgrade few of the secondaries to latest version

Following are the couple of atsign's which are running on the older version of secondary server
1. dying36dragonfly
2. zathura97tall

**Expected behavior**
The secondaries should be running on the latest version.

**Additional context**
Logs snippet of secondary running on old version:

[code]
Stats verb resul

[2022-03-28 10:22] cpswan commented on #606
dying36dragonfly was migrated from hornet to swarm0001 in the last week, so it should have picked up the latest secondary image

[2022-03-28 12:25] cpswan commented on #606
shepherd isn't running on swarm0001

[2022-03-28 12:32] cpswan commented on #606
I just grabbed /root/shepherd.yaml from horent-01:

[code]

Then ran:

[code]

[2022-03-28 12:44] cpswan commented on #606
swarm0001-01:03 also needed `/root/.docker/config.json` to be created and to have the image pump primed with `docker pull reg.hornet.atsign.zone/atsigncompany/shepherd:latest`

[2022-03-28 16:52] murali-shris commented on #544
executed the below snippet using hive 2.0.4
import 'package:hive/hive.dart';

void main() async {
  Hive.init('test/upgrade');
  var box = await Hive.openBox('sample.hive');
  await box.put('alice🛠_1', 1);
  await box.put('alice🛠_2', 2);
  await box.put('alice🛠_3', 3);
  await box.put('alice🛠_4', 4);
  await box.put('alice🛠_5', 5);
  box.keys.forEach((key) async {
    print(await box.get(key));

[2022-03-28 17:06] gkc commented on #544
How about version 2.0.6? (Which contains the fix for the
crash-during-crash-recovery problem)

[2022-03-29 06:08] cconstab opened #608 "Backups Review - need to review backups and recovery across infra"
Backups on infra need to be reviewed and checked to be recoverable.

Technology used likely could also be improved as GCP now has better options for GKE and Netvolumes

- [x] Secondaries NFS mount - existing snapshots + cron job to AWS
- [x] Root GKE Cluster - existing Velero job
- [x] Filebin2 GKE Cluster - unknown
- [x] filebin2 DB - unknown
- [x] Web Cluster one GKE cluster - existing Velero jo

[2022-03-29 07:08] murali-shris commented on #544
Same behaviour while upgrading from 2.0.6 to 2.1.0

[2022-03-29 14:22] sitaram-kalluri opened #610 "Enhance NSS to delete notification using notification id."
**Is your feature request related to a problem? Please describe.**
Enhance the NSS to delete notifications in keystore before expiry to keep the secondary thin. Provide a delete method that takes notification id as input and removes the notification against the ID from the keystore.

[2022-03-29 15:22] cpswan commented on #579
All secondaries have been migrated. Just need to do something with the registry now.

[2022-03-29 15:25] cpswan commented on #582
staging0001 swarm is now up:

01:02 manager nodes (Ubuntu)
03:06 worker nodes (Flatcar)

New registry - reg.swarm0001.atsign.zone

Monitoring configured as a global service

Shepherd running

Migration of the first ~100+ secondaries in progress. Will start batches of 600/day.

[2022-03-29 17:39] murali-shris commented on #544
in persistence layer we encode the key using utf7
 String prepareKey(String key) {
    key = key.trim().toLowerCase().replaceAll(' ', '');
    return Utf7.encode(key);
  }
  below code snippet works fine with 2.0.4 and after  upgrade to 2.1.0
   Hive.init('test/upgrade');
  var box = await Hive.openBox('sample.hive');
  await box.put(Utf7.encode('alice🛠_1'), 1);
  await box.put(Utf7.encode('alice🛠

[2022-03-30 08:12] cpswan commented on #606
@kalluriramkumar I think this should be fixed by https://github.com/atsign-company/shepherd/issues/5#issuecomment-1082531344 can you please check

[2022-03-30 08:52] gkc commented on #544
Great, so OK to proceed with fuller testing?

PS to my mind it's not (at least, not now) worth the effort to do a
migration from utf7-encoded to unicode - as this would require us to fully
rebuild the data stores for no particular gain. What do you think?

[2022-03-30 09:40] murali-shris commented on #544
Right Gary..We can leave the utf7 encoding as it is..

[2022-03-30 10:11] cpswan commented on #578
Cluster created with 3 managers and 3 workers (worker pool can be expanded later)

Still needs:

- [x]  Shepherd
- [x] Seccheck
- [x] Cron jobs

[2022-03-30 15:10] purnimavenkatasubbu commented on #542
The tests for connection limit, compaction, and access logs are pushed to the branch [issue#542](https://github.com/atsign-foundation/at_server/tree/issue%23542).

This needs a config change in the server for the tests to pass.

[2022-03-31 06:05] sitaram-kalluri commented on #606
Verified on the zathura97tall and dying36dragonfly and they are migrated to newer version.
[code]
[code]
However, still there is an atSign - @ significantredpanda which is running on 3.0.10 version.
[code]

[2022-04-01 11:34] gkc opened #617 "Erroneous closing of outbound notification connections"
**Describe the bug**
If the Notification ResourceManager encounters an exception while it attempts to connect an outbound client, it sets isClosed on its inboundConnection. Because inboundConnection for notifications is a fake object, DummyInboundConnection, which is a singleton, this means isClosed is set on that connection for all existing and future notification OutboundClients.

Whenever the N

[2022-04-01 13:00] #617 closed, assigned to gkc, sitaram-kalluri, purnimavenkatasubbu

[2022-04-01 15:54] cpswan commented on #579
Registry stood up on swarm0001. Script needed to reconfigure secondary templates and update services.

[2022-04-01 15:55] cpswan commented on #585
https://github.com/atsign-company/secondaries-scripts/pull/35

[2022-04-01 15:55] #585 closed, assigned to cpswan

[2022-04-04 08:39] murali-shris commented on #572
server release is pending..moving to next sprint

[2022-04-04 10:21] cpswan commented on #582
~50 secondaries still running on buzz

Next step is for new secondaries to be created on staging0001 - @athandle can you please make the change.

[2022-04-04 10:34] sitaram-kalluri commented on #546
The above tasks marked are completed and changes need to be merged and published. Carry over to publish the changes. 3SP pending work

[2022-04-04 11:22] gkc opened #621 "Edge case means some notifications can be lost"
**Describe the bug**s
In [this method](https://github.com/atsign-foundation/at_server/blob/883623b080b5247f5b6528edad88fe112d8639ef/at_secondary/at_secondary_server/lib/src/notification/resource_manager.dart#L90)

* if an exception happens while sending a notification
* and the iterator has other notifications not yet processed
* then those other notifications are not added to the errorList
* and

[2022-04-04 11:32] gkc commented on #588
No progress in sprint PR33 due to unplanned higher priority work (identifying and analysing bugs in server notification subsystem - https://github.com/atsign-foundation/at_server/issues/617 and https://github.com/atsign-foundation/at_server/issues/621).

[2022-04-04 11:36] murali-shris commented on #544
changes merged to trunk
https://github.com/atsign-foundation/at_server/pull/619
https://github.com/atsign-foundation/at_server/pull/620

[2022-04-04 11:42] #544 closed, assigned to murali-shris

[2022-04-04 11:43] gkc commented on #544
(Weird: Had to re-open and re-close the issue in order for its status to update on the project board, refreshing the project board still showed issue as open even though it was closed)

[2022-04-04 12:36] gkc commented on #589
Is this a duplicate of #546 ?

[2022-04-04 14:22] gkc commented on #592
Covered by #546 . Closing this one.

[2022-04-04 14:22] #592 closed, assigned to sitaram-kalluri, VJag

[2022-04-04 14:25] gkc commented on #610
Covered by https://github.com/atsign-foundation/at_server/issues/546 ; closing this one

[2022-04-04 14:25] #610 closed, assigned to nobody

[2022-04-04 15:23] kumarnarendra701 commented on #454
@cpswan- Can you please merge my PR and close this ticket.
https://github.com/atsign-company/infrastructure_root_manager/pull/12

[2022-04-04 15:47] athandle opened #622 "Add alerts for 1/0 containers"
Describe the bug
Add checks for 1/0 containers in a daily check.

[2022-04-04 16:36] cconstab commented on #606
@kumarnarendra701 I think two things.. Find out why this secondary did not update plus enhance the seccheck to report out the versions of secondaries at least once a day..

[2022-04-05 06:12] purnimavenkatasubbu commented on #542
@gkc I need a secondary config change (for instance inbound_connection_limit set to 2, compactionJobRun set to 1minute) for the tests to pass in the GitHub Actions.
Can we pass a sed command in the GitHub actions before running the tests that need a config change?
sed 's/inbound_max_limit: 50/inbound_max_limit: 1/' col | tee config/config.yaml

Or is there any better way to do this?

[2022-04-05 10:59] athandle commented on #582
@cpswan @kumarnarendra701 I changed the settings but there is an error, secondaries are not starting

[2022-04-05 11:04] cpswan commented on #582
What is the error?

[2022-04-05 11:37] athandle commented on #582
@kumarnarendra701  is looking into it, @kumarnarendra701  can you please share

[2022-04-05 11:45] kumarnarendra701 commented on #582
@cpswan @athandle  - Below are the changes to run secondaries on staging0001.
1. Fixed DO connectivity.
2. Changes in docker-compose.yml
    image: reg.buzz.do-sf2.atsign.zone/atsigncompany/secondary:dev_env -> image: **reg.staging0001.atsign.zone**/atsigncompany/secondary:dev_env

    - "/etc/letsencrypt/live/UUID.SWARM.do-sf2.atsign.zone:/atsign/certs" - >     "/etc/letsencrypt/live/UUID.SWARM.*

[2022-04-05 11:53] athandle commented on #582
32 SSL s added for new domain

[2022-04-07 10:04] #454 closed, assigned to kumarnarendra701

[2022-04-07 10:39] cpswan commented on #582
The last few secondaries on buzz have been deleted (if they were orphaned in the registry) or migrated.

Still need to set up seccheck on staging0001

[2022-04-08 04:49] kumarnarendra701 commented on #582
@cpswan - Added seccheck on staging0001.

[2022-04-08 06:16] murali-shris commented on #572
published
at_client_mobile 3.1.12
at_client 3.0.16

[2022-04-08 06:16] #572 closed, assigned to sitaram-kalluri, murali-shris

[2022-04-10 04:27] athandle opened #625 "Add SSL validation in create secondary script"
**Is your feature request related to a problem? Please describe.**
Secondaries are created without SSL

**Describe the solution you'd like**
Add a check if SSL exists and valid

[2022-04-11 05:21] athandle opened #629 "Summary : [Checkout][Name on card ] Improper validation is implemented on the Card holder name field as the user is able to purchase @sign with improper names"
Description : [Checkout][Name on card] Improper validation is implemented on the Card holder name field as the user is able to purchase @sign with improper names

Steps :
1. Launch the Web browser.
2. Enter the url https://my.staging.atsign.wtf/dashboard
3. Login with preferable medium and search @sign add to cart and click on checkout.
4. Give invalid data in Name field and enter valid data in ot

[2022-04-11 05:32] athandle commented on #629
moved to correct repository.

[2022-04-11 05:34] #629 closed, assigned to nobody

[2022-04-11 08:21] cpswan commented on #579
All secondaries and shepherd have been migrated to swarm0001 registry

[2022-04-11 08:25] cpswan commented on #579
Remaining docker services (registry and shepherd) stopped on hornet swarm. Remaining hornet VMs stopped.

[2022-04-11 08:28] cpswan commented on #582
Last remaining docker services (shepherd and registry) removed from buzz cluster and buzz VMs stopped.

[2022-04-11 08:33] cpswan opened #630 "Upgrade clusters to Flatcar 3139.2.0"
**Describe the solution you'd like**
Clusters were upgraded to 3033.2.4 as part of creating the ripple restart script for #585, and then another stable release of Flatcar came along.

[2022-04-11 09:08] cpswan opened #631 "Update seccheck to use info verb"
**Describe the solution you'd like**
At present seccheck runs `scan` on each secondary to test for the presence of a public key, but scan can be an expensive operation and lead to spikes in back end workload. `info` gives us the opportunity to test a secondary with less impact. We can also us the output to generate reports of secondary versions on clusters to ensure shepherd is working properly.

[2022-04-11 12:36] cpswan commented on #606
Closing this after all of the secondaries were forced to latest version by update to switch registry.

#631 will take care of the seccheck work.

[2022-04-11 12:36] #606 closed, assigned to gkc, cpswan, cconstab, kumarnarendra701

[2022-04-11 13:48] cpswan commented on #631
Some initial testing...

If the expect script is modified something like:

[code]

then `./checkinfo.expect 6464 | jq -r .version` will return something like:

[code]

I'm thinking that for the 15m runs we just want to check that things are working, then have daily runs to output the versions into a file, which we can then pull a report from (into chat) a bit like `certcheck.sh`.

[2022-04-11 17:12] #621 closed, assigned to nobody

[2022-04-11 17:18] kumarnarendra701 commented on #625
@cpswan - Made changes and raised PR for review.
https://github.com/atsign-company/secondaries-scripts/pull/36

[2022-04-11 17:41] gkc opened #633 "Implement unit tests to prevent regression of the notifications bug fixed by #621"
**Describe the bug**
See #621 for full detail. TL;DR, that pull request fixed this issue:
<blockquote>
In [this method](https://github.com/atsign-foundation/at_server/blob/883623b080b5247f5b6528edad88fe112d8639ef/at_secondary/at_secondary_server/lib/src/notification/resource_manager.dart#L90)

* if an exception happens while sending a notification
* and the iterator has other notifications not yet

[2022-04-12 16:48] cpswan commented on #630
All clusters done

[2022-04-12 16:48] #630 closed, assigned to cpswan

[2022-04-13 09:32] cpswan opened #638 "Rework swap and NFS mounting on existing Flatcar Swarm nodes"
**Is your feature request related to a problem? Please describe.**

Both swap and NFS suffer from potential problems on reboot:

swap has been targeted at /dev/sdb, but sometimes the disks get crossed up on reboot, and the swap disk appears as /dev/sda

NFS can also fail to start, likely due to timing issues, this then leads to nodes that are active in the swarm, but incapable of running secondari

[2022-04-13 10:19] cpswan commented on #578
@kumarnarendra701 can you please take care of seccheck and cron jobs (e.g. cert renewal) on swarm0002

[2022-04-13 17:00] athandle opened #639 "New swarm0002 not working"
- [x] SSL generation script is giving success
- [x] Secondary not creating

[2022-04-14 09:12] cpswan commented on #582
Buzz VMs have been deleted

[2022-04-14 09:12] #582 closed, assigned to cpswan

[2022-04-14 09:16] cpswan commented on #579
Hornet VMs deleted

[2022-04-14 09:16] #579 closed, assigned to cpswan

[2022-04-14 10:37] cpswan commented on #639
Certs weren't being created because the NS records pointing to Digital Ocean were missing from Namecheap. Now fixed.

[2022-04-14 10:59] athandle commented on #639
@cpswan we figured that yesterday but my problem is shell was giving me a success because of which I was marking this uuid as valid SSL can we return error in such scenarios so that I don't create corrupted entries

[2022-04-17 10:58] athandle opened #642 "Clear orphan SSLs"
Remove orphan SSLs directory and certificates

[2022-04-17 10:59] kumarnarendra701 commented on #625
@cpswan @athandle  - Script deployed to production. Now we can close this ticket.

[2022-04-17 11:04] kumarnarendra701 commented on #639
@cpswan @athandle - Performed below steps on Swarm0002-02.
1. Mount letsencrypt directory.
2. Setup env file for secondary.
3. Setup Digit ocean authentication
4. Debug NS record issue.

Now we can close this ticket.

[2022-04-17 11:33] kumarnarendra701 commented on #578
@cpswan - Added below cronjobs.
1. seccheck
2. certcheck
3. desscheck(It's throwing dess.text: No such file or directory)
4. SSL renewal

[2022-04-18 14:49] srieteja commented on #600
An in-memory metadata cache has been implemented that will be used to compare the metadata(expiresAt attribute) of all the keys with the present time and only unexpired keys will be returned to the scan verb handler. This comparison happens on-demand and the use of a cache makes it relatively faster. Testing the implementation in process.

[2022-04-18 19:36] cconstab opened #643 "Remove print statements and `_debug` to false in production code"
A number of our dart libraries have print statements and _debug code that needs to be removed or at least set to false so apps built against the SDK do not have odd print statements inherited into client code.

Ideally useful debug / print statements could be migrated to using the _logger methods which is very useful to us and developers.

Some examples :-
hive_manger.dart  line 100

[2022-04-19 11:54] murali-shris commented on #546
@kalluriramkumar please create tasks for pending work

[2022-04-19 11:54] #546 closed, assigned to VJag

[2022-04-19 12:13] gkc commented on #578
Looks like this ticket is complete ... can it be closed?

[2022-04-19 12:15] #578 closed, assigned to cpswan, kumarnarendra701

[2022-04-19 13:12] cpswan opened #644 "Investigate Google Cloud Certificate Manager Public Certificate Authority Preview"
**Is your feature request related to a problem? Please describe.**

Sometimes we fail to generate (or renew) a certificate because both LetsEncrypt and ZeroSSL don't work.

**Describe the solution you'd like**

Add Google's ACME server as another backup (and consider ordering based on response times and failure rates).

[2022-04-19 13:14] cpswan opened #645 "Fix description text in auto generated new certs PRs"
**Describe the bug**

New certificates generated PRs presently have the text `New descriptions for libraries have been scraped from pub.dev` copied over from the atsign.dev workflow.

**Expected behavior**

PR text should reflect what's actually happening.

[2022-04-19 13:16] #639 closed, assigned to cpswan, kumarnarendra701

[2022-04-19 13:17] #625 closed, assigned to kumarnarendra701

[2022-04-19 13:19] gkc opened #646 "stats not being written by server to monitor connections with frequent heartbeats"
**Describe the bug**
If the client-side monitor heartbeat interval is too short, stats are no longer being delivered to the client, because the server-side stats notification service decides to write the stats to the monitor only if it is at least 15 seconds since the connection was last written to by the server

There is a workaround available which is to set the monitor heartbeat interval to a l

[2022-04-19 13:22] gkc commented on #646
@kalluriramkumar let's take this up in this sprint. I think the fix is very simple as it is localized in stats_notification_service.dart

[2022-04-19 14:47] srieteja commented on #600
Implementation and testing completed. Ready to merge

[2022-04-19 15:37] athandle commented on #622
@cconstab @cpswan  Created a similar behavior by deleting directory on test secondary and I can see that seccheck job sending alerts to for problematic secondary on gchat channel.

root@staging0001-01:~# docker service ls | grep 58d7ae57-08bb-5053-868b-91794734fedd
67roiarn658n   58d7ae57-08bb-5053-868b-91794734fedd_secondary   replicated   0/1        reg.staging0001.atsign.zone/atsigncompany/seco

[2022-04-19 16:02] kumarnarendra701 opened #647 "Error code on failed SSL certificate"
**Describe the bug**
Send error code for failed cert.

[2022-04-20 08:20] cpswan opened #650 "Certbot creating certs with wrong ownership after renewal on cicd1 VM"
**Describe the bug**

Files are created with root:root ownership rather than atsign:atsign, which means that secondary can't (re)start because it can't read the private key.

**Expected behavior**

Files should be owned by atsign:atsign after renewal (as they are on cicd2 VM)

[2022-04-20 08:23] cpswan commented on #650
`/etc/letsencrypt/renewal-hooks/deploy/restart.sh` was -rw-r--r-- on cicd1. On cicd2 it's -rwxr-xr-x.

cicd1 has now been chmoded to be the same as cicd2, so the restart.sh script should run correctly at the next renewal and ensure that the correct atsign:atsign ownership is set.

[2022-04-20 08:23] #650 closed, assigned to cpswan

[2022-04-20 08:33] cpswan opened #651 "GCP custom monitoring container shouldn't be run as a Swarm service"
**Describe the bug**

At present the GCP custom monitoring container runs as a global swarm service to ensure that there is one container on every node.

This works fine when everything is working properly, but means that the monitoring container isn't running when a node is drained.

We've also found that it can take substantial time for he monitoring container to (re)start when a node is brought

[2022-04-20 09:16] cpswan commented on #638
canary cluster done

[2022-04-20 09:32] cpswan commented on #638
swarm0002 cluster done

[2022-04-21 07:14] purnimavenkatasubbu commented on #633
Had a discussion with @VJag about the scenarios that need to be handled. Following are the scenarios discussed that needs to be covered in tests.

- [ ]  If there are a couple of notifications, Out of which a notification is invalid(server is down) - The remaining valid notifications in the queue should be delivered
- [ ] Within the retry time, if the server is back up and running, then the notifi

[2022-04-21 07:38] VJag commented on #633
Scenario 1 is related to the re-queueing logic

[2022-04-21 16:59] cpswan commented on #638
swarm0001 and staging0001 done

[2022-04-21 16:59] #638 closed, assigned to cpswan

[2022-04-21 17:00] cpswan commented on #638
swarm0001 and staging0001 done

[2022-04-22 11:55] cpswan opened #652 "Stand up swarm0003"
- [x] managers 01-03
- [x] workers 04-06
- [x] Digital Ocean DNS zone with CAA records
- [x] Namecheap NS records
- [x] Load balancer on NS1
- [x] Docker login and pull images
- [x] GCP custom monitoring
- [x] /root/.env file
- [x] Shepherd
- [x] `doctl auth init`
- [x] Seccheck
- [x] Cron jobs for cert renewal

[2022-04-22 11:56] cpswan opened #653 "Stand up swarm0004"
- [x] managers 01-03
- [x] workers 04-06
- [x] Digital Ocean DNS zone with CAA records
- [x] Namecheap NS records
- [x] Load balancer on NS1
- [x] Docker login and pull images
- [x] GCP custom monitoring
- [x] /root/.env file
- [x] Shepherd
- [x] `doctl auth init`
- [x] Seccheck
- [x] Cron jobs for cert renewal

[2022-04-22 12:23] cpswan commented on #652
@athandle @kumarnarendra701 over to you for shakedown

[2022-04-22 16:07] cpswan commented on #653
@athandle @kumarnarendra701 another one ready for shakedown over the weekend

[2022-04-24 07:39] kumarnarendra701 commented on #652
@cpswan - Verified all settings and creation of secondary.

[2022-04-24 07:41] kumarnarendra701 commented on #653
@cpswan - Verified all settings and creation of secondary.
Moved "seccheck" binaries and crontab from root to seccheck user.

[2022-04-25 07:42] purnimavenkatasubbu commented on #633
Had a session with @VJag, Where we wrote some sample implementation to understand how mocktail works,

[mocktail_sample.zip](https://github.com/atsign-foundation/at_server/files/8552559/mocktail_sample.zip)

[2022-04-25 08:05] cpswan commented on #653
@kumarnarendra701 we decided to run seccheck as root (as for a non root user it needs to be part of the docker group, which is effectively root anyway), and also it keeps all the cron jobs in one place. But you weren't to know that.

[2022-04-25 08:05] #653 closed, assigned to cpswan, nickelskevin, cconstab

[2022-04-25 08:06] #652 closed, assigned to cpswan

[2022-04-25 09:48] cpswan commented on #644
Using the Google CA with our scripts turned out to be straightforward.

Performance seems good. [Quotas](https://cloud.google.com/public-certificate-authority/quotas) are similar to LetsEncrypt.

PR referenced above will add Google as our secondary CA (between LetsEncrypt and ZeroSSL).

[2022-04-25 09:48] #644 closed, assigned to cpswan

[2022-04-25 11:50] #600 closed, assigned to VJag, srieteja

[2022-04-25 15:55] athandle opened #656 "Check Redis utilization of Root server"
@kumarnarendra701  please share how much memory is assigned and how much it's utilized.

[2022-04-25 16:04] cpswan opened #658 "55 secondaries reporting null version on staging0001"
**Describe the bug**
The following secondaries report `null` as their version:

[code]

Looking at the first one it seems that it's mounting /atsign rather than /atsign/storage

**Expected behavior**
Secondary should mount /atsign/storage and report a version from pubspec.yaml within the container e.g. `3.0.15+gha1106`

[2022-04-25 16:06] cpswan commented on #631
https://github.com/atsign-foundation/seccheck/pull/11 PR is open for incorporating this change into prod.

[2022-04-26 04:38] murali-shris commented on #643
published the below packages after removing the print statements
at_persistence_secondary_server 3.0.24
 at_commons 3.0.14
 at_lookup 3.0.20
 at_client 3.0.20
 @cconstab please verify the fix in your app

[2022-04-26 04:48] cconstab commented on #643
Will do thanks !

[2022-04-26 04:58] cconstab commented on #643
@murali-shris thanks so much.. This now works as I had hoped..

[code]

[2022-04-26 04:58] #643 closed, assigned to murali-shris, VJag

[2022-04-26 08:25] #645 closed, assigned to cpswan

[2022-04-26 14:00] cpswan commented on #631
Deployed to prod (presently using info rather than info:brief until we have 3.0.15 deployed).

Crontabs have been configured such that each swarm runs the daily jobs at swarm number past midnight. So swarm0001 does it's daily jobs at 0100,0115,0130 and swarm0004 at 0400,0415,0430

[2022-04-26 14:00] #631 closed, assigned to cpswan, cconstab

[2022-04-27 09:44] kumarnarendra701 commented on #658
@cpswan - Above secondaries updated to correct mount point. Please check if you can able to see the version.

Few command outputs for your reference -

[code]

[2022-04-27 10:07] cpswan commented on #658
@kumarnarendra701 if you run seccheck/inforeport then it will confirm that there aren't any nulls and you can close this

[2022-04-29 14:35] #658 closed, assigned to kumarnarendra701

[2022-04-29 14:38] cpswan opened #662 "Use NFS for .docker/config.json"
**Is your feature request related to a problem? Please describe.**

At the moment secondaries need to use `docker login` to connect to registries.

**Describe the solution you'd like**

Place config.json on NFS and create a symlink to it
- [x] staging
- [x] canary
- [x] swarm0004
- [x] swarm0003
- [x] swarm0002
- [x] swarm0001

[2022-04-29 14:41] cpswan opened #663 "Refactor seccheck to run from NFS rather than a home directory"
**Is your feature request related to a problem? Please describe.**
This should simplify the installation of seccheck so that it can be made part of an automated install

**Describe the solution you'd like**
Run seccheck from NFS, and make use of [converged .env/.ENV](https://github.com/atsign-foundation/seccheck/issues/10) files to minimise touchpoints for cluster specific config.

[2022-05-02 05:30] purnimavenkatasubbu commented on #542
This task is dependent on #588 to adjust the config changes for the test atsigns. Hence no progress was made in this sprint.

[2022-05-02 06:06] purnimavenkatasubbu commented on #633
Added initial unit tests for the prepareNotificationkey() and pushed the changes to the [branch](https://github.com/atsign-foundation/at_server/tree/unit_tests%23633)

[2022-05-02 07:35] kumarnarendra701 commented on #656
@athandle - It seems resource utilization is good for Redis.

Stage-
[code]
Prod -
[code]

[2022-05-02 07:37] kumarnarendra701 commented on #622
@cpswan @cconstab - Can we close this because we are getting alerts for the above scenario.

[2022-05-02 12:39] athandle commented on #656
@cconstab let us know if it's fine and we can close this ticket

[2022-05-02 13:36] kumarnarendra701 commented on #642
@athandle @cpswan - Script is almost done and working on handling for pool UUID(getting from API).

[2022-05-02 15:58] cconstab commented on #656
Wow sure thanks for checking

[2022-05-03 08:17] cpswan commented on #656
@kumarnarendra701 I'll close this one, but can you please open a fresh ticket to make this a regular check.

[2022-05-03 08:17] #656 closed, assigned to kumarnarendra701

[2022-05-03 08:20] murali-shris commented on #646
@gkc change released to canary server. Please verify the fix

[2022-05-03 08:20] murali-shris commented on #646
@gkc change released to canary server - version 3.0.15b . Please verify the fix

[2022-05-03 08:21] cpswan commented on #622
Before we close I just want to check if @cconstab meant 1/0 or 0/1 (as it may be possible to have a situation where there's a container stuck running when the requested scale is 0)?

[2022-05-03 10:48] murali-shris commented on #542
moving this to backlog till #588 is done

[2022-05-03 13:00] gkc opened #665 "Eliminate all notification latency where possible, end-to-end"
**Describe the bug**
Significant notification latency caused by
1. Server attempts to forward notifications periodically - currently every 5 seconds
2. Server closes outbound notification connections to other servers after sending them notifications. Thus every notification carries the full overhead of server-to-server authentication
3. Server persists data before queueing the notification for del

[2022-05-03 13:03] gkc commented on #665
Need an additional 5SP in sprint PR36 to (1) make the notification connection pool into an LRU pool (2) add unit tests

[2022-05-03 13:14] gkc commented on #646
Verified

[2022-05-03 13:14] #646 closed, assigned to sitaram-kalluri

[2022-05-03 15:02] cconstab commented on #622
Original intent was 1/0 i.e things that should be running but are not. But I would also like to see 0/0 i.e things that have been scaled down and left in the docker
 service

[2022-05-03 15:07] cconstab opened #666 "straight_through_notify testing"
Gary has developed a new secondary code with speedy notification - Colin to test with a few notification focused apps and report back to Gary.

- [x] sshnoports
- [x] HRO2
- [ ] @ chats
- [ ] snackbar
- [ ] spacechat
- [x] Before and after timings

[2022-05-03 15:07] cpswan commented on #622
@cconstab I think that original ask should have been 0/1 (0 running of 1 demanded) rather than 1/0 (1 running of 0 demanded) but keeping track of the 0/0s is useful too.

[2022-05-03 15:10] cconstab commented on #666
Test results are in

Shh! No Ports

Old secondary  login time         27.1 Seconds
Straight through secondary      15.6 Seconds

[2022-05-03 15:32] gkc commented on #542
@purnimavenkatasubbu Can you specify precisely which parameters need to be dynamically configurable right now please? Is it just inbound_connection_limit and compactionJobRun?

[2022-05-03 15:33] gkc commented on #588
Pulling in to PR36 - time-boxing to 3 SP to support just what is needed by #542

[2022-05-03 15:35] gkc commented on #588
Work:
* Add a verb (e.g. 'set') which requires user authentication to execute
* For each specific config parameter required by #542 (inbound_connection_limit, compactionJobRun)
  * Find its usages and ensure that if it is changed then the changed value will be used
  * Add explicit support to the verb handler for just that config parameter
* Add a server config parameter which by default has the '

[2022-05-04 05:32] purnimavenkatasubbu commented on #542
Yes, @gkc. I need to set inbound_connection_limit and compactionJobRun before the test run and reset it to the default value after the test completion.

[2022-05-04 06:59] purnimavenkatasubbu opened #667 "ttl value is being stored to ttln in atNotification"
**Describe the bug**
The ttl value is being stored to ttln

**To Reproduce**
Steps to reproduce the behavior:
1. First Pass the value of ttl
2. Then run the [unit test](https://github.com/atsign-foundation/at_server/commit/089556efd53eff7fd4a0509dacd16d4fdb6bdfb0)

**Expected behavior**
ttl value should be added to ttl instead of ttln

**Screenshots**
![Screenshot from 2022-05-04 12-29-10](https:/

[2022-05-05 13:43] cpswan commented on #651
All nodes are now running:

[code]

(or from staging0001 registry where applicable)

rather than a docker service.

The at_swarm_load docker image has also been updated to use the latest python base, and automation has been added to track upstream dependencies and rebuild the image when they change.

[2022-05-05 13:43] #651 closed, assigned to cpswan

[2022-05-06 12:38] #469 closed, assigned to sitaram-kalluri, srieteja

[2022-05-08 17:39] kumarnarendra701 commented on #642
@cpswan - Please review the below PR and let me know your feedback.
https://github.com/atsign-company/secondaries-scripts/pull/43/files

[2022-05-09 13:44] kumarnarendra701 commented on #622
@cpswan - Please review the below PR.
https://github.com/atsign-foundation/seccheck/pull/12

[2022-05-11 23:05] gkc commented on #665
Ended up being 8 SP as in addition to making an LRU outbound client pool and adding unit tests, we found some additional issues with out-of-order notifications which needed another 2 days to diagnose and fix

[2022-05-11 23:11] gkc commented on #665
Reminder @gkc follow up on https://github.com/atsign-foundation/at_server/pull/664#issuecomment-1114257096

[2022-05-12 05:51] cpswan opened #679 "Unit tests failing due to use of deprecated `pub` command"
**Describe the bug**
[code]

**Expected behavior**
Script should use `dart pub ...`

**Additional context**
The release of dart 2.17 is likely to have caused this to surface.

[2022-05-12 09:25] #679 closed, assigned to gkc, sitaram-kalluri

[2022-05-13 09:42] gkc commented on #665
Found another issue in final testing, related to trying to send notifications to at-signs that don't exist. Other than that, waiting for final review before merging to trunk

[2022-05-13 18:22] VJag opened #686 "Mechanism to request and deliver registration API key"
Requirement:
What we have today is a single API key for every @app invoking the registration API. For a better developer experience, we need a way to request the API key using the registered email.

In order to facilitate this we have to do the following:

- After the user logs in to the atsign website he/she should be able to request the API key. API key should be delivered to the registered emai

[2022-05-14 06:55] athandle commented on #686
Ticket linked to https://github.com/atsign-company/at_handle_registrar_web/issues/211
@gkc @nickelskevin @cconstab @cpswan please confirm if we can go with the approach

@VJag minor correction all apps which are live and who requested API key are using separate API keys.

[2022-05-14 13:04] kumarnarendra701 commented on #642
@cpswan  @athandle - I have rollout script for all prod swarms and enabled cronjob.

[2022-05-15 13:10] #665 closed, assigned to gkc

[2022-05-16 05:40] cconstab commented on #666
Closing issue will move to canary asap

[2022-05-16 05:40] #666 closed, assigned to cconstab

[2022-05-16 10:30] VJag commented on #588
@srieteja can you please take up this.

[2022-05-16 10:31] gkc commented on #588
Changing priority to high as Purnima's been blocked by this for a while now

[2022-05-16 10:57] gkc commented on #686
See also https://github.com/atsign-foundation/at_widgets/issues/287 which we can make progress on once this issue is resolved

[2022-05-16 11:12] athandle commented on #686
@gkc if we can go with the description of this ticket(#686 or https://github.com/atsign-company/at_handle_registrar_web/issues/211) then we don't https://github.com/atsign-foundation/at_widgets/issues/287
I can take care of everything

[2022-05-16 11:18] gkc commented on #667
This seems bad. Setting priority High

[2022-05-16 11:22] gkc commented on #686
@athandle Sounds good - thanks!

[2022-05-16 12:20] athandle commented on #642
@cpswan  can we close this?

[2022-05-16 12:22] cpswan commented on #642
#43 needs to be merged, and please also confirm that the code has been deployed. Once those things are done this can be closed.

[2022-05-16 12:34] athandle commented on #622
@cpswan can we close this?

[2022-05-16 12:35] #642 closed, assigned to kumarnarendra701

[2022-05-16 12:35] #622 closed, assigned to cpswan, cconstab, kumarnarendra701

[2022-05-16 12:36] cpswan commented on #385
No progress on this in PR36, so bumping to PR37

[2022-05-16 12:36] cpswan commented on #663
I wasn't able to get started on this during PR36

[2022-05-16 12:37] cpswan commented on #662
I wasn't able to get started on this during PR36

[2022-05-16 12:40] cpswan opened #688 "Upgrade swarms to Flatcar 3139.2.1"
**Is your feature request related to a problem? Please describe.**
Flatcar 3139.2.0 was missing some key GCP functionality. This wasn't an issue for upgraded nodes, but meant that we had to deploy a patched version to new nodes.

**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

[2022-05-16 12:48] cpswan opened #689 "Shepherd Shear Speed"
**Is your feature request related to a problem? Please describe.**
It's taking too long to deploy new releases as Shepherd plods through the secondaries on a given cluster sequentially.

**Describe the solution you'd like**
Revise Shepherd to run upgrades in parallel.

Initial target will be an upgrade per node (18x faster on existing swarms). Objective is to get total Swarm upgrade time to <2h

S

[2022-05-16 13:10] purnimavenkatasubbu commented on #633
Added the tests for the sendNotifications() to the [branch](https://github.com/atsign-foundation/at_server/tree/resource_manager_test) . Blocked with an issue that @murali-shris is looking at. Hence moving the issue to the next sprint.

[2022-05-16 13:21] gkc opened #690 "Spike TCP reverse proxy impl"
**Is your feature request related to a problem? Please describe.**
We can expect many clients to be running on networks / devices which are restricted (1) to an allow-list of internet domains (2) to communication only via TLS over "well-known" ports - especially port 443 (https). This makes it impossible for those clients to directly connect to their secondaries

**Describe the solution you'd like

[2022-05-16 15:35] VJag opened #691 "Pass client version in the from verb"
A client should be able to pass the version to the server so that the server can respond in a backward-compatible way. "from" verb seems to be a good place to pass this information. This task requires the following changes:
 - Sever should expose an additional parameter in the from verb to accept the client version
- Clients to pass this information when connecting to the server

- [x] Implement c

[2022-05-17 08:54] murali-shris opened #692 "end2end test for by passing cached key"
**Is your feature request related to a problem? Please describe.**
- support for stopping and restarting secondary servers in end2end tests.

sample test which has stop and restart marked as TODO.
https://github.com/atsign-foundation/at_server/blob/bypass_cache_test/at_end2end_test/test/cached_key_test.dart

Next steps suggested by Chris
OK... two things from my perspective:
1. The branch needs to

[2022-05-17 13:00] cpswan commented on #688
Canary is done. I'll wait a few days before moving on to other envs.

[2022-05-18 05:04] murali-shris commented on #692
Below discussion with Gary.
Once we complete https://github.com/atsign-foundation/at_server/issues/588
we can set autoNotify=false from end2end tests and try the scenario to bypass cached keys

[2022-05-18 08:14] murali-shris commented on #667
@purnimavenkatasubbu there are two values on the notify verb
ttl - expiry of the key
ttln - expiry of the notification
ttl set on the notificationBuilder will correspond to ttln on the notify verb.

[2022-05-18 09:30] purnimavenkatasubbu commented on #667
Oh ok. As it is expected behavior I'll close the bug.

[2022-05-18 09:30] #667 closed, assigned to VJag

[2022-05-19 08:25] murali-shris commented on #633
Test is working now..I can see notifications being added to the queue.

[2022-05-19 13:42] gkc opened #697 "Staging secondaries unable to communicate with each other"
**Describe the bug**
Secondaries in the staging environment are not able to communicate with other secondaries in the staging environment; It's because the staging environment is injecting the rootServerUrl via environment, but instead of "root.atsign.wtf" it is injecting an empty string

[code]

**Expected behavior**
rootServerUrl should be set with correct value for staging, `root.atsign.wtf`

*

[2022-05-19 13:53] gkc commented on #697
@kumarnarendra701 looks like the thing that was missing here was the line I've added now to /root/.env on staging0001-01 ... is the template for .env in a repo somewhere?

[2022-05-19 13:54] cpswan commented on #697
@gkc it's at https://github.com/atsign-company/secondaries-scripts/blob/trunk/env_example

[2022-05-19 13:57] cpswan commented on #697
@kumarnarendra701 I think the actions in 1,2,3 take care of the immediate situation, so now we just need a script to run through the existing docker-compose.yml files and ensure they have a correct rootServerUrl set.

[2022-05-20 17:19] cpswan opened #706 "Provide GitHub Action to rollback a release"
**Is your feature request related to a problem? Please describe.**
When a release is found to have bugs we need a mechanism to safely roll back to an earlier known good release.

**Describe the solution you'd like**
Workflow that tags an older release as :prod and :canary

[2022-05-21 12:22] kumarnarendra701 commented on #385
@cpswan - Added GitHub action workflow for root server deployment. Please review and let me know if you see any improvements.
https://github.com/atsign-foundation/at_server/pull/708

[2022-05-21 19:42] gkc commented on #690
* Core software complete, see https://github.com/atsign-foundation/at_services
* Java client code updated to support custom SecondaryAddressFinder
* Successfully tested end-to-end from Java client via the new reverse proxy service to local secondaries, staging secondaries and production secondaries

Next step: set up DNS and SSL cert for proxy.atsign.org and deploy the reverse proxy software on it

[2022-05-23 05:40] cconstab opened #709 "Sync not working with simple put/gets"
**Describe the bug**
When using CATWEB radio frequencies do not get updated. CATWEB uses auto notify extensively. The client binaries have not changed (they are on the store)
I have tried updating the SDK on the client end and this does not work, the first update sometimes works but further updates do not.

I have migrated the secondary for AI6BH back to
[canary-c3.0.12c](https://hub.docker.com/la

[2022-05-23 05:43] cconstab commented on #709
Command to move a Canary secondary back in time

`docker service update --image  atsigncompany/secondary:canary-c3.0.12c 1bd41411-f881-5732-852e-aa53a97ba739_secondary`

[2022-05-23 05:51] cconstab commented on #709
To use CATWEB you can just run a dummy hamradio locally using

https://hamlib.github.io/

The protocol is really simple f fro frequency in hertz and F <frequency in hertz>

See demo
https://asciinema.org/a/oKmxbY09JSjVcZNtjtbKtqlPv

Set up a new radio and point it at the ip/port number and you should see a new entry on your wavi page with the frequency.

That said saomething simple that does this

[2022-05-23 06:41] purnimavenkatasubbu commented on #633
Raised the following [PR](https://github.com/atsign-foundation/at_server/pull/703) for unit tests

[2022-05-23 11:26] sitaram-kalluri commented on #709
We suspect that the issue might be because of the changes [default AtKey.sharedBy to current atsign](https://github.com/atsign-foundation/at_client_sdk/commit/2d068addbe46da9355e1a82a1619ca847b44b96d) might be missing in the at_client package that is being used. The fix is available in at_client 3.0.24 version. We are still investigating the issue further.

[2022-05-23 12:01] gkc commented on #709
@kalluriramkumar yep that's likely the cause of the second problem, which Colin encountered while he was investigating the first problem and had rebuilt his CATWEB with latest client software

However the first problem Colin describes (entries not being synced) is different - it was encountered with the version of CATWEB which is in the app store, with current server version and also version 3.0.1

[2022-05-23 17:54] ksanty commented on #686
Issue is being worked on the web registrar board - https://github.com/atsign-company/at_handle_registrar_web/issues/211

[2022-05-23 18:06] murali-shris commented on #709
@cconstab @gkc
I setup hamradio in local and ran catweb for crazytabletennis
RPRT 0
f
800000
F 500000
RPRT 0
f
500000
F 60000
RPRT 0
f
60000
F 70000
RPRT 0
f
70000
F 80000
RPRT 0
f
80000
F 90000
RPRT 0
f
90000
-------
In the above sequence of updates, except 60000 I was able to see other updates get synced to wavi.ng
![Screenshot from 2022-05-23 23-34-04](https://user-images.githubusercontent.com/

[2022-05-23 18:42] gkc commented on #709
PS This was against 3.0.15 server
[code]

PPS To repeat myself: Those HandshakeExceptions are not relevant. They are a symptom of client library code which was in that version of Catweb but has long since been resolved.

[2022-05-23 22:12] cconstab commented on #709
Version Testing
atsigncompany/secondary:canary-c3.0.12c    ===> Works
atsigncompany/secondary:canary-c3.0.13a    ===> Works
atsigncompany/secondary:canary-c3.0.14      ===>  WORKS NOW but only buyt hand updating the frequency.. Adding the full set up I had on Saturday next

OK every back in place with a real radio and everything seems to work right up to current version of secondary, which is now

[2022-05-24 01:55] cconstab commented on #709
Ok spoke too soon
Time stamp Tue May 24 01:55:23 UTC 2022
Updates failing

Screen stuck on 7.193.15

Updates happening on APP

clue
[code]

[2022-05-24 04:01] murali-shris commented on #709
1bd41411-f881-5732-852e-aa53a97ba739_secondary.1.q8skuhn6cjda@canary-02.us-central1-b.c.secondaries.internal    | SEVERE|2022-05-24 02:17:52.571117|main|Exception in starting secondary server: FileSystemException: lock failed, path = 'storage/commitLog/commit_log_1615c75b89d7d7003b298c37a4c23dec0e1ebb3994b78e428a98ba52f463c4df.lock' (OS Error: Resource temporarily unavailable, errno = 11)

[2022-05-24 04:02] murali-shris commented on #709
1bd41411-f881-5732-852e-aa53a97ba739_secondary.1.q8skuhn6cjda@canary-02.us-central1-b.c.secondaries.internal    | SEVERE|2022-05-24 02:17:52.571117|main|Exception in starting secondary server: FileSystemException: lock failed, path = 'storage/commitLog/commit_log_1615c75b89d7d7003b298c37a4c23dec0e1ebb3994b78e428a98ba52f463c4df.lock' (OS Error: Resource temporarily unavailable, errno = 11)

[2022-05-24 05:05] cconstab commented on #709
oooo interesting my @ wavi page is broken again and updates are not happeing agian

in this case it was

[code]

I changed the frequency and the updated happend and wavi and updates work again

I suspect the paired wavi key was also null hence it killed wavi...

So the TTL killing is the data but leaving the key in place at least for a while

[2022-05-24 05:26] cconstab commented on #709
Not had time today to create a test rigg.. But we need one.. Something that can update a few keys at different time intervals and see if the sync/batch works as it should

[2022-05-24 06:19] cconstab commented on #709
So I am back to 12 it seems the most reliable and does not 'lockup' at least not so far..

[2022-05-24 06:51] gkc commented on #709
So a Heisenbug that seems to occur on version 3.0.13+ but not on 3.0.12

And occurs with a client where
* ttl is set on keys
* same keys are updated repeatedly periodically
* ... @cconstab what other characteristics?

@murali-shris @VJag  We need some code to work with which may not be identical to Catweb but uses the protocol in a Catweb-like way

We should also check effect of temporary network

[2022-05-24 06:56] cconstab commented on #709
For sure multiple keys get updated in a single sync and sometimes the same key with different values

[2022-05-24 07:01] cconstab commented on #709
@VJag @murali-shris  I am traveling tomorrow so could you get some testing code written to exercise a secondary in the same way and then also use atlookup to see if changes actually are reflected on the secondary.

We need to capture the times when it fails and then work from there..

Using an app is too clunky we need a test rig, that we can then add to the pipeline in time..

Thanks

[2022-05-24 10:32] murali-shris commented on #709
sure Colin. We will work on the test scenarios and update the findings

[2022-05-24 14:29] murali-shris commented on #709
One likely cause of null value being sent in batch sync to server
If we keep updating the same key with ttl, below scenario is possible.
These are the list of steps in sync service on client side
1. get uncommitted entries from local commit log
2. pull from server
3. push to server
Getting value from key store happens in # 3. if # 2 deletes an expired key, we will get null value in # 3.
I have wri

[2022-05-24 14:32] gkc commented on #709
Great! Now we can focus on the other problem Colin observed, client updating value locally but value on server apparently not updating

[2022-05-24 14:44] sitaram-kalluri commented on #709
Tested the below scenarios to verify sync when local is ahead -
at_server - trunk branch.
at_client - 3.0.5 and trunk branch

Scenario : 1 When key is expired and sync is triggered
  -  Key sync to cloud secondary and eventually gets deleted because of background cron job
Scenario : 2 When an expired key is updated with a new TTL value and then sync
- The key with latest metadata gets sync'ed to c

[2022-05-24 14:59] cconstab commented on #709
OK I have freeze up on 12 this morning (I just fired up after sleep) ! WHich means something! I also notice that wavi is broken so I bet some keys have nulls!

This must have something to do with TTL !

These are the TTL'd keys and now they are reading "null"
[code]

[2022-05-24 15:31] cpswan opened #710 "Modify ACME script to use Cloudflare DNS"
**Is your feature request related to a problem? Please describe.**

When we fail over from LetsEncrypt to the Google Public CA certificate validation can fail because the nonce placed into LetsEncrypt has been read into Google's DNS, and cached (as a result of our script checking propagation and using Google DNS as the resolver). So when the Google CA asks for another nonce to be validated it gets

[2022-05-24 17:25] murali-shris commented on #709
wavi breaks since there is a bug in at_find_api related to handling null
    var isImage = isCustomData ? valueData['type'] == 'Image' : isBinary; //valueData is null and exception is thrown

[2022-05-24 17:45] murali-shris commented on #709
Raised a bug
https://github.com/atsign-company/at_find_api/issues/42

[2022-05-24 22:57] gkc commented on #690
* Proxy up and running at atsign-proxy-spike.gkc-misc.net:443
* Java client SDK at https://github.com/atsign-foundation/at_java updated to support use of proxy, e.g.
    `AtClient atClient = AtClient.withRemoteSecondary(atSign, ArgsUtil.createAddressFinder(rootUrl));`

* Functionally completed this spike during PR37, 5SP
* Remaining steps to complete this spike : create DNS record for proxy.atsign

[2022-05-25 05:55] cconstab commented on #709
In the by hand updating Frequency testing that genereally seems to work.. The big difference dong that by hand and programatically is that the updates could be much more often than you can type. CATWEB polls the radio every second, so each synch you could have 5 updates.. (radio_card.dart)

 As I suggested to Sita in chat the test rigs needs to exhibit that behaviour and maybe you will catch the p

[2022-05-25 05:58] cconstab commented on #709
I also found and raised ..

https://github.com/atsign-foundation/apps/issues/621

[2022-05-25 12:26] cconstab commented on #709
More and different issues this morning... Th secondary is not responding with the @ prompt !

    https://asciinema.org/a/N2I9ttJbEivmKlLBHGYXX5vI9

This is seen in the logs..

[code]

Going to restart the secondary next..

And its back up !!! This is very odd!!!

[code]

[2022-05-25 13:08] kumarnarendra701 opened #711 "Add layer on renewal script to check if running"
**Is your feature request related to a problem? Please describe.**
Sometimes Secondary renewal script takes more than 24 hours to complete and cron starts another thread of the script due to the multiple retries for the same certs.
**Describe the solution you'd like**
Add layer to script to check if renewal script is running then don't start and send the alert

[2022-05-25 13:44] sitaram-kalluri commented on #709
Written a shell script that will inject the data at every 5 second time interval and test looks positive. Attaching the recording and the shell script.

https://user-images.githubusercontent.com/16645698/170276546-5e8dfa5b-c1d6-4f36-a352-786aef80e5d3.mp4

[code]

[2022-05-25 14:32] VJag commented on #709
The plan is to run cat web with a reduced ttl continuously for at least 12 hrs against a prod atsign and see if the system goes into a bad sync state.

The idea behind reduced ttl is that in the next 12 hrs we plan to run the key should expire and get recreated. Job that cleans up expired keys should be kicked in.

[2022-05-25 14:42] VJag commented on #709
Update on null values:

1. There is a part of code that can potentially return data:null when a lookup is performed. However, that piece of code does not come into the picture when we sync. Sync queries the key store directly and the key store and the key store always return the values.
2. Checked if there is any known hive bug that makes a value null. There are some Hive issues similar to this no

[2022-05-25 19:22] kumarnarendra701 commented on #697
@cpswan @gkc - There are 63 secondaries that are missing the environment for the root URL in the docker-compose.yml file. So I have updated the file and stacks.

[2022-05-26 05:00] cconstab commented on #709
FYI ... The demo today went well no hiccups.. I was using the 12 build out of an abundancy of caution.. I have now updated AI6BH back tp the latest Canary build.. We can monitor !

[2022-05-26 08:55] #697 closed, assigned to kumarnarendra701

[2022-05-26 09:37] VJag commented on #709
After running Catweb continuously for many hours following issues have been observed:

1. A commit entry with a null commit id is inserted in the commit log
2. Stats notifications are not being generated
3. Sync stopped working after some time

We are working on debugging these issues.

[2022-05-26 14:41] VJag commented on #709
Elaborated:

### 1. A commit entry with null commit id is inserted in the commit log
- This is happening on the server-side. It is unclear how this is happening. Hypothetically, this can happen if the server restarts between the `_getBox().add(commitEntry)` and `_getBox().put(internalKey, commitEntry)` calls in the add() method of commit_log_keystore:

[code]

#### Next steps:
  1. Analyze how a n

[2022-05-26 15:45] gkc commented on #709
For anyone who wants to help reproduce the problem so we can diagnose it, see above comments
* from @cconstab : [setting up Catweb](https://github.com/atsign-foundation/at_server/issues/709#issuecomment-1134210285)
* and from @kalluriramkumar : [simulating a radio changing frequency](https://github.com/atsign-foundation/at_server/issues/709#issuecomment-1137259990)

[2022-05-27 00:09] gkc commented on #709
I've managed to reproduce the problem once, but can't quite reproduce it again just yet.

My client is very simple - just updates the same key every 10 seconds. Code is attached to this comment. [issue_709.dart.zip](https://github.com/atsign-foundation/at_server/files/8782958/issue_709.dart.zip)

What I'm seeing is that something (unknown as yet) puts things on the client side into a problematic s

[2022-05-27 01:53] gkc commented on #709
PS I've been staring at code for a few hours now, trying to figure out how this could be happening (server remains ahead of client); so far I'm drawing a blank on that because of course the whole point is that the client pulls the updates locally and updates its local commitID. But it _was_ happening, for at least 10 minutes, while I was trying to figure out what was going on. Unfortunately at tha

[2022-05-27 10:09] murali-shris commented on #709
@purnimavenkatasubbu  was able to replicate the issue. logs from the run
[purnima_local.zip](https://github.com/atsign-foundation/at_server/files/8785834/purnima_local.zip)
.

[2022-05-27 10:43] gkc commented on #709
@murali-shris @purnimavenkatasubbu yes that's exactly the behaviour I saw

So what we need to figure out now is precisely what the state is on the client, how the client gets into that state, and why it doesn't escape from that state

[2022-05-28 04:20] VJag commented on #709
Trying some code to see if we mess up Hive's sequence generation. My tests do prove that the sequences are fine however the events can happen out of order. What it means to the bug in hand needs to be verified.

Sample code:

import 'package:cron/cron.dart';
import 'package:hive/hive.dart';

void main() async {
  Hive.init("/Users/jagannadh/Documents/Work/web");
  var friends = await Hive.openBox(

[2022-05-28 09:43] gkc commented on #709
I seem to be able now to consistently reproduce the issue I found in my [comment](https://github.com/atsign-foundation/at_server/issues/709#issuecomment-1139164061) above (which Purnima also reproduced) by the following steps:
* Run issue_709.dart with a new (i.e. no existing local storage files) client, for a few minutes
* Stop the client
* Remove its local storage
* Run issue_709.dart again

Wha

[2022-05-28 11:18] VJag commented on #709
The mismatch between sequence numbers and the commit ids needs to be understood. There are duplicate commit ids too.

[2022-05-29 19:19] xavierchanth commented on #520
Closed by @cpswan in [at_client_sdk#398](https://github.com/atsign-foundation/at_client_sdk/issues/398).

[2022-05-29 19:19] #520 closed, assigned to nobody

[2022-05-29 19:20] xavierchanth commented on #521
Closed by @cpswan in [at_client_sdk#398](https://github.com/atsign-foundation/at_client_sdk/issues/398).

[2022-05-29 19:20] #521 closed, assigned to nobody

[2022-05-29 19:20] xavierchanth commented on #525
Closed by @cpswan in [at_client_sdk#398](https://github.com/atsign-foundation/at_client_sdk/issues/398).

[2022-05-29 19:20] #525 closed, assigned to nobody

[2022-05-30 07:33] sitaram-kalluri commented on #709
Reproduced the issue and the potential cause is, when ever the client storage is removed and client is re-run, the server commitID always stays ahead of local commitID. Since the same is being updated continuously, upon sync the local value is being over-written by the value from server.

[code]

[2022-05-30 07:40] gkc commented on #709
Yes, that's what I found. What we need to understand is, precisely how (code paths) does the client get into that state, and is it possible without starting with new client storage - ie could this be what Colin saw.

[2022-05-30 07:40] kumarnarendra701 commented on #385
@cpswan - Can we close this?

[2022-05-30 07:55] #385 closed, assigned to cpswan, sitaram-kalluri, kumarnarendra701

[2022-05-30 08:42] srieteja commented on #588
Could not do much work on this in the current sprint, I could manage to only complete a basic implementation. This shall be carried on to the next sprint.

[2022-05-31 06:44] purnimavenkatasubbu commented on #633
As the PR is merged to trunk. Can we close this issue @gkc

[2022-05-31 08:40] gkc commented on #633
Yep, thanks Purnima

[2022-05-31 08:53] murali-shris opened #717 "null commit id is getting updated in commit log"
**Describe the bug**
* while testing app like CATWEB which updates the same key with different values at periodic intervals, null commit id entries are seen on server commit log

**To Reproduce**
Steps to reproduce the behaviour:
* happens intermittently while testing CATWEB app or running at client sample which updates same key multiple times with few seconds delay between updates

**Expected beh

[2022-05-31 08:54] murali-shris commented on #717
  - add() method in CommitLogKeyStore is seen creating entries in the commit log with null commit id’s. We have seen this happening a number of times in the past. When this happens system goes into an inconsistent state and we have to deal with this at various places.

    - One possible cause of null commit ID is, the server unexpectedly restarting between the add and put invocations on the hive

[2022-05-31 09:05] #633 closed, assigned to gkc, purnimavenkatasubbu

[2022-05-31 09:48] murali-shris opened #719 "get latest commit id - handle null commit ids"
Better defensive code to deal with a null commit id in logic that keeps track of the latest commit id

   
     - Logic that keeps track of the latest server commit id cannot skip the value with a null commit id. This would cause the system to report the wrong value for the latest commit id. Potentially we can make of internal key and try to return the right value.

Snippet from _getCommitIdMap me

[2022-05-31 10:00] murali-shris opened #720 "server stops sending periodic notifications for commit log stats"
 - Secondary server stops sending periodic stats notifications
   - When the server gets into this state it does respond to other verbs (Ex: scan), however, it is just stuck sending the stats notification
   - What is also observed is that server somehow recovers from this state automatically after a very long time

[2022-05-31 10:07] murali-shris opened #721 "Server stuck on old value even though syncing is happening"
Steps to reproduce:
https://github.com/atsign-foundation/at_server/issues/709#issuecomment-1140223112

[2022-05-31 10:11] murali-shris opened #722 "Server doesn't respond with @ prompt"
details:
https://github.com/atsign-foundation/at_server/issues/709#issuecomment-1137176257

[2022-05-31 10:19] cpswan commented on #688
swarm0003 and swarm0004 done
swarm0001, swarm0002 and staging0001 in progress

[2022-05-31 11:09] kumarnarendra701 commented on #647
@athandle @cpswan - This ticket was created during swarm migration and the issue was due to the wrong Domain name in ENV. So we can close this.

[2022-05-31 11:09] #647 closed, assigned to kumarnarendra701

[2022-05-31 12:43] kumarnarendra701 commented on #711
@cpswan - Please review the below PR and let me know if you see any enhancements.
https://github.com/atsign-company/secondaries-scripts/pull/47

[2022-05-31 12:49] cpswan commented on #688
staging0001 done

[2022-05-31 13:15] gkc commented on #686
Lots of progress during PR37. A few things left to do - see https://github.com/atsign-company/at_handle_registrar_web/issues/211

[2022-05-31 13:23] gkc commented on #709
Added 21SP label for historical purposes to reflect the fact that this chewed up a whole week's worth of diagnosis and fix effort from equivalent of four people working full time

Closing this ticket as new tickets have been created for each individual issue.

[2022-05-31 13:24] #709 closed, assigned to gkc, cconstab, murali-shris, VJag

[2022-05-31 13:38] gkc commented on #608
@kumarnarendra701 @athandle has there been any progress on this?

[2022-05-31 13:39] gkc commented on #721
Pull request #723 is in review

[2022-05-31 13:53] #711 closed, assigned to kumarnarendra701

[2022-05-31 14:16] athandle commented on #608
@gkc no progress on this ticket other tickets were added, will do in this sprint

[2022-05-31 14:17] athandle commented on #608
@gkc @cpswan  this ticket will take more than 8SP, request you to approve and update the same

[2022-05-31 14:28] athandle commented on #686
@gkc  https://github.com/atsign-company/at_handle_registrar_web/issues/211 is also deployed on dev. Minor UI changes are pending.

[2022-05-31 16:33] cconstab commented on #722
This can happen when the secondary is "busy". The docker swarm answers the TCP socket then plugs through to the secondary, but the secondary is "busy" and does not give a prompt for a long time.

How the secondary gets busy and how we can know that is not easy..

[2022-05-31 17:04] cpswan commented on #688
swarm0002 done

[2022-05-31 18:54] cpswan commented on #688
swarm0001 done

[2022-05-31 18:54] #688 closed, assigned to cpswan

[2022-06-01 12:30] gkc opened #725 "Clarify client-specific vs server-specific code in at_persistence_secondary_server"
@VJag wrote:

_Originally posted by @VJag in https://github.com/atsign-foundation/at_server/issues/723#issuecomment-1142264402_

[2022-06-01 14:38] VJag opened #726 "Better way do periodic jobs"
**Is your feature request related to a problem? Please describe.**
The way we start a periodic execution of stats is not in line with the way it is normally done

**Describe the solution you'd like**
Convert the job to the timer task

**Describe alternatives you've considered**
Cron can do the job too, how ever it is overkill as the scheduling requirements are very simple.

**Additional context**

[2022-06-01 14:46] VJag opened #727 "Secondary server listens in a Zone"
**Is your feature request related to a problem? Please describe.**
A bad code path may cause the server to crash. Prevent the server to crash on a bad code path.

**Describe the solution you'd like**
Start the server in a zone

**Describe alternatives you've considered**
A simple try-catch, however, zoning is the recommended way and it has its own benefits.

**Additional context**
Please check thi

[2022-06-01 15:08] VJag commented on #726
Sample code to understand the differences:

[code]

[2022-06-01 15:47] athandle opened #728 "2 secondaries for 1 atsign 99thirsty1"
**Describe the bug**
secondary for 99thirsty1 was not created properly.  When I requested to create it again it created 2nd secondary for the atsign

**Expected behavior**
2 secondaries should not be there for 1 atsign.

**Screenshots**
![image](https://user-images.githubusercontent.com/61007675/171445632-a1a3ae2e-cab3-4843-93de-18d857529ebb.png)
cconstab@swarm0002-01:~$ docker service inspect --p

[2022-06-01 19:22] cconstab opened #729 "NS1 Optimization (Operations)"
NS1 provides fault redundancy to the swarms but is costly. We need to move to a better design.

- [x] Remove DNS records where they are not needed (only 04-09 need records)
- [x] Add monitors
- [x] Add Filters to do the clever DNS thing
- [x] Check all is well

[2022-06-01 19:25] cconstab commented on #729
I took a look at [NS1.com](http://ns1.com/) this morning and I am thinking perhaps we only need to advertise 2 hosts per GCP zone per cluster. This would save us a bunch of NS1 monitors. As the Swarm will get the right connection to the right container I think this is pretty optimal.

Currently

We monitor all VM's in cluster0001 and stop advertising in DNS if a node is down

We have static un mon

[2022-06-02 09:55] murali-shris commented on #719
Ran a script from prod backup in March to find out how many commit ids are null.
Box name: commit_log_60539b0b50714d62297ab735cde745addea55920f630528145e22f972f2ab915 print entry: CommitEntry{AtKey: cached:public:image.wavi@25high, operation: CommitOp.UPDATE_META, commitId:null, opTime: 2021-11-29 09:00:07.570Z, internal_seq: 682}
Box name: commit_log_5cf2437ee280b51f1433e2210af162c5b4fd68b3c81180

[2022-06-02 10:19] #721 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-03 07:39] athandle opened #735 "@kevin secondary infra was not deleted properly"
**Describe the bug**
@kevin secondary infra was not deleted properly

Info: It was on canary

**Expected behavior**
Infra should delete cleanly

**Screenshots**
![image](https://user-images.githubusercontent.com/61007675/171809573-39dba694-1141-4ccc-9805-8594bc23021d.png)
![image](https://user-images.githubusercontent.com/61007675/171809627-628e5821-be7f-4cd4-9ffb-a48cc2863810.png)

[2022-06-03 16:57] athandle commented on #735
@cconstab looks kevin atsign was expired and was deleted because of that

The secondary was not deleted properly because of a warning thrown, hopefully that was the root cause we will try to replicate tomorrow and will fix the same as required

[2022-06-05 06:48] kumarnarendra701 commented on #735
@athandle - The node code detects SSH connection waring msg as an error. So we need to ignore this string "Error: Writing 3 keys to /root/.ssh/google_compute_known_hosts"

[2022-06-05 09:11] athandle commented on #735
this is fixed. Hopefully the issue will not reproduce in future. But we need to track how many such atsigns are there that were not deleted properly
@cconstab  any quick way to check?

[2022-06-05 09:22] athandle opened #737 "Shutdown buddyworks"
@cconstab all repositories are moved to github actions, request you to check buddy.works if we have traffic then please confirm. Else request you to shut down buddy.works account to save some $s
cc @gkc @cpswan @kumarnarendra701

[2022-06-06 06:30] VJag commented on #726
Also, analyze any scope to improve other schedulers.

[2022-06-06 06:31] VJag commented on #726
This issue might be one of the potential root causes for the stats notification scheduler not running.

[2022-06-06 22:25] cconstab opened #738 "Sync in Progress on both @wavi and @mospherePro on Windows"
**Describe the bug**
Both apps get stuck on Sync in Progress

**To Reproduce**
Steps to reproduce the behavior:
1. First install on Windows latest versions
2. Then try to run apps
3. My Atsigns are on Canary BUT this only started happening last week.. Mobile Apps seem fine

**Expected behavior**
Should be able to Sync !

**Screenshots**
![image](https://user-images.githubusercontent.com/6131216/17

[2022-06-06 22:58] cconstab commented on #738
And the logs on the client show the problem (running @mospherePro

The reason this happened last week is that @ kevin was deleted last week and then reinstated but has not been enabled yet. This is arguably a SDK issue and a bug in @ mospherePro.

Would really like to nail and learn from this issue as much as we can @gkc / @murali-shris / @VJag  on for the Arch call tomorrow.. @sachins-geekyants

[2022-06-06 23:11] cconstab commented on #738
Outstanding oddness is why does the Mobile app work still ?

[2022-06-07 08:25] murali-shris commented on #738
@sachins-geekyants is creating a new release for windows with latest at_client and at_client_mobile dependency

[2022-06-07 12:31] sachins-geekyants commented on #738
@cconstab can you try running windows app from [v1.0.7.42](https://github.com/atsign-foundation/atmosphere_pro/releases/tag/v1.0.7.42) tag.

[2022-06-07 13:59] cconstab commented on #738
In tried but Windows keeps deleting the binary

![image](https://user-images.githubusercontent.com/6131216/172399293-375c9bab-a180-49ff-b369-db89a6528623.png)

[2022-06-07 14:54] cpswan opened #739 "Upgrade swarms to Flatcar 3139.2.2"
**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

[2022-06-08 04:41] #719 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-08 09:38] cpswan commented on #608
@kumarnarendra701 after talking to @cconstab yesterday he's confirmed that he would like DNS etc. to be in scope for this.

[2022-06-08 19:42] cconstab commented on #738
@sachins-geekyants @murali-shris

At this stage I can no longer log in on Windows...

The key is correct

![image](https://user-images.githubusercontent.com/6131216/172703576-15c54438-01f3-4327-b8a1-59ec2b9a55bb.png)

[code]

[2022-06-08 19:51] cconstab commented on #738
If I run from Trunk I can login (it uses the keys that were aledged to be faulty) and then get stuck at Sync in progress with lots of nasty errors in the logs..

e.g.
[code]

[2022-06-08 19:53] cconstab commented on #738
I have bumped this to P1 as I am concerned about this hitting other folks using desktop

@gkc FEEL FREE TO BUMP BACK DOWN IF YOU DO NOT AGREE

[2022-06-08 20:31] gkc commented on #738
@cconstab I agree, those are ugly exceptions in the logs
@sachins-geekyants have you diagnosed the problem? what help do you need?

[2022-06-09 09:05] sachins-geekyants commented on #738
Initially, we assumed the sync issue on windows might be happening because of old dependency of at_client and at_client_mobile, I tried running `@colin` atsign on windows using atmopshere trunk and it failed for me too even after keeping the app running for around 20 mins.

Sync kind of freezed with Exception

[code]

I don't think app has control over sync.
Hada call with @kalluriramkumar also re

[2022-06-09 09:17] sachins-geekyants commented on #738
Apart from the sync Exception, noticed bug in the front end.

1. Regarding periodic refresh of history screen.
Currently, we start periodic refreshes after onboarding completes. Which should be started after sync completes.

2. Exeption in getSentFileItems
[code]

This is happening when we are not able to convert any sent file JSON string to the view model, the JSON string data might be in old for

[2022-06-09 09:25] sachins-geekyants commented on #738
Regarding not being able to authenticate even after providing correct key, we have an open issue for it.
It was observed with `@barbara` atsing. [#585](https://github.com/atsign-foundation/apps/issues/585).

We don't know the reason behind it, Nitesh looked into it but could not reproduce it.

[2022-06-09 10:54] cpswan commented on #689
Testing on staging0001 - 2685 secondaries updated in ~1h

Load average was high across the swarm, but not alarmingly high:

![image](https://user-images.githubusercontent.com/478926/172830592-91634073-60cc-4261-9129-54c79d9c25fe.png)

Next steps:

- [x] Build atsigncompany/shepherd:latest image that incorporates DONT_WAIT
- [x] deploy to Canary

[2022-06-09 12:42] cconstab commented on #738
I can reproduce every time

[2022-06-09 15:05] cpswan commented on #689
Next steps (to be co-ordinated with next release):

- [x] deploy to swarm0002
- [x] deploy to remaining prod swarms

[2022-06-09 15:42] sachins-geekyants commented on #738
@cconstab can you think of any user behaviour that might have caused to fail auth?
like some combination using multiple apps/atsign or atsign being deleted and onboarded again ?

[2022-06-09 15:53] cconstab commented on #738
I have tried other @signs on my desktop and same result.. Very odd

[2022-06-10 14:11] sachins-geekyants commented on #738
Very odd that it did not worked with other atsign aslo.

- Can you check the **at_client** and **at_client_mobile** version mentioned in the `pubspec.yaml` and `pubspec.lock`  file ?
- Can you try running release tag version with other atsign and still see auth issue ?

If you are running from terminal, please use `trunk` branch.

[2022-06-10 22:06] cconstab commented on #729
Both SWARM0001/2 are completed and tested..

Swarm 04/5 are not yet done as they are not in use

[2022-06-10 22:06] #729 closed, assigned to cconstab

[2022-06-10 23:02] cconstab commented on #738
Using trunk and Flutter version

Flutter 3.0.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision cd41fdd495 (2 days ago) • 2022-06-08 09:52:13 -0700
Engine • revision f15f824b57
Tools • Dart 2.17.3 • DevTools 2.12.2

PS C:\Users\colin\GitHub\@foundation\atmosphere_pro> flutter pub upgrade
Resolving dependencies...
  _fe_analyzer_shared 40.0.0
  analyzer 4.1.0
  archive

[2022-06-10 23:17] cconstab commented on #738
App still hangs in the sync phase when using @ Colin

I see this in the client logs ....
[code]

and this in the secondary

[code]

[2022-06-10 23:29] cconstab commented on #738
I am now blocked as both atmosphere and wavi will not sync and the atsign @ colin is active on them both so I cannot reset the atsign

[2022-06-10 23:32] gkc commented on #738
Just to re-confirm - this is still a problem only on the desktop apps - ie not the Android or iOS apps?

[2022-06-10 23:55] cconstab commented on #738
Some application clues

[code]

[2022-06-11 02:16] cconstab commented on #738
I have spent hours on this and see so many errors it is unclear to me what is going on

[2022-06-11 04:44] cconstab commented on #738
Just to double check I deleted @ Colin on my Android phone and reinstalled and it worked just fine

[2022-06-11 14:33] sitaram-kalluri commented on #738
@cconstab : I have tested with atmosphere pro with trunk branch code (onboarded the atsign for 3 to 4 times) on windows desktop version and unable to replicate the issue. The sync completes successfully. Attaching the video. Can you please try with atmosphere pro trunk branch code (if in case you are using other version)

https://user-images.githubusercontent.com/16645698/173192144-54b8c573-85f6-4

[2022-06-11 14:46] sitaram-kalluri commented on #738
@cconstab @sachins-geekyants : What  is the version of atmosphere pro used for testing (Is it different from what we have in trunk branch)?

[2022-06-11 15:07] cconstab commented on #738
Interesting as I am using the trunk branch and it fails for me!

[2022-06-11 15:08] cconstab commented on #738
As does wavi!

[2022-06-11 19:45] cconstab commented on #738
OK after @kalluriramkumar observation I wondered if Starlink my new ISP had anything to do with this ?? It simply cannot right ???

Well I swapped to SierraTel and things just worked !

Now to figure out what on earth is going on !!

NETWORKS!

So I moved back to Starlink and guess what everythig still works OMG this is odd..

Eve odder @ wavi is also unstuck

[2022-06-12 17:56] cconstab commented on #738
Ok I had the same synch problem on my MAC and so I wanted to figure out what was going on without changing ISP..

The solution ?

I chnaged the MTU on the WIFI interface to 1280 (normally set to 1500)

And then magically it worked !

Once working again I cannot get it to fail even when I move back to 1500..

BUT this is likely because we are not moving as much data and the frame is not full ??

Th

[2022-06-13 02:49] sitaram-kalluri commented on #738
@cconstab : MTU in my machine is 1500.

[code]

[2022-06-13 03:10] cconstab commented on #738
I suspect the MTU on your router is lower..

[2022-06-13 03:13] sitaram-kalluri commented on #738
Verified using ifconfig command and it shows mtu as 1500 (Please correct me if the command used is incorrect).

wlp0s20f3: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.29.104  netmask 255.255.255.0  broadcast 192.168.29.255
        inet6 2405:201:c00c:2136:e3d3:bc50:b790:e8cc  prefixlen 64  scopeid 0x0<global>

[2022-06-13 05:31] kumarnarendra701 commented on #608
**K8 Backup Evidence -**
[code]
**Filebin:SQL**

![image](https://user-images.githubusercontent.com/29299536/173285746-8e029971-d32f-4c4f-9380-0549d5efce2d.png)

**GCP added a new feature GKE Backup, so enabled for the below cluster.**
1. Development
2. Production root
3. Web Infrastructure(Cluster 1 and Cluster2)

Backup Evidence -

![image](https://user-images.githubusercontent.com/29299536/1732

[2022-06-13 06:12] cconstab commented on #738
Cool beans.. Mine is set up the same way.. Now I cannot get anything to fail, but all I did was change my MTU on my Mac.

Once working changed it back.

Something somewhere did not like 1500…

[2022-06-13 06:28] VJag commented on #727
await secondaryServerInstance.start() in SecondaryServerBootStrapper needs to run in a zone. Sample code here:

runZonedGuarded(startServer, errorFunction);

errorFunction(Object o, StackTrace s) {
  log('Error function is being called');
  log(o);
  log(s);
   log('End of error function call')
}

[2022-06-13 06:28] VJag commented on #727
@srieteja Can you take up this next?

[2022-06-13 08:44] #735 closed, assigned to kumarnarendra701

[2022-06-13 09:19] murali-shris commented on #722
Root cause of the issue yet to be figured out.

[2022-06-13 09:20] murali-shris commented on #692
moving this to backlog since dependent task is yet to be done

[2022-06-13 09:23] sitaram-kalluri commented on #717
One of potential cause of having null commitId's to be inserted into the commit log keystore when server restarts during the updating the commit id.

Fixed the issue with the following [PR](https://github.com/atsign-foundation/at_server/pull/734)

[2022-06-13 09:23] #717 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-13 10:03] murali-shris opened #743 "analyse alternatives to hive internal sequence for commit id"
**Is your feature request related to a problem? Please describe.**
* currently add and update operations on hive commit log are not atomic. if server crashes in between commit log will be in inconsistent state

**Describe the solution you'd like**
* explore options like timestamp or alternate data structure to hold commit log state

[2022-06-13 12:11] kumarnarendra701 commented on #608
For DO DNS Backup - Added shell script in prod swarm0001-01 to create a backup of all zone records and push it to S3.
[code]

**For Upgrades -**
NFS - Not required
K8 - There are no major updates required.

[2022-06-13 12:20] kumarnarendra701 commented on #608
Notes- If we require Namecheap to schedule DNS backup then please share and grant me access. So that I'll create a new ticket and work on this.

@cpswan @athandle - Can we close this?

[2022-06-13 13:13] cpswan commented on #689
Deployment of v3.0.18 release is taking place now.

Shepherd Shear Speed is running on swarm0002, and updating a secondary every 1s
Regular Shepherd is running on swarm0001, and updating a secondary every 13s

Swarm0002 is busy, but not alarmingly busy.

Will close this after deployment has concluded and other prod swarms have been updated with Shear Speed.

Moving to next PR, and estimating remai

[2022-06-13 14:05] srieteja commented on #588
Implementation and testing completed. Working on a failing test due to unreachable secondary.

[2022-06-13 14:18] cpswan commented on #608
@kumarnarendra701 I don't think we're quite ready to close this, but also I think your work is done (at least for now).

I'd still like to get @cconstab view on some of the other resources and our (lack of) backup approach for them.

[2022-06-13 15:26] sitaram-kalluri commented on #720
Moving the PR to PR 39 - PR review pending and releasing to canary. Reducing the SP to 1 SP

[2022-06-13 15:28] sitaram-kalluri commented on #726
Duplicate of the [issue#720](https://github.com/atsign-foundation/at_server/issues/720)

[2022-06-13 15:28] #726 closed, assigned to sitaram-kalluri, murali-shris, VJag, yahu1031, srieteja

[2022-06-14 08:46] cpswan commented on #689
Shear Speed now on all prod swarms.

[2022-06-14 08:46] #689 closed, assigned to cpswan

[2022-06-14 13:11] #720 closed, assigned to sitaram-kalluri, murali-shris, VJag

[2022-06-14 13:44] athandle commented on #686
The feature is deployed on production
@sachins-geekyants we have to update onboarding documentation to get API key
@tinashe404 @cconstab  we have to discuss info text

[2022-06-15 09:48] cpswan opened #748 "Increase CPU on Swarm managers."
**Is your feature request related to a problem? Please describe.**

Swarm0001 managers get overloaded when cycling large numbers of secondaries (e.g. OS upgrades or

**Describe the solution you'd like**

Bump managers from e2-standard-2 to e2-custom-4-8192

[2022-06-15 09:50] cpswan opened #749 "Smarter Shepherd"
**Is your feature request related to a problem? Please describe.**

At present we run Shepherd with a 1h wait between cycles, but when in a cycle Shepherd is checking every secondary in turn. This means that when we deploy a release it's likely that Shepherd will be mid cycle, will upgrade a section of secondaries, wait an hour, then upgrade the rest.

**Describe the solution you'd like**

Shepher

[2022-06-15 09:52] cpswan opened #750 "Prod releases from Canary images"
**Is your feature request related to a problem? Please describe.**

Generally we want to promote a well tested Canary release rather than cut a new Prod release, as this might have **slightly** different underlying dependencies.

**Describe the solution you'd like**

Use a Dockerfile that takes the most recent Canary as its base and add a newer pubspec.yaml to carry prod release version.

**Descri

[2022-06-15 17:56] sitaram-kalluri opened #755 "List.lastWhere does not return null and lastSyncedEntryCache does not update on reserved keys"
**Describe the bug**
1. With the new dart version, the `lastWhere` clause does not allow to return `null`.
2. The lastSyncedEntryCacheMap does not update the reserved keys(encryption public key) commit id into cache.

**Expected behavior**
1. When stats:3 is executed with regex the `lastCommittedSequenceNumberWithRegex` method should return the commitId.
2. The lastSyncedEntryCacheMap should cache

[2022-06-15 17:57] #755 closed, assigned to sitaram-kalluri

[2022-06-16 05:41] cconstab commented on #738
Seems to be related to MTU discovery failing..

Many websites hit this issue and have turned down the MTU on the server to 1400 or so to reduce issues with MTU ..

Perhaps we consider the same which forces the TCP stack to advertise a MSS of 1400..

[2022-06-17 14:12] #725 closed, assigned to srieteja

[2022-06-18 18:46] kumarnarendra701 commented on #739
**Upgraded on Canary**

[code]

[2022-06-19 10:11] kumarnarendra701 commented on #739
staging0001 upgraded to 3139.2.2

[2022-06-20 04:08] kumarnarendra701 commented on #739
swarm0001 upgraded to 3139.2.2

[2022-06-20 05:51] kumarnarendra701 commented on #739
swarm0002 upgraded to 3139.2.2

[2022-06-20 10:50] purnimavenkatasubbu commented on #692
Updated the tests using the config:set verb and changes are available in this [bypassCacheTest](https://github.com/atsign-foundation/at_server/pull/677),  Following [PR](https://github.com/atsign-foundation/at_server/pull/724) should be merged first.

[2022-06-20 11:59] kumarnarendra701 commented on #739
swarm0003 upgraded to 3139.2.2

[2022-06-20 13:32] kumarnarendra701 commented on #706
@cpswan - Worked on POC of GitHub action rollback process and found two approaches for that. Please review and share your thoughts.

1. Revert to the previous tag - Delete the failed tag and workflow will pick the last tag and deploy it.
[code]
2. Revert to the previous release  - Delete the failure release and workflow will pick the last successful release and deploy it.

[code]

[2022-06-20 17:28] cpswan commented on #706
@kumarnarendra701 this should be about deploys rather than releases. So we're making our infrastructure (Shepherd) deploy a previous release.

We should not be deleting releases.

The appropriate trigger would be manual (e.g. Workflow dispatch).

What the action needs to do is rebuild Docker image manifests so that the key tags (e.g. `:prod` point to images that were previously released). The inpu

[2022-06-20 18:16] kumarnarendra701 commented on #739
@cpswan - Below are the errors during swarm0004-04 upgrade.

[code]

I have tried to debug and it's stuck in the while loop.
[code]
Please share your thoughts.

[2022-06-21 08:56] cpswan commented on #739
It seems swarm0004 has some residual problems from being built using patched images.

I've been able to force the update with:

[code]

but also if I look at `/etc/flatcar/update.conf` I see:

[code]

That `SERVER` line shouldn't be there, and is what's preventing updates from being found. So I've deleted that.

As there's no load on that swarm yet I've rebooted all the workers, and they're now ba

[2022-06-21 08:56] #739 closed, assigned to cpswan, kumarnarendra701

[2022-06-21 08:59] cpswan opened #761 "Check that swarm worker nodes have correct Flatcar upgrade.conf"
**Describe the bug**
Whilst tracking down the issues found by @kumarnarendra701 during the #739 upgrade to Flatcar 3139.2.2 it was found that some nodes didn't have the correct contents of upgrade.conf

**Expected behavior**
`/etc/flatcar/upgrade.conf` should contain:

[code]

[2022-06-21 09:00] cpswan commented on #761
I've run this script to ensure that configs are correct:

[code]

[2022-06-21 09:00] #761 closed, assigned to cpswan

[2022-06-22 06:31] srieteja commented on #588
Implementation and tests are done. The feature has been tested and is working as expected. Figuring out how to set env variables for the tests so that they can pass.

[2022-06-22 13:13] kumarnarendra701 commented on #706
@cpswan - In Workflow dispatch, we have the option to select tags and trigger actions for tags.
![image](https://user-images.githubusercontent.com/29299536/175037461-0f1a2821-9193-451d-8699-d8fd4638792d.png)

[2022-06-22 14:05] sitaram-kalluri opened #765 "Enable the public hidden keys to sync between local and cloud secondary"
**Describe the bug**
Unable to sync the public hidden keys between the cloud and local seconary.

**To Reproduce**
1. Create a public hidden in a local secondary (key that has a  leading '_' ). For example : public:_location@alice
2. Store the key to local storage using atclient.put
3. Allow the sync to run
4. The will not be synced to remote secondary.

**Expected behavior**
The public hidden key

[2022-06-22 14:50] cpswan opened #766 "Pilot Allstar security checker"
**Describe the solution you'd like**
Test [Allstar](https://github.com/ossf/allstar) on this repo with a view to implementing across the atsign-foundation org.

**Additional context**
[Google Open Source Blog - Dart and Flutter enable Allstar and Security Scorecards](https://opensource.googleblog.com/2022/06/Dart-and-Flutter-enable-Allstar-and-Security-Scorecards.html)

[2022-06-23 08:35] cpswan opened #769 "Use jit-snapshot for observable secondary"
**Is your feature request related to a problem? Please describe.**
The present observable secondary image carries the full Dart SDK with it, which makes it quite large.

**Describe the solution you'd like**
Use a jit-snapshot in a 2 stage build, so that only the dart executable is needed, which should slim things down a LOT (expect ~10x)

[2022-06-23 10:36] sitaram-kalluri commented on #765
Extenstion to this work,optionally enable the hidden to display in scan verb. Hence updating the story points to 5 SP.

[2022-06-23 17:04] kumarnarendra701 commented on #706
@cpswan - Please let me know from which repository need to start.

[2022-06-24 08:59] cpswan commented on #706
@kumarnarendra701 this repo - at_server
and for atsigncompany/secondary image on Docker Hub

[2022-06-25 05:45] kumarnarendra701 commented on #706
@cpswan - Added rollback workflow and raised PR for review.

In PR, I have added a select button to roll back particular steps, and based on selection it will trigger Job steps required steps. If you want to ignore all test cases during rollback in that case we can add one more steps to run only docker build and push. Please suggest accordingly.

[code]

[2022-06-27 02:08] #765 closed, assigned to sitaram-kalluri

[2022-06-27 05:44] purnimavenkatasubbu commented on #692
Work is done. But, moving this issue to the backlog since the dependent [PR](https://github.com/atsign-foundation/at_server/pull/724) is not yet merged to trunk.

[2022-06-27 07:36] kumarnarendra701 commented on #728
@athandle @cpswan - Based on logs analysis, found below observations.
First Node API tried to delete secondaries on "May 30 00:28" and it seems there was no stack available for the secondary.
[code]
And then it tried to create secondary on "May 30 13:03"

[code]

Again new secondary request on Jun  1 15:23

[code]

[2022-06-27 07:40] kumarnarendra701 commented on #608
@cpswan - Please let me know if I need to do anything or if we can close this.

[2022-06-27 08:24] cpswan commented on #608
We can't close yet. I've still got to have that chat with @cconstab

[2022-06-27 08:26] cpswan commented on #728
@kumarnarendra701 thanks. I think we now have a picture of **what** happened, but maybe we still don't understand **why** (and maybe that's why @athandle wants extra logging).

[2022-06-27 09:16] athandle commented on #728
@cpswan I added extra logging for delete secondary as well.
I think this issue was related to https://github.com/atsign-foundation/at_server/issues/735
where success was not returning. Hopefully, this will not happen again. But will keep an eye.

[2022-06-27 11:26] #588 closed, assigned to srieteja

[2022-06-27 11:52] cpswan opened #783 "Upgrade swarms to Flatcar 3139.2.3"
**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

Make sure to add an extra node to staging0001 before starting run, then remove it once done.

[2022-06-27 12:05] srieteja opened #784 "Tests and modification to test environment"
**Is your feature request related to a problem? Please describe.**

- [x]  1. Update regex for config verb hadler
- [x]  2. Add functional tests for dynamic server config change
- [x]  3. Add environment variable "testingMode" in the docker container that contains the secondary server used in functional tests.
- [x]  4. Add environment variable "testingMode" and set it to true in the GitHub workfl

[2022-06-27 12:09] srieteja commented on #784
Resolved (1) as part of https://github.com/atsign-foundation/at_tools/pull/191
Resolved (3, 4, 5, 6) as part of https://github.com/atsign-foundation/at_server/pull/724

[2022-06-27 12:14] srieteja commented on #784
Task 5
This issue was being caused by a getter in AtSecondaryConfig which was trying to access a parameter from environment variables which was throwing an exception causing secondary to shutdown. Hence secondary unreachable messages are repetitively logged. This was solved my using try-catch block to use an alternative method to fetch config when env var is not present. Also added a log to which

[2022-06-27 12:16] srieteja commented on #784
Task 6
This bug was being caused due to a missing return statement in _getBoolEnvVar in the if-clause when an env variable is present.

[2022-06-27 12:19] #727 closed, assigned to gkc, VJag, srieteja

[2022-06-27 12:42] #784 closed, assigned to srieteja

[2022-06-27 13:49] gkc opened #785 "Registrar: [Design & Impl Spike] Decouple AtSign reservation from secondary activation"
**Is your feature request related to a problem? Please describe.**
Currently as soon as the reservation process is complete, the secondary is activated. When we have IOT customers who want to reserve very large numbers of atSigns many of which will not need to be activated for a very long time, then, if we still have activation happening as soon as reservation is complete, we will consume lots of

[2022-06-27 13:59] gkc opened #786 "Registrar: [Design & Impl Spike] Enable some registrar requests to bypass or streamline the OTP validation step"
**Is your feature request related to a problem? Please describe.**
One-time PIN requests are perfect for when humans are reserving new AtSigns. However the current mechanism is a blocker for a partner system reserving hundreds or thousands or millions of AtSigns.

**Describe the solution you'd like**
Either
1. Bypass OTP validation
  * A customer can tag one or more of their API keys as 'No OTP va

[2022-06-27 14:23] #728 closed, assigned to kumarnarendra701

[2022-06-27 16:55] athandle commented on #786
@gkc in either case we have to trust API key owner that the owner will not misuse

[2022-06-27 16:57] athandle commented on #785
@gkc to generate cramkey we need uuid, it's hash of uuid.
Best we can do is to give an API to assign free atsign and when user will login, we can give cramkey.

Like we are doing in registrar site, users can get atsign and can activate later on

[2022-06-27 17:02] gkc commented on #786
Yes these will usually be special partnerships; OTP via webhook would preserve a second auth factor; I'm not sure it's really necessary, but it would keep the overall flow very similar to current flow

[2022-06-27 17:12] gkc commented on #785
I don't think that will work for the use case. Let's talk - I'll grab some time with you tomorrow

[2022-06-29 08:38] gkc commented on #785
Discussion moved to https://github.com/atsign-company/at_handle_registrar_web/issues/382

[2022-06-29 10:23] cpswan commented on #748
Swarms 0001-4 have been upgraded

[2022-06-29 10:23] #748 closed, assigned to cpswan

[2022-06-29 10:25] cpswan commented on #706
Bumped priority to Med, as this is needed by #750, which is prioritised as Med

[2022-06-30 14:26] cpswan opened #789 "Make lock files for certificate renewal global across swarms rather than local to a swarm"
**Is your feature request related to a problem? Please describe.**

At present we create a lock file in `/var/lock/renew_certs.lock` to stop multiple instances of `create_ren.sh` running over the top of each other. But this still allows multiple instances across our swarms, where we potentially have many scripts at once trying to create certs (and potentially exceeding the rate limits for our CAs)

[2022-07-01 19:04] kumarnarendra701 commented on #783
Staging upgraded to 3139.2.3

[2022-07-02 05:14] kumarnarendra701 commented on #783
Canary upgraded to 3139.2.3

[2022-07-03 04:59] kumarnarendra701 commented on #783
Swarm0001 upgraded to 3139.2.3

[2022-07-03 16:30] kumarnarendra701 commented on #783
Swarm0002 upgraded to 3139.2.3

[2022-07-03 16:31] kumarnarendra701 commented on #783
Swarm0003 upgraded to 3139.2.3

[2022-07-04 06:42] kumarnarendra701 commented on #783
Swarm0004 upgraded to 3139.2.3

[2022-07-04 07:16] kumarnarendra701 commented on #783
@cpswan - Please review and close this ticket.

[2022-07-04 08:23] #783 closed, assigned to cpswan, kumarnarendra701

[2022-07-05 09:05] cpswan commented on #766
Allstar has been installed in atsign-foundation with at_server as the single selected repo

[2022-07-05 09:17] cpswan commented on #766
Initial .allstar repo created for default config.

[2022-07-07 12:03] allstar-app[bot] opened #791 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch trunk

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or mai

[2022-07-07 12:03] allstar-app[bot] opened #792 "Security Policy violation SECURITY.md"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Security policy not enabled.
A SECURITY.md file can give users information about what constitutes a vulnerability and how to report one securely so that information about a bug is not publicly visible. Examples of secure reporting methods include using an issue tracker with private

[2022-07-08 11:50] kumarnarendra701 commented on #706
@cpswan - As suggested modified workflow, please review and share your feedback.

[2022-07-08 13:02] cpswan opened #793 "testingMode environment variable set but not used"
**Describe the bug**

In #777 we introduced the `testingMode` env variable in two places within `.github/workflows/at_server.yaml`:

[code]

[code]

But only the second block will actually pass an env variable to the test container, the first block simply sets the env for the GitHub actions runner.

We could have used:

[code]

But since there's no condition that would set it false that just obscu

[2022-07-11 04:57] sitaram-kalluri commented on #722
In local ran secondaries upto 30,000 commits and able to get the `@` prompt. Unable to reproduce the issue. Spent 2 SP in PR-40

[2022-07-11 08:29] gkc opened #794 "feat: Secondaries reverse proxy: create DNS record for proxy.atsign.org and install cert to match"
**Is your feature request related to a problem? Please describe.**
Have a Secondaries reverse proxy available at proxy.atsign.org:443

**Describe the solution you'd like**
Reverse proxy for secondaries was [implemented a while ago](https://github.com/atsign-foundation/at_server/issues/690). Last piece of spiking that implementation is to create a DNS entry for proxy.atsign.org and install cert to

[2022-07-11 08:30] gkc commented on #690
Created [new issue](https://github.com/atsign-foundation/at_server/issues/794) for completion of the DNS entry

[2022-07-11 08:30] #690 closed, assigned to gkc, cconstab

[2022-07-11 08:38] kumarnarendra701 commented on #789
Moved this ticket to the next sprint because didn’t get the bandwidth to work on this ticket.

[2022-07-11 08:43] kumarnarendra701 commented on #789
Moved this ticket to the next sprint because didn’t get the bandwidth to work on this.

[2022-07-11 09:13] cpswan commented on #608
@cconstab you were going to add some resources here for DNS backup.

Moving to PR41 as we're still not quite done with this.

[2022-07-11 09:14] cpswan commented on #706
Still not quite done with this, so moving to PR41

[2022-07-11 09:17] cpswan opened #795 "Add security.md"
**Is your feature request related to a problem? Please describe.**

Allstar has reported that this repo needs a security.md file at #792

**Describe the solution you'd like**

Add security.md to this repo, and archetype, and existing repos using archetype.

[2022-07-11 09:18] cpswan commented on #766
Allstar has generated some issues for at_server repo, so we can see it is working.

Need to add security.md, which is covered in #712

Also need to prune stale PRs, and set a less annoying refresh period.

[2022-07-11 09:18] #766 closed, assigned to cpswan

[2022-07-11 09:19] cpswan commented on #750
Still waiting on #706 to be completed before this can be put in place, so bumping to PR41

[2022-07-11 09:20] cpswan commented on #749
Didn't find the time to get this done, and likely won't in the coming week, so taking to backlog until PR42 (or later).

[2022-07-11 14:14] gkc opened #796 "feat: Complete implementation of IOT partner Registrar APIs for atsign reservation and activation"
Follow-on from #785 and #786

[2022-07-11 14:15] gkc commented on #796
Hi Ashish - I've created this as a new issue because I think we can close the 'design and implementation spike' tickets from last sprint

[2022-07-11 14:16] gkc commented on #786
Closing this issue as we completed design and @athandle has a working spike implementation. Created new issue at #796 for completion of the implementation

[2022-07-11 14:16] #786 closed, assigned to athandle

[2022-07-11 14:16] gkc commented on #785
Closing this issue as we completed design and @athandle has a working spike implementation. Created new issue at #796 for completion of the implementation

[2022-07-11 14:16] #785 closed, assigned to athandle

[2022-07-11 15:10] athandle opened #797 "Update help text language and onboarding documents for API key"
Update documentation - Now API key developer can generate from registrar website instead of requesting admin

- [x] Update help text in registrar
- [ ] Update onboaridng widget documentation

[2022-07-11 15:11] athandle commented on #686
closing this ticket as task is done only documentation is pending created a new ticket for the same
https://github.com/atsign-foundation/at_server/issues/797

[2022-07-11 15:11] #686 closed, assigned to gkc, athandle

[2022-07-11 15:42] gkc commented on #796
In addition to @athandle's work to wrap up the registrar implementation, we also need to update the registration / activation parts of the Java and Dart Registration / Onboarding CLIs @srieteja we will need your help on that portion

[2022-07-11 15:52] cconstab commented on #608
Some examples
https://www.cloudfloordns.com/
https://dnsmadeeasy.com/services/dnsfailover

We 'just' need to secondary the DNS zones we use for secondaries I think

[2022-07-11 15:59] srieteja commented on #796
Certainly! Let's schedule a call and discuss what needs to be done so we can have a clear picture of everything moving forward. @gkc and @athandle when do you prefer we schedule this call?

[2022-07-11 20:42] cconstab opened #799 "Rsync backups failing on Swarm-001"
**Describe the bug**
Rsync is failing and not giving any notice to admin.

**To Reproduce**
Steps to reproduce the behavior:
1. First try and log into the backup machine
3. Then find it is not answering request at all (ssh)
4. Notice that rsync is failing but it is not alerting us of that failure!
5. And then reboot backup machine
6. Rysnc now working but we need to check/alert of failures of back

[2022-07-11 20:43] cconstab commented on #608
Spotted this failure in our backups as I was reviewing this ticket..

#799

[2022-07-11 20:48] cconstab commented on #608
MongoDB backups also need to be checked please @kumarnarendra701

[2022-07-12 06:24] athandle commented on #608
@cconstab I think you already have that backup setup in place on cloud

[2022-07-12 08:32] cpswan commented on #608
@athandle I think @cconstab wants to check that we can restore something from those backups (as @kumarnarendra701 has tested with all the others on the checklist).

[2022-07-12 10:28] #792 closed, assigned to cpswan

[2022-07-12 10:30] cpswan commented on #795
Closed by #798

[2022-07-12 10:30] #795 closed, assigned to cpswan

[2022-07-12 13:28] cpswan commented on #608
@cconstab as I was looking at Secondary DNS options I noticed stuff that reminded me of NS1, so I took a look at whether they can do secondary DNS, and they do. So in the spirit of not adding /another/ vendor should we just use NS1 for secondary DNS?

[2022-07-12 14:34] cconstab commented on #608
Great idea..

[2022-07-12 15:07] athandle commented on #796
any day 12 noon IST works with me

[2022-07-12 23:59] cconstab opened #802 "Secondaries needing memory bump when a second atClient connects"
**Describe the bug**
Very odd but has now happened twice, with different atSigns (kryz_9580 & visual61). Everything has been working 100% reliably with a single dart program connecting to the secondary, but when a second atClient codebase connects the secondary it crashes with a lack of memory.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. First I created a secondary
2. Then sent n

[2022-07-13 17:38] athandle commented on #796
@gkc atSign generated by 1 API key should be allowed to be activated by another super API key or not?
As of now, any super API key can activate atSigns generated by other super API keys

Secondly, do we need to put any rate limiter to these APIs like 1 key can generate these many atsigns in a certain amount of time?

[2022-07-14 11:40] gkc commented on #796
(1) I would say the answer is no, but (2) I thought we had agreed activation would only require atSign and activation key, not the API key that registered the atSign. Intent being that an IOT device would only need to be provisioned with its atSign and the activation key for that atSign?

Two separate questions here (1) rate limiting based on whatever capacity we have available at the time (2) quo

[2022-07-14 12:36] cpswan commented on #608
@cconstab I went to configure NS1 as a secondary DNS, and pretty much fell at the first hurdle as Digital Ocean don't appear to support AXFR for zone transfers.

[2022-07-14 12:48] cconstab commented on #608
Doh

[2022-07-14 12:53] athandle commented on #796
Thanks @gkc for clarification,  I missed the first part. It's fixed now. The only concern is that we have a restriction of max atSigns an API key can activate. Either we have to remove this restriction or I can do reverse engineering. I can use from which API key this atSign was generated and then will add restriction. Please confirm.

Rate limit based on capacity is already in place. By capacity

[2022-07-14 13:36] gkc commented on #796
The max number needs to be changeable, by us, for a given API key.

sounds good except the max number for the restriction for a given API key needs to be changeable by us

I can't confirm those numbers. We should discuss on the next architecture call. However I believe reservation per hour should be a very high number, since the reservation operation isn't doing very much, and reservations are lik

[2022-07-16 03:25] #791 closed, assigned to cpswan

[2022-07-16 05:07] cconstab commented on #486
Lazy boxes fixed most of not all issues

[2022-07-16 05:07] #486 closed, assigned to cpswan, murali-shris

[2022-07-18 05:42] kumarnarendra701 commented on #789
@cpswan - Please review PR and let me know if you see any enhancement.
https://github.com/atsign-company/secondaries-scripts/pull/53

[2022-07-20 10:35] realvarx opened #815 "feat: atKeys sorting (scan verb)"
**Is your feature request related to a problem? Please describe.**

Having a concise way of knowing how the atKeys retrieved via `scan verb` are sorted.

**Describe the solution you'd like**

Check if atKeys retreived by `scan verb` are currently being sorted in some way (looks like natural order), and decide if current sorting algorithm can continue to be used (defining exactly how it is working)

[2022-07-20 11:02] athandle commented on #797
Steps to generate API key :

1. Open URL https://my.atsign.com/login
2. Login with valid credentials
3. Click on My atSign on the dashboard
4. Click on atSign for which you want to generate an API key
5. Click on the manage button
6. Click on Advance settings
7. Click on "Generate New API key" and observe the screen

Video for reference:  https://somup.com/c3iY6GuZe5

[2022-07-20 12:33] kumarnarendra701 commented on #799
@cpswan - I have observed a high CPU during rsync due to less CPU and memory on the EC2 machine. We need to upgrade the EC2 machine.

![image](https://user-images.githubusercontent.com/29299536/179982637-4f5b6dfb-2a45-4f8e-a5d5-f9e66288afc9.png)

Added checks for rsync process for an alert. Please review PR.
https://github.com/atsign-company/secondaries-scripts/pull/54

[2022-07-20 12:41] kumarnarendra701 commented on #750
@cpswan - As suggested added workflow to deploy the canary image to prod. Please review the PR.
https://github.com/atsign-foundation/at_server/pull/817

[2022-07-20 12:42] kumarnarendra701 commented on #706
@cpswan - As suggested added final steps in workflow for rollback. Please review the PR.
https://github.com/atsign-foundation/at_server/pull/779

[2022-07-20 12:52] nitesh2599 commented on #797
@athandle I have added the same into the new onboarding readme [here](https://github.com/atsign-foundation/at_widgets/blob/feature/on-boarding-3.0/at_onboarding_flutter/README.md).

[2022-07-20 15:06] athandle commented on #797
@tinashe404 can you please review the same and please create video in vimeo or youtube for help

[2022-07-20 20:14] tinashe404 commented on #797
@athandle Sure i will arrange for a video to be made

[2022-07-21 04:23] cconstab commented on #799
The high CPU was due to many concurrent rayncs running..
The new script should check previous run has finished. The CPU and memory on remote machine are just fine..

For the moment I have put the cronjob on swarm0001 to every two hours

[2022-07-21 11:57] kumarnarendra701 commented on #799
This is already done and PR is raised. @cconstab @cpswan - Please review.

[2022-07-22 21:15] cconstab opened #820 "Exception: public:publickey is not well-formed key"
**Describe the bug**
Some how the key `public:publickey` is accepted on the secondary/client but one in place is disturbs the sync process.

**To Reproduce**
Steps to reproduce the behavior:
1. First use atTalk between two atSigns
2. At some point this key is created - needs further investigation as to why/how
3. And then every sync results in a lot of noise/traffic trying to sync this key
4.

**E

[2022-07-22 21:27] cconstab commented on #820
We need a way to clean up atSigns that have this key in place as delete does not work neither does lookup..

[code]

but you can update a key it would seem and delete the key but the key stays in place.

[code]

looking up the key also fails..

[code]

[2022-07-22 22:20] cconstab commented on #820
More detail on where this key comes from.. All you need to do is run atTalk and the key appears, no need to send any messages.. See below

[code]

The only command that was run before the first and the second scan was :-

[code]

[2022-07-23 16:48] gkc commented on #820
Looks like at_onboarding_cli is doing the update to create the `public:publickey` entry (rather than as it should be, `public:publickey@<atSign>`
@srieteja:
* please can you create an issue in at_libraries and take it up in this coming sprint? See [line 168 in at_onboarding_service_impl.dart](https://github.com/atsign-foundation/at_libraries/blob/trunk/at_onboarding_cli/lib/src/at_onboarding_servi

[2022-07-24 01:27] JeremyTubongbanua commented on #815
This is a copy of the keys on my atSign. I feel that they are already sorted well. What do you think @realvarx ?
Not sure if I am understanding what you are saying.

[0 : "@abbcservicesinc:shared_key@smoothalligator"](http://jsonviewer.stack.hu/#)
[1 : "@denise:shared_key@smoothalligator"](http://jsonviewer.stack.hu/#)
[2 : "@er_nobile_14:shared_key@smoothalligator"](http://jsonviewer.stack.hu/#)

[2022-07-25 08:26] murali-shris opened #821 "validation layer on top of persistence layer to prevent saving of malformed keys"
**Is your feature request related to a problem? Please describe.**
https://github.com/orgs/atsign-foundation/projects/8/views/57
malformed keys get synced to app and cause invalid syntax exception
**Describe the solution you'd like**
add a validation layer on top of at persistence secondary layer to prevent malformed keys from getting saved.

[2022-07-25 08:34] murali-shris commented on #820
@gkc
feature request for validation layer https://github.com/atsign-foundation/at_server/issues/821
Will work on the clean up code as a part of this issue - #820

[2022-07-25 09:05] cpswan commented on #706
Review comments added. I'm not sure if #779 should be merged given that similar changes are also in #817.

[2022-07-25 09:18] cpswan commented on #789
The global lock is now in place, thanks @kumarnarendra701

But we have some side effects to deal with, per my comments at https://github.com/atsign-company/secondaries-scripts/pull/53#issuecomment-1193792351

- [x] The cron times should be staggered, so each cluster doesn't try to grab the lock at the same time.
- [x] The cron jobs should run much more frequently than daily (perhaps hourly) to giv

[2022-07-25 13:45] cpswan commented on #750
Moving to PR42, just needs to be merged and tested,

[2022-07-25 13:49] cpswan opened #822 "Upgrade swarms to Flatcar 3227.2.0"
Same process as #783 :

**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

Make sure to add an extra node to staging0001 before starting run, then remove it once done.

[2022-07-25 13:56] gkc commented on #815
@JeremyTubongbanua The issue is not that the current sort order is no good, but that we don't currently _guarantee_ any particular sort order.

[2022-07-25 14:14] gkc commented on #35
@murali-shris I'm setting priority to High on this one as per recent discussions.

[2022-07-25 14:17] gkc commented on #240
@cpswan I think you completed this a few months back ... so can we close?

[2022-07-25 14:27] cpswan commented on #240
@gkc nope, this hasn't been started. You may be thinking of the work I did to add some new keys to at_demo_data.dart for e2e tests.

[2022-07-25 14:31] gkc commented on #434
Setting priority to High as this way we can get earlier alerting when, for example, a secondary starts restarting because it needs more memory than the container is allowed, which in turn will save customer pain, and in turn will enable us to do some auto-repair for some cases (e.g. memory)

[2022-07-25 14:32] gkc commented on #439
This issue has caused some confusion recently so am setting priority to High.

[2022-07-25 14:43] gkc commented on #439
@athandle what do you need in order to add this new status to the Registrar?

[2022-07-25 14:54] athandle commented on #439
@gkc @srieteja is working on this. I just need 503 as status if secondary is unhealthy

[2022-07-25 14:55] gkc commented on #240
@cpswan ah yes indeed I was

FYI I am using .atKeys files for the Java e2e tests (which I will be merging just as soon as I can fix up my maven boilerplate to separate unit tests from integration tests)

[2022-07-25 15:02] srieteja commented on #328
Compaction stats was completed in https://github.com/atsign-foundation/at_server/pull/459. Since it was not linked to this issue, this was not closed. As the PR linked was successfully merged, tested and released I will be closing this issue.

[2022-07-25 15:02] #328 closed, assigned to srieteja

[2022-07-25 15:12] athandle opened #823 "Cleanup old staging and Swarm domain certificate"
After migration we have orphan certificates, clean them

[2022-07-26 15:55] cconstab commented on #737
I have frozen all the pipelines and moved our account to a free one..

TY..

[2022-07-26 15:55] #737 closed, assigned to cconstab

[2022-07-27 13:51] kumarnarendra701 commented on #822
staging0001 upgraded to 3227.2.0
[code]

[2022-07-27 13:51] kumarnarendra701 commented on #822
Canary upgraded to 3227.2.0
[code]

[2022-07-27 15:06] ksanty commented on #488
@athandle is this ticket still relevant or should we close?

[2022-07-27 16:02] cpswan commented on #608
@athandle @kumarnarendra701 did the MongoDB backups get checked yet?

We've decided not to do anything more with DNS (for now) so once MongoDB is confirmed we can get this closed.

[2022-07-27 17:11] ksanty commented on #548
@cconstab is this still an active ticket?  If so can you please assign a priority or close?  TY!

[2022-07-28 00:44] ksanty commented on #347
@murali-shris can we close this issue?

[2022-07-28 00:47] ksanty commented on #351
@VJag should we move this to high priority to work on PR43?

[2022-07-28 00:56] ksanty commented on #252
@cconstab is this still a viable ticket?

[2022-07-28 01:08] ksanty commented on #181
@cconstab is this still an active issue?

[2022-07-28 01:31] ksanty commented on #252
From @cconstab Search is valid but backlog - let's discuss on architecture call.

[2022-07-28 01:32] ksanty commented on #181
@cpswan @cconstab thinks this might be done.  Any insight?  TY

[2022-07-28 01:46] cconstab commented on #181
as we have a letencrypt cert I think this is done.. But I do not know how it was done..

[code]

[2022-07-28 02:42] ksanty commented on #482
@murali-shris @cpswan should we move priority up to high for PR43 sprint planning?

[2022-07-28 02:46] ksanty commented on #434
@gkc should we move this back to high priority and potentially work on PR42/43?

[2022-07-28 02:48] athandle commented on #488
@ksanty  I think we should do. We can deprioritize as it's not impacting anything as of now but in the long run can save the cost of running secondaries that people are not using actively.
@cconstab @gkc @nickelskevin @cpswan please confirm

[2022-07-28 02:56] ksanty commented on #433
@gkc @cpswan is this an arch discussion or worth reprioritizing to high for work on PR43/44?

[2022-07-28 04:46] #347 closed, assigned to murali-shris

[2022-07-28 05:24] kumarnarendra701 commented on #822
swarm0001 upgraded to 3227.2.0
[code]

[2022-07-28 06:55] murali-shris opened #834 "malformed keys - auto delete and explore key lifecycle"
**Is your feature request related to a problem? Please describe.**
- currently malformed keys can be saved in server since there is no validation on persistence layer
https://github.com/atsign-foundation/at_server/issues/820

**Describe the solution you'd like**
- issue on server is temporarily fixed by adding malformed keys to config.yaml and deleting on server startup
-  explore auto deleting ma

[2022-07-28 07:00] murali-shris commented on #482
yes @ksanty ..we can revisit whether prod spike still exists

[2022-07-28 07:24] VJag commented on #351
I don't think so.

[2022-07-28 08:46] cpswan commented on #181
This went in with https://github.com/atsign-company/infrastructure_root_manager/pull/12

[2022-07-28 08:46] #181 closed, assigned to cpswan

[2022-07-28 08:48] cpswan commented on #433
I think this got somewhat derailed by the huge bill for GCP logging, but in fact it wasn't the underlying problem, and we should revisit. A discussion in the architecture call seems like a good place to start.

[2022-07-28 13:24] gkc commented on #434
@ksanty not yet

[2022-07-28 16:25] murali-shris commented on #820
Merged PR for invalidating commit log cache on key deletion https://github.com/atsign-foundation/at_server/pull/830 in persistence and published at_persistence_secondary_server 3.0.31

[2022-07-28 16:27] murali-shris commented on #820
Merged PR https://github.com/atsign-foundation/at_server/pull/831 which fixes malformed keys on server startup.
Have to release server code to canary and prod

[2022-07-29 07:27] srieteja commented on #820
PR that contains fix to correct the malformed public key in at_onboarding_cli has been merged. About to release the package. Link to PR: https://github.com/atsign-foundation/at_libraries/pull/211

[2022-07-29 07:56] kumarnarendra701 commented on #822
swarm0002 upgraded to 3227.2.0
[code]

[2022-07-29 19:34] ksanty commented on #502
@gkc will move to the arch discussion log for the team to talk through.

[2022-07-29 19:41] ksanty commented on #530
@gkc is this an arch discussion issue since its been awhile?

[2022-07-29 19:42] gkc commented on #530
Probably worth a step back to look at how far we've come and where we should set our sights next

[2022-07-29 19:42] ksanty commented on #542
@purnimavenkatasubbu should this be moved to high priority, so we can work and close in PR43/44?

[2022-07-29 19:43] gkc commented on #542
It's just about done, it's been worked On steadily for the past few weeks

[2022-07-29 19:43] ksanty commented on #589
@VJag @murali-shris can we close this due to duplication?

[2022-07-29 19:59] ksanty commented on #542
Should it be in PR42 as unplanned work?

[2022-07-29 20:01] gkc commented on #542
Maybe? Purnima have you been active on this in the current sprint?

[2022-07-31 09:19] kumarnarendra701 commented on #789
@cpswan - As suggested added the above logic on the cert renewal process. Please review and share your feedback.
https://github.com/atsign-company/secondaries-scripts/pull/55

[2022-08-01 09:39] kumarnarendra701 commented on #706
@cpswan - Please let me know if any work is required in this ticket or can we close this?

[2022-08-01 09:40] kumarnarendra701 commented on #750
@cpswan - Please let me know if any work is required on this ticket or can we close this?

[2022-08-01 09:41] kumarnarendra701 commented on #822
swarm0003 upgraded to 3227.2.0

[code]

[2022-08-01 09:46] kumarnarendra701 commented on #799
@cpswan - Script deployed on Staging and Swarm cluster.

[2022-08-01 09:55] cpswan commented on #799
@kumarnarendra701 we need better error messages than `Error - Error while running Rsync.`

The error message should provide some indication of what went wrong and why that happened.

[2022-08-01 09:57] cpswan commented on #750
@kumarnarendra701 this still needs to be tested. The plan is for @gkc and I to run it under supervision on Thu 4 Aug.

[2022-08-01 09:57] #706 closed, assigned to cpswan, kumarnarendra701

[2022-08-01 10:19] murali-shris commented on #589
Duplicate of https://github.com/atsign-foundation/at_server/issues/546

[2022-08-01 11:14] gkc commented on #589
Re-opening as now that I look more closely I see this was created as one of the tasks in #546, and it hasn't been done yet.

[2022-08-02 05:29] kumarnarendra701 commented on #789
@cpswan - Script deployed on Staging and configured cron to run every hour. I'll monitor for today and then deploy it to prod.

[2022-08-02 06:03] cpswan commented on #789
Ok. Any thoughts @kumarnarendra701 on how we coordinate between staging and production, as they're on different NFS?

[2022-08-04 08:25] cpswan commented on #822
Seems swarm0004 has also been done.

[2022-08-04 08:25] #822 closed, assigned to kumarnarendra701

[2022-08-04 09:39] cpswan opened #845 "Provide training mode for jit-snapshot"
**Is your feature request related to a problem? Please describe.**

I can compile a jit-snapshot of a secondary with Dart 2.18 using a command line such as:

[code]

NB the ordering of options:
* `-o secondary.jit` is a compiler option, and comes before the target file `bin/main.dart`
* `-a @testatsign -p 12345 -s Te$tS3cret` are program options for the secondary

For this to work some additional

[2022-08-06 04:42] kumarnarendra701 commented on #799
@cpswan - We have disabled Rsync cronjob due to failure.

[2022-08-08 06:42] murali-shris commented on #821
at_commons PR: https://github.com/atsign-foundation/at_tools/pull/214
at_server PR: https://github.com/atsign-foundation/at_server/pull/844/files
Pending work:
some of valid keys (mainly reserved keys without namespace e.g @ bob:shared_key@alice) are failing..have to fix them

[2022-08-08 06:56] kumarnarendra701 commented on #823
Moved all certs to "/home/narendrakumar/buzz-certs" and fixed ENV variables in SSLCHECK dir.

[2022-08-08 07:00] kumarnarendra701 commented on #789
@cpswan - Created script to put lock file in GCS bucket and, as suggested working on granting GCS permission from the role for VM and testing script.

[2022-08-08 07:38] kumarnarendra701 commented on #750
@cpswan @gkc - Any update on this?

[2022-08-08 07:40] athandle commented on #823
as mentioned above task is done, hence closing ticket

[2022-08-08 07:40] #823 closed, assigned to kumarnarendra701

[2022-08-08 07:41] athandle commented on #799
@cpswan can we close this ticket or do you think we have to do any workaround for this

[2022-08-08 07:56] #799 closed, assigned to cpswan, kumarnarendra701

[2022-08-08 08:05] cpswan commented on #789
@kumarnarendra701 if the GCS thing is slowing us down then let's move quicker on getting a new lock approach in place for the prod swarms.

[2022-08-08 09:17] cpswan commented on #789
Moving to PR43 as we're not done yet.

[2022-08-08 09:17] cpswan commented on #750
We had planned to test the functionality last Thu, but that's now been moved to tomorrow (Tue 9), so bumping this to PR43.

[2022-08-08 09:19] cpswan commented on #749
No progress on this in PR42, so bumping to PR43

[2022-08-08 09:20] cpswan commented on #608
@athandle @kumarnarendra701 we're still waiting on confirmation about MongoDB backups before this can be closed.

[2022-08-08 09:47] murali-shris commented on #820
server code released to canary..prod release pending

[2022-08-08 09:58] sitaram-kalluri commented on #35
If the value contains the new line character, the data is encoded. The changes are in the following PR's
1 https://github.com/atsign-foundation/at_server/pull/835
2. https://github.com/atsign-foundation/at_client_sdk/pull/623

[2022-08-08 10:46] kumarnarendra701 commented on #789
@cpswan - Last version script deployed to prod and configured cron to run hourly.

[2022-08-08 11:06] kumarnarendra701 commented on #608
@cpswan - We have daily and hourly backup configured for atlas databases and the option to recover specific snapshots.

![image](https://user-images.githubusercontent.com/29299536/183404099-f49d8102-7cee-4ecd-992b-4257a50f69b1.png)

[2022-08-08 11:50] cpswan commented on #608
Thanks @kumarnarendra701

Have we tested restoring one of those backups?

[2022-08-08 12:30] sitaram-kalluri commented on #35
The changes are merged to trunk branch. Updating the tag to fixed for QA to test.

[2022-08-08 12:44] sitaram-kalluri commented on #509
The changes are completed in the following PR: https://github.com/atsign-foundation/at_server/pull/841

Spent 5 SP and carry forward to update the unit tests. Adding 3 SP to rewrite the tests as mentioned the PR

[2022-08-08 12:50] sitaram-kalluri commented on #691
The implementation is completed and changes are available in

at_commons: https://github.com/atsign-foundation/at_tools/tree/add_version_to_from_verb

at_server: https://github.com/atsign-foundation/at_server/tree/add_version_to_from_verb

Spent 3 SP on at_server and at_commons. Carry forwarding to raise and merge changes to trunk.

[2022-08-08 14:15] gkc opened #848 "update command allows clients to create / update entries whose keys' sharedBy is not the current atSign"
**Describe the bug**
update command allows clients to create / update entries whose keys' sharedBy is not the current atSign

**To Reproduce**
issue an update: command directly where sharedBy is different. e.g. if connected to `@alice`'s secondary server as `@alice`, issue an update command where the sharedBy is `@bob`

**Expected behavior**
Should be rejected, as it by Dart at_client package's At

[2022-08-08 14:35] gkc commented on #35
Moved to PR43

[2022-08-08 14:36] gkc commented on #608
Moving to PR43 as still ongoing

[2022-08-08 14:43] gkc commented on #796
I believe the client-side work to consume the new APIs is largely complete, moving to PR43 for PR reviews and merging

[2022-08-08 14:46] gkc commented on #802
Moving to PR43

[2022-08-08 15:13] murali-shris opened #849 "socket network behavior analysis"
**Is your feature request related to a problem? Please describe.**
We have seen bugs in the system where the behavior of the system could not be explained unless we have a deeper understanding of the internals of TCP. Under this task, we will analyze and come up with recommendations for dealing with unreliable networks.

**Describe the solution you'd like**
Come up with recommendations that can be

[2022-08-08 15:17] VJag commented on #849
Work done so far:

https://docs.google.com/document/d/1doXuXpOJ2G4pFIm5dRbr8Mc98L2QAdDlEcJu4FRQrss/edit?usp=sharing

[2022-08-08 15:38] #448 closed, assigned to nobody

[2022-08-08 15:38] #449 closed, assigned to nobody

[2022-08-08 15:38] #450 closed, assigned to nobody

[2022-08-08 15:40] JeremyTubongbanua commented on #797
https://www.youtube.com/watch?v=HVa8-X7RpNY

"Atsign API keys in 90 secs"

[2022-08-09 09:17] purnimavenkatasubbu commented on #35
Verified the bug with the latest trunk branch. Now I don't see the invalid syntax error. But the data is not being displayed in the app. Raised a bug for the same.
[https://github.com/atsign-foundation/apps/issues/686](apps/issues/686)

[2022-08-09 10:07] cpswan commented on #789
@kumarnarendra701 can you please run a report across the prod swarms to show how many certs are due for renewal in <21 days so we have a measure of any problems we might be facing over previously delayed renewal.

[2022-08-09 10:09] cpswan opened #851 "Clear out old staging certs"
**Describe the bug**
Each day the check script runs and reports something like:

[code]

**Expected behavior**
Check script runs clean

[2022-08-09 12:06] cpswan commented on #750
Testing did not go well today, so adding some additional story points so that the workflow elements can be broken out into new workflows and tested.

[2022-08-09 16:17] murali-shris commented on #820
@cconstab Server has been released to production. please verify and close the issue

[2022-08-09 16:20] gkc commented on #820
To be clear : Prod release has not happened. We made a new canary release today, but our attempt to release to prod did not work

[2022-08-10 06:28] cconstab opened #856 "Memory leak when receiving notifications from another atSign"
**Describe the bug**
When receiving a notification from another atSign the memory foot print of the secondary increases and never goes down. Eventually the docker container constraints are hit and the secondary restarted and the process continues.

**To Reproduce**
Steps to reproduce the behavior:
1. First constantly send notifications from one atSign to another (in this case an update a second)
2

[2022-08-10 06:32] cconstab commented on #856
@gkc I will defer to you on the P1 ness of this issue..

[2022-08-10 12:57] cpswan commented on #750
More testing now needed after #857 gets merged.

[2022-08-10 17:09] ksanty commented on #849
Discussed on today's architecture call.  @cconstab will review.  @VJag what other next steps are on deck?  Will this require further architecture call discussion?

[2022-08-11 06:48] VJag commented on #849
Yes, we need some more time to discuss what I have presented in the call yesterday.

[2022-08-11 14:03] murali-shris commented on #821
[code]
@gkc above keys from Colin's storage are returning as invalid keys with the latest regex. Ignore the space after @ . Added the space to avoid tagging a git user
@murali-shris I've edited this to wrap as a code block; I don't believe tagging git users happens if the '@' is within a code block

[2022-08-11 15:01] cpswan commented on #750
Canary c3.0.21d was just release to prod using the new workflow.

[2022-08-11 15:01] #750 closed, assigned to cpswan, kumarnarendra701

[2022-08-11 15:02] gkc commented on #821
@cconstab please review the key names above. My thoughts:
* colon definitely **should not** be allowed in the key part of the AtKey
* asterisk '*' ... maybe we can allow, but I don't like it
* comma ... maybe we can allow, but I really don't like it
* apostrophe ... maybe we can allow, but I really don't like it
* exclamation mark ... maybe we can allow, but I really don't like it
* question mark

[2022-08-11 15:17] gkc commented on #821
OK - discussed on eng standup - validation rules stand as-is. They are already being enforced client-side (since February-ish). Server-side, these keys should not be allowed to be created or updated. This should not interfere with existing malformed keys in the datastore - i.e. clients should still be able to `get` the values for those keys.

A separate discussion can be had about whether to fully

[2022-08-12 06:13] murali-shris opened #860 "update with special chars/punctuation fails with latest changes in validation"
**Describe the bug**
- update with special chars (e.g ,) fails. server doesn't handle the exception correctly

**To Reproduce**
Steps to reproduce the behavior:
1. run server with latest at commons and trunk branch of persistence secondary
2. run update from ssl terminal update:public:verifying,commas@alice🛠 hello

**Expected behavior**
 - server should throw error code / response for invalid key

[2022-08-12 15:55] cpswan commented on #749
Revised script pushed to GitHub.

New Docker image built.

Presently testing in staging and awaiting a new secondary image.

[2022-08-12 16:44] cpswan commented on #749
Testing of new secondary image on staging LGTM.

I'll reconfigure the prod environments on Monday.

[2022-08-12 17:20] murali-shris commented on #821
published at_persistence_secondary_server 3.0.33 with the changes

[2022-08-12 17:20] #821 closed, assigned to murali-shris

[2022-08-12 17:21] murali-shris commented on #860
changes merged to server trunk branch

[2022-08-12 17:21] #860 closed, assigned to murali-shris

[2022-08-12 17:24] murali-shris opened #865 "existing malformed keys in keystore"
**Is your feature request related to a problem? Please describe.**
- feat https://github.com/atsign-foundation/at_server/issues/821 will prevent malformed keys from server v 3.0.22
- existing malformed keys should be deleted or preserved ?

[2022-08-12 20:47] cpswan commented on #749
Reopened as we're not done yet. Will close once in production.

[2022-08-14 18:47] kumarnarendra701 commented on #851
@cpswan - There was old domain and LB entry in ".ENV" in seccheck directory and I have changed it to new Domain and LB URL and executed this script manually and got below alert and fixed the domain entry issues and after fix tried multiple attempts but no any alerts but It seems again it sending alerts to gchat.

[code]

[2022-08-15 04:46] kumarnarendra701 commented on #789
@cpswan - Please find below the report.

swarm0001 - No certs renewal pending <21 days
swarm0002 - No certs renewal pending <21 days
swarm0003 - No certs renewal pending <21 days
swarm0004 - No certs renewal pending <21 days
canary - No certs renewal pending <21 days

[2022-08-15 08:06] kumarnarendra701 commented on #789
@cpswan -
Reg: - Add storage roles in IAM service account that is associated with VM.
We need to create a new service account and add a storage role and attach it to VM but it requires a reboot. So I have created a service account in the Development GCP project and activated that service account in staging and prod swarms servers to access the GCS bucket.

I have tested the script and raised PR fo

[2022-08-15 08:08] kumarnarendra701 commented on #851
@cpswan - It seems this alert coming from another server because I had disabled cronjob for today but got an alert in chat.
[code]

[2022-08-15 09:51] cpswan commented on #851
@kumarnarendra701 it's not happening on another server. Here are the logs on `staging0001-01` in `/tmp/sechcheck`:

[code]

I think it's just that the script is VERY slow, so there are still multiple copies of it running:

[code]

Did you fix up the DNS entries for the 6 listed in https://github.com/atsign-foundation/at_server/issues/851#issuecomment-1214429946 ?

[2022-08-15 10:25] cpswan commented on #789
@kumarnarendra701 I've approved that PR

[2022-08-15 11:36] kumarnarendra701 commented on #851
@cpswan - Yes, I had fixed DNS entries for the above reported issues and also killed all certcheck processes and enabled cronjob.

[2022-08-15 12:52] cpswan commented on #749
Deployed now to prod swarms

[2022-08-15 12:52] #749 closed, assigned to cpswan

[2022-08-16 08:12] cpswan opened #867 "Upgrade swarms to Flatcar 3227.2.1"
Same process as #783 :

**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

Make sure to add an extra node to staging0001 before starting run, then remove it once done.

[2022-08-16 09:48] athandle commented on #608
mongo backup restore tested
on click of restore button, backup is restoring
![image](https://user-images.githubusercontent.com/61007675/184850413-d873606a-b6a6-49bf-bd4a-cfec6ade36d4.png)

[2022-08-16 09:49] #608 closed, assigned to cpswan, cconstab, kumarnarendra701

[2022-08-17 14:33] sitaram-kalluri commented on #856
Tested with trunk branch code (ran secondaries in local via the source code) and observed the garbage collection is being triggered and memory is released.

Further, I have looked at some of the articles which says that there might be possibility of memory leaks when running process in the docker containers (which may or may not be correct in our case). Below are links to articles

1. https://code

[2022-08-17 14:43] VJag commented on #856
Document describing ways to delete notifications:
https://docs.google.com/document/d/1I0kWMWWTfTS89f9I2fCZeu42JgH2wtngyd-L7gQJMEA/edit?usp=sharing

[2022-08-18 05:59] kumarnarendra701 commented on #867
staging0001-01 upgraded to 3227.2.1

[code]

[2022-08-18 15:52] gkc opened #869 "Sometimes get 'KEYUPDATE' as a response to a lookup of 'kryz_9850' on root server via openssl"
**Describe the bug**
Sometimes get 'KEYUPDATE' as a response to a lookup of 'kryz_9850' on root server via openssl

**To Reproduce**
* Log in to swarm0001
[code]

Note that (on swarm0001) the problem does not occur if you use openssl s_client's -quiet flag

**Expected behavior**
Should just get the normal output for kryz_9850 lookup

**Additional context**
* Works fine for me from my Mac terminal

[2022-08-18 15:57] gkc commented on #869
[code]

[2022-08-18 15:58] gkc commented on #869
[code]

[2022-08-18 16:07] gkc commented on #869
Ummmm seems to be that on some platforms, openssl is intercepting any commands typed which start with 'k' and will respond saying KEYUPDATE ... i.e. command not being sent to the root server at all. (This also explains why no '@' prompt)

Using -quiet flag somehow stops this from happening

[2022-08-18 17:53] cconstab commented on #869
On linux
openssl s_client -ign_eof  root.atsign.org:64

or MacOS
openssl s_client -ign_eof -connect root.atsign.org:64

There are Magic keys in Openssl and one is 'k' it asks openssl to regneg new keys :-)

[2022-08-19 08:18] murali-shris opened #871 "hive error in secondary of kryz_9850"
**Describe the bug**
- hive keystore of kryz has an invalid key which results in exception on server startup

**To Reproduce**
- download prod storage of kryz_9850
- start local secondary server pointing to the prod storage

**Expected behavior**
- no exception on startup

**Screenshots**
[code]

[2022-08-19 08:20] murali-shris commented on #871
Output while opening the hive storage as non-lazy box using standalone dart program
[code]

[2022-08-19 08:21] murali-shris commented on #871
commit entry corresponding to the malformed key
CommitEntry{AtKey: public:ttl:-1:ttr:-1:datasignature:h35rdygk+fnvraeptv5uq7mtu/ct+a8mexoku0rsqslvbpqbccez29xbkqqm1pg03ptj373q3duwbqlcqeruf64rwaqylexadjmcmlyswswjc09h2g2kbvniss/tpqdln31xdzkyxhbfeh2gse2q1xgnxmwt0doezyus/eo9t0krj+ftewobybhygoqc+zfwan/3+6pzt4j5+ft2epznkic5jwv/gkb8wybvpjkxswmrvsla3+m2b36/k2sofk/g9w/m1f6t3pr1qjcyabv3sgcctbwqjm6nvd2f5lbde9

[2022-08-19 09:05] purnimavenkatasubbu commented on #692
This issue is done as part of #677. Closing the issue

[2022-08-19 09:05] #692 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2022-08-19 10:26] kumarnarendra701 commented on #867
canary upgraded to 3227.2.1
[code]

[2022-08-21 15:32] kumarnarendra701 commented on #867
swarm0001 upgraded to 3227.2.1
[code]

[2022-08-21 15:33] kumarnarendra701 commented on #851
@cpswan - Now it's working fine and we can close this ticket.

[2022-08-21 15:33] kumarnarendra701 commented on #789
@cpswan - Thanks for approving the PR and script deployed on Prod and Staging.

[2022-08-22 06:16] purnimavenkatasubbu commented on #35
A separate bug is open for the data not being displayed on both the client and app sides. Hence closing this issue.
[Data not displayed](https://github.com/atsign-foundation/apps/issues/686)
[Sync happens forever](https://github.com/atsign-foundation/at_client_sdk/issues/659)

[2022-08-22 06:16] #35 closed

[2022-08-22 09:14] #789 closed, assigned to kumarnarendra701

[2022-08-22 09:15] #851 closed, assigned to kumarnarendra701

[2022-08-22 09:58] murali-shris commented on #871
Update command regex doesn't work as expected when ttl/ttb value is negative. Fixed the regex and later on any negative values passed will be rejected by server validation.
@kalluriramkumar will fix the validation in at_client

[2022-08-22 10:09] cpswan opened #872 "Staging environment jubilee"
**Is your feature request related to a problem? Please describe.**

The staging environment was almost completely down for a couple of days last week due to work on #867, but it didn't seem to cause any major issues. So do we really need all those old secondaries? Or can we reset back to a clean staging environment and start over?

**Describe the solution you'd like**

Delete all existing staging

[2022-08-22 10:09] gkc commented on #845
Will take this on in PR44

[2022-08-22 10:10] cpswan commented on #867
Moving to PR44. These upgrades could go a lot quicker by doing swarms in parallel.

[2022-08-22 11:24] gkc commented on #848
@murali-shris I've re-reviewed and approved the PR, so I'm going to close this ticket

[2022-08-22 11:24] #848 closed, assigned to gkc, murali-shris

[2022-08-22 11:30] kumarnarendra701 commented on #867
swarm0002 upgraded to 3227.2.1

[code]

[2022-08-22 11:31] murali-shris commented on #820
server v3.0.21 has been released. closing this issue

[2022-08-22 11:31] #820 closed, assigned to gkc, cconstab, sitaram-kalluri, murali-shris

[2022-08-22 11:34] gkc commented on #796
Thanks @stulluri - I have approved the PR. @athandle please feel free to release the v3 API to prod at your convenience - thank you!

[2022-08-22 11:35] murali-shris commented on #509
Dependent issue
https://github.com/atsign-foundation/at_server/issues/691

[2022-08-22 11:53] sitaram-kalluri commented on #856
Identified areas in code where the memory consumption is high. Optimised the code to reduced the memory usage and pushed the changes to [fix_memory_issues](https://github.com/atsign-foundation/at_server/tree/fix_memory_issues).

More on our investigation is documented in the following docs: https://docs.google.com/document/d/1JiGDECUmIwrPb5wO3L-3UY2ccQuis-NVIx_RbviB33Q/edit?usp=sharing

[2022-08-22 15:55] ksanty commented on #872
Medium priority after arch call discussion

[2022-08-22 17:27] kumarnarendra701 commented on #867
swarm0003 upgraded to 3227.2.1
[code]

[2022-08-23 10:29] VJag commented on #802
Investigating this issue. Testing the issue with the code changes done for https://github.com/atsign-foundation/at_server/issues/856.

@cconstab I recon, originally both the secondaries are running with 50MB. How long it take before the crash?

[2022-08-23 11:13] sitaram-kalluri commented on #856
@cconstab : Following is the docker image built from the `fix_memory_issues` branch for testing: `atsigncompany/secondary:memtest`

[2022-08-24 01:00] cconstab commented on #856
Wow this looks very good already.. Test been running for 30 mins so far.. I will leave running over night..

[code]

And after a few hours the peak mem usage I gave seen is 150M that was also as CPU peaked (tidy up job ??)

[code]

[2022-08-24 09:10] #845 closed, assigned to gkc

[2022-08-24 16:50] cconstab commented on #856
Using the latest branch and a few observations so far..

**At start up of secondary huge amounts of RAM and CPU usage (up to 500mb and 127% CPU for may be a minute or two)**

After things settle down I still see spikes of memory to about 300Mb and over time that trims back down to around 100Mb

More details as the tests runs

Huge improvements but more to learn no doubt

[2022-08-25 04:39] cconstab commented on #856
Still seeing significant spikes but not significant overall memory usage.. Thsi is what I see after 12 hours of 2 hertz data on gp01 and gps02 and 4 hertz on the receiver.

[code]

If we can do more great but excellent progress in just this week.. The sender and receiver and secondaries have been up now for 12 plus hours..

[2022-08-25 05:17] cconstab commented on #856
Another important point is to make sure the housekeeping jobs are NOT using a cron mechanism as that would mean they all hit the underlying hardware at the sametime. Instead I think we should use a delta from startup this way the load is spread across time more randomly.
@VJag

I am also documenting my GPS test rig and  capturing the memory/CPU logs of each secondary so I can graph it out for you

[2022-08-25 05:52] VJag commented on #856
@cconstab I agree. Will try adding the delta on startup thing to the branch you are testing.

[2022-08-25 13:26] cconstab commented on #856
after 21 hours of uptime

[code]

[2022-08-25 14:47] cconstab commented on #802
About a second or two after the second client connects.. This is when the secondary is limited to 50mb.. To be clear the secondary does not crash as such docker stops it as memory limits are hit.

[2022-08-25 17:06] kumarnarendra701 commented on #867
swarm0003 upgraded to 3227.2.1
[code]

[2022-08-25 17:06] kumarnarendra701 commented on #867
@cpswan - We can close this ticket.

[2022-08-25 20:04] #867 closed, assigned to kumarnarendra701

[2022-08-26 18:02] cconstab commented on #856
Testing the latest version over the weekend.. New stats avail by Monday India time

[2022-08-29 02:02] cconstab commented on #856
After running all weekend om the latest build wow!

[code]

[2022-08-29 02:07] VJag commented on #856
@cconstab I expect peak CPU and memory usage to be less than the previous run. Do you have any observations on the peak usage?

[2022-08-29 06:42] sitaram-kalluri commented on #871
Implemented the validation of metadata for the put request. Following the PR: https://github.com/atsign-foundation/at_client_sdk/pull/664

[2022-08-29 06:45] murali-shris commented on #865
outcome of arch call
* keep existing invalid keys with punctuation etc.,
* delete invalid keys such as missing shared by, invalid atsign

[2022-08-30 08:59] kumarnarendra701 commented on #663
@cpswan - After the below PR changes, moved seccheck script inside "/gluster/@/api/seccheck" and added the below cronjob from the root.

[code]

[2022-08-30 21:49] cconstab commented on #856
Tried new branch that aims to drop out of date notifications using

[code]

Unfortunately this results in the onboarding failing (I tested with a new atSign as well

[code]

@kalluriramkumar ideas welcome !

My code is here

https://github.com/atsign-foundation/at_gps_demo

[2022-08-30 23:17] cconstab commented on #856
The smoking gun ?

`FINER|2022-08-30 16:13:03.230429|AtLookup|SENDING: from:@atgps_receiver:clientConfig:{"version":"3.0.36"}`

Seems I need a secondary that can cope with the new from: verb constructs ?

As the current secondary under test is throwing

`FINER|2022-08-30 16:13:13.534696|OutboundMessageListener|RECEIVED error:AT0011-Internal server exception : invalid @sign: Cannot contain !*'``();

[2022-08-31 00:19] cconstab commented on #856
Temp work around created branch and removed the client string
[code]

[2022-08-31 01:16] sitaram-kalluri commented on #856
@cconstab : This is because I checked-out a branch which has the changes related to 'Sending client config changes to server' and since the corresponding changes on server are not deployed to prod secondaries you are experiencing the above mentioned issue. I removed the line which sends client config to server (the same fix that you made in your local branch) and pushed to `enhance_notify_text`.

[2022-08-31 05:46] cconstab commented on #856
Wow... Having messages that are set to 'strategyEnum:` on the notification params... E.g.
[code]

Results in very low memory fortprint on secondary so far (4 hours up so far)

[code]

Willl monitor for a few more days

[2022-09-01 02:09] cconstab opened #891 ""Input data length must be multiple of cipher's block size" under load"
**Describe the bug**
When a secondary is under load this message pops up and delays notifications in the atSign client code receiving the notifications

**To Reproduce**
Steps to reproduce the behavior:
1. First create 5 secondaries/atSigns to send notifications to a single receiving secondary/atSign
2. Then set up each sender to send messages every 500ms
3. Set up a receiver atSign client code to

[2022-09-01 02:39] VJag commented on #891
@murali-shris is the expert on this subject.

[2022-09-01 09:24] murali-shris commented on #865
@gkc @cconstab
I parsed old prod hive storage and latest prod storage for few atsigns with my stand alone code to detect malformed keys which have to be deleted.
Currently I have the below logic to determine keys which have to be deleted
* key starting with 'public:cached'
if key is KeyType.invalidKey
* ignore cached keys(marked invalid mainly due to punctuations)
* public keys for which sharedBy

[2022-09-01 11:29] murali-shris commented on #891
@cconstab signing_privatekey is created on the server and is not encrypted. During sync conflict resolution on client side, we are trying to decrypt this key. This key is not used on client/app side. Hence we need not sync this key. I will make two changes to fix this issue.
* skip syncing this key from server to client/app
* on client sdk decrypt values only if isEncrypted is set.

[2022-09-01 22:20] cconstab commented on #891
Wonderful thanks

[2022-09-02 04:43] cconstab commented on #548
Still active but low

[2022-09-02 09:31] murali-shris commented on #871
Waiting for server release to close this task

[2022-09-02 09:41] murali-shris commented on #871
Exception not encountered in the secondary for the past 10 days..
murali@canary-01:~$ sudo docker service logs --since '2022-08-20T00:00:00' -f 8j7h6oluln3n|grep 'SEVERE'
d8f88b04-3047-5ec3-ba81-3c65f62764dd_secondary.1.j0l950zcg60b@canary-02.us-central1-b.c.secondaries.internal    | SEVERE|2022-08-24 03:36:04.348105|InboundListener|SocketException: Connection reset by peer (OS Error: Connection r

[2022-09-02 09:42] #871 closed, assigned to gkc, murali-shris

[2022-09-05 13:47] #663 closed, assigned to cpswan, kumarnarendra701

[2022-09-06 08:53] srieteja commented on #849
note: linking PRs to issue rather than linking issue to PRs as the latter will close the issue after merging any one PR

Task 1:

Task 3:

[2022-09-06 09:40] sitaram-kalluri commented on #691
The changes are merged to trunk. Awaiting for the server changes to be released to prod before publishing the packages.

[2022-09-06 09:48] gkc commented on #691
Great! We can now make progress on #850 to which we can add a check as to whether the client is on a version which can cope with JSON-encoded error responses.

[2022-09-06 12:29] cpswan opened #895 "Upgrade swarms to Flatcar 3227.2.2"
Same process as #783 :

**Describe the solution you'd like**
Run the ripple upgrade scripts across staging and all production swarms.

Start with Canary.

Make sure to add an extra node to staging0001 before starting run, then remove it once done.

[2022-09-06 12:34] cpswan opened #896 "Upgrade swarm managers to Ubuntu 22.04.1"
- [x] staging
- [x] canary
- [x] swarm0004
- [x] swarm0003
- [x] swarm0002
- [x] swarm0001

**Describe the solution you'd like**
Upgrade each manager in turn. Ensure that key services are working. Give swarm time to stabilise.

**Describe alternatives you've considered**
Wait for 24.04 LTS

[2022-09-06 12:37] cpswan opened #897 "Shepherd taking too long to catch up if restarted."
**Describe the bug**
If Shepherd is interrupted during an upgrade run it goes back to the start of the list, and then spends 5m per secondary chugging through the secondaries that have already been upgraded. This could take weeks if it's part way through a large swarm.

**Expected behavior**
Shepherd needs to keep a log of where it has got to in the list, and speed through to that point when resta

[2022-09-06 12:40] cpswan opened #898 "Direct secondary logs to GCP"
**Is your feature request related to a problem? Please describe.**
Logs are presently held on worker nodes, which can make them difficult to access, and often provides an incomplete picture

**Describe the solution you'd like**
Configure docker daemons to send logs to GCP.

Chris to figure out approach, Narendra to then roll it out across swarms.

[2022-09-06 12:43] cpswan opened #899 "Secondaries hanging when restarting to pick up new TLS certificate"
**Describe the bug**
In the past two days two secondaries have hung during restart when new TLS certs have been issued:

@ blueamateurbinding and @ apecontemporary both went through:
* New cert
* Secondary picks up restart flag
* Shutdown doesn't complete (waiting for what?)
* Secondary is left in a state where it answers on TLS (with the old cert), but doesn't present an @ prompt

**Expected beha

[2022-09-06 15:48] srieteja commented on #439
deployed to staging at_find_api. Will close this after further testing.

[2022-09-06 15:50] athandle commented on #796
@gkc moved to prod, can we close this now?

[2022-09-06 15:54] #869 closed, assigned to cconstab

[2022-09-06 15:57] athandle commented on #872
Dev and staging deleted. Final check running will clear by tomorrow, Deleting which were neither in dev nor in staging.
Updated 2 SP for remaining work

[2022-09-06 16:33] gkc commented on #796
Yep!

[2022-09-06 16:33] #796 closed, assigned to gkc, srieteja, athandle

[2022-09-07 18:20] cconstab opened #903 "Swarm manager dropping every other connection to secondaries"
**Describe the bug**
Every other connection to secondaries fails on swarm0001-01 other nodes and customer facing stuff looks just fine

**To Reproduce**
Steps to reproduce the behavior:
1. Easier to show than tell
[code]

**Expected behavior**
Always to be able to connect

**Additional context**
Add any other context about the problem here.

Seems this is a Docker Swarm issue that others have hit

[2022-09-08 06:12] #793 closed, assigned to murali-shris, srieteja

[2022-09-08 16:40] kumarnarendra701 commented on #872
@cpswan @athandle - Removed all secondaries and data for the staging server.

[2022-09-08 16:43] cpswan commented on #872
thanks @kumarnarendra701 I've been watching the numbers come down.

[2022-09-08 16:43] #872 closed, assigned to cpswan, kumarnarendra701

[2022-09-12 14:37] kumarnarendra701 commented on #895
Canary upgraded to 3227.2.2
[code]

[2022-09-12 14:38] kumarnarendra701 commented on #895
staging0001 upgraded to 3227.2.2
[code]

[2022-09-12 14:54] purnimavenkatasubbu opened #907 "Fix the analyzer issues in persistence secondary server"
**Describe the bug**
Run the dart analyze and fix the issues.

[2022-09-12 16:54] cpswan commented on #896
@kumarnarendra701 can you give swarm0001 priority due to #903 (though obviously do staging and/or canary first so we're not starting this with our largest prod cluster).

[2022-09-12 19:25] srieteja commented on #849
Task 2:

[2022-09-13 06:58] sitaram-kalluri commented on #691
The changes are published in at_client: 3.0.38

[2022-09-13 06:58] #691 closed, assigned to VJag

[2022-09-13 09:21] cpswan commented on #897
New shepherd script in :latest image deployed to staging0001, swarm0001 and swarm0002. Other swarms should update themselves (using shepherd).

[2022-09-13 09:22] cpswan commented on #896
Priority upgraded to High due to #903

[2022-09-14 00:38] cconstab opened #911 "forText notifications with StrategyEnum.latest do not provide just the latest notification."
**Describe the bug**
Old notifications appearing as atsign connects

**To Reproduce**
Steps to reproduce the behavior:
1. First I run the MWC demo code and clients (using the iot-expo-colin branch)
2. Then I sent some readings
3. And then 'switched atSign to an atsign that also was sent the notifications
4. Old notifications appear on reconnect
5. These old notifcations can build up if the atSign

[2022-09-14 06:01] sitaram-kalluri commented on #911
The root cause of the issue is when client comes online (back from offline),  irrespective of the notification strategy used the secondary server sends every notification received from the time interval of last sent notification date-time.

Had a discussion with @VJag and following the approach to fix the issue:
1. Send the notification strategy and the notifier and the latest-N to the receiver at

[2022-09-14 09:13] cpswan commented on #911
Surely this should be mediated by the TTL for the notifications. If a notification still has time to live, then it gets passed on, else the TLL has expired, and the notification is dropped.

Of course this still potentially leads to a problem where the sender doesn't set correct TTL, causing notifications to stack up, which is where we need an approach to dealing with the deluge. But none of this

[2022-09-14 09:15] #897 closed, assigned to cpswan

[2022-09-14 14:44] cpswan commented on #898
/etc/docker/daemon.json set to `{"log-driver":"gcplogs"}` on staging0001

for worker nodes I used this script:

[code]

for managers I just ran:

[code]

the Docker services need to be restarted for this to take effect. In staging I simply did `sudo systemctl restart docker` on each worker, but we shouldn't do that in prod as it will be disruptive (and will happen anyway when we do the next Flatca

[2022-09-14 16:27] kumarnarendra701 commented on #895
swarm0001 upgraded to 3227.2.2

[2022-09-15 04:24] kumarnarendra701 commented on #895
swarm0002 upgraded to 3227.2.2
[code]

[2022-09-15 06:01] kumarnarendra701 commented on #895
swarm0003 upgraded to 3227.2.2
[code]

[2022-09-15 07:35] kumarnarendra701 commented on #895
swarm0004 upgraded to 3227.2.2
[code]

[2022-09-15 07:37] kumarnarendra701 commented on #895
@cpswan Now we can close this

[2022-09-15 08:46] #895 closed, assigned to kumarnarendra701

[2022-09-15 10:27] cpswan commented on #903
Although #896 hasn't been applied to swarm0001 yet, this seems to have been cleared by the worker reboots that happened during #895

I'd also note that at no time did this manifest in seccheck or any other tests/apps using swarm0001

[2022-09-15 10:27] #903 closed, assigned to cpswan, kumarnarendra701

[2022-09-15 15:19] sitaram-kalluri commented on #911
@cconstab : Please use the following branch in at_client repo to test the changes: [ignore_offline_notifications](https://github.com/atsign-foundation/at_client_sdk/tree/ignore_offline_notifications)

[2022-09-15 16:45] #911 closed, assigned to sitaram-kalluri, VJag

[2022-09-16 04:49] athandle opened #924 "Set auto SSL renewal for https://directory.atsign.wtf/"
As of now we have to renew manually can we setup letsencrypt SSL auto-renewal for this dev site

[2022-09-16 15:29] cpswan commented on #898
Moving to Waiting for Upstream Dependencies as this won't be completed until we do the next Flatcar upgrade.

[2022-09-16 15:37] cpswan commented on #769
Now feasible following the release of Dart 2.18, which fixes the compiler bug found in earlier exploration.

This needs to be done as part of prep for my QCon talk, which has to be recorded by 10 Oct. So pulling into PR46.

[2022-09-19 05:46] purnimavenkatasubbu commented on #907
Fix for the dart analyzer issues has been published to pub.dev.
[at_persistence_secondary_server](https://pub.dev/packages/at_persistence_secondary_server/score)

[2022-09-19 05:46] #907 closed, assigned to purnimavenkatasubbu

[2022-09-19 06:46] murali-shris commented on #891
Server side fix
https://github.com/atsign-foundation/at_server/pull/893
Client side fix
https://github.com/atsign-foundation/at_client_sdk/pull/699
server release and at client publish pending

[2022-09-19 07:03] sitaram-kalluri commented on #509
The changes are merged to trunk branch: [json_encode_error_message](https://github.com/atsign-foundation/at_server/pull/850)

[2022-09-19 12:52] gkc commented on #439
@srieteja any update?

[2022-09-19 12:53] gkc commented on #849
@srieteja any update?

[2022-09-19 12:54] gkc commented on #856
@cconstab is this particular ticket ready to be closed?

[2022-09-19 12:55] gkc commented on #509
@kalluriramkumar is this ticket complete, should it be closed?

[2022-09-19 12:56] gkc commented on #802
Any update during PR45, @VJag ?

[2022-09-19 12:58] srieteja commented on #439
@gkc my changes have been deployed to staging env and I have verified them. They are working as expected. @athandle can provide more info reg deployment to production environment.

[2022-09-19 13:04] srieteja commented on #849
@gkc the sub-tasks created under this issue(mentioned in the description) have been completed and tested. I'm currently working on getting the PRs merged.

[2022-09-19 13:14] sitaram-kalluri commented on #509
@gkc : The changes are yet to released into canary. Hence the ticket is open.

Currently facing issue in releasing code to canary. Following is the issue:

[code]

The same command works fine in e2e_test_prep action.

The reason we did this change is because, we have version package added in pubspec.yaml in at_secondary_server. So when updating the version of at_secondary_server, the version of th