[2022-09-19 13:18] VJag commented on #802
Memory optimisation fixes took care of this issue too. @cconstab can you please retest and close the issue.

[2022-09-19 13:34] gkc opened #930 "Test autobug auto-assign"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information)

[2022-09-19 13:35] #930 closed, assigned to nobody

[2022-09-19 14:59] sitaram-kalluri opened #931 "Retrieve the AtNotification using the notification-id"
**Is your feature request related to a problem? Please describe.**
- Feature request to provide capability to retrieve the AtNotification object using the notification-id.

- At the moment, only way to retrieve the notifications is query using the `notify:list` which returns a list of notifications; but user cannot retrieve a specific notification using the notification id.

**Describe the solutio

[2022-09-19 15:31] athandle commented on #896
1 swarm remaining reduced SPs

[2022-09-19 15:33] gkc commented on #856
Will close once has been verified in Canary and released to production.

[2022-09-19 15:36] athandle commented on #662
not able to work on this sprint moving to PR46

[2022-09-19 15:39] athandle commented on #797
@tinashe404 @cconstab can we please freeze the content for this? It's been carry forwarded for long time

[2022-09-19 15:42] kumarnarendra701 commented on #896
@cpswan - All swarms manager upgraded to 22.04.1.

[2022-09-19 15:43] tinashe404 commented on #797
Yes! Frozen. The only thing we were waiting for was for you to do the work that allows activation tracking so we can put the video out

[2022-09-19 15:46] athandle commented on #439
moved to prod

[2022-09-19 15:46] #439 closed, assigned to srieteja, athandle

[2022-09-19 15:56] athandle commented on #797
This API key is used to generate free atSigns in the onboarding widget. With this, you can track how many free atSigns are generated through your app and how many free and/or paid atSigns were activated using your app.

Each atSign has its own microservice which can be run anywhere. Atsign runs these for you but you can use Distributed Edge Secondary Server (dess) to run your own secondary server.

[2022-09-19 15:59] sitaram-kalluri opened #932 "Github actions fails to push secondary server canary image."
**Describe the bug**
The github actions in the secondary server fails to when pushing the secondary server canary image. Following is the link to the github action failue: https://github.com/atsign-foundation/at_server/actions/runs/3082036906/jobs/4981321618

Error snippet:
[code]
Root cause of the failure:

we have `version` package added in pubspec.yaml in at_secondary_server as a part of JSON e

[2022-09-19 16:02] ksanty commented on #931
Move to high after arch discsussion

[2022-09-20 08:24] #896 closed, assigned to cpswan, kumarnarendra701

[2022-09-20 12:12] sitaram-kalluri commented on #932
With the above PR, able to build and push the secondary server canary image successfully and is deployed to canary servers. Hence closing the issue.

[code]

[2022-09-20 12:12] #932 closed, assigned to sitaram-kalluri

[2022-09-20 16:22] HimanQA commented on #797
@athandle check the below screenshots
![image](https://user-images.githubusercontent.com/105912666/191310799-447abb8b-2b84-4609-a9f8-39600af3f148.png)
![image](https://user-images.githubusercontent.com/105912666/191310980-7c346751-26f0-4afc-8fec-fe1572fc512e.png)

[2022-09-21 23:28] cconstab commented on #865
The only question I have is on the atKrypto keys.. I think they are unusable in the current SDK but might be worth double checking

Other than that yup good to go

[2022-09-22 15:11] sitaram-kalluri commented on #931
As per the discussion in the architecture call, introduce a new verb that takes notification-id as input and returns the AtNotification object.
Proposed verb:  `notify:fetch:<notification-id>`

Please let me know if the proposed verb sounds good or needs a modification.

[2022-09-22 21:36] JeremyTubongbanua opened #936 "Free custom atSigns loop hole"
## Summary

People who know how to use the Web API that talks to the registrar can somewhat get custom atSigns for free.

## How to abuse

1. Make 1000 api calls to the `get-free-atsign` endpoint
2. Filter the data (for example, filter atSigns that don't have numbers)
3. Choose what atSigns you like
4. Use the `register-person` and `validate-person` endpoints to pair the atSign with your email.

#

[2022-09-22 21:37] JeremyTubongbanua commented on #936
@ksanty Could you please link the recording here?

[2022-09-23 07:36] kumarnarendra701 commented on #662
@cpswan - I have moved the .docker directory to /gluster/@/.docker and created a symlink on /root for all swarm nodes.

![image](https://user-images.githubusercontent.com/29299536/191911296-b71a9f95-ce90-4b0e-9952-54ac8e50b16b.png)

Please review and let me know if there's anything I need to do.

[2022-09-23 08:48] cpswan commented on #662
@kumarnarendra701 have you restarted any Flatcar nodes to ensure that the symlink is persistent across reboots?

We also have work to do on the build scripts to put the symlink in place for new nodes.

[2022-09-23 17:43] JeremyTubongbanua commented on #936
Nvm, sorry it wasn't you that recorded it

Found it. https://drive.google.com/file/d/1ddjqflrg_3xZehY8ZjhRCQD8-seVEnbY/view?usp=sharing

[2022-09-26 06:41] murali-shris commented on #936
@JeremyTubongbanua I guess this is a registrar api issue and not secondary server issue

[2022-09-26 10:17] kumarnarendra701 commented on #662
@cpswan - I have verified this and symlink is available after reboot. Where I'll get the build script? so that I'll update it for docker config.

[2022-09-27 06:52] kumarnarendra701 commented on #662
@cpswan - Added symlink for docker config in build scripts. Please review and let me know if any changes are required.

https://github.com/atsign-company/secondaries-scripts/pull/58

[2022-09-27 13:07] kumarnarendra701 commented on #924
@cpswan - Created workflow to renew certs for directory.atsign.wtf. Please review and let me know if any changes are required.
https://github.com/atsign-company/at_find_api/pull/66

[2022-09-28 08:39] cpswan commented on #899
No reoccurrence of this. Closing.

[2022-09-28 08:39] #899 closed, assigned to murali-shris

[2022-09-29 13:40] cpswan opened #945 "Dess secondary images haven't been updated since 3.0.19 due to using promotion from canary."
**Describe the bug**

The present atsigncompany/secondary:dess image carries a 3.0.19 secondary, as that's the last version that we built a production release for. Since then we've been promoting canary images, which doesn't update the dess tags or build an Armv7 image.

**To Reproduce**

Steps to reproduce the behavior:
1. First I login to a VM running dess
2. Then I `sudo docker service update -

[2022-09-29 14:16] cpswan commented on #769
#946 introduces the changes to make this happen.

The resultant image is ~1/3 the size of the previous observable secondary, but many additional files are needed by the Dart VM, so it's still substantially larger than an AOT secondary image:

[code]

Quiescent runtime memory usage is also substantially (10x) higher:

[code]

**Conclusion**: whilst the size of the observable secondary image has bee

[2022-09-29 14:16] #769 closed, assigned to cpswan

[2022-09-29 21:44] tinashe404 commented on #936
@athandle look what Jeremy found :)

[2022-09-29 21:46] tinashe404 commented on #936
This will need to be moved to the registrar repo

[2022-09-29 23:25] JeremyTubongbanua commented on #936
Go for it, I'm still unaware of what repos we even have...

[2022-09-30 04:25] athandle commented on #936
@JeremyTubongbanua are you able to get atSign which is not generated by API? or it's you are able to filter and get atSign from the atSigns generated by API?

[2022-09-30 08:40] kumarnarendra701 commented on #898
@cpswan - I have executed the script for swarm0004 cluster. Can I do it for the rest clusters and close this ticket and on Upgrade flat this will reflect?

[2022-09-30 10:27] cpswan commented on #898
@kumarnarendra701 I want to wait for a reason to restart the nodes (like a Flatcar upgrade) rather than having unnecessary disruption to the prod environment. This isn't something we need to rush just to get the ticket closed.

[2022-09-30 16:59] JeremyTubongbanua commented on #936
No I'm not able to. I have to filter first

[2022-10-02 04:54] athandle commented on #936
@JeremyTubongbanua as long as you can get any atSign generated by API, it's okay. if you are able to create your own then it's a bug

[2022-10-02 17:16] gkc opened #951 "at_server's implementation of OutboundMessageListener is lagging at_lookup's"
**Describe the bug**
* at_server has its own implementation of OutboundMessageListener. This contains old code which doesn't include the [fixes](https://github.com/atsign-foundation/at_libraries/pull/201) that have been made in AtLookup which properly handle slow network connections where the full server response might not be received before timeout. While this is unlikely to happen when the commu

[2022-10-02 18:18] gkc commented on #931
Pretty much completed during PR46. Last bits of review feedback to complete, then publishing / releasing etc.

@kalluriramkumar please can you link to the various relevant PRs

[2022-10-02 18:59] gkc opened #952 "Server can lock up during a large initial monitor response"
**Describe the bug**
* Code in `MonitorVerbHandler.processVerb` will hold onto the event loop until it completes. In turn this means that, if the `monitor:` request results in a large number of notifications being sent to the client in the initial monitor response, the server becomes completely unresponsive to other requests.
* Code snippet from `MonitorVerbHandler.processVerb`:
[code]
* Primary p

[2022-10-03 04:44] sitaram-kalluri commented on #509
The changes are related to canary servers in v3.0.23

[2022-10-03 08:53] murali-shris commented on #891
@cconstab Server and client SDK have been released. Please verify the fix

[2022-10-03 09:17] sitaram-kalluri commented on #931
Done with the changes on at_server and merged to trunk branch. Completed coding in at_client. Pending work: Raise PR in at_client

[2022-10-03 09:25] VJag opened #953 "design server performance test rigs"
**Is your feature request related to a problem? Please describe.**
Design the tests that measures the performance bottlenecks which will become driving factors to refactor/redesign the server

**Describe the solution you'd like**
By identifying and measuring performance bottlenecks and how and what clogs the event loop we should be able to design the system for the parallelism

**Describe alternat

[2022-10-03 09:26] VJag opened #954 "build server performance test rigs"
**Is your feature request related to a problem? Please describe.
Build the tests that measure the performance bottlenecks

**Describe the solution you'd like
Use the design from #953

**Describe alternatives you've considered
NA

**Additional context
NA

[2022-10-03 10:10] gkc opened #955 "Streaming"
**Describe the solution you'd like**
* Ability for one atSign to stream encrypted info to one other atSign
* (later) ability to stream encrypted data to multiple other atSigns

[2022-10-03 12:20] VJag commented on #952
Adding @purnimavenkatasubbu to help develop a test suite for this scenario detailed in the ticket

[2022-10-03 14:29] cpswan commented on #924
Presently open PR is https://github.com/atsign-company/at_find_api/pull/67

Still waiting on @kumarnarendra701 to respond to requests for change. Bumping to PR47 and reducing to 2SP.

[2022-10-03 14:30] cpswan commented on #662
Some more testing needed. Bumping to PR47 and reducing to 2SP.

[2022-10-03 15:33] #849 closed, assigned to VJag

[2022-10-03 23:09] JeremyTubongbanua commented on #936
That's true @athandle

I just thought I'd make a ticket for it because this would be a great public app someone could make in the future that could possible impede sales of custom atSigns if people can easily gain hold of somewhat decent atSigns.

[2022-10-07 04:03] sitaram-kalluri commented on #931
The changes on the at_server is released to canary in v3.0.24

[2022-10-07 17:17] #945 closed, assigned to cpswan

[2022-10-08 18:18] gkc opened #960 "Secondaries don't always restart when certificate is refreshed"
**Describe the bug**
* Secondary server `@kryz_9850` was refusing new connections for 2 days 23 hours approximately

Upon investigation - it's up and running, and it's serving the (single) client that is connected to it, which is syncing data every now and again - e.g. like this
[code]

The server is not accepting new connections, and the logs look like this:
[code]

Looking at the code in `_initi

[2022-10-09 13:00] gkc commented on #960
Additional problem: A manual restart of the secondary does not prevent the main issue from recurring as the 'restart' file, which is created by the cert renewal job and indicates to the secondary server that it needs to restart, is only deleted by the `_initializeRestartProcess` function. i.e. it is not removed upon server startup.

[2022-10-10 03:10] VJag commented on #960
@gkc I will work with you to brin storm potential solutions to this problem.

[2022-10-10 09:58] cpswan commented on #960
Looks like this is what I was seeing with #899 and didn't find recurrence of.

[2022-10-10 10:02] cpswan opened #961 "Certificates not being renewed on production swarms"
### Describe the bug

Monitoring has reported:

swarm0001:
[code]

swarm0002:
[code]

### Steps to reproduce

We need to do some detailed diagnosis, but my first guess of what happened here is that a swarm manager was rebooted whilst holding the global lock file, and so it never completed its renewal run to release the lock.

### Expected behavior

Swarms should renew certs at 30 days unless we ha

[2022-10-10 13:07] cpswan commented on #961
As suspected, lock file was stale. It had been in place since 18 Sep.

I've manually started the script on swarm0001, as that's where the problem is worst, but we'll need to make sure swarm0002 is done shortly after.

I'll also raise a ticket for structural improvements to how we handle the lock, report on the lock status etc.

[2022-10-10 13:29] cpswan opened #962 "Improve lock file management and surveillance for certificate renewal scripts"
### Is your feature request related to a problem? Please describe.

#961 shows that it's possible for the lock to be held and not released, causing the cert renewal scripts to not run.

### Describe the solution you'd like

The lock file should not be held if a script crashes, or a server is rebooted whilst holding the lock.

We should have bots that report on the length of time it's taking to run

[2022-10-11 10:43] murali-shris opened #964 "Review usage of encoding of keys in secondary store and toLowerCase in server"
### Describe the bug

a) hive_keystore.dart put/create and delete methods use Utf7 encoding.
Encoding is inconsistent while adding entry to metadataCache. See https://github.com/atsign-foundation/at_client_sdk/issues/742#issuecomment-1274406790
Review the usage of at keys encoding through out persistence and server code base.

b) secondary_util.dart convert command converts command part of at prot

[2022-10-12 10:01] cpswan commented on #961
swarm0001 renewal has completed. Script now running on swarm0002

[2022-10-12 14:25] cpswan commented on #961
swarm0002 done now.

canary, swarm0003 and swarm0004 have all been done in the last 24h

[2022-10-12 14:25] #961 closed, assigned to cpswan, kumarnarendra701

[2022-10-12 15:17] JeremyTubongbanua opened #969 "notify:messageType:text behaviour"
I assume that this is how you send a Notification of type Message.Text:

`notify:messageType:text:<@receiver>:<message 123>`

So I run this (as the atSign @fascinatingsnow):

`notify:messageType:text:@smoothalligator:test 123`

`=> data:d5c7ac4f-645b-4fa7-94c3-3a91885dcf09`

And this is what the notification looks like:

[code]

Should `value:` be null? And should the `key:` look like that?

[2022-10-12 16:02] sitaram-kalluri commented on #969
@JeremyTubongbanua : That is expected. As per the design, with message type 'text', the value will be null and the text will be part of the key.

[2022-10-12 16:55] JeremyTubongbanua commented on #969
Thank you @kalluriramkumar

[2022-10-12 16:55] #969 closed, assigned to nobody

[2022-10-14 13:19] murali-shris commented on #964
encoding of keys..
https://github.com/atsign-foundation/at_server/pull/966
* keys in hive store will be encoded(existing behavior)
* keys in metadata cache of hive keystore will be stored without encoding. (previous impl had utf7 encoding)
* in notification keystore we are encoding/decoding in getKeys and getExpiredKeys. we can remove this and do a testing
* in commit log we are passing encoded ke

[2022-10-14 15:49] gkc commented on #856
This has been stress-tested pretty comprehensively.

[2022-10-14 15:49] #856 closed, assigned to gkc, cpswan, nickelskevin, cconstab, sitaram-kalluri, murali-shris, VJag, purnimavenkatasubbu

[2022-10-14 15:52] gkc commented on #931
Waiting for
1. 3.0.24 to be released to prod
2. https://github.com/atsign-foundation/at_client_sdk/pull/738 to finish review process, be merged and new at_client package published

[2022-10-15 12:56] gkc commented on #955
Hey @cconstab and @nickelskevin please can you add in a more detailed set of requirements / constraints here please?

[2022-10-15 12:58] gkc commented on #955
Moving to PR48. Invested 3SP in PR47 on analysis, presentation and review.

[2022-10-15 15:15] kumarnarendra701 commented on #924
@cpswan - Please review the below PR.
https://github.com/atsign-company/at_find_api/pull/67
https://github.com/atsign-company/secondaries-scripts/pull/59

[2022-10-15 16:35] cconstab commented on #955
I wanted to see what we have now with the Murali demo.. But will detail the needs also..

[2022-10-17 12:40] gkc commented on #952
No impl progress during PR47 due to lots of other unplanned work. Moving to PR48. Reducing estimate to 5SP as can reuse several aspects of the fsync implementation.

[2022-10-17 12:58] athandle opened #988 "Free atSign API V3 implementation"
### Is your feature request related to a problem? Please describe.

Consistency in response format
endpoint name change

linked to https://github.com/atsign-company/at_handle_registrar_web/issues/415

### Describe the solution you'd like

Documentation updated
https://docs.google.com/document/d/1X9dbqeB5TE4XIlYzNdenGK1iNAseMs-HdllLF8XPBl8/edit#heading=h.fj6vx9bz6awc

### Describe alternatives you'

[2022-10-17 13:13] cpswan commented on #962
Moving to PR48

[2022-10-17 13:14] cpswan commented on #662
Moving to PR48

[2022-10-17 13:16] cpswan commented on #924
This is nearly ready to merge, bumping to PR48 and reducing to 1SP

[2022-10-17 13:38] cpswan opened #989 "Set auto SSL renewal for *.prod.atsign.cloud"
### Is your feature request related to a problem? Please describe.

This domain is presently using a manually generated cert, which leads to admin overhead.

### Describe the solution you'd like

Switch to auto generation like #924

### Describe alternatives you've considered

We could extend monitoring to the domains used by this cert

### Additional context

Should be pretty straightforward give

[2022-10-17 13:38] cpswan opened #990 "Set auto SSL renewal for *.dev.atsign.cloud"
### Is your feature request related to a problem? Please describe.

This domain is presently using a manually generated cert, which leads to admin overhead.

### Describe the solution you'd like

Switch to auto generation like #924

### Describe alternatives you've considered

We could extend monitoring to the domains used by this cert

### Additional context

Should be pretty straightforward give

[2022-10-17 15:34] #797 closed, assigned to cconstab, athandle, tinashe404, nitesh2599

[2022-10-18 07:33] murali-shris commented on #865
downgrading the severity due to other customer bugs and priorities in PR48

[2022-10-18 15:17] murali-shris commented on #964
[code]

[2022-10-19 10:47] cpswan commented on #945
Release p3.0.24 means we now have updated dess images

[2022-10-19 15:18] cpswan opened #995 "Upgrade swarms to Flatcar 3227.2.3"
### Describe the solution you'd like

Same process as https://github.com/atsign-foundation/at_server/issues/783 :

Run the ripple upgrade scripts across staging and all production swarms.

- [x] staging0001
- [x] canary
- [x] swarm0004
- [x] swarm0003
- [x] swarm0002
- [x] swarm0001

#898 should be closed once this is done

[2022-10-20 02:36] sitaram-kalluri commented on #509
The changes are released to production. Hence closing the git issue.

[2022-10-20 02:36] #509 closed, assigned to sitaram-kalluri

[2022-10-21 09:09] #924 closed, assigned to cpswan, kumarnarendra701

[2022-10-21 12:05] sitaram-kalluri commented on #722
Observed the issue on the prod atsign : @visual61

Captured the below logs from the secondary server that might be useful for further debugging:

[code]

<details>

<summary>Adding more logs:</summary>

[code]
</details>

[2022-10-21 12:32] sitaram-kalluri commented on #722
One of the potential causes of the issue is when a restart file is found by the secondary server, the secondary will restart.

However, if there are any active connections, the server waits for the active connection close before restarting. But will pause all the incoming connections.

Code snippet from the at_certificate_validation.dart
[code]

[2022-10-21 13:01] cpswan commented on #962
https://github.com/atsign-company/secondaries-scripts/pull/60 should take care of surveillance, but I think we shouldn't be relying on lock files alone when checking for another instance. If the lock file is there, but the create_ren.sh process isn't running then we have a stranded lock file that needs to be released.

[2022-10-22 08:43] #962 closed, assigned to cpswan, kumarnarendra701

[2022-10-23 13:42] kumarnarendra701 commented on #662
@cpswan - I have tested this and working as expected and testing took lot of time because when I was generating the ign file and version in the ign file was "version":"2.2.0" and with this version VM was not getting up so after debugging, I found this version difference in new or old ign file and when I changed it to "2.3.0" then it's started working.

[2022-10-24 03:17] sonle-geekyants commented on #988
I've changed URL in onboarding on branch `feature/change-api-v3` @ayushkumarrojha @sachins-geekyants please test it.

[2022-10-26 08:55] gkc opened #1003 "Memory optimisations for notifications have resulted in epochMillis not being set correctly for notifications"
### Describe the bug

1. We are now re-using the same AtNotificationBuilder object in the NotifyVerbHandler every time. However, we are not explicitly setting the notificationDateTime in the verb handler. As a result, the notificationDateTime that is used is not the current time, but is instead either the time the AtNotificationBuilder was first created (when the verb handler was created at server

[2022-10-26 09:13] VJag commented on #1003
@gkc ack

[2022-10-26 14:56] kumarnarendra701 commented on #990
@cpswan - Added GitHub workflow and raised PR for your review.
https://github.com/atsign-company/infrastructure_root_manager/pull/23

[2022-10-26 14:56] kumarnarendra701 commented on #989
@cpswan - Added GitHub workflow and raised PR for your review.
https://github.com/atsign-company/infrastructure_root_manager/pull/23

[2022-10-26 21:47] JeremyTubongbanua opened #1004 "ccd should be true by default"
## Summary

ccd (cascade delete) should be set to true by default.

If I share data with somebody and decide to unshare it, the cached key does not cascade delete (because it was set to false by default). They can still see my data even though I've deleted the key. The cached key lives on their secondary server, so in a way, they do own my data. And I do not have any authority over the cached key

[2022-10-27 06:39] sitaram-kalluri commented on #1003
@gkc  and @VJag :

Following are the proposed code changes to fix the issue:

1. Move the entire processVerb method into a try and finally block where we acquire the mutex lock when entering and release the lock after completion.
2. Explicitly set the notification DateTime to the atNotificationBuilder in the NotifyVerbHandler.processVerb method and NotificationUtil.storeNotification method.
3. Cal

[2022-10-27 07:23] VJag commented on #1003
@kalluriramkumar 1 and 3 are good.

2. I think the ask is to set the notification date time to now when the Notification bean is created and not used the one from the NotificationBuilder.

@gkc may I know if the way 2 is stated is what you had in mind?

[2022-10-27 07:29] sitaram-kalluri commented on #1003
At the moment, the notificationDateTime is a private member in AtNotification. So, if we wanted to set date time directly on atNotification object, we have to make it public or expose a getter and setter.

[2022-10-27 07:40] VJag commented on #1003
Not really I think the default value will be now(). Is the idea to set it from the value taken in the verb from SDK? If not then now() will probably do. Otherwise, if the intent is to set it right when the notification is sent out to the recipient then it has to be exposed.

[2022-10-27 09:48] murali-shris opened #1005 "info verb in virtual env docker image returns null version"
### Describe the bug

info verb in virtual env docker image returns null version

### Steps to reproduce
[code]

### Expected behavior

* info verb should the correct version

### Screenshots

_No response_

### Smartphones

_No response_

### Were you using an atApplication when the bug was found?

_No response_

### Additional context
failure in github actions for one of the tests which uses ser

[2022-10-27 10:02] murali-shris commented on #1005
@cpswan @XavierChanth
Please review this PR.
https://github.com/atsign-foundation/at_server/pull/1006
* Root cause of the issue is missing pubspec.yaml in docker image/virtual env.
* Logic to place pubspec.yaml into the base folder in virtual environment should be done in
https://github.com/atsign-foundation/at_server/blob/trunk/.github/workflows/at_server.yaml?
* how can I verify the fix in the P

[2022-10-27 15:13] gkc commented on #1003
Or could call builder.reset() at the start of the verb processing - i.e. **before** using the builder rather than after.

[2022-10-27 15:14] gkc commented on #1003
Historical behaviour was `now()` so we should do that for now

[2022-10-27 17:47] cpswan commented on #1005
Fixed by #1006

[code]

[2022-10-28 10:21] murali-shris commented on #1005
server functional tests were still returning null. Worked after i made the below change
https://github.com/atsign-foundation/at_server/pull/1008

[2022-10-28 12:04] kumarnarendra701 commented on #995
@cpswan - Work is done and we can close this ticket.

[2022-10-28 12:05] kumarnarendra701 commented on #898
@cpswan - Work is done and we can close this ticket.

[2022-10-28 16:16] cpswan commented on #995
Thanks @kumarnarendra701

[2022-10-28 16:16] #995 closed, assigned to kumarnarendra701

[2022-10-28 16:17] cpswan commented on #898
@kumarnarendra701 before we close can you please verify that logs are viewable/searchable in the GCP console

[2022-10-28 16:18] #989 closed, assigned to kumarnarendra701

[2022-10-28 16:18] #990 closed, assigned to kumarnarendra701

[2022-10-28 16:53] #1005 closed, assigned to murali-shris

[2022-10-28 23:42] cpswan opened #1013 "gha build numbers missing from staging environment"
### Describe the bug

The last version to appear correctly in daily reports was (on 16 Oct):

[code]

Since then we've seen simply `3.0.24` then `3.0.25`

### Steps to reproduce

Scroll back through Development Issues chat.

### Expected behavior

Versions should be tagged `+ghaXXXX`

[2022-10-28 23:48] cpswan opened #1014 "Production virtual environment should be (re)built when a Canary is promoted"
### Is your feature request related to a problem? Please describe.

virtualenv:vip hasn't been updated in a while as those builds happen on an `r` tagged release and we've been doing promotions

### Describe the solution you'd like

Ensure that a new virtual environment corresponding to the promoted code is created when a promotion happens. This probably entails moving VE production back to canary

[2022-10-30 16:00] gkc commented on #1003
Thanks @kalluriramkumar - I've approved the PR. Can you add a label to this issue for estimate on number of SPs effort this took, please?

[2022-10-30 16:00] #1003 closed, assigned to sitaram-kalluri, VJag

[2022-10-30 16:22] gkc commented on #960
No progress in PR48

[2022-10-31 02:47] sitaram-kalluri commented on #1003
Thank you, @gkc. Spent 4SP on this issue.

[2022-10-31 03:47] cconstab opened #1019 "Local root server for offline/online operations (Arra Networks)"
- [x] Create root server / docker container that can act offline for local atServers but also relay connections to the Internet root server when available.
- [x] Develop demonstration of working configuration
- [x] Document - Solution
- [x] Document - Code
- [x] Create a Docker version
- [ ] Create auto build for most OS's
- [ ] Create Unit Tests
- [ ] End to End tests

[2022-10-31 10:14] sitaram-kalluri commented on #931
The changes are merged to the trunk branch. Pending publishing. Hence re-opening. No SP is required.

[2022-10-31 11:01] #662 closed, assigned to cpswan, kumarnarendra701

[2022-10-31 11:04] cpswan commented on #898
Moving to PR49 and reducing to 1 SP for final verification.

[2022-10-31 11:33] purnimavenkatasubbu commented on #953
The current focus is on the client performance tests [client performance tests](https://github.com/atsign-foundation/at_client_sdk/issues/734). Moving it to backlog till then.

[2022-10-31 11:34] purnimavenkatasubbu commented on #954
The current focus is on the client performance tests https://github.com/atsign-foundation/at_client_sdk/issues/734. Moving it to backlog till then.

[2022-10-31 13:46] srieteja commented on #988
Changes for Dart registrar API handling have been done as part of https://github.com/atsign-foundation/at_libraries/pull/233.

[2022-10-31 13:47] srieteja commented on #988
Moving into PR49 for Java registrar API handling implementation

[2022-10-31 15:40] gkc commented on #1004
Assigned 2 SP for this to get discussed on Arch call

[2022-10-31 15:43] athandle commented on #936
will take care in registrar ticket created

[2022-10-31 15:43] #936 closed, assigned to athandle, tinashe404, JeremyTubongbanua

[2022-11-03 10:33] kumarnarendra701 opened #1023 "Upgrade swarms to Flatcar 3227.2.4"
### Is your feature request related to a problem? Please describe.

Upgrade swarms to Flatcar 3227.2.4

### Describe the solution you'd like

Same process as https://github.com/atsign-foundation/at_server/issues/783 :

Run the ripple upgrade scripts across staging and all production swarms.

- [x] staging0001
- [x] canary
- [x] swarm0004
- [x] swarm0003
- [x] swarm0002
- [x] swarm0001

### Describ

[2022-11-03 10:36] kumarnarendra701 opened #1024 "Check the secondaries that come up as failing on scan and 0/0 in daily reports"
### Describe the bug

On the daily report, a few secondaries are showing in a 0/0 state.

### Steps to reproduce

Check gChat report

### Expected behavior

No alerts in gChat for 0/0 state

### Screenshots

_No response_

### Smartphones

- Device: [e.g. iPhone6]
- OS: [e.g. iOS8.1]
- Browser [e.g. stock browser, safari]
- Version [e.g. 22]

### Were you using an atApplication when the bug was fo

[2022-11-07 06:25] kumarnarendra701 commented on #1023
@cpswan - All swarms upgraded to VERSION=3227.2.4.

[2022-11-07 06:26] kumarnarendra701 commented on #1023
@cpswan - All swarms upgraded to VERSION=3227.2.4.

[2022-11-07 07:55] murali-shris commented on #964
outcome from arch call.
Maintain the lower case behaviour in server.
convert the entire key part to lower case while accepting request from server

[2022-11-07 09:30] sitaram-kalluri commented on #1004
Discussion from the Arch call: Set the CCD (Cascade Delete) to true by default; which currently is set to false by default.

[2022-11-07 09:39] #1023 closed, assigned to kumarnarendra701

[2022-11-07 10:15] cpswan commented on #1013
Reopening, as clearly this wasn't fixed by #1027

[2022-11-08 06:04] cconstab commented on #1019
MVP now opensource in the foundation repo

[2022-11-08 10:22] #1013 closed, assigned to cpswan

[2022-11-08 11:08] cpswan opened #1036 "Clear down (and upgrade) CICD VMs"
End2end tests were flaking

Took a look at the two CICD VMs, and both were short of disk space, not chronically, but worth sorting out.

Ran `sudo docker system prune -a` to clear out old containers and images.

Also upgraded to Ubuntu 22.04 whilst there

[2022-11-08 11:09] #1036 closed, assigned to cpswan

[2022-11-08 13:19] kumarnarendra701 commented on #1024
@cpswan - I have checked this atsign and found that I had deleted the storage directory to make it Problematic secondary so that Srie teja/Ashish can do error handling.

[code]

[2022-11-08 13:36] cpswan commented on #1024
@kumarnarendra701 do we still need that problematic secondary?

[2022-11-08 14:03] kumarnarendra701 commented on #1024
@cpswan - I have confirmed with Ashish and now we don’t need it so I have deleted it.

[2022-11-08 14:31] #1014 closed, assigned to cpswan

[2022-11-09 00:51] cconstab opened #1039 "AWS credits at the end, pruning required"
We had a significant credit on AWS the last two years but it is drawing to a close. As such we should remove everything that we do not need.
 If we have services that have to be on AWS that is fine but lets make sure we are investing $'s widely.

[2022-11-10 11:20] #898 closed, assigned to cpswan, kumarnarendra701

[2022-11-10 12:15] kumarnarendra701 commented on #1024
@cpswan - Can we close this?

[2022-11-10 14:08] #1024 closed, assigned to kumarnarendra701

[2022-11-11 00:05] sitaram-kalluri commented on #931
The changes are published in at_client 3.0.44

[2022-11-11 00:05] #931 closed, assigned to sitaram-kalluri

[2022-11-13 14:40] gkc commented on #1004
@JeremyTubongbanua will you be able to pick this up in the next sprint?

[2022-11-13 14:55] gkc commented on #964
@srieteja See also https://github.com/atsign-foundation/at_client_sdk/issues/743

[2022-11-13 14:56] gkc commented on #951
Moving to backlog but changing to High priority so we don't forget about it

[2022-11-14 06:15] cconstab commented on #1019
Burnt down to 3sp

[2022-11-14 07:33] kumarnarendra701 commented on #548
@cconstab  - Can you give more context? So that I can do this ticket.
cc: @cpswan

[2022-11-14 07:35] kumarnarendra701 commented on #1039
@cconstab @cpswan - Can I get the AWS creds? So that I'll create a list of services that are used then based on your feedback, I'll remove unused services.

[2022-11-14 07:40] kumarnarendra701 opened #1045 "Update the SSL renewal workflow to the new script and use the shared library."
### Is your feature request related to a problem? Please describe.

Create a shared library for SSL renewal and update all scripts with the new workflow.

### Describe the solution you'd like

Used shared library and update with latest script.

[2022-11-14 07:43] kumarnarendra701 opened #1046 "Fix the Triage workflow script with the latest version"
### Describe the bug

Fix the Triage workflow script with the latest version

### Steps to reproduce

1. Check the last workflow output.

### Expected behavior

- Workflow should run with the latest script.

[2022-11-14 07:44] kumarnarendra701 opened #1047 "Enable branch protection on the Node API repo"
### Is your feature request related to a problem? Please describe.

Enable branch protection on the Node API repo

### Describe the solution you'd like

Enable branch protection on the Node API repo

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-14 08:10] srieteja commented on #964
Expected behaviour enforced from the verb handler side of things as part of the attached PR. This is causing issues with the CRAM verb and PKAM verb as they should not be converted to lowercase. Carrying over to PR50 to discuss and address Cram/Pkam related issues and https://github.com/atsign-foundation/at_client_sdk/issues/743.

[2022-11-14 08:32] srieteja commented on #988
some additional changes from dart api usage reg v2 -> v3 upgrade handled in https://github.com/atsign-foundation/at_libraries/pull/247. Could not work on Java API implementation this sprint, carrying it forward to PR50.

[2022-11-14 10:41] cpswan commented on #1047
Branch protection for trunk has been enabled for https://github.com/atsign-company/registrar_node

If you meant another repo then please reopen and paste a link to it.

[2022-11-14 10:41] #1047 closed, assigned to cpswan

[2022-11-14 10:47] cpswan commented on #1046
@kumarnarendra701 I'm not clear on what's being asked for here.

I just looked at the logs for the latest instance of `Auto Assign Issues to Triage column in Sprint Planning Project Board` and it all looks OK:

[code]

leonsteinhaeuser/project-beta-automations latest version is v2.0.1, which is what we're running

[2022-11-14 10:54] cpswan commented on #1039
@kumarnarendra701 given the number of AWS accounts we have it's probably going to be just as quick for me to do this myself as it will be to work my way through assigning you access.

[2022-11-14 11:38] kumarnarendra701 commented on #1046
@cpswan - Dependent boat raised a new PR with the v2.0.1 version and the job failed on this version. So for the temporary fix, I reverted it to v2.0.0 and it again started working.

Ref - https://github.com/atsign-company/at_handle_registrar_web/actions/runs/3392758257/jobs/5642255348

[2022-11-14 13:24] gkc commented on #964
Thinking out loud here: Maybe we should narrow the scope here specifically to just ensuring that **keys** are always lower-cased rather than the entirety of a command. In addition to happening before persisting to keyStore, this can and should also be done in AtClient.put() and get() as well as the various types of notify. Maybe it's sufficient for at_server to continue to just do the lower-casing

[2022-11-14 15:01] cpswan commented on #1046
@kumarnarendra701 I'm fine with issues being raised here for atsign-company repos so that we can track the work; but please be explicit about that.

Looks like there might be a problem with the permissions on the token used. But also I'm not sure we should even be using that Action in atsign-company repos as it manipulates the atsign-foundation project board(s).

[2022-11-14 15:51] JeremyTubongbanua commented on #1004
Not sure

UMass is still my focus until December.. also have some other commitments.

Will CCD be set to true at the Protocol level or in the SDKs?

@gkc

[2022-11-14 17:25] gkc commented on #1004
@JeremyTubongbanua ACK - no rush on this. Not sure I understand your question properly, but for sure we need to change it in the SDKs.

[2022-11-14 19:04] JeremyTubongbanua commented on #1004
I feel the ccd should be set to true by default through the protocol as well

[2022-11-15 11:35] cpswan opened #1052 "Simplify Docker image production workflows by using buildx for armv7"
### Is your feature request related to a problem? Please describe.

Buildx previously didn't work for armv7 due to the issues documented [here](https://github.com/dart-lang/dart-docker/issues/11#issuecomment-867407449), which meant that we had to have complex workflows that use a Raspberry Pi for armv7 builds.

@cconstab found that buildx was working for work he was doing with sshnp

I subsequentl

[2022-11-15 12:25] cpswan opened #1053 "Fix deprecation warnings on infrastructure_root_manager GitHub Actions"
### Is your feature request related to a problem? Please describe.

Actions runs such as https://github.com/atsign-company/infrastructure_root_manager/actions/runs/3466873608 are showing deprecation warnings like:

![image](https://user-images.githubusercontent.com/478926/201919156-23c47f7d-c004-4daf-82a5-8f7e4790cef5.png)

### Describe the solution you'd like

Modify workflows to make use of supp

[2022-11-15 14:18] cpswan commented on #1039
Firstly a look at the bill from last month:

$1367.61 total
$925.55 EC2
$241.41 RDS
$74.40 EKS
$72.71 WorkSpaces

leaving $53.54 for other stuff (S3, ELB, data egress, Backup). So let's focus fire on EC2 and RDS (and remind ourselves why EKS is even there).

Going account by account:

filebin2-prod - just S3, nothing to prune
aws-atsign-wasp - nothing running
atsign-cicd - $37.80/m for CICD instan

[2022-11-15 14:35] gkc commented on #1004
Yep I saw the words but I don't understand what setting it to true "through the protocol" means.

[2022-11-15 15:41] JeremyTubongbanua commented on #1004
@gkc

Creating a shared key creates a metadata associated with the key. The default metadata has `ccd:false`

[code]

[code]

[2022-11-15 15:53] gkc commented on #1004
Indeed. So setting the default to true in the SDK has the desired effect. But what do you mean by, "through the protocol"?

[2022-11-15 16:48] JeremyTubongbanua commented on #1004
@gkc Sorry, hopefully this clears it up:

If the `ccd:false` is not provided when doing `update:<>`, then set `ccd:true` by default.

Example:

1. Create a new SharedKey entirely.
[code]
Important detail to note: we did not enter `ccd:true`. Instead of doing `update:ccd:true:@bob:test@alice some value`, we just ran `update:@bob:test@alice some value`

2. Look at the metadata
Even though we did not

[2022-11-15 16:58] cpswan commented on #1039
Filebin2 and various VMs terminated/deleted, which should take the bulk of the cost out going forward. The Nov bill will be ~$800 as we've already been burning for half the month, and there's a residue of stuff that we need to keep ticking along.

[2022-11-15 16:58] #1039 closed, assigned to cpswan, kumarnarendra701

[2022-11-15 16:59] gkc commented on #1004
So ... via the client-side verb builders? And/or the server-side verb handlers?

[2022-11-15 17:03] JeremyTubongbanua commented on #1004
@gkc I was thinking no client-side verb builders at all would be involved with making `ccd:true`.
The server-side creating the metadata JSON object would handle setting `ccd:true` by default. Although I would not know how that would work.

I can still do it for both of our SDKs if that is what you would advise.

[2022-11-17 08:07] murali-shris commented on #955
@cconstab
Please use this branch of at client
https://github.com/atsign-foundation/at_client_sdk/tree/stream_transfer_issue
at_client/test/samples/stream_receiver.dart
at_client/test/samples/stream_sender.dart
with server branch
https://github.com/atsign-foundation/at_server/tree/stream_transfer_issue

[2022-11-17 08:09] cconstab commented on #955
Thank you!

[2022-11-17 13:10] #1052 closed, assigned to cpswan

[2022-11-17 17:20] cpswan opened #1062 "Upgrade swarms to Flatcar 3374.2.0"
### Is your feature request related to a problem? Please describe.

Upgrade swarms to Flatcar 3374.2.0

### Describe the solution you'd like

Same process as https://github.com/atsign-foundation/at_server/issues/783 :

Run the ripple upgrade scripts across staging and all production swarms.

- [x] staging0001
- [x] canary
- [x] swarm0004
- [x] swarm0003
- [x] swarm0002
- [x] swarm0001

[2022-11-24 11:26] gkc opened #1071 "Maintain _commitLogCacheMap when at_persistence_secondary_server is being used client-side"
### Is your feature request related to a problem? Please describe.

Currently some of the new at_client unit tests for sync depend on creating and using a commit log where 'enableCommitId' is set to true, so that states of the commit log with respect to a given key can be easily determined ... however, the client currently creates commit logs with enableCommitId == false. This is currently the onl

[2022-11-24 18:11] kumarnarendra701 commented on #1062
@cpswan - All swarms upgraded to VERSION=3374.2.0 and we can close this ticket.

[2022-11-24 18:21] #1062 closed, assigned to kumarnarendra701

[2022-11-25 12:57] cpswan commented on #1046
Closing as subsequent actions runs look OK.

[2022-11-25 12:57] #1046 closed, assigned to cpswan

[2022-11-28 10:37] murali-shris commented on #865
issue to be taken up on priority in PR51

[2022-11-28 11:06] kumarnarendra701 commented on #1053
@cpswan This fix is available on this #1045 PR
https://github.com/atsign-company/infrastructure_root_manager/pull/27

[2022-11-28 11:09] cpswan commented on #1053
Thanks @kumarnarendra701

Can you search across other repos to find where we might need to make similar changes.

[2022-11-28 15:05] cconstab commented on #1019
Demo for Arra this week.. TO get feedback

[2022-11-28 15:26] gkc commented on #955
Going to reduce the estimate here to 5SP as that looks like the most we can invest during PR51 given our focus on the core encryption projects (secure element support, and future-proofing)

[2022-11-28 15:28] srieteja commented on #964
After considering the last comment and a couple of other approaches, we are currently introducing a toLowerCase in the AtKey class which will be triggered in the fromString() and toString() methods in AtKey. Additionally, this will also be triggered from methods in AtClient where the conversion to lowercase will be logged to address https://github.com/atsign-foundation/at_client_sdk/issues/743.

[2022-11-28 15:31] srieteja commented on #964
Carrying this issue and https://github.com/atsign-foundation/at_client_sdk/issues/743 to PR51 for smoothening out the implementation and testing.

[2022-11-28 15:43] cconstab commented on #548
Currently NS1 does allow webhook interfaces to issues it finds but does not directly support GChat. It would be nice to have NS1 Gchat us when it sees a problem..

This is not urgent but is an issue worth tracking..

[2022-11-30 02:27] cconstab commented on #955
@murali-shris

The stream verb was originally targeted at providing a stream/socket connection from one atsign to another. As implemented I think things got confused with files. This is probably due to work we had at the time with atMospherePro.

Could I use what we have here for a socket at each end ? And a "file" that never ends ?

I suspect not, plus the connection would have to be full duplex.